<!-- 所處位置導航列開始 -->
<ul class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="/products">全品项商品首页</li>
</ul>
<!-- 所處位置導航列結束 -->
<%= render :partial => "products/ad" %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel-favorite">
    <!-- <div class="well well-lg", style="text-align: center; font-size: 1.2em;"> -->
      <p>已收藏的商品</p>
    <!-- </div> -->
  </div>
  </div>
</div>
<!-- 商品展示列表開始 -->
<div class="row">
  <div class="col-md-10 col-md-offset-1", style="margin-bottom: -18px;" >
    <div class="panel">
      <div class="productList-wrap">
        <%= render :partial => "products/list" %>
      </div>
    </div>
  </div>
</div>
<!-- 商品展示列表结束 -->
