<%= simple_form_for [@club] do |f| %>
  <div class="form-group">
    <%= f.input :title, :label => "标题" %>
    <%= f.input :description, as: :wysihtml5, :label => "内容" %>
    <hr>

  </div>
  <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>
