<div class="col-md-12">

  <h2 class="text-center"> 我的订单 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> 序号 </th>
        <th> 产品 </th>
        <th> 数量 </th>
        <th> 价格 </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.id %> </td>
          <td> <%= order.billing_name %> </td>
          <td> <%= order.created_at %> </td>
          <td> <%= order.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
