<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">我的所有订单</h2>
    <table class="table">
      <thead>
        <th width="80%">订单编号</th>
        <th>订单金额</th>
        <th>订单日期</th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.token, account_order_path(order) %></td>
            <td><%= order.total %></td>
            <td><%= order.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
