

<div class="row">
  <div class="col-md-12">

    <h2><%= current_user.email %>的订单列表</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th> #</th>
          <th widt="80%">订单日期</th>
          <th>总价:CNY</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to(order.id, order_path(order.token))%>
          </td>
          <td>
            <%= order.created_at.to_s(:long) %>
          </td>
          <td>
            <%= order.total %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </div>
</div>
