<h2> 订单列表 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>订单状态</th>
      <th>生成时间</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to(order.id, order_path(order.token)) %></td>
        <td> <%= render "account/orders/state_option_read", order: order %></td>
        <td><%= order.created_at.to_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= will_paginate @orders %>
</div>
