<% @orders.each do |order| %> <!--可以任意更改，相应的下面也需要改-->
<div class="container">
  <table class="table table-bordered">
      <thead>
        <tr>
          <td>订单号</td>
          <td>单价</td>
          <td>数量<td>
        </tr>
      </thead>
</div>
      <tbody>
        <tr>

        <td><%= link_to(order.token , order_path(order.token)) %></td>

        <td><span class="pull-right">
          <% if order.is_paid == true %>
          <label class="label label-success"> 已付款 </label>
          <% else order.is_paid == false %>
          <label class="label label-warning"> 未付款 </label>
          <% end %>
        </span></td>

      <% order.product_lists.each do |order| %>

        </tr>
        <tr>
          <td>
            <%= order.product_name %>
          </td>
          <td>
            <%= order.product_price %>
          </td>
          <td>
            <%= order.quantity  %>
          </td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
