<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">我的所有订单</h2>
    <table class="table table-bordered">
      <thead>
        <th>订单编号</th>
        <th>订单金额</th>
        <th>订单日期</th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to(order.id, order_path(order.token)) %></td>
            <td><%= order.total %></td>
            <td><%= order.created_at.to_s(:long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
