<h2>Orders List</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td>生成时间</td>
      <td>订单管理</td>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order.token) %></td>
      <td><%= order.created_at.to_s(:long) %></td>
      <td><%= link_to "取消订单", %></td>
    </tr>
    <% end %>
  </tbody>
</table>
