<h2>订单列表</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>
      <th>操作选项</th>
    </tr>
  </thead>
  <tbody>

    <% @orders.each do |order| %>
    <tr>
      <td> <%= link_to(order.id, order_path(order.token)) %> </td>
      <td> <%= order.created_at.to_s(:long) %> </td>
      <td><%= link_to("申请取消订单", cancel_require_order_path(order.token), :method => :post) %></td>
    </tr>
    <% end %>

  </tbody>
</table>
