<div class="container">
  <!-- 網站簡介 -->
  <div class="container about-title-box">
    <span class="about-title-e">JayDstore</span><br>
    <h1 class="about-title-c">ABOUT US</h1>
  </div>
  <p class="about-info">
    （此網站純粹用於個人練習，沒有任何商業用途，以下純屬虛構）<br>
    JayDstore是一個網路商城 <br>
    主要販售化學相關商品 <br><br>
    這裡有適合全家大小一起同樂的科研玩物 <br>
    也有讓你妝點居家的科學飾品 <br>
    在這些商品中<br>你能真切感受到原來化學無處不有！<br>
    從生活的角度認識化學，從這裡開始<br>
  </p>
  <hr>
  <!-- 團隊介绍 -->
  <div class="row">
    <div class="col-md-12 about-info about-img ">
      <h3 class="tagline" align="center" >站長介绍</h3>
      <hr width="40%">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">
        </div>
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "img-circle img-responsive img-center frontpage-img") %>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <h5>Jay</h5>
          <p><strong>github：<a href="https://github.com/Jayyyy1011">Jayyyy1011</a></p>
          <p>
            ROR新手。<br>
            新手上路多多指教。
          </p>
        </div>
      </div>



    </div>
  </div>
</div>
