<div class="container">
  <!-- 网站简介 -->
  <div class="container about-title-box">
    <span class="about-title-e">季   风 。</span><br>
    <h1 class="about-title-c">ABOUT US</h1>
  </div>
  <p class="about-info">
    「季风 & MONSOON」 是一个全球性网上商城 <br>
    主要售卖有趣的生活用品 <br><br>
    这里有你可能没见过的黑科技小物件 <br>
    脑洞大开的设计品 <br>
    当然也包含D&W这类精美的物件 <br>
    在这些商品中<br>你能真切感受到科技和艺术真的已经完美的融入生活<br>
    发现最美好物，生活从不将就！「季风」为了你的有趣生活！<br>
  </p>
  <hr>
  <!-- 团队介绍 -->
  <div class="row">
    <div class="col-md-12 about-info about-img ">
      <h3 class="tagline" align="center" >团队介绍</h3>
      <hr width="10%">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="col-xs-4">
          <%= image_tag("http://ww1.sinaimg.cn/large/006tNbRwly1fg1w3pa0fqj30pm0t0js9.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
        </div>
        <div class="col-xs-8">
          <h5><a href="/" target="_blank">Jayyyy1011</a></h5>
          <p><strong>FB：jack1011tw</p>
          <p>
            ROR新手。<br>
            新手上路多多指教。
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
