<!-- 中间区域介绍内容 -->
  <div class="row">
    <div class="landing-page-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="tagline text-center">就像李荣浩的那首不将就</h1>
              <br/>
              <p class="col-md-6 col-md-offset-3 text-center tagp">
                改变生活也从不将就开始，开始选择质感·颜值,
                  如果带点有趣那就完美了</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- question -->
  <div id="question" class="row">
    <div class="module-name decorative">
      <div class="text-center">
        <h2>FAQ</h2>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>购买了seeyoo.的商品什么时候发货呢？</p>
      <p class="answer"><b>A：</b>我们统一采用顺丰快递配送，而且近期为了感谢新老客户的支持，我们专请意大利设计师为商品设计包装礼盒，在我们商城购买5次以上可享受此项服务</p>
      </div>
      <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>对于商品的质量，你们有把关吗？</p>
      <p class="answer"><b>A：</b>由于有些网站为了牟利是会让不良商家入驻，但是我们在入驻前都会有严格的审查机制，以保证商品的质量，保证消费者的权益是我们的核心任务</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="sub-question"><b>Q：</b> 如果购买后不是很喜欢可以退货吗？</p>
        <p class="answer"><b>A：</b>可以的，我们有相关规定在购买后15天内包退，30天内如有质量问题可找商家包换，所以买了不喜欢也不怕哦</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="sub-question"><b>Q：</b>新客户有什么优惠吗？</p>
        <p class="answer"><b>A：</b>有的，新客户第一次购买商品时可以免费领取我们的6折优惠券，所以有喜欢的尽快趁机购买哦</p>
      </div>
    </div>
  </div>
