<!-- 中间区域介绍内容 -->
  <div class="row">
    <div class="landing-page-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="tagline text-center">We Make Your Idea "CHEM" True</h1>
              <br/>
              <p class="col-md-6 col-md-offset-3 text-center tagp">

                這裡將是你認識化學的起點。
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- question -->
  <div id="question" class="row">
    <div class="module-name decorative">
      <div class="text-center">
        <h2>FAQ</h2>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>問題１</p>
      <p class="answer"><b>A：</b>答案１</p>
      </div>
      <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>問題２</p>
      <p class="answer"><b>A：</b>答案２</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="sub-question"><b>Q：</b>問題３</p>
        <p class="answer"><b>A：</b>答案３</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="sub-question"><b>Q：</b>問題４</p>
        <p class="answer"><b>A：</b>答案４</p>
      </div>
    </div>
  </div>
