<!-- 中间区域介绍内容 -->
  <div class="row">
    <div class="landing-page-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="tagline text-center">We Make Your Idea "CHEM" True</h1>
              <br/>
              <p class="col-md-6 col-md-offset-3 text-center tagp">

                讓美妙的化學融入你的生活。
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- question -->
  <div id="question" class="row">
    <div class="module-name decorative">
      <div class="text-center">
        <h2>FAQ</h2>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>本站可使用的付款方式？</p>
      <p class="answer"><b>A：</b>本站只接受微信與支付寶線上付款。</p>
      </div>
      <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>請問多久可以收到貨？</p>
      <p class="answer"><b>A：</b>商品將於您付款完成後約 2-4 個工作天內送達您指定的地址。出貨時間為星期一至星期五，遇到國定假日或天災等特殊狀況則需順延至下個工作天出貨。</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="sub-question"><b>Q：</b>請問運費的計算方式？</p>
        <p class="answer"><b>A：</b>本站所有商品皆免運費。</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="sub-question"><b>Q：</b>請問商品寄送的服務範圍？</p>
        <p class="answer"><b>A：</b>本站的服務區域為台灣本島地區。</p>
      </div>
    </div>
  </div>
