<div class="footer">
  <div class="row text-center">
    <ul class="list-inline">
      <li>
        <div class="image-with-title text-center">
          <%=image_tag "comm_icon_refund.png" %>
          <p>
            30天无忧退款
          </p>
        </div>
      </li>
      <li>
        <div class="image-with-title text-center">
          <%=image_tag "comm_icon_free.png" %>
          <p>
            满88元免邮费
          </p>
        </div>
      </li>
      <li>
        <div class="image-with-title text-center">
          <%=image_tag "comm_icon_quantity.png" %>
          <p>
            品质保证
          </p>
        </div>
      </li>
    </ul>
  </div>
  <hr />
  <div class="site-info text-center">
    <a class="text" href="#">关于我们</a>
    <b class="split">|</b>
    <a class="text" href="#">帮助中心</a>
    <b class="split">|</b>
    <a class="text" href="#">售后服务</a>
    <b class="split">|</b>
    <a class="text" href="#">配送与验收</a>
    <b class="split">|</b>
    <a class="text" href="#">商务合作</a>
    <b class="split">|</b>
    <a class="text" href="#">企业采购</a>
    <b class="split">|</b>
    <a class="text" href="#">友情链接</a>
  <p class="copyright">
  小脚丫版权所有 © 2017 &nbsp; 食品经营许可证：JY13301080111719
  </p>
  </div>
</div>
