<!-- All the files that are required -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">注册</div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">邮箱地址</label>
              <input class="form-control string email required" autofocus="autofocus" required="required" aria-required="true" placeholder="联系邮箱／登陆名" type="email" value="" name="user[email]" id="user_email">					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">密码</label>
              <input class="form-control password required" required="required" aria-required="true" placeholder="6位以上密码" type="password" name="user[password]" id="user_password" pb-role="password">					</div>
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">确认密码</label>
              <input class="form-control password required" required="required" aria-required="true" placeholder="再输一次" type="password" name="user[password_confirmation]" id="user_password_confirmation" pb-role="password">					</div>

					<div class="form-group">
						<label for="reg_fullname" class="sr-only">昵称</label>
						<input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="昵称">
					</div>

					<div class="form-group login-group-checkbox">
						<input type="radio" class="" name="reg_gender" id="male" placeholder="username">
						<label for="male">男生</label>

						<input type="radio" class="" name="reg_gender" id="female" placeholder="username">
						<label for="female">女生</label>
					</div>

					<div class="form-group login-group-checkbox">
						<input type="checkbox" class="" id="reg_agree" name="reg_agree">
						<label for="reg_agree">我庄严的承诺我没干 <a href="#">好事</a></label>
					</div>
				</div>
          <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
        <p>老主顾？ <%= link_to("点这里", new_user_session_path) %></p>

			</div>
		</form>
	</div>
  <%end%>
	<!-- end:Main Form -->
</div>
