<div class="col-md-6 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p style="font-size: 1.2em; text-align: center; margin-bottom: 0px;">为<strong>「 <%= @product.name %> 」</strong>填写评价</p>
    </div>
      <div class="panel-body">
        <%= render 'form', comment: @comment %>
      </div>
  </div>
</div>
