<h3 class="comments_title">
      <%= @product.comments.count %> Comments
    </h3>
    <hr>
    <div id="comments">
      <%= render @product.comments%>
      <%= render "comments/form"%>
    </div>
