<%= form_tag products_path, method: :get, class: "navbar-form navbar-left" do %>
  <div class="form-group">
    <%= text_field_tag "q[name_cont]", params["q"] && params["q"]["name_cont"], class: "form-control input-sm search-form", placeholder: "输入商品名称" %>
  </div>
  <div class="form-group">
    <%= submit_tag "搜索", class: "btn btn-default" %>
  </div>


<% end %>
