<table class="table table-boldered">
  <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to(item.title, item_path(item)) %>
        </td>
        <td>
          <%= item.description %>
        </td>
        <td>
          <%= link_to("Remove From Favorites", removeFromFavorites_customer_favorite_path(item), method: :put, class: "btn btn-sm btn-default") %>
        </td>
      </tr>
  <% end %>
</table>