<br>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">後台管理指南</h2>
                </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <ul class="list-group" style="margin:0px 65px 0px 65px;">
                            <li class="list-group-item" >分類管理：本站的所有商品都必須分類，您可以在此建立新的商品類別</li>
                            <li class="list-group-item">商品管理：您可以在此新增或編輯商品、上傳商品圖片</li>
                            <li class="list-group-item">訂單管理：你可以在此管理所有買家下的訂單</li>
                            <li class="list-group-item">返回前台：回到前台頁面</li>
                          </ul>

                        </div>
                      </div>
                   </div>
        </div>
  </div>
</div>
