<div class="row">
  <% @templates.each do |template| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to template_path(template) do %>
        <%# if template.image.present? %>
          <%#= image_tag(template.image.thumb.url, class: "thumbnail") %>
        <%# else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <%# end %>
      <% end %>
      <%= template.title %> ￥ <%= template.price %>
    </div>
  <% end %>
</div>
