<table class="table">
    <thead>
      <tr>
        <th> 订单明细 </th>
        <th> 寄送讯息 </th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.billing_name %> - <%= order.billing_address %> </td>
          <td> <%= order.shipping_name %> - <%= order.shipping_address %> </td>
        </tr>
      <% end %>

    </tbody>
  </table>
