<table class="table table-boldered">
  <tr>
    <th>
      订单收件人
    </th>
    <th>
      商品总价
    </th>
    <th>
      订单状态
    </th>
      <th>
      操作
    </th>
    <th>
      订单建立时间
    </th>
  </tr>
  <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to(order.shipping_name, customer_order_path(order.token)) %>
        </td>
        <td>
          <%= order.total %> RMB
        </td>
          <%= render_status_in_index(order) %>
        <td>
          <%= order.created_at %>
        </td>
      </tr>
  <% end %>
</table>