<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>订单状态</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.aasm_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
