<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> 订单列表 </h3>
  </div>
  <div class="panel-body">
    <div class="col-md-8">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>生成时间</th>
          <th>订购者</th>
          <th>订单状态</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td> <%= link_to(order.id, admin_order_path(order) ) %> </td>
          <td> <%= order.created_at.to_s(:long) %> </td>
          <td> <%= order.user.email %></td>
          <td> <%= order.aasm_state %> </td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>

  </div>
</div>
