<h2>Order List</h2>
<table class="table table-borderd">
	<thead>
		<tr>
			<th>#</th>
			<th>Created_At</th>
			<th>Buyer</th>
			<th>Order State</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<tr>
				<td><%= link_to(order.id,admin_order_path(order)) %></td>
				<td><%= order.created_at.to_s(:long) %></td>
				<td><%= order.user.email %></td>
				<td><%= order.aasm_state %></td>
			</tr>
		<% end %>
	</tbody>
</table>