<table class="table table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td>Title</td>
      <td>Price</td>
      <td>Manager Operation</td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "bookmark_item", collection: @products, as: "product" %>
  </tbody>
</table>
