<h1>About Us</h1>

<div id="why" class="container-fluid">
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Are You Paid Fairly? See Your Market Worth in Seconds</h2>
        <p class="lead">Receive a custom salary estimate based on your title, company, location, and experience.
</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'https://images.pexels.com/photos/7374/startup-photos.jpg?w=1260&h=750&auto=compress&cs=tinysrgb', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Companies Hiring Like Crazy Now</h2>
        <p class="lead">With positions spanning industries from tech to hospitality to construction and beyond, there’s something for just about</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?w=1260&h=750&auto=compress&cs=tinysrgb', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
