<div class="abouthead">
<h2> 关于西厨私享</h2>
</div>
<br>
<div class="abouttext" class="col-md-6">
<p> 我们的私厨来自世界各地，有着各自不同的经历，对食材和烹饪有着各自不同的见解，但他们都有一个共同之处，就是把美味带给更多跟他们一样喜欢美食、热爱生活的人。
  <br><br>他们不仅仅是厨师，更是一个个鲜活的生活家，点开他们的简介去感受每个厨师不同的生活故事。你品尝到的不仅仅是美食，更是一种情怀！</p>
</div>
<div class="text-center" style="margin-bottom:-90px;">
<%= link_to '返回首页', root_path, :style => "color: black"%>
</div>
