<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1>Branch Stores</h1>
    <hr>
    <div id="shanghai"><h2>Shanghai</h2></div>
    <p>
    <%= image_tag("https://ww1.sinaimg.cn/large/006tNbRwgy1ffayqdn8cej30qw08gwh4.jpg", class: "responsive") %>

    中國上海市徐汇区徐家汇肇嘉浜路1111号

    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3824.3546837346316!2d121.43801850723041!3d31.192421816617287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x71daec966fb6d59e!2z576O576F5Z-O!5e0!3m2!1szh-TW!2stw!4v1494002201905" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>
    <hr>
    <div id="tokyo"><h2>Tokyo</h2></div>
    <p>
    <%= image_tag("https://ww3.sinaimg.cn/large/006tNbRwgy1ffaytf8micj30qw08ggok.jpg", class: "responsive") %>

    日本〒101-0051 Tōkyō-to, Chiyoda-ku, Kanda Jinbōchō, 1 Chome−２−１
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2347.4837989764465!2d139.7570926105296!3d35.69494594334904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x85f7c1913a1c1ef6!2sMcDonald&#39;s+Jinbocho+shop!5e0!3m2!1szh-TW!2stw!4v1494002038676" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>
    <hr>
    <div id="taipei"><h2>Taipei</h2></div>
    <p>
    <%= image_tag("https://ww2.sinaimg.cn/large/006tNbRwgy1ffaysg8wqgj30qz08g0va.jpg", class: "responsive") %>

    110台北市信義區松高路16號
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3522.149179578127!2d121.56451298161929!3d25.037479909130084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x30a54eefb527387!2z5b6u6aKo5buj5aC05p2-6auY5bqX!5e0!3m2!1szh-TW!2stw!4v1494002317635" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>
    <hr>
    <div id="delivery">About Delivery</div>

  </div>
</div>
