<div class="row">
  <div class="col-md-8">
    <h1>Branch</h1>
    <div id="shanghai">shanghai</div>
    <p>
    <hr>
    <div id="tokyo">tokyo</div>
    <p>
    <hr>
    <div id="taipei">taipei</div>
    <p>
    <hr>
    <div id="delivery">About Delivery</div>
  
  </div>
</div>
