<div class="row">
<div class="col-md-8">
<h1>How to buy</h1>

<h2>購物結帳</h2>
<p>本站提供一般結帳與多重配送結帳

一般結帳：一筆訂單有一個配送地址，屬於一般購物使用

多個配送結帳：一筆訂單有多個配送地址，通常用在特殊節慶賀禮等等。使用多個配送可以先註明寄送地址即可隨時點購商品，分別配送

</p>
<h3>登入/註冊會員</h3>
<p>
首次註冊 / 點選首頁上方「會員登入/註冊」後，請填寫姓名、生日、E-mail(作為您未來的登入帳號)、登入密碼、手機(或電話)等必填欄位資料，即可立即確認加入會員；

您也可以透過臉書facebook、google帳號直接註冊，註冊後請完成相關資料填寫，您將享有會員專屬好禮！

會員 / 選擇登入帳號與密碼即可完成登入作業。

</p>
<h3>填寫資料</h3>
<p>
填寫正確詳細的收件者與付款方式，並選擇希望到貨日期與時段，本站委託宅配業者配送僅可指定 早上 – AM9:00-PM2:00／下午 – PM12:00-PM19:00／晚上 – PM17:00-PM21:00，完成後請點選「確認送出」。
</p>


<h3>付款方式</h3>
<p>
ATM轉帳 / 線上刷卡，可使用Visa 或Master之信用卡進行交易，且限一次付清。
信用卡線上刷卡付款注意事項：當您在結帳頁面進行信用卡相關資料填寫時，請務必詳實填寫正確資料，以利銀行做信用卡資料的審核。線上刷卡的資料傳輸均採用SSL憑證加密，有效保護您的資料安全
</p>

<h3>訂購完成</h3>
<p>
訂單確認後，您的電子信箱將會即時收到訂單確認，手機也會收到相關簡訊的通知，我們將於確認訂單款項後的下ㄒ個工作日後的指定到貨日送達收件地址。

未完成付款者視為訂單未成立，還請見諒！
</p>
<h3>開立發票</h3>
<p>
本站之銷售目前經國稅局核定免用統一發票，惟客戶如有發票需求，我們可配合開立手工發票。
</p>


<hr><h2>訂單處理說明</h2>
<h3>查詢訂單</h3>
<p>
訂購後，如需查詢訂單，可於登入網站後，在會員專區查詢。訂單狀態分別有等待付款、處理中、製程準備中、已出貨、取消訂單四種。

訂單確認後，無論選擇信用卡付款或ATM轉帳，若未完成付款或信用授權失敗，訂單狀態均為等待付款，此時訂單尚未成立。若您有任何原因希望取消訂單，請至會員服務 > 查看訂單中，找到該筆訂單，並按下取消按鈕，我們會將該筆訂單取消。

完成付款的訂單，狀態會轉為處理中，此時我們將安排商品備料事宜。商品安排製作後，訂單狀態將更改為製程準備中，系統將不允許取消訂單。若您有任何原因希望取消訂單，請來信或來電客服協助處理。

商品完成製作後，會依照您希望的到貨日期安排到貨，並在系統上顯示宅配單號，您可以至黑貓宅急便的網站或直接去電黑貓客服查詢貨品運送狀態。
</p>
<h3>取消與退換貨</h3>
<p>
本站商品為食品，有其食用期限，除非商品有瑕疵，一經出貨則不接受退換貨。
如欲取消訂單，請在下訂後，訂單狀態在處理中前變更取消。
在配送過程中如有瑕疵，包裝不完整或破損，嚴重變形，請於24小時內拍照存證，並且email與來電通知。 經確認無誤後，我們會立刻幫您處理退換貨事宜。
</p>

<hr><h2>商品配送</h2>
<h3>運費條件</h3>
<p>
本公司使用便利商店店到店或是宅配運送。
基本運費為60元，如宅急便運送為80元；同一時間時段、同一收件地點配送金額超過2000元免運費；
外島同一時間時段、同一收件地點配送1-25盒350元運費，26盒以上500元運費，超過10000元免運。
</p>
  <div id="delivery">About Delivery</div>
<h3>配送時間</h3>
<p>
商品一般於指定到貨日前一天轉交宅配業者安排隔日配送，但若遇節慶或天災…等狀況，宅配業者將適當調整配送時間，若有重要需求，建議提早到貨。

商品最快會於訂單成立日起的10個工作日(指定到貨時間)，送達您指定的收件地址。若為離島之配送地址，則依物流作業時間而定。因新鮮配送，因此本站固定周日不可指定到貨。

宅配可指定到貨日期與時段：請務必於結帳時選擇收件時段。可選擇時段：早上 – AM9:00-PM2:00／下午 – PM12:00-PM19:00／晚上 – PM17:00-PM21:00，宅配恕不接受指定時間到貨(例如：9點、4-5點…指定時間)，還請見諒。

如您對訂單有任何其他需求，請與客服人員連繫或在訂單備註中註明
</p>
<br><br><br><br><br><br>
</div>
</div>
