<!DOCTYPE html>
<!--1-->
<html lang="en">
 <head>
  <!-- 来自于www.w3schools.com - 没有版权问题 -->
  <title>狗狗沙龙馆</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 <body>
    <!-- 轮播 -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-03-04-022621.jpg" alt="image">
          <div class="carousel-caption">
            <h3>MYDOG教我学会了忠诚</h3>
            <p>在树林里的一次散步，一场新落的雪，在冬日缕缕阳光下的一次小盹儿。</p>
          </div>
        </div>

        <div class="item">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-03-04-022939.jpg" alt="Chicago">
          <div class="carousel-caption">
            <h3>MYDOG教我学会了勇气，忘我</h3>
            <p>Thank you, Chicago - A night we won't forget.</p>
          </div>
        </div>

        <div class="item">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-03-04-023004.jpg" alt="Los Angeles">
          <div class="carousel-caption">
            <h3>MYDOG教我学会了简单，快乐</h3>
            <p>Even though the traffic was a mess, we had the best time.</p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- 添加网格 -->
    <div id="band" class="container text-center">
        <h3>THE BAND</h3>
        <p><em>We love dogs!</em></p>
        <p>一只狗不会介意你是富有还是贫穷、受过高等教育还是大字不识、聪明还是愚钝。你为他付出真心，那么他也会把他的心交付给你。其实这些道理真理的非常简单，然而我们人类，比狗要聪明许多、复杂许多的人类，却总是不太容易懂得什么才是真正重要的，什么是无关紧要的。</p>
        <br>
        <div class="row">
            <div class="col-sm-4">
              <p class="text-center"><strong>PAINTING</strong></p><br>
              <a href="#demo" data-toggle="collapse">
                <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-03-04-031741.jpg" class="img-circle person" alt="Random Name">
              </a>
              <div id="demo" class="collapse">
                <p>Guitarist and Lead Vocalist</p>
                <p>Loves long walks on the beach</p>
                <p>Member since 1988</p>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="text-center"><strong>SCULPTUERE</strong></p><br>
              <a href="#demo2" data-toggle="collapse">
                <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-03-04-072440.jpg" class="img-circle person" alt="Random Name">
              </a>
              <div id="demo2" class="collapse">
                <p>Guitarist and Lead Vocalist</p>
                <p>Loves long walks on the beach</p>
                <p>Member since 1988</p>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="text-center"><strong>FILM</strong></p><br>
              <a href="#demo3" data-toggle="collapse">
                <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-03-04-031737.jpg" class="img-circle person" alt="Random Name">
              </a>
              <div id="demo3" class="collapse">
                <p>Guitarist and Lead Vocalist</p>
                <p>Loves long walks on the beach</p>
                <p>Member since 1988</p>
              </div>
            </div>
          </div>
        </div>
    <!--添加旅游集装箱-->
    <div id="tour" class="bg-1">
       <div class="container">
         <h3 class="text-center">TOUR DATES</h3>
         <p class="text-center">Lorem ipsum we'll play you some music.<br> Remember to book your tickets!</p>

         <ul class="list-group">
            <li class="list-group-item">September <span class="label label-danger">Sold Out!</span></li>
            <li class="list-group-item">October <span class="label label-danger">Sold Out!</span></li>
            <li class="list-group-item">November <span class="badge">3</span></li>
         </ul>
       <!-- 添加缩略图图像 -->
         <div class="row text-center">
           <div class="col-sm-4">
             <div class="thumbnail">
               <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-03-04-070250.jpg" alt="Paris">
               <p><strong>Paris</strong></p>
               <p>Fri. 27 November 2015</p>
               <!-- Used to open the Modal -->
               <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
             </div>
           </div>
           <div class="col-sm-4">
             <div class="thumbnail">
               <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-03-04-070246.jpg" alt="New York">
               <p><strong>New York</strong></p>
               <p>Sat. 28 November 2015</p>
               <!-- Used to open the Modal -->
               <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
             </div>
           </div>
           <div class="col-sm-4">
             <div class="thumbnail">
               <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-03-04-070241.jpg" alt="San Francisco">
               <p><strong>San Francisco</strong></p>
               <p>Sun. 29 November 2015</p>
               <!-- Used to open the Modal -->
               <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
             </div>
           </div>
         </div>
       </div>
       <!-- Modal -->
       <div class="modal fade" id="myModal" role="dialog">
           <div class="modal-dialog">

             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">×</button>
                 <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
               </div>
               <div class="modal-body">
                 <form role="form">
                   <div class="form-group">
                     <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
                     <input type="number" class="form-control" id="psw" placeholder="How many?">
                   </div>
                   <div class="form-group">
                     <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
                     <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                   </div>
                     <button type="submit" class="btn btn-block">Pay
                       <span class="glyphicon glyphicon-ok"></span>
                     </button>
                 </form>
               </div>
               <div class="modal-footer">
                 <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                   <span class="glyphicon glyphicon-remove"></span> Cancel
                 </button>
                 <p>Need <a href="#">help?</a></p>
               </div>
             </div>
           </div>
         </div>
    </div>
    <!--添加联系人容器-->
    <div id="contact" class="container">
      <h3 class="text-center">Contact</h3>
      <p class="text-center"><em>We love our fans!</em></p>
      <div class="row test">
        <div class="col-md-4">
          <p>Fan? Drop a note.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span>中国.西安</p>
          <p><span class="glyphicon glyphicon-phone"></span>Phone: 15902920242</p>
          <p><span class="glyphicon glyphicon-envelope"></span>Email: breeder1121@hotmail.com</p>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
          <br>
          <div class="row">
            <div class="col-md-12 form-group">
              <button class="btn pull-right" type="submit">发送</button>
            </div>
          </div>
        </div>
      </div>
        <!--添加可切换标签-->
      <h3 class="text-center">From The Blog</h3>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Mike</a></li>
        <li><a data-toggle="tab" href="#menu1">Chandler</a></li>
        <li><a data-toggle="tab" href="#menu2">Peter</a></li>
      </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h2>Mike Ross, Manager</h2>
            <p>Man, we've been on the road for some time now. Looking forward to lorem ipsum.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h2>Chandler Bing, Guitarist</h2>
            <p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
          </div>
        <div id="menu2" class="tab-pane fade">
            <h2>Peter Griffin, Bass player</h2>
            <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
          </div>
      </div>
    </div>
 </body>
</html>
