<div class="banner">
  <div class="jumbotron">
    <div class="text-content">
      <h1 class="title">打造专属你的个性皮具</h1>
      <p class="slogan">
        Do it yourself , or do for you !
      </p>
      <p class="lead"><a class="btn btn-lg b-btn" href="/products">即刻开始</a></p>
    </div>
  </div>
</div>

<!--door  -->
<section class="door">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
        <h2 class="index-title">走进这道门</h2>
        <div class="short-line"></div>
        <div class="men-zi"><p>在岁月的河流里，<br>难免会有些日子觉得生活平淡抑或苦闷，<br>
        此时走进皮具制作的大门，释放创意与个性，给予了生活另外一种可能。</div>
       <div class="open"> <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1ffvdflst32j30jp0c7dmf.jpg" alt=""></div>
      </div>
   </div>
 </div>
</section>

<!-- river -->
<section class="advantage">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="index-title">踏过这条河</h2>
          <div class="short-line"></div>
      </div>
    </div>
        <div class="container">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="advantage-box">
              <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1ffs5058nxlj3056056aaw.jpg">
              <h3>简明易懂的手工教程</h3>
              <p>根据配套教程的引导，再发挥你的创造力，打造与众不同的皮具再也不难。</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="advantage-box">
             <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1ffs484arenj3056056gmo.jpg">
              <h3>丰富齐全的制作材料</h3>
              <p>种类多样的皮料，齐全的制作工具，满足你想要的专属定制。</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="advantage-box">
              <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1ffs4pglacvj3056056t9u.jpg">
              <h3>皮匠帮助解决疑难</h3>
              <p>皮匠们可线上解惑，或线下亲身示范指导，无论多难的制作都会踏过去。</p>
            </div>
          </div>
    </div>
  </div>
</section>


<!--欣赏成果 -->
<section class="we-do">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="index-title">欣赏这成果</h2>
          <div class="short-line"></div>
      </div>
  <div class="section-content">
    <ul class="product-ul">
      <li>
        <a href="/">
          <div class="product-img-wrap">
            <img class="project-img img-responsive" src="https://ww1.sinaimg.cn/large/006tKfTcgy1ffvg2bgbq8j307806mgn0.jpg" alt="shuangjian">
          </div>
        </a>
      </li>
      <li>
        <a href="/">
          <div class="product-img-wrap">
            <img class="project-img img-responsive" src="https://ww1.sinaimg.cn/large/006tKfTcgy1ffvg2xkzu5j308m07wjsk.jpg" alt="qianbao">
          </div>
        </a>
      </li>
      <li>
        <a href="/">
          <div class="product-img-wrap">
            <img class="project-img img-responsive" src="https://ww2.sinaimg.cn/large/006tKfTcgy1ffvg3g2nhqj307806mq46.jpg" alt="danjian">
          </div>
        </a>
      </li>
      <li>
        <a href="/">
          <div class="product-img-wrap">
            <img class="project-img img-responsive" src="https://ww1.sinaimg.cn/large/006tKfTcgy1ffvg3yrg5ij307806mjs7.jpg" alt="pidai">
          </div>
        </a>
      </li>
      <li>
        <a href="/">
          <div class="product-img-wrap">
            <img class="project-img img-responsive" src="https://ww2.sinaimg.cn/large/006tKfTcgy1ffvg4cfp27j307806m75m.jpg" alt="xue">
          </div>
        </a>
      </li>
    </ul>
   </div>
  </div>
 </div>
</section>

<!-- 底部 -->
<div class="banner">
<div class="base-image">
  <div class="text-content">
    <p class="lead"><a class="btn btn-lg b-btn" href="/products">即刻开始</a></p>
  </div>
</div>
</div>
