  <div class="jumbotron">
    <h1 class="title">DOGS</h1>
    <p class="slogan">
      Man's hest friend.
    <br>
    But do we really know our faithful companions?
    <br>
    How they see their world?
    <br>
    What they really think of us?
    <br>
    我们希望藉由这个网站，能让大家更加了解自己的狗狗
    <br>
     使狗狗带给你更多的快乐
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">LOOKME</a></p>
  </div>

  <!--Snow Boots start-->
  <div class="sn_section">
      <div class="g-row">
         <div class="m-cate">
              <header class="hd">
                  <div class="left">
                      <h3 class="name">Snow Boots</h3>
                      <small class="frontName">当牛角扣遇见雪地靴，暖脚也暖心</small>
                  </div>
                  <div class="right">
                      <a class="moreItems" href="/products" target="_blank">全部商品  &gt;</a>
                  </div>
               </header>
              <div class="bd">
                  <div class="sn_list">
                      <a class="sn_item first large " href="products/1" target="_blank">
                          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fcscv4wtgvj30bo0bo0tp.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                      </a>
                      <a class="sn_item large middle " href="products/2" target="_blank">
                          <img src="https://ww3.sinaimg.cn/large/006tKfTcly1fcsdoxshgyj30bo0bogm6.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                      </a>
                      <a class="sn_item small " href="products/3" target="_blank">
                          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fcsdpk5bglj30eg05k74s.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                      </a>
                      <a class="sn_item small last" href="products/4" target="_blank">
                          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fcsdpi6oddj30eg05k74q.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--Snow Boots end-->

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-01-31-font-awesome_4-7-0_car_128_0_d9534f_none.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>北京朝阳建外SOHO</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-01-31-font-awesome_4-7-0_envelope-open_128_0_d9534f_none.png" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>info@18koffer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-01-31-font-awesome_4-7-0_phone_128_0_d9534f_none.png" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
