
    <div class="row box">
        <header class="masthead">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="header-content">
                            <div class="header-content-inner">
                                <h1>好的东西，真的不贵！</h1>
                                <a href="/products" class="btn btn-outline btn-xl">Buy Now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="device-container">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1ffufwn56p7j30h90uo78z.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>




        <section class="download bg-primary text-center" id="download">
            <%= render :partial => "welcome/responsive" %>
        </section>

        <section class="features" id="features">
            <%= render :partial => "welcome/moving-box" %>
        </section>

        <section class="cta">
            <%= render :partial => "welcome/moving-box2" %>
        </section>

        <section class="contact bg-primary" id="contact">
            <div class="container">
                <h2>We <i class="fa fa-heart"></i> new friends!</h2>
                <ul class="list-inline list-social">
                    <li class="list-inline-item social-twitter">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item social-facebook">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item social-google-plus">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
