<link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
<div class="container-fluid">
  <div class="row">
    <h1 class="text-center"><span class="text-primary"><strong>BLOCK CHAIN</strong> </span><span class="fa fa-cog fa-spin text-warning"></span> 区块链<small><span class="text-warning"> 新一代云计算开始了</span></small></h1>
  </div>
</div>
<div class="jumbo-background jumbotron">
  <div class="container">
    <h1>Block Chain</h1>
    <p>未来已经来临，只是尚未流行！<br>数字资产从此开始！</p>
    <p><a class="btn btn-primary btn-lg" href="#about" role="button">了解区块链</a>
      <a class="btn btn-warning btn-lg" href="/products" role="button">购买船票</a></p>
  </div>
  <div class="container-fluid socialmediapanel" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2 text-center">
        <a class="social" href="#" target="_blank">
          <i class="fa fa-btc fa-5x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-sm-2 text-center">
        <a class="social" href="/" target="_blank">
          <i class="cc ETH fa-5x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-sm-2 text-center">
        <a class="social" href="/" target="_blank">
          <i class="cc XRP-alt fa-5x" aria-hidden="hidden"></i>
        </a>
      </div>
      <div class="col-sm-2 text-center">
        <a class="social" href="#" target="_blank">
          <i class="cc DGD fa-5x" aria-hidden="hidden"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row about-panel">
    <div class="col-sm-2 col-sm-offset-3 text-center">
      <img class="img-rounded" width="200px" id="about" src="https://bucket.mlcdn.com/a/536/536349/images/bdaa22bc236c5b0810ebe8e41397e88b6dabe914.png">
    </div>
    <div class="col-sm-4">
      <p class="lead">区块链是以比特币为代表的数字加密货币体系的核心支撑技术. 区块链技术的核心优势是去中心化, 能够通过运用数据加密、时间戳、分布式共识和经济激励等手段, 在节点无需互相信任的分布式系统中实现基于去中心化信用的点对点交易、协调与协作, 从而为解决中心化机构普遍存在的高成本、低 效率和数据存储不安全等问题提供了解决方案. </p>
    </div>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row coffeespace-panel">
    <p></p>
    <div class="row">
      <div class="col-md-12 text-center species well">
        <i class="cc BTC fa-5x text-info"></i>
        <i class="cc BTS-alt fa-5x text-info"></i>
        <i class="cc SIA fa-5x text-info"></i>
        <i class="cc ETC fa-5x text-info"></i>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row portfolio-panel" id="portfolio">
    <div class="col-md-4 col-sm-6">
             <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="http://www.gongxiangcj.com/uploadfile/2016/0523/20160523062241481.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="http://ru.bitcoinwiki.org/images/8/88/888.PNG"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">中本聪</h3>
                                <p class="profession">比特币之父</p>
                                <p class="text-center">"比特币：一种点对点式的电子现金系统<br>（Bitcoin: A Peer-to-Peer Electronic Cash System）"</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
    <div class="col-md-4 col-sm-6">
             <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="http://www.gongxiangcj.com/uploadfile/2016/0523/20160523062241481.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="https://augur.net/img/vitalik.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Vitalik Buterin</h3>
                                <p class="profession">以太坊创始人</p>
                                <p class="text-center">"以太坊（Ethereum）是一个开源的有智能合约功能的公共区块链平台。<br>通过其专用加密货币以太币（Ether）提供去中心化的虚拟机来处理点对点合约"</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
        <div class="col-md-4 col-sm-6">
                 <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="http://www.gongxiangcj.com/uploadfile/2016/0523/20160523062241481.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="http://cn.technode.com/files/2013/12/Li-Xiaolai-Mug-Shot.png"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">李笑来</h3>
                                    <p class="profession">中国比特币首富</p>
                                    <p class="text-center">"此物一出天下反：话说BitCoin"</p>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->
  </div>
</div>
