
<body style="background-color: rgba(202, 209, 166,0.4);">
<div class="container-fluid">
  <div class="row">
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="products">
      <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcpwhyylqgj31kw0w0b2f.jpg" alt="First slide">
      <div class="carousel-caption">
        <p >
          Enjoy the good time and delicious food with your family and friends
        </p>
      </div>
     </a>
    </div>
    <div class="item">
     <a href="products">
      <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcpwfgi9jhj31kw0w0npg.jpg" alt="Second slide">
      <div class="carousel-caption">
        <p >
          Enjoy the good time and delicious food with your family and friends
        </p>
      </div>
     </a>
    </div>
    <div class="item">
      <a href="products">
        <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcpwdgjjwxj31kw0w0kjp.jpg" alt="Third slide">
        <div class="carousel-caption">
          <p>

              Enjoy the good time and delicious food with your family and friends

          </p>
        </div>
      </a>
    </div>
  </div>

 <a class="carousel-control left" href="#myCarousel" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
 </a>
 <a class="carousel-control right" href="#myCarousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
 </a>
</div>
</div>
</div>
</body>
