<!DOCTYPE html>
<html>
    <head>
        <style>

            body {
                background: url("https://ww4.sinaimg.cn/large/006tNc79jw1fcoiwefp5oj300o00g0c7.jpg") repeat fixed;
            }

        </style>
    </head>

    <body></body>
</html>
