<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN" prefix="og: http://ogp.me/ns#" class="no-js">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=8; IE=9" />
<meta charset="utf-8" />
<meta name="robots" content="noodp" />
<link rel="canonical" href="http://www.apple.com/cn/" />

<link rel="alternate" href="http://www.apple.com/" hreflang="en-US" /><link rel="alternate" href="http://www.apple.com/ae-ar/" hreflang="ar-AE" /><link rel="alternate" href="http://www.apple.com/ae/" hreflang="en-AE" /><link rel="alternate" href="http://www.apple.com/am/" hreflang="en-AM" /><link rel="alternate" href="http://www.apple.com/at/" hreflang="de-AT" /><link rel="alternate" href="http://www.apple.com/au/" hreflang="en-AU" /><link rel="alternate" href="http://www.apple.com/befr/" hreflang="fr-BE" /><link rel="alternate" href="http://www.apple.com/benl/" hreflang="nl-BE" /><link rel="alternate" href="http://www.apple.com/bg/" hreflang="bg-BG" /><link rel="alternate" href="http://www.apple.com/bh/" hreflang="en-BH" /><link rel="alternate" href="http://www.apple.com/br/" hreflang="pt-BR" /><link rel="alternate" href="http://www.apple.com/bw/" hreflang="en-BW" /><link rel="alternate" href="http://www.apple.com/ca/" hreflang="en-CA" /><link rel="alternate" href="http://www.apple.com/ca/fr/" hreflang="fr-CA" /><link rel="alternate" href="http://www.apple.com/cf/" hreflang="fr-CF" /><link rel="alternate" href="http://www.apple.com/chde/" hreflang="de-CH" /><link rel="alternate" href="http://www.apple.com/chfr/" hreflang="fr-CH" /><link rel="alternate" href="http://www.apple.com/ci/" hreflang="fr-CI" /><link rel="alternate" href="http://www.apple.com/cl/" hreflang="es-CL" /><link rel="alternate" href="http://www.apple.com/cm/" hreflang="fr-CM" /><link rel="alternate" href="http://www.apple.com/cn/" hreflang="zh-CN" /><link rel="alternate" href="http://www.apple.com/co/" hreflang="es-CO" /><link rel="alternate" href="http://www.apple.com/cz/" hreflang="cs-CZ" /><link rel="alternate" href="http://www.apple.com/de/" hreflang="de-DE" /><link rel="alternate" href="http://www.apple.com/dk/" hreflang="da-DK" /><link rel="alternate" href="http://www.apple.com/ee/" hreflang="et-EE" /><link rel="alternate" href="http://www.apple.com/eg/" hreflang="en-EG" /><link rel="alternate" href="http://www.apple.com/es/" hreflang="es-ES" /><link rel="alternate" href="http://www.apple.com/fi/" hreflang="fi-FI" /><link rel="alternate" href="http://www.apple.com/fr/" hreflang="fr-FR" /><link rel="alternate" href="http://www.apple.com/gn/" hreflang="fr-GN" /><link rel="alternate" href="http://www.apple.com/gq/" hreflang="fr-GQ" /><link rel="alternate" href="http://www.apple.com/gr/" hreflang="el-GR" /><link rel="alternate" href="http://www.apple.com/gw/" hreflang="en-GW" /><link rel="alternate" href="http://www.apple.com/hk/" hreflang="zh-HK" /><link rel="alternate" href="http://www.apple.com/hk/en/" hreflang="en-HK" /><link rel="alternate" href="http://www.apple.com/hr/" hreflang="hr-HR" /><link rel="alternate" href="http://www.apple.com/hu/" hreflang="hu-HU" /><link rel="alternate" href="http://www.apple.com/id/" hreflang="id-ID" /><link rel="alternate" href="http://www.apple.com/ie/" hreflang="en-IE" /><link rel="alternate" href="http://www.apple.com/il/" hreflang="en-IL" /><link rel="alternate" href="http://www.apple.com/in/" hreflang="en-IN" /><link rel="alternate" href="http://www.apple.com/it/" hreflang="it-IT" /><link rel="alternate" href="http://www.apple.com/jo/" hreflang="en-JO" /><link rel="alternate" href="http://www.apple.com/jp/" hreflang="ja-JP" /><link rel="alternate" href="http://www.apple.com/ke/" hreflang="en-KE" /><link rel="alternate" href="http://www.apple.com/kr/" hreflang="ko-KR" /><link rel="alternate" href="http://www.apple.com/kw/" hreflang="en-KW" /><link rel="alternate" href="http://www.apple.com/la/" hreflang="es-419" /><link rel="alternate" href="http://www.apple.com/lae/" hreflang="en-419" /><link rel="alternate" href="http://www.apple.com/li/" hreflang="de-LI" /><link rel="alternate" href="http://www.apple.com/lt/" hreflang="lt-LT" /><link rel="alternate" href="http://www.apple.com/lu/" hreflang="fr-LU" /><link rel="alternate" href="http://www.apple.com/lv/" hreflang="lv-LV" /><link rel="alternate" href="http://www.apple.com/ma/" hreflang="fr-MA" /><link rel="alternate" href="http://www.apple.com/md/" hreflang="en-MD" /><link rel="alternate" href="http://www.apple.com/me/" hreflang="en-ME" /><link rel="alternate" href="http://www.apple.com/mg/" hreflang="fr-MG" /><link rel="alternate" href="http://www.apple.com/mk/" hreflang="en-MK" /><link rel="alternate" href="http://www.apple.com/ml/" hreflang="fr-ML" /><link rel="alternate" href="http://www.apple.com/mo/" hreflang="zh-MO" /><link rel="alternate" href="http://www.apple.com/mt/" hreflang="en-MT" /><link rel="alternate" href="http://www.apple.com/mu/" hreflang="fr-MU" /><link rel="alternate" href="http://www.apple.com/mx/" hreflang="es-MX" /><link rel="alternate" href="http://www.apple.com/my/" hreflang="en-MY" /><link rel="alternate" href="http://www.apple.com/mz/" hreflang="en-MZ" /><link rel="alternate" href="http://www.apple.com/ne/" hreflang="fr-NE" /><link rel="alternate" href="http://www.apple.com/ng/" hreflang="en-NG" /><link rel="alternate" href="http://www.apple.com/nl/" hreflang="nl-NL" /><link rel="alternate" href="http://www.apple.com/no/" hreflang="no-NO" /><link rel="alternate" href="http://www.apple.com/nz/" hreflang="en-NZ" /><link rel="alternate" href="http://www.apple.com/om/" hreflang="en-OM" /><link rel="alternate" href="http://www.apple.com/ph/" hreflang="en-PH" /><link rel="alternate" href="http://www.apple.com/pl/" hreflang="pl-PL" /><link rel="alternate" href="http://www.apple.com/pt/" hreflang="pt-PT" /><link rel="alternate" href="http://www.apple.com/qa/" hreflang="en-QA" /><link rel="alternate" href="http://www.apple.com/ro/" hreflang="ro-RO" /><link rel="alternate" href="http://www.apple.com/ru/" hreflang="ru-RU" /><link rel="alternate" href="http://www.apple.com/sa/" hreflang="en-AE" /><link rel="alternate" href="http://www.apple.com/se/" hreflang="sv-SE" /><link rel="alternate" href="http://www.apple.com/sg/" hreflang="en-SG" /><link rel="alternate" href="http://www.apple.com/si/" hreflang="en-SI" /><link rel="alternate" href="http://www.apple.com/sk/" hreflang="sk-SK" /><link rel="alternate" href="http://www.apple.com/sn/" hreflang="fr-SN" /><link rel="alternate" href="http://www.apple.com/th/" hreflang="th-TH" /><link rel="alternate" href="http://www.apple.com/tn/" hreflang="fr-TN" /><link rel="alternate" href="http://www.apple.com/tr/" hreflang="tr-TR" /><link rel="alternate" href="http://www.apple.com/tw/" hreflang="zh-TW" /><link rel="alternate" href="http://www.apple.com/ug/" hreflang="en-UG" /><link rel="alternate" href="http://www.apple.com/uk/" hreflang="en-GB" /><link rel="alternate" href="http://www.apple.com/vn/" hreflang="en-VN" /><link rel="alternate" href="http://www.apple.com/za/" hreflang="en-ZA" />



<meta name="viewport" content="width=device-width, initial-scale=1" />


	<link rel="stylesheet" type="text/css" href="/ac/globalnav/3/zh_CN/styles/ac-globalnav.built.css" />
	<link rel="stylesheet" type="text/css" href="/ac/globalfooter/3/zh_CN/styles/ac-globalfooter.built.css" />
	<link rel="stylesheet" type="text/css" href="/ac/localnav/4/styles/ac-localnav.built.css" />



		<title>Apple (中国) - 官方网站</title>
		<meta property="analytics-track" content="Apple - Index/Tab" />
		<meta property="analytics-s-channel" content="homepage" />
<meta property="analytics-s-bucket-0" content="appleglobal,applehome" />
<meta property="analytics-s-bucket-1" content="apple{COUNTRY_CODE}global,apple{COUNTRY_CODE}home" />
<meta property="analytics-s-bucket-2" content="apple{COUNTRY_CODE}global" />
<meta property="analytics-s-bucket-store" content="applestoreww,applestoregc,applestoreapaccnzh" />

		<meta name="Description" content="率先一睹 MacBook Pro、iPhone 7 和 Airpods，以及 iPad、Apple Watch、iOS、watchOS、macOS 等。访问网站以进一步了解。" />
		<meta property="og:title" content="Apple (中国)" />
		<meta property="og:description" content="率先一睹 MacBook Pro、iPhone 7 和 Airpods，以及 iPad、Apple Watch、iOS、watchOS、macOS 等。访问网站以进一步了解。" />
		<meta property="og:url" content="http://www.apple.com/cn/" />
		<meta property="og:locale" content="zh_CN" />
		<meta property="og:image" content="https://www.apple.com/ac/structured-data/images/open_graph_logo.png?201702170208" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Apple" />

		<link rel="home" href="http://www.apple.com/cn/" />
		<link rel="index" href="http://www.apple.com/cn/sitemap/" />
		<link rel="stylesheet" href="/wss/fonts?families=SF+Pro,v1|SF+Pro+Icons,v1" type="text/css" media="all" />
		<link rel="stylesheet" href="http://images.apple.com/v/home/dd/built/styles/main.built.css" type="text/css" />
		<link rel="stylesheet" href="http://images.apple.com/cn/home/styles/main.built.css" type="text/css" />
		<link rel="stylesheet" href="http://images.apple.com/cn/home/styles/promos.css" type="text/css" />
		<script src="http://images.apple.com/v/home/dd/built/scripts/head.built.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="/wss/fonts?family=SF+Pro+SC&amp;weights=200,300,400,500,600&amp;v=1" type="text/css">

		<link rel="stylesheet" href="http://images.apple.com/cn/global/styles/sfpro-cn.css" />

		<!--[if IE]>
		<link rel="stylesheet" href="/wss/fonts?family=SF+Pro+SC&amp;weights=200,300,400,500,600&amp;v=1" type="text/css">
		<link rel="stylesheet" href="http://images.apple.com/cn/global/styles/sfpro-cn-ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="http://images.apple.com/cn/home/styles/font.css" type="text/css" />
	</head>



	<body class="page-home ac-nav-overlap">
		<div style="display:none;"><img src="/cn/home/images/og_wechat.jpg" alt=""/></div>

<style>
	html {
		margin-top: 40px !important;
	}
	body {
		border-top: 1px solid transparent;
		margin-top: -1px;
		position: relative;
	}
	html.oldie body {
  		overflow-x: visible;
  	}
	.adv-wrapper {
		position: absolute;
		top: -40px;
		z-index: 9999;
		background: #444;
		line-height: 1;
		top: -40px;
		width: 100%;
		right:0;
		height: 40px;
		z-index: 9999;
	}
	.ac-gn-segmentbar-visible .adv-wrapper {
		position: absolute;
		top: -40px;
	}
	.ac-gn-segmentbar-visible .macpro-gg .adv-wrapper {
		top: 0px;
	}
	.adv-wrapper .adv-wrapper-text {
		color: #a8a8aa;
		display: block;
		line-height: 40px;
		overflow: hidden;
		text-decoration: none;
		text-overflow: ellipsis;
		text-align: right;
		max-width: 976px;
		margin: 0 auto;
	}

	.ac-gn-segmentbar-visible .adv-wrapper{
		background: transparent;
		width: 20%
	}
	.ac-gn-segmentbar-visible .adv-wrapper .adv-wrapper-text {
		width: 100%;
		margin-left: 488px;
		position: absolute;
		left: -250%;
		min-width: auto;
	}

	@media only screen and (max-width: 1023px) {
		.adv-wrapper {
			min-width: 20%
		}
		.adv-wrapper .adv-wrapper-text {
			margin-left:auto;
			width: auto;
			padding: 0 25px;
			position: relative;
			left: 0;
		}
		.ac-gn-segmentbar-visible .adv-wrapper .adv-wrapper-text {
			width: auto;
			position: relative;
			padding: 0 12px;
			left: -6%;
			margin: 0;
		}
		.ac-gn-segmentbar-visible #sonic-automotive.profiles.platter.full-nav.ac-gn-current-iphone .adv-wrapper .adv-wrapper-text,
		.ac-gn-segmentbar-visible #ducati.profiles.platter.full-nav.ac-gn-current-iphone .adv-wrapper .adv-wrapper-text,
		.ac-gn-segmentbar-visible #mayo-clinic.profiles.platter.ac-gn-current-iphone.full-nav .adv-wrapper .adv-wrapper-text
		 {
			left: -27%;
		}
	}
	@media only screen and (max-width: 767px) {
		.adv-wrapper .adv-wrapper-text {
			line-height:40px;
			margin-left:auto;
			width: auto;
			padding: 0 16px;
			position: relative;
			left: 0;
		}
		.ac-gn-segmentbar-visible .adv-wrapper .adv-wrapper-text {
			width: auto;
			position: relative;
			left: 0;
			padding: 0 16px;
			margin: 0;
		}
		.ac-gn-segmentbar-visible #sonic-automotive.profiles.platter.full-nav.ac-gn-current-iphone .adv-wrapper .adv-wrapper-text,
		.ac-gn-segmentbar-visible #ducati.profiles.platter.full-nav.ac-gn-current-iphone .adv-wrapper .adv-wrapper-text,
		.ac-gn-segmentbar-visible #mayo-clinic.profiles.platter.ac-gn-current-iphone.full-nav .adv-wrapper .adv-wrapper-text
		{
			left: -25%;
		}
		.adv-wrapper {
			top:-44px;
			height: 44px
		}
		.ac-gn-segmentbar-visible .adv-wrapper {
			top:-44px;
			height: 44px
		}
		.adv-wrapper .adv-wrapper-text {
			line-height: 44px;
		}
		html {
			margin-top: 44px !important;
		}

	}
	.adv-wrapper .adv-wrapper-text {
		color: #a8a8aa;
		font-size: 12px;
		font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;

	}


	/* Always show in IE8, whether zoom because IE8 doesnt have responsive. */
	/* hack for IE8 without shop button */
	/*js no-touch no-svg ie8 no-progressive no-transforms no-tablet no-handheld no-oldTablet no-maskBoxImage no-maskedParallaxAnimation no-webgl no-video no-inlineVideo no-canvas cssFilter no-cssTransition2d no-cssTransition3d ie*/

	html.ie8,html.oldie,html.oldIE {
		margin-top: 0px !important;
	}
	html.ie8 .adv-wrapper,html.oldie .adv-wrapper,html.oldIE .adv-wrapper {
		position: relative;
		top: 0px;
		min-width: 1024px;
	}
	html.ie8 .adv-wrapper .adv-wrapper-text,html.oldie .adv-wrapper .adv-wrapper-text,html.oldIE .adv-wrapper .adv-wrapper-text {
		line-height: 40px;
	}
	html.ie8 #ac-globalnav,html.oldie #ac-globalnav,html.oldIE #ac-globalnav {
		top: 40px;
	}
	html.ie8 .ac-familybrowser,html.oldie .ac-familybrowser,html.oldIE .ac-familybrowser {
		top: 84px;
	}
	html.ie8 .ac-nav-overlap .chapternav,html.oldie .ac-nav-overlap .chapternav,html.oldIE .ac-nav-overlap .chapternav {
		margin-top: 84px;
	}
	/* hack for IE8 with shop button*/
	html.ie8.ac-gn-segmentbar-visible #ac-gn-segmentbar,html.oldie.ac-gn-segmentbar-visible #ac-gn-segmentbar,html.oldIE.ac-gn-segmentbar-visible #ac-gn-segmentbar {
		position: relative;
		top: 0;
	}
	html.ie8.ac-gn-segmentbar-visible .adv-wrapper,html.oldie.ac-gn-segmentbar-visible .adv-wrapper,html.oldIE.ac-gn-segmentbar-visible .adv-wrapper {
		position: absolute;
		min-width: auto;
	}
</style>



<meta name="ac-gn-store-key" content="SFX9YPYY9PPXCU9KH" />
<aside id="ac-gn-segmentbar" class="ac-gn-segmentbar" lang="zh-CN" dir="ltr" data-strings="{ 'exit': '退出商店', 'view': '{%STOREFRONT%}商店首页', 'segments': { 'smb': '企业商店首页', 'eduInd': '教育商店首页', 'other': '商店首页' } }">
</aside>
<input type="checkbox" id="ac-gn-menustate" class="ac-gn-menustate" />
<nav id="ac-globalnav" class="no-js" role="navigation" aria-label="全站导航" data-hires="false" data-analytics-region="global nav" lang="zh-CN" dir="ltr" data-store-locale="cn" data-store-api="/[storefront]/shop/bag/status" data-search-locale="zh_CN" data-search-api="/search-services/suggestions/">
	<div class="ac-gn-content">
		<ul class="ac-gn-header">
			<li class="ac-gn-item ac-gn-menuicon">
				<label class="ac-gn-menuicon-label" for="ac-gn-menustate" aria-hidden="true">
					<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span>
					</span>
					<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span>
					</span>


		<aside class="ac-gn-bagview" data-analytics-region="bag">
			<div class="ac-gn-bagview-scrim">
				<span class="ac-gn-bagview-caret ac-gn-bagview-caret-small"></span>
			</div>
			<div class="ac-gn-bagview-content" id="ac-gn-bagview-content">
			</div>
		</aside>
	</div>
</nav>
<div id="ac-gn-curtain" class="ac-gn-curtain"></div>
<div id="ac-gn-placeholder" class="ac-nav-placeholder"></div>

<script type="text/javascript" src="/ac/globalnav/3/zh_CN/scripts/ac-globalnav.built.js"></script>



<script src="/metrics/ac-analytics/1.1/scripts/ac-analytics.js" type="text/javascript" charset="utf-8"></script>
<script src="/metrics/ac-analytics/1.1/scripts/auto-init.js" type="text/javascript" charset="utf-8"></script>


		<main class="main with-promos" role="main">
			<article class="gallery-container" data-analytics-region="hero">

	<div id="homepage-gallery" class="gallery with-paddlenav">

		<nav class="paddlenav paddlenav-compact">
			<ul>
				<li class="paddlenav-arrow-container paddlenav-arrow-container-previous">
					<button class="paddlenav-arrow paddlenav-arrow-previous" aria-label="Previous" data-ac-gallery-previous-trigger="homepage-gallery"></button>
				</li>
				<li class="paddlenav-arrow-container paddlenav-arrow-container-next">
					<button class="paddlenav-arrow paddlenav-arrow-next" aria-label="Next" data-ac-gallery-next-trigger="homepage-gallery"></button>
				</li>
			</ul>
		</nav>

		<nav class="dashnav dot-nav">
			<ul role="tablist">
				<li role="presentation"><a href="#homepage-gallery-iphone" data-ac-gallery-trigger="homepage-gallery-iphone" class="dashnav-item"><div class="dashnav-dash"><span class="dashnav-progress"></span><span class="dashnav-label">iPhone 7</span></div></a></li>
				<li role="presentation"><a href="#homepage-gallery-watch" data-ac-gallery-trigger="homepage-gallery-watch" class="dashnav-item"><div class="dashnav-dash"><span class="dashnav-progress"></span><span class="dashnav-label">Series 2 新登场。</span></div></a></li>
				<li role="presentation"><a href="#homepage-gallery-macbookpro" data-ac-gallery-trigger="homepage-gallery-macbookpro" class="dashnav-item current"><div class="dashnav-dash"><span class="dashnav-progress"></span><span class="dashnav-label">MacBook Pro</span></div></a></li>
			</ul>
		</nav>


		<div class="gallery-slide-wrapper">
			<a href="/cn/iphone-7/" id="homepage-gallery-iphone" class="block gallery-item gallery-item-static gallery-item-iphone-alt gallery-item-dark" data-ac-gallery-item aria-label="iPhone. This is 7.">
				<div class="gallery-item-content">
					<div class="gallery-item-lockup-wrapper">
						<h1 class="typography-product-reduced">iPhone</h1>
						<h2 class="typography-tagline-elevated centeralign">7，在此。</h2>
					</div>
				</div>
				<figure class="gallery-image gallery-image-iphone-alt"></figure>
			</a>
			<a href="/cn/apple-watch-series-2/" id="homepage-gallery-watch" class="block gallery-item gallery-item-watch" data-ac-gallery-item aria-label="Apple Watch Series 2. Introducing Series 2.">
				<div class="gallery-item-content">
					<h1 class="logo-image logo-image-watch"><span class="logo-image-label">Apple Watch Series 2</span></h1>
					<h2 class="typography-section-headline centeralign">Series 2 新登场。</h2>
				</div>
				<figure class="gallery-image gallery-image-watch-alt"></figure>
			</a>

			<a href="/cn/macbook-pro/" id="homepage-gallery-macbookpro" class="block gallery-item gallery-item-macbookpro" data-ac-gallery-item aria-label="MacBook Pro. A touch of genius.">
				<div class="gallery-item-content">
					<div class="has-center-content">
						<div class="center-content">
							<h1 class="typography-product-reduced">MacBook Pro</h1>
							<h2 class="typography-tagline-elevated centeralign">一身才华，一触，即发。</h2>
						</div>
					</div>
				</div>
				<figure class="gallery-image gallery-image-macbookpro"></figure>
			</a>

		</div>

	</div>

</article>


		</main>

	<footer id="ac-globalfooter" class="no-js" lang="zh-CN" data-analytics-region="global footer" role="contentinfo" aria-labelledby="ac-gf-label">
			<div class="ac-gf-content">




<script type="text/javascript" src="/ac/globalfooter/3/zh_CN/scripts/ac-globalfooter.built.js"></script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "http://www.apple.com/#organization",
		"@type": "Organization",
		"name": "Apple",
		"url": "http://www.apple.com/",
		"logo": "https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?201702170208",
		"contactPoint": [
			{
				"@type": "ContactPoint",
				"telephone": "+1-800-692-7753",
				"contactType": "sales",
				"areaServed": [ "US" ]
			}
		],
		"sameAs": [
			"http://www.wikidata.org/entity/Q312",
			"https://www.youtube.com/user/Apple",
			"https://www.linkedin.com/company/apple",
			"https://www.facebook.com/Apple",
			"https://www.twitter.com/Apple"
		]
	}
</script>




		<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "http://www.apple.com/#website",
		"@type": "WebSite",
		"url": "http://www.apple.com/",
		"name": "Apple (中国) - 官方网站",
		"potentialAction": {
			"@type": "SearchAction",
			"target": "http://www.apple.com/us/search/{search_term_string}?src=mc_google",
			"query-input": "required name=search_term_string"
		}
	}
</script>

		<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "http://www.apple.com/cn/#webpage",
		"@type": "WebPage",
		"url": "http://www.apple.com/cn/",
		"name": "Apple (中国) - 官方网站"
	}
</script>

		<script src="http://images.apple.com/v/home/dd/built/scripts/main.built.js" type="text/javascript" charset="utf-8"></script>


	</body>
</html>
