<!-- Add this css File in head tag-->
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->


       <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

           <!-- Indicators -->
           <ol class="carousel-indicators">
               <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
           </ol>

           <!-- Wrapper For Slides -->
           <div class="carousel-inner" role="listbox">

               <!-- First Slide -->
               <div class="item active">

                   <!-- Slide Background -->
                   <img src="images/mattresses.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>

                   <div class="container">
                       <div class="row">
                           <!-- Slide Text Layer -->
                           <div class="slide-text slide_style_right">
                               <a href="/products" target="_blank" class="btn btn-primary" data-animation="animated fadeInLeft">开始购物</a>
                               <a href="/products" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">注册</a>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Second Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="images/bedroom.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_right">

                       <a href="/products" target="_blank" class="btn btn-primary" data-animation="animated fadeInUp">开始购物</a>
                       <a href="/products" target="_blank"  class="btn btn-default" data-animation="animated fadeInDown">注册</a>
                   </div>
               </div>
               <!-- End of Slide -->


           </div><!-- End of Wrapper For Slides -->

           <!-- Left Control -->
           <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
               <span class="fa fa-angle-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
           </a>

           <!-- Right Control -->
           <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
               <span class="fa fa-angle-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
           </a>

       </div> <!-- End  bootstrap-touch-slider Slider -->

<!-- 居家 -->
<div class="home products">
    <header>
        <div class="left">
            <a href="/products"><h3>居家</h3></a>
        </div>
        <div class="right">
            <a href="/products" tartet="_blank">更多></a>
        </div>
    </header>
    <div class="display">
        <ul class="productList">
            <li class="product">
                <a href="/">
                    <img src="/images/bed.png" alt="全棉针织条纹四件套 新款" />
                </a>
                <div class="pName">
                    <a href="/">
                        全棉针织条纹四件套 新款
                    </a>
                </div>
                <div class="pPrice">
                    ¥299
                </div>
            </li>
            <li class="product">
                <a href="/">
                    <img src="/images/foot.png" alt="北欧风珊瑚绒多功能暖脚套" />
                </a>
                <div class="Name">
                    <a href="/">
                        北欧风珊瑚绒多功能暖脚套
                    </a>
                </div>
                <div class="Price">
                    ¥59
                </div>
            </li>
            <li class="product">
                <a href="/">
                    <img src="/images/pillow.png" alt="可水洗舒柔丝羽绒枕" />
                </a>
                <div class="Name">
                    <a href="/">
                        可水洗舒柔丝羽绒枕
                    </a>
                </div>
                <div class="Price">
                    ¥59
                </div>
            </li>
            <li class="product">
                <a href="/">
                    <img src="/images/sitting.png" alt="日式记忆绵坐垫" />
                </a>
                <div class="Name">
                    <a href="/">
                        日式记忆绵坐垫
                    </a>
                </div>
                <div class="Price">
                    ¥59
                </div>
            </li>
            <li class="product">
                <a href="/">
                    <img src="/images/lamp.png" alt="北欧极简直杆台灯" />
                </a>
                <div class="Name">
                    <a href="/">
                        北欧极简直杆台灯
                    </a>
                </div>
                <div class="Price">
                    ¥249
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- 餐厨 -->
<div class="home products">
    <header>
        <div class="left">
            <a href="/products"><h3>餐厨</h3></a>
        </div>
        <div class="right">
            <a href="/products" tartet="_blank">更多></a>
        </div>
    </header>
    <div class="display">
        <ul class="productList">
            <li class="product">
                <a href="/">
                    <img src="/images/duster.png" alt="懒人抹布" />
                </a>
                <div class="pName">
                    <a href="/">
                        懒人抹布
                    </a>
                </div>
                <div class="pPrice">
                    ¥13.99
                </div>
            </li>
            <li class="product">
                <a href="/">
                    <img src="/images/knife.png" alt="白色斜磨陶瓷刀" />
                </a>
                <div class="Name">
                    <a href="/">
                        白色斜磨陶瓷刀
                    </a>
                </div>
                <div class="Price">
                    ¥89
                </div>
            </li>
            <li class="product">
                <a href="/">
                    <img src="/images/bowl.png" alt="日式酸枣木碗" />
                </a>
                <div class="Name">
                    <a href="/">
                        日式酸枣木碗
                    </a>
                </div>
                <div class="Price">
                    ¥39
                </div>
            </li>
            <li class="product">
                <a href="/">
                    <img src="/images/chopsticks.png" alt="10双装 实木筷" />
                </a>
                <div class="Name">
                    <a href="/">
                        10双装 实木筷
                    </a>
                </div>
                <div class="Price">
                    ¥25
                </div>
            </li>
            <li class="product">
                <a href="/">
                    <img src="/images/spoon.png" alt="3件装 日本制造 小猫和鱼咖啡勺" />
                </a>
                <div class="Name">
                    <a href="/">
                        3件装 日本制造 小猫和鱼咖啡勺
                    </a>
                </div>
                <div class="Price">
                    ¥79
                </div>
            </li>
        </ul>
    </div>
</div>
