<!-- 區塊：圖片輪播 -->
<div class="container-carousel">
<div id="mycarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators"></ol>
	<!-- 廣告輪播列表 -->
      <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1ffqpsclqtpj313x0zm7h8.jpg" data-color="#eee">
            <div class="carousel-caption">
                <h2 class="logo">Select.</h2>
								<h5>最好的家具与服务，给最具品味的您。</h5>
                <a href="/products"  class="btn btn-primary btn-lg">家具选</a>
            </div>
        </div>
        <div class="item">
            <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffu5bi7x1wj31kw1qm7wj.jpg" data-color="#eee">
            <div class="carousel-caption">
                <h3>最新到货</h3>
								<a href="/products"  class="btn btn-primary btn-lg">家具选</a>
            </div>
        </div>
        <div class="item active">
            <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1ffu3elcctoj31900u0aqk.jpg" data-color="#eee">
            <div class="carousel-caption">
                <h3>2017初夏轻色</h3>
								<a href="/products"  class="btn btn-primary btn-lg">家具选</a>
            </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">

        <span class="sr-only">上一則</span>
      </a>
      <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">

        <span class="sr-only">下一則</span>
      </a>
</div>
</div>
<!-- 區塊：圖片輪播 -->

<!-- 區塊：服務介紹＋產品分類 -->
<!-- Container (The Band Section) -->
<div class="container text-center">
  <h3 class="logo">Select.</h3>
  <h5><em>家具选</em></h5>
  <p>我们深信美好生活由生活用具而生。
		<br />提供六大品牌家具选品，为您挑选出最美好的家具。
		<br />
		<br />Select.，只给您最好的家具。</p>
  <br />
	<br />
	<hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="text-center"><strong>选椅</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffu3eoh3xzj31900u0tl8.jpg" class="img-rounded  product-item" alt="/" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p><a>HAY</a></p>
        <p><a>GUBI</a></p>
        <p><a>MENU</a></p>
        <p><a>muuto</a></p>
        <p><a>STUA</a></p>
        <p><a>ferm living</a></p>

      </div>
    </div>
    <div class="col-sm-3">
      <p class="text-center"><strong>选桌</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1ffu3erjaa8j31900u0qhh.jpg" class="img-rounded  product-item" alt="/" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p><a>HAY</a></p>
        <p><a>GUBI</a></p>
        <p><a>MENU</a></p>
        <p><a>muuto</a></p>
        <p><a>STUA</a></p>
        <p><a>ferm living</a></p>

      </div>
    </div>
    <div class="col-sm-3">
      <p class="text-center"><strong>选凳</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1ffu3eu1n10j31900u049d.jpg" class="img-rounded  product-item" alt="/" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p><a>HAY</a></p>
        <p><a>GUBI</a></p>
        <p><a>MENU</a></p>
        <p><a>muuto</a></p>
        <p><a>STUA</a></p>
        <p><a>ferm living</a></p>

      </div>
    </div>
    <div class="col-sm-3">
      <p class="text-center"><strong>选沙发</strong></p><br>
      <a href="#demo4" data-toggle="collapse">
        <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1ffu3ewrc43j31900u0te7.jpg" class="img-rounded  product-item" alt="/" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p><a>HAY</a></p>
        <p><a>GUBI</a></p>
        <p><a>MENU</a></p>
        <p><a>muuto</a></p>
        <p><a>STUA</a></p>
        <p><a>ferm living</a></p>

      </div>
    </div>
  </div>
</div>
<!-- 區塊：服務介紹＋產品分類 -->


<!-- 區塊：品牌 -->
<div id="brands">

  <div class="container img-HAY pullRightLeft">
    <a href="/products?brand=HAY">HAY</a>
  </div>

  <div class="container img-GUBI pullRightLeft">
    <a href="/products?brand=GUBI">GUBI</a>
  </div>

  <div class="container img-MENU pullRightLeft">
    <a href="/products?brand=MENU">MENU</a>
  </div>

  <div class="container img-muuto pullRightLeft">
    <a href="/products?brand=muuto">muuto</a>
  </div>

  <div class="container img-STUA pullRightLeft">
    <a href="/products?brand=STUA">STUA</a>
  </div>

  <div class="container img-fermliving pullRightLeft">
    <a href="/products?brand=ferm+living">ferm living</a>
  </div>

</div>





<!-- 區塊：品牌 -->
