<!-- 这是导航栏 -->
<div class="navbar bg-color1">
  <div class="navbarContent">
    <div class="navbarContent-left bg-color2"></div>
    <div class="navbarContent-right bg-color3"></div>
  </div>
</div>

<!-- 这是头部 -->

<div class="header">
  <div class="headerContent">
    <div class="headerContent-item headerContent-item1 bg-color1"></div>
    <div class="headerContent-item headerContent-item2 bg-color2"></div>
    <div class="headerContent-item headerContent-item3 bg-color3"></div>
  </div>
</div>

<!-- 这是菜单 -->

<div class="menu bg-color1">
  <div class="menuList">
    <div class="menuList-item bg-color2"></div>
    <div class="menuList-item bg-color3"></div>
    <div class="menuList-item bg-color4"></div>
    <div class="menuList-item bg-color5"></div>
  </div>
</div>

<!-- 这是轮播图 -->
<div class="carousel bg-color1">
  <a href="https://codepen.io/ARS" target="_blank"><span>button</span></a>
</div>

<!-- 这是排序 -->
