<div class="mainCampaign">
    <figure style="margin-bottom: 20px;">
			<img src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffwl6p88tuj30yg0ed0ub.jpg" alt="" style="visibility: visible;">
		</figure>
    <!-- <a href="http://www.muji.us/store/furniture-interior-electronics/bed-furniture/sofas-living/bfc.html">more</a> -->


    <!-- <div class="container all-product-box">
    <div class="row">
        <div class="col-xs-6 col-md-6 text-center product-list-style">
              <a href="/products/9"><img class="product-list-style-img img-responsive center-block" src="http://info.muji.us/info/wp-content/uploads/2017/05/1024X640px-Web-Banner-Body-Fit-Cushion-LTV-1.jpg" alt="Thumb snip20170522 39"></a>
          <br>
          <a href="/products/9">长方形藤编篮子</a>
          <br>
          <strong>￥ <a href="/products/9">248</a></strong><p></p>
        </div>
        <div class="col-xs-6 col-md-6 text-center product-list-style">
              <a href="/products/10"><img class="product-list-style-img img-responsive center-block" src="http://oqc041sze.bkt.clouddn.com/uploads/product/image/10/thumb_4547315253791_400.jpg" alt="Thumb 4547315253791 400"></a>
          <br>
          <a href="/products/10">抽屉式收纳盒</a>
          <br>
          <strong>￥ <a href="/products/10">99</a></strong><p></p>
        </div>
    </div>
  </div> -->

      <div class="container product-intro">

      	<div class="col-xs-6 col-md-6 text-center">
      	  	 <a href="/products.html" target="_blank"><img class="product-intro-list-img-left img-responsive center-block" src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffwlmcldxrj30dc08x74u.jpg" title=""></a>
             <br />
             <p style= "font-size: 20px;">饮食餐具系列</h4>
        </div>
        <div class="col-xs-6 col-md-6 text-center">
           	 <a href="products.html" target="_blank"><img class="product-intro-list-img-right img-responsive center-block" src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffwlxcc3eoj30dc08vgm8.jpg" title="" alt=""></a>
             <br />
              <p style= "font-size: 20px;">烹饪工具系列</h4>
      	</div>
    </div>

</div>

      <div class="slogan">
        <div class="slogan-ad">
              <span> <h1> 家 是幸福的源泉 <h1></span>
                    <h3> 身边的你 值得珍惜</h3>
                    <h3> 乐品 在 安心常在</h3>

        </div>
      </div>
