<head>
    <title>野兽饮食</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>


<!-- 头图 -->
<section class="home-video-hero">
  <div class="video-frame">
    <div class="video-overlay"></div>
    <div class="row">
      <video autoplay="autoplay" loop="loop">
        <source class="webm" type="video/webm" src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.mp4">
        <source class="mp4" type="video/mp4" src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.webm">
      </video>
    </div>
    <!-- 头图文字 -->
    <div class="content-container col-sm-12">
      <div class="content">
        <img src="/images/icon-menu.png" class="icon">
        <h1>野兽生活</h1>
        <br>
        <h3 class="sub-cop">专注无麸质饮食，为您的健康注入新能量</h3>
        <br>
        <a href="/products" class="btn btn--gold hover--red ">来大口吃肉吧</a>
      </div>
    </div>
  </div>
</section>
<!-- 重新定义板块 -->
<div class="container2 text-center">
  <div class="row">
    <h1 class="wood"><em>我们重新定义了健康饮食，<br>新鲜的肉和蔬菜，<br>拒绝米粉面<em></h1>
    <br>
    <div class="col-sm-4">
      <p class="text-center middle">
        <strong>阿米尔汗</strong>
      </p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="/images/摔跤爸爸.jpeg" class="img-circle person" alt="museng" width="200" height="200">
      </a>
      <div id="demo" class="collapse">
        <p>食用无麸食品</p>
        <p>让我减了六十斤</p>
        <p>赶紧来试试吧</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center middle">
        <strong>原始人</strong>
      </p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="/images/man.jpeg" class="img-circle person" alt="man" width="200" height="200">
      </a>
      <div id="demo2" class="collapse">
        <p>我们原始人就不吃面</p>
        <p>搞不懂几万年后你们吃起面食了</p>
        <p>你们看我多强壮，而你们。。。</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center middle">
        <strong>Sanna</strong>
      </p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="/images/Sanna_Luoto.png" class="img-circle person" alt="Sanna" width="200" height="200">
      </a>
      <div id="demo3" class="collapse">
        <p>我把无麸质带来了中国</p>
        <p>把无麸质的方法教给了许多人</p>
        <p>收录了许多提供无麸的餐厅和供应商</p>
      </div>
    </div>
  </div>
</div>
<!-- 精选推荐 -->
<!-- Container (TOUR Section) -->
<div class="bg-1">
  <div class="container2">
    <h1 class="text-center">精选推荐</h1>
    <p class="text-center">这里有为你精选的午餐，只有美味的肉和新鲜的蔬菜！当然少不了咖啡~~</p>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/野兽新西兰黑椒牛排.jpg" alt="野兽新西兰黑椒牛排" width="230" height="200">
          <p>
            <strong>野兽新西兰黑椒牛排</strong>
          </p>
          <p>来自新西兰的牛肉，每日限量供应</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/野兽烟熏三文鱼.jpg" alt="野兽烟熏三文鱼" width="230" height="200">
          <p>
            <strong>野兽烟熏三文鱼</strong>
          </p>
          <p>来自挪威的大西洋鲑，每日限量供应</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/yangpai2.jpg" alt="羊排" width="230" height="200">
          <p>
            <strong>澳洲羊排素材沙拉</strong>
          </p>
          <p>澳洲羊排，香而不膻</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/liuheyi.jpg" alt="Paris" width="230" height="200">
          <p>
            <strong>野兽防弹咖啡六合一套装</strong>
          </p>
          <p>来自硅谷的超级创新饮品</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/fangdantz1.jpg" alt="Paris" width="230" height="200">
          <p>
            <strong>防弹咖啡必备套装
            </strong>
          </p>
          <p>野兽生活咖啡豆227g椰子油450ml黄油2块</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/jiaobanji.jpg" alt="野兽咖啡机" width="230" height="200">
          <p>
            <strong>防弹咖啡 搅拌机家用自动</strong>
          </p>
          <p>OSTER/奥士达</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
    </div>
  </div>
</div>
