  <div class="row">
    <img class="bgimage-top img-responsive" src=""
      alt="nopic" ></img>
  </div>

    <div class="main-view">
     <div class="title1"> 注意力就是最大生产力</div>
     <!-- <hr> -->
     <div class="title2"> 梦想桌面1.0 Type-C 专版</div>
     <div class="title3">
       首创桌面系统打包，让你节省时间税、沉浸心流状态
       <br>
       桌面也很美、很酷

     </div>

      <div class="buytocart">
        <div class="buytocart1">
          <a href="#" class="btn btn-danger">立刻下单</a>

        </div>
        <div class="custome1">
            <a href="#" class="btn btn-success">开启定制</a>


        </div>
      </div>
    </div>
