



      <div id="qz-content">

        <div class="lp-section-1">
  <div class="content-1">
    <h2>脱胎换骨成为下一个想要的自己</h2>
    <p>七年就是一辈子，一年就能蜕变成能够编织自己未来旅程的全栈工程师</p>

      </div>
      <div class="video-btn-block">
        <a href="#" class="video-btn"  data-toggle="modal" data-target="#video-modal"><i class="fa fa-play-circle-o" aria-hidden="true"></i><span class="text">上期学员心得</span></a>
      </div>
  </div>
</div>

<!-- <div class="lp-yuan">
  <div class="content-yuan">
    <img src='' class="img-responsive" >
  </div>
</div> -->

<div class="lp-section-2 clearfix">
  <div class="content-2">
    <div class="short-line"></div>
    <h2>我们重新定义编程教育</h2>
    <p>
      新生大学线上全栈营由两岸知名的 Rails 教练郑伊廷、天使投资人李笑来共同主持。我们以认知心理学为基石，打破过去传统刻板的编程学习、培训途径，旨在为未来培养出一批能够快速贯通编程理念并灵活实践的全栈工程师。
    </p>
    <img src='https://fullstack.xinshengdaxue.com/images/lp-2.jpg' >
  </div>
</div>

<div class="lp-section-3 clearfix">
  <div class="content-3">
    <div class="feature-title">
      <div class="short-line"></div>
      <h2>人人可学的在线编程教育平台</h2>
    </div>
    <div class="feature-block">
      <img src='https://fullstack.xinshengdaxue.com/images/feature1.png'>
      <br>
      <h3>教材简明易懂</h3>
      <p>专业术语太多？全英文看不懂？我们总结多年的线下教育经验编写了通俗易懂的教材，帮你降低学习门槛。</p>
    </div>
    <div class="feature-block">
      <img src='https://fullstack.xinshengdaxue.com/images/feature2.png'>
      <br>
      <h3>职业程序员全程指导</h3>
      <p >学习编程最大的困难就是遇到 Bug 不会解，我们配备了职业程序员，帮你排除学习中遇到的任何问题。</p>
    </div>
    <div class="feature-block">
      <img src='https://fullstack.xinshengdaxue.com/images/feature3.png'>
      <br>
      <h3>业界大神倾心分享</h3>
      <p>Hackathon 冠军 Xdite 与你分享十年敏捷开发、团队合作、项目管理经验，让你体验持续高速成长的乐趣。</p>
    </div>
  </div>
</div>

<div class="lp-section-4">
  <div class="content-4 clearfix">
    <div class="short-line"></div>
    <h2>与强者共同成长</h2>
    <div class="teacher-block-left">
      <div class="top">
        <div class="img">
        <img src='https://fullstack.xinshengdaxue.com/images/teacher-2.jpg'>
      </div>
      <div class="name">
        <span>李笑来</span>
        <p>新生大学创始人<br/>天使投资人</p>
      </div>
      </div>
      <div class="talk">
        <p>
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          我就是想带着一群人，大幅度降低对学习的恐惧，大幅度压缩学而不用的时间，大幅度地跨界。
        </p>
      </div>
    </div>

    <div class="teacher-block-right">
      <div class="top">
      <div class="img">
        <img src='https://fullstack.xinshengdaxue.com/images/teacher-1.jpg'>
      </div>
      <div class="name">
        <span>郑伊廷</span>
        <p>知名 Rails 教练<br/>世界黑客松首奖得主</p>
      </div>
    </div>
      <div class="talk">
        <p>
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          世界上没有一门学问是要先学好才能用。几乎都是先用，再用，然后不断的用，才能够学好。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="lp-section-4 lp-section-5">
  <div class="content-4 content-5">
    <p class="des">我们的往期学员被以下公司录取了</p>
    <div class="list">
      <img src='https://fullstack.xinshengdaxue.com/images/jinshuju.png'>
      <img src='https://fullstack.xinshengdaxue.com/images/strikingly.png'>
      <img src='https://fullstack.xinshengdaxue.com/images/caicheng.png'>
      <img src='https://fullstack.xinshengdaxue.com/images/yunbi.png'>
      <img src='https://fullstack.xinshengdaxue.com/images/meow.png'>
    </div>
    <p class="des more">更多精彩，由你创造……</p>
  </div>
</div>

<div class="lp-section-bottom clearfix">
  <div class="bottom-content">
    <p>
    </p>
    <div>
      <a class="action-btn" href="/dashboard">开始学习</a>
    </div>
  </div>
</div>
<div class="modal fade welcom-modal" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <video controls class="embed-responsive-item">
            <source src="http://fullstack-video.oss-cn-qingdao.aliyuncs.com/vip_promo_video.mp4" type="video/mp4">
              你的游览器不支持此视频播放
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
      <footer class="welcome-index-footer" id="qz-footer">
    <div class="footer-section">
        <div class="footer-content">
            <div class="contact-line-block">
                <div class="right-block">
                    <div class="line">
                        <div class="icon">
                            <i class="fa fa-comments-o fa-fw" aria-hidden="true"></i>
                        </div>
                        <div class="link">
                            <a href="#" onclick="Intercom('show');">在线客服<br class="mobile-view">
                                <span class="xs-mobile">(非技术答疑，工作日10:00-19:00)</span>
                            </a>
                        </div>
                    </div>
                    <div class="introduce">
                        <div class="img-block">
                            <a href="http://www.xinshengdaxue.com/" target="_blank"><img src='https://fullstack.xinshengdaxue.com/images/xsdx-logo.png'></a>
                        </div>
                        <div class="introduce-block">
                            <p>
                                新生大学 - 软件学院是李笑来对未来世界的实验计划，旨在改变中国的计算机教育。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="des-block">
              <div class="column-block">
                <div class="column-left">
                    <ul class="list-unstyled">
                        <li class='column-title'>全栈营</li>
                        <li><a href="/pages/course_intro">课程介绍</a></li>
                        <li><a href="/pages/teachers">教学团队</a></li>
                        <li><a href="/pages/students">学员心得</a></li>
                    </ul>
                </div>
                <div class="column-center">
                    <ul class="list-unstyled">
                        <li class='column-title'>课程资源</li>
                        <li><a href="/dashboard">学习中心</a></li>
                        <li><a href="http://docs.qzy.camp/">帮助文档</a></li>
                        <li><a href="http://forum.qzy.camp/">交流论坛</a></li>
                    </ul>
                </div>
                <div class="column-right">
                    <ul class="list-unstyled">
                        <li class='column-title'>关于我们</li>
                        <li><a href="/pages/about">公司介绍</a></li>
                        <li><a href="/pages/faq">常见问题</a></li>
                        <li><a href="/pages/contact">联系方式</a></li>
                    </ul>
                </div>
            </div>
          </div>

            <div class="fline"></div>
            <div class="copyright-block">
                <div class="copyright-content">
                    <div class="copyright-info">
                        <p>
                            © 2017 情非得已(北京)科技有限公司
                        </p>
                    </div>
                    <div class="legal-info">
                      <p>
                          本站聘请孙雁飞律师为法律顾问
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

      <div id="modal-from-dom" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-from-dom-label" aria-hidden="true">

</div>

    </div>

    <script src="/assets/welcome-57ac66772caf03ec3f1002f61c95f0947276e17f474279154dda92340f9f40c7.js"></script>

      <script type="text/javascript">
mixpanel.track_links('.navbar-container .custom-dropdown-menu a.tracking', "Clicked user dropdown menu link", function(element) {
  return { text: $(element).html().replace(/(<([^>]+)>)/ig, "").trim() }
});
</script>
<script type="text/javascript">
mixpanel.track_links(".navbar-container .navbar-link a", "Clicked top nav link", function(element) {
  return { text: $(element).html().replace(/(<([^>]+)>)/ig, "").trim() }
});
</script>




  </body>
</html>
