<div class="container">
	<div class="main">
    	<div class="box">
			<img src="http://www.planwallpaper.com/static/images/Eiffel-Tower-lanscape-Wallpaper-HD.jpg" />
				<div class="overlay">
				</div>
			<a class="more" href="#name">More reading</a>


		</div>

		<div class="box">
			<img src="http://www.planwallpaper.com/static/images/colorful-easter-eggs-holiday-hd-wallpaper-1920x1200-10811.jpg" />
				<div class="overlay">
				</div>
			<a href="#">More reading</a>
		</div>

		<div class="box">
			<img src="http://www.planwallpaper.com/static/images/HD-Wallpapers1_FOSmVKg.jpeg" />
				<div class="overlay">
				</div>
			<a href="#">More reading</a>
		</div>

		<div class="box">
			<img src="http://www.planwallpaper.com/static/images/79438-blue-world-map_nJEOoUQ.jpg" />
				<div class="overlay">
				</div>
			<a href="#">More reading</a>
		</div>

		<div class="box">
			<img src="http://www.planwallpaper.com/static/images/6768666-1080p-wallpapers.jpg" />
				<div class="overlay">
				</div>
			<a href="#">More reading</a>
		</div>

		<div class="box">
			<img src="http://www.planwallpaper.com/static/images/6768666-1080p-wallpapers.jpg" />
				<div class="overlay">
				</div>
			<a href="#">More reading</a>
		</div>
	</div>
</div>
