


  <!-- <#div class="row welcome"> -->





<div class="row welcome">
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">

    <div class="item active">
       <a href="#">
       <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcpwhyylqgj31kw0w0b2f.jpg" alt="First slide" style="width: 100%;">
       <div class="carousel-caption">
         <p >
           Enjoy the good time and delicious food with your family and friends
         </p>
       </div>
      </a>
     <!-- <#div class="row image">
      <div class="container ">


      <li class="col-sm-3" style="margin-left:85px;margin-top:470px;">
    						<div class="fff">
								<div class="thumbnail">
									<a href="products"><img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption"style="margin-left:30px;align:center;">
									<h4 >apple</h4>
									<p>can made as sala</p>
									<a class="btn btn-mini" href="#"style="margin-left:30px;">» Read More</a>
								</div>
                            </div>
                        </li>

<li class="col-sm-3 " style="margin-left:85px;margin-top:470px;">
    <div class="fff">
    <div class="thumbnail">
      <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
      	</div>
        <div class="caption">
        <h4>orange</h4>
        <p>you can have orange juice</p>
          <a class="btn btn-mini" href="#">» Read More</a>
          </div>
          </div>
          </li>

          <li class="col-sm-3" style="margin-left:85px;margin-top:470px;">
    <div class="fff">
      <div class="thumbnail">
    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
    	</div>
      <div class="caption">
      <h4>grasp</h4>
      <p>fresh fruit</p>
        <a class="btn btn-mini" href="#">» Read More</a>
        </div>
        </div>
        </li>



    </div>
    <!-- <#/div> -->
    </div>
    <div class="item">
     <a href="products">
      <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcpwfgi9jhj31kw0w0npg.jpg" alt="Second slide" style="width: 100%;">
      <div class="carousel-caption">
        <p >
          Enjoy the good time and delicious food with your family and friends
        </p>
      </div>
     </a>
    </div>
    <div class="item">

      <a href="products">
        <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcpwdgjjwxj31kw0w0kjp.jpg" alt="Third slide" style="width: 100%;">
        <div class="carousel-caption">
          <p>

              Enjoy the good time and delicious food with your family and friends

          </p>
        </div>
      </a>
    </div>

  </div>

 <a class="carousel-control left" href="#myCarousel" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
 </a>
 <a class="carousel-control right" href="#myCarousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
 </a>
</div>

<div class="pic1">
<a href="/products" ><img src="https://ww1.sinaimg.cn/large/006tNc79gy1fdb20n18wzj30ek09qdgd.jpg" alt=""></a>

</div>

<div class="pic2">
  <a href="#" ><img src="https://ww3.sinaimg.cn/large/006tNc79gy1fdb2c8bf76j30el09qdgj.jpg"alt=""></a>
</div>
<div class="pic3">
  <a href="#" ><img src="https://ww1.sinaimg.cn/large/006tNc79gy1fdb2ixdudgj30el09qjrx.jpg"alt=""></a>
</div>
<div class="pic4">
  <a href="#" ><img src="https://ww3.sinaimg.cn/large/006tNc79gy1fdb2o1699lj30el09q74z.jpg"alt=""></a>
</div>
<div class="pic5">
  <a href="#" ><img src="https://ww4.sinaimg.cn/large/006tNc79gy1fdb2rhlxzkj30el09qmxl.jpg"alt=""></a>
</div>

 </div>







<div class="row" style="margin-top:30px;">
  <div class="thumbnail">
<div class=" shop">

   <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd58upz0yzj30el09qwfa.jpg"  class="img-circle">
   <div class="phone">
     <i class="fa fa-phone fa-lg" aria-hidden="true" > </i>
     <p>
       3567899
     </p>
    </div>
  <div class="location">
   <i class="fa fa-map-marker fa-lg" aria-hidden="true" ></i>
   <p>
     上海浦东新区
   </p>
   </div>
   <div class="email">
   <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
   <p>
     8768@gmail.com
   </p>
   </div>

</div>
    <div class="intro">

      <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fdb1ou7ur4j30el09qt8u.jpg" alt="Paris">

      <p style="margin-left:90px;margin-top:20px"><strong>店铺：fresh </strong></p>

      <div class="description" style="margin-left:56px;"><span>13则评价 : </span><span class="starRatingContainer_vxbm49"><span aria-label="评分是5（满分为5）"><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;"><path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z"></path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;">
        <path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z"></path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;"><path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z"></path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153);height: 12px;width: 12px;display: block;">
        <path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z">

      </path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;"><path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z">

      </path></svg></span></span></span></span>
        <span aria-label="13则评价">
        <span class="text_1chds16-o_O-size_micro_14ukpr-o_O-inline_10f0ge3">
      </span></span></div>
     <br />
      <button class="btn" style="margin-left:90px;">
        <!-- <#%=link_to("her store",shop1_products_path)%> -->
        <a href="/products/shop1">her stop</a>
        </button>



    </div>

      <div class="description1">
        <p>


      本店专营各种新鲜水果，量身为您打造派对专用的水果拼盘和送亲友的水果套餐.
      <br />
      您不仅可以在线上下单，也可以到线下店实地光顾我们的店铺.
        </p>
      </div>

    </div>
  </div>
  <hr />














       <div class="row ">

           <div class="thumbnail">
             <div class="selfie2">


             <div class="shop2">
            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fdb1q5b62gj30el09q3yu.jpg"  alt="San Francisco">
            </div>
            <div class="intro2">
            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd8ay3bt10j308204umxa.jpg" class="img-circle"  alt="店铺">
            <div class="phone">
              <i class="fa fa-phone fa-lg" aria-hidden="true" > </i>
              <p>
                3567899
              </p>
             </div>
           <div class="location">
            <i class="fa fa-map-marker fa-lg" aria-hidden="true" ></i>
            <p>
              上海浦东新区
            </p>
            </div>
            <div class="email">
            <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
            <p>
              8768@gmail.com
            </p>
            </div>
            </div>
            </div>

            <div class="info2">
            <p><strong>店铺: healthy</strong></p>

            <div ><span>13则评价 : </span><span class="starRatingContainer_vxbm49"><span aria-label="评分是5（满分为5）"><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;"><path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z"></path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;">
              <path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z"></path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;"><path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z"></path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153);height: 12px;width: 12px;display: block;">
              <path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z">

            </path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;"><path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z">

            </path></svg></span></span></span></span>
              <span aria-label="13则评价">
              <span class="text_1chds16-o_O-size_micro_14ukpr-o_O-inline_10f0ge3">
            </span></span></div>
            <br />
            <button class="btn">his store</button>
          </div>



          <div class="description2">
            <p>
              本店为每个用户提供健康新鲜的水果，同时也照顾到那些喜爱吃干果的朋友
              <br />
              如果您对我们有兴趣，进来看一下，也许就有你喜欢的东西
            </p>
          </div>

          </div>
        </div>
        </div>


<hr />



 <div class="row">
    <div class="thumbnail">
      <div class="shop3">
      <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fdb1rw4blzj30ej09q74m.jpg" alt="San Francisco">
      <p><strong>店铺: healthy</strong></p>

      <div ><span>13则评价 : </span><span class="starRatingContainer_vxbm49"><span aria-label="评分是5（满分为5）"><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;"><path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z"></path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;">
        <path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z"></path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;"><path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z"></path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153);height: 12px;width: 12px;display: block;">
        <path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z">

      </path></svg></span></span><span class="starContainer_1qk9an0-o_O-starContainer_sizeSmall_1j92z0q"><span class="star_15kzu1c"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill: rgb(0, 166, 153); height: 12px; width: 12px; display: block;"><path d="M971.5 379.5c9 28 2 50-20 67L725.4 618.6l87 280.1c11 39-18 75-54 75-12 0-23-4-33-12l-226.1-172-226.1 172.1c-25 17-59 12-78-12-12-16-15-33-8-51l86-278.1L46.1 446.5c-21-17-28-39-19-67 8-24 29-40 52-40h280.1l87-278.1c7-23 28-39 52-39 25 0 47 17 54 41l87 276.1h280.1c23.2 0 44.2 16 52.2 40z">

      </path></svg></span></span></span></span>
        <span aria-label="13则评价">
        <span class="text_1chds16-o_O-size_micro_14ukpr-o_O-inline_10f0ge3">
      </span></span></div>
      <br />
      <button class="btn">his store</button>
      </div>
      <div class="intro3">

      <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd61283pchj30el09qt9c.jpg" alt="shop2" class="img-circle">
      <div class="phone">
        <i class="fa fa-phone fa-lg" aria-hidden="true" > </i>
        <p>
          3567899
        </p>
       </div>
     <div class="location">
      <i class="fa fa-map-marker fa-lg" aria-hidden="true" ></i>
      <p>
        上海浦东新区
      </p>
      </div>
      <div class="email">
      <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
      <p>
        8768@gmail.com
      </p>
      </div>
      </div>
      <div class="description3">
        <p>
          本店为每个用户提供健康新鲜的水果，同时也照顾到那些喜爱吃干果的朋友
          <br />
          如果您对我们有兴趣，进来看一下，也许就有你喜欢的东西
        </p>
      </div>
    </div>
  </div>

<hr />
