<h1> 互换人生体验 </h1>

<div class="jumbotron">
    <h1 class="title">交换人生</h1>
    <p class="slogan"> 交换金钱或交换物资算什么?
    <br>
     我们来交换人生吧!
    </p>
    <p class="lead"><a class="btn btn-lg btn-primary" href="/products">开启新世界</a></p>
  </div>
