<div class="jumbotron">
<h2 class="slogan">把西厨请回家！</h2>
<p class="advertisement">西餐厅太贵？回家又不会做？
  <br>
  赶快来<i class="title" ><%= link_to('西厨私享', chefs_path, :style => "color: #FFFFAA")%></i>选择您的专属大厨!
  <br>
  从农场到餐桌，全部交给我们！
  <br>
  您只需要选择喜爱的菜式和心仪的厨师，
  <br>
  即可在家享受星级西厨的精致菜品！
  <!-- <p class="lead"><a class="btn btn-lg btn-danger" href="#">即刻定制</a></p> -->
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
<div class="slideshow-container">
    <div class="mySlide">
        <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcqczymmkmj30ff0apdi9.jpg" width="500" height="345">
    </div>
    <div class="mySlide">
        <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcr64aq0dij30ju0d20uh.jpg" width="500" height="345">
    </div>
    <div class="mySlide">
        <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcs80i04o2j31kw11ykjv.jpg" width="500" height="345">
    </div>
  <div class="mySlide">
        <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcs86z1sr4j31kw11yb2e.jpg" width="500" height="345">
    </div>
  <div class="mySlide">
        <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcs830vld6j31kw11xu13.jpg" width="500" height="345">
    </div>
  <div class="mySlide">
        <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcs7krmo1bj30h40cu0ty.jpg" width="500" height="345">
    </div>
<div style="text-align: center;">
    <span class="dot" ></span>
    <span class="dot" ></span>
    <span class="dot" ></span>
  <span class="dot" ></span>
  <span class="dot" ></span>
  <span class="dot" ></span>
</div>
</div>
</div>
<h4 class="point">个性定制</h4>
<p class="text">不喜欢洋葱？喜欢多一点蒜泥？
<br>我们的私厨会花时间了解您的个人需求和喜好
<br>以此来创作专属您的美味佳肴。
<h4 class="point">原料采购</h4>
<p class="text">没时间逛超市？或者不知道如何采买适合的原料？
<br>我们经验丰富的私厨会在到达您家之前采买好最新鲜的食材。
<h4 class="point">视觉享受</h4>
<p class="text">想知道每一道高颜值的菜品是如何出品的吗？
<br>您可以在等餐的同时享受我们私厨的精湛技艺。
<h4 class="point">餐后保洁</h4>
<p class="text">担心家里没有合适的餐具？担心餐后保洁？
<br>我们的私厨会带上他们专用的餐具并在离开的时候还您一个整洁的厨房。
<br>
<br>
</div>
</div>
   <h4>本周热门私厨</h4>
   <hr>
<section id="chef">
  <div class="container">
   <div class="row">
     <%= render :partial => "chef_item", :collection => @chefs, :as => :chef %>
   </div>
  </div>
  <div class="pull-right" style="margin-right: 50px; margin-top: 50px;">
    <%= link_to('更多私厨...', chefs_path, :style => "color: black") %>
  </div>
 </section>
 <script type="text/javascript">
    var slideIndex = 0;
    showSlide();
    function showSlide() {
        var i;
        var slides = document.getElementsByClassName("mySlide");
        var dots = document.getElementsByClassName("dot");
        var len = slides.length;
        for (i = 0; i < slides.length; i++) {
           slides[i].style.display = "none";
           dots[i].className = dots[i].className.replace(" active-slide", "");
        }
        slideIndex++;
        if (slideIndex> len) {slideIndex = 1;}
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active-slide";
        setTimeout(showSlide, 2000); // Change image every 2 seconds
    }
 </script>
