<h1> 艺术人生 </h1>

<div class="jumbotron">
    <h1 class="title">请大师回家</h1>
    <p class="slogan">
    <br>
     艺术视角
    </p>
    <p class="lead"><a class="btn btn-lg btn-primary" href="/products">开启新世界</a></p>
  </div>
