
<div class="bg-container">
  <div class="bg-cover jumbotron">
      <div>
					<h6 class="tagline" color="white" data-skrollex="" data-sk-group="">
						一个专为热爱改装跑车人士打造的专业电商平台
					</h6>
					<h1 class="callout-headline" data-skrollex="" data-sk-group="">
						<span data-skrollex="" data-sk-group="" data-delay=".5">酷</span><br/>
          </h1>
          <h3 class="callout-headline" data-skrollex="" data-sk-group="">
            <span data-skrollex="" data-sk-group="" data-delay=".7">不仅仅是一辆车</span><br/>
					</h3>
					<a data-skrollex="" data-sk-group="" href="/" class="btn btn--light link-tracking" data-gtm-page="Homepage" data-gtm-module="Make It Rain" data-gtm-link="Shop Weatherproof">
						点击查看详情
					     <span class="btn-line"></span>
          </a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>  <br>
            <br>
            <br>
            <br>  <br>
              <br>
              <br>
              <br>
        </div>
      </div>
    </div>


  <div class="jumbotron2">
    <div>
    <h1>购车, 改装 & 保养 </h1>
      <p>一个专为热爱改装跑车人士打造的专业电商平台超过20年的跑车行业经验为您提供全方位的贴心服务</p>
  </div>


  <div class="container">

      <div class="row">
      	<div class="col-lg-4">
      				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
  						<p style="text-align:center;">
  							<img style="height: 200px !important;" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fd1hh4xt48j30wo0ig7wh.jpg" class="img-responsive" alt="">
  						</p>
  						<div class="caption">
  							<div class="blur"></div>
  							<div class="caption-text">
  								<h3 style="border-top:2px solid #cc092f; border-bottom:2px solid #cc092f; padding:10px;color:">法拉利</h3>
  								<p>只要提到汽车科技的先进水平，大家就会想到红色的法拉利。法拉利车集技术性、艺术性于一体，技艺精湛、品质上乘，是富有阶层的象征，堪称车族的稀世珍品...</p>
  								<a class=" btn btn-default" href="https://plus.google.com/u/0/100371904807783155711/posts" target="_blank"><span class="glyphicon glyphicon-plus"> 立即浏览选购</span></a>
  							</div>
  						</div>
  					</div>

  	    </div>
          <div class="col-lg-4">
          			<div class="cuadro_intro_hover " style="background-color:#cccccc;">
  						<p style="text-align:center;">
  							<img style="height: 200px !important;" src="http://media.caranddriver.com/images/13q1/494258/2013-lamborghini-aventador-lp700-4-roadster-first-drive-review-car-and-driver-photo-500213-s-450x274.jpg" class="img-responsive" alt="">
  						</p>
  						<div class="caption">
  							<div class="blur"></div>
  							<div class="caption-text">
  								<h3 style="border-top:2px solid #cc092f; border-bottom:2px solid #cc092f; padding:10px;">兰博基尼</h3>
  								<p>它是举世难得的艺术品,意大利最具声望的设计大师甘迪尼为其倾注一生的心血。每一个棱角、每一道线条都是如此完美，都在默默诠释兰博基尼近乎原始的美...</p>
  								<a class=" btn btn-default" href="https://plus.google.com/u/0/100371904807783155711/posts" target="_blank"><span class="glyphicon glyphicon-plus"> 立即浏览选购</span></a>
  							</div>
  						</div>
  					</div>

  	    </div>
          <div class="col-lg-4">
          			<div class="cuadro_intro_hover" style="background-color:#cccccc;">
  						<p style="text-align:center;">
  							<img style="height: 200px !important;" src="http://i7.download.fd.pchome.net/t_1024x768/g1/M00/08/0D/ooYBAFOIW-iIWkPSAAgBcBvY2PkAABkQgPntHQACAGI829.jpg" class="img-responsive" alt="">
  						</p>
  						<div class="caption">
  							<div class="blur"></div>
  							<div class="caption-text">
  								<h3 style="border-top:2px solid #cc092f; border-bottom:2px solid #cc092f; padding:10px;">保时捷</h3>
  								<p>从1963年第一部保时捷911的诞生到现在50多年过去了，经典的后置引擎和已经成为传奇的完美线条。当引擎轰鸣声响起，那一刻您会明白，你的世界需要怎样的跑车...</p>
  								<a class=" btn btn-default" href="https://plus.google.com/u/0/100371904807783155711/posts" target="_blank"><span class="glyphicon glyphicon-plus"> 立即浏览选购</span></a>
  							</div>
  						</div>
  					</div>

  	    </div>

      </div>
  </div>
</div>




<div class="container">

            <div class="row row-margin-bottom">
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row ">
                        <div class="col-md-12">
                            <img class="lib-img-show" src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd1l1jvadgj30gb0m57kr.jpg">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 no-padding lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row ">

                        <div class="col-md-12">
                          <span class="tagline sk-showing" data-skrollex="" data-sk-group="" style="opacity: 1;">爱车改造计划</span>
                          <h3 class="callout-headline sk-showing" data-skrollex="" data-sk-group="" style="opacity: 1;">改装，<br>不再瞎折腾</h3>
                          <p data-skrollex="" data-sk-group="" class="sk-showing" style="opacity: 1;">跑车下单后，我们的专业技术团队将给您提供一整套的改装计划，全方位为您解答改装的疑惑，打造出适合您个性的超级跑车</p>
                          <a href="/" class="btn btn-alt link-tracking sk-showing" data-skrollex="" data-sk-group="" data-gtm-page="homepage" data-gtm-module="Storm Cobra 2.0" data-gtm-link="B: Shop Storm Cobra" style="opacity: 1;">查看详情<span class="btn-line"></span></a>

                            <div class="lib-row lib-header">
                                跑车改造计划
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                跑车下单后，我们的专业技术团队将给您提供一整套的改装计划，全方位为您解答改装的疑惑，打造出适合您个性的超级跑车
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<div class="jumbotron2">




<div class="custom-callout-banner banner dark dark-texture snippet mt10 mb10 sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" data-animate-fade="" style="opacity: 1;">
	<div class="container">
    <div class="col-md-5 lib-item" data-category="view">
		<div class="callout custom-callout">
			<header class="section-header mb0">
        <br>
        <br>
        <span class="tagline sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" style="opacity: 1;">线上沟通交流，上门试乘试驾</span>
				<h3 class="callout-headline sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" style="opacity: 1;">官方授权正品<br>完美的售后保障</h3>
				<p data-skrollex="" data-sk-group="" class="sk-showing sk-viewport-enter" style="opacity: 1;">
          看到心水的跑车后，您只需轻轻一按”试驾“”，该跑车即刻抵达您家，让你足不出户享受4s店的尊贵服务。爱车下单后，拥有20年技术经验的售后团队将给您带来前所未有的贴心服务。
				</p>
				<a href="/" class="btn btn-alt sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" data-gtm-page="Homepage" data-gtm-module="Yalta 2.0 Backpack" data-gtm-link="Shop Yalta 2.0" style="opacity: 1;">Shop Yalta 2.0<span class="btn-line"></span></a>
			</header>
		</div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3 no-padding lib-item" >

		<a href="/">
			<img class="lib-img-show" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd1nyzn5enj30gb08daf5.jpg" alt="Yalta 2.0 Backpack" data-skrollex="" data-sk-group="" class="sk-showing sk-viewport-enter" style="opacity: 1;">
		</a>

</div>
</div>
</div>
</div>


<div class="container">

            <div class="row row-margin-bottom">
              <div class="col-md-5 no-padding lib-item" data-category="ui">
                  <div class="lib-panel">
                      <div class="row ">

                          <div class="col-md-12">

                              <div class="lib-row lib-header">
                                酷跑社区

                                  <div class="lib-header-seperator"></div>
                              </div>
                              <div class="lib-row lib-desc">
                                交流社区，<br>
                                一个就好<br>
                                专业级跑车论坛，交友，交流，切磋，一切尽在其中
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row ">
                        <div class="col-md-12">
                            <img class="lib-img-show" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fd1n2qtqunj30jb0p1e5b.jpg">
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
<br>
<br>
<br>
