

<style>
.page2 {
  background-color:white;
  max-width:1400px;
  margin-left:auto;
  margin-right:auto;
  /*margin-bottom: 50px;
  border-radius:10px;*/
}
</style>








<div class="page2">

<img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd30hxrrnsj31bc0oy4qq.jpg"  class="bg" style="width:100%">










  <!--其实可以改成旋转木马 Container (Portfolio Section) -->
   <div class="container-fluid text-align:left ">
     <br>

     <h2>&nbsp;&nbsp;  Best Selection</h2>

    </div>


 <html>


 <!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<!--  这个就是外部样式表，可以应用到很多页面 -->
 <!-- <style>
 body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
 .w3-sidenav a {padding:20px}
 </style> -->
<!-- 下面这个就是内联样式，用 style 来定义，应用只到个别元素 -->
 <!-- <div class="w3-main w3-content w3-padding" style="margin-top:100px">
   <img src="https://lumiere-a.akamaihd.net/v1/images/open-uri20160812-3094-zncik4_f4cac6fe.jpeg?region=0%2C0%2C1536%2C480" >
 </div> -->
 <!-- !PAGE CONTENT! -->
 <div class="w3-main w3-content w3-padding" style="max-width:1400px;margin-top:10px">

   <!-- First Photo Grid-->
   <div class="w3-row-padding w3-padding-16 w3-center" >
     <div class="w3-quarter">
       <img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5373/5373517_sd.jpg;maxHeight=550;maxWidth=642"  style="width:90%">
       <!-- <h3>&nbsp</h3>
       <big>负重钢丝跳绳</big> -->
     </div>
     <div class="w3-quarter">
       <img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/6364/6364688_ra.jpg;maxHeight=550;maxWidth=642"  style="width:90%">
       <!-- <h3>&nbsp</h3>
       <big>奥义瑜伽垫</big> -->
     </div>
     <div class="w3-quarter">
       <img src="http://www.images-iherb.com/v/BIU-00302-1.jpg"  style="width:90%">
       <!-- <h3>&nbsp</h3>
       <big>家用小哑铃</big> -->
     </div>
     <div class="w3-quarter">
       <img src="http://www.images-iherb.com/v/TRA-00032-5.jpg"  style="width:90%">
       <!-- <h3>&nbsp</h3>
       <big>通用健腹轮</big> -->
     </div>
   </div>

 </html>

<hr>
</div>


  <html>

<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

<!-- Page content -->
<div class="w3-content" style="max-width:1800px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://picjumbo.imgix.net/HNCK2000.jpg?q=40&w=1650&sharp=30" class="w3-round w3-image " alt="Table Setting" width="600" height="750">
    </div>

    <!-- <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://rocdoraemon.000webhostapp.com/character/nobita_mes.gif" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
   </div> 透明效果就是多了个 w3-opacity-min -->

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">User Story</h1><br>
      <h5 class="w3-center">Tradition since  1999</h5>
      <p class="w3-large">&nbsp;&nbsp;&nbsp;&nbsp;The Catering was founded in blabla by Ms.Linda in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

  <hr><!-- 水平线 -->

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Fitness Diet</h1><br>
      <h4>One meal a day</h4>
      <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br>

      <h4>Honey Almond Granola with Fruits</h4>
      <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>


      <h4>Blueberry Pancakes</h4>
      <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>
    </div>

    <div class="w3-col l6 w3-padding-large">
      <img src="https://picjumbo.imgix.net/HNCK1353.jpg?q=40&w=1650&sharp=30" class="w3-round w3-image" alt="Menu" width="600" height="750">
    </div>
  </div>
</div>
</div>


</body>
</html>

<!-- </body>
</html> -->

</div>
