<div class="container-fluid bg-2">
    <div class="display-text-3" style="margin-bottom: 30px;">
        <h2>Google Home</h2>
    </div>
    <p class="body-text-2">让谷歌智能助手解放你的双手</p>
    <div class="text-center">
        <img src="https://lh3.googleusercontent.com/Nu3a6F80WfixUqf_ec_vgXy_c0-0r4VLJRXjVFF_X_CIilEu8B9fT35qyTEj_PEsKw=rw">

    </div>
</div>
<div class="container-fluid bg-2">
    <div class="display-text-3">
        <h2>Pixel</h2>
    </div>
    <p class="body-text-2">首款内置只能谷歌助理的手机</p>
    <div class="text-center">
        <img src="https://lh3.googleusercontent.com/WgEq1QwTbGaUHiIxoElQhp5uvYVR5tLAXlfza4IV9TLZULA0Ti1zxN0tsCBWd_F3vEw=rw">
    </div>
</div>
