          <div class="box" >
             <!-- <h1 class="title">小精选</h1> -->
             <!-- <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
             <br>
             我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
             <br>
              凭借自己的努力和天份也会变 Winner
             </p> -->
             <!-- <p class="lead"><a class="btn btn-lg btn-danger" href="/products">马上挑选</a></p> -->
           </div>

      <!-- 首饰 -->
      <div class='container'>
        <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1ffw25fmwe0j30x203n0ss.jpg"  alt="分割线" />
      </div>

      <div class="garments">
        <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffw27pnpkfj30u00dwabb.jpg"  alt="ACC" class="img-responsive" width="800" />
      </div>
      <!-- Container (What's news) -->

      <div class="container bg-grey">
       <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffwosgzujgj30x203ndfv.jpg"  alt="新品" />
       <div class="row text-center">
         <div class="col-sm-4">
           <div class="thumbnail">
             <a href = "products/1"><img src="http://ww4.sinaimg.cn/large/006tKfTcgy1ffw2p230haj30u00u077i.jpg" alt="earring" width="600" height="450" ></a>
             <p><strong>印第安风格耳坠</strong></p>
             <p>商品来自韩国独立设计师</p>
           </div>
         </div>
         <div class="col-sm-4">
           <div class="thumbnail">
              <a href = "products/2"><img src="http://ww1.sinaimg.cn/large/006tKfTcgy1ffw2mfzxinj30u00u0gne.jpg" alt="earring" width="600" height="450"></a>
             <p><strong>Twice同款耳环</strong></p>
             <p>商品来自韩国独立设计师</p>
           </div>
         </div>
         <div class="col-sm-4">
           <div class="thumbnail">
              <a href = "products/3"><img src="http://ww1.sinaimg.cn/large/006tKfTcgy1ffw2mjknvlj30u00u0wfi.jpg" alt="Ring" width="600" height="450"></a>
             <p><strong>Girl's Day同款戒指</strong></p>
             <p>商品来自韩国独立设计师</p>
           </div>
         </div>
       </div>
      </div>

      <!-- 球鞋 -->
      <div class='container'>
        <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1ffw25fmwe0j30x203n0ss.jpg"  alt="分割线" >
      </div>

      <div class="garments">
        <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffw2ye1u28j30m80aaq4a.jpg"  alt="球鞋" class="img-responsive" width="800">
      </div>
      <!-- Container (What's news) -->
      <div class="container bg-grey">
       <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffwosgzujgj30x203ndfv.jpg"  alt="新品" />
       <div class="row text-center">
         <div class="col-sm-4">
           <div class="thumbnail">
             <a href = "products/4"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffwp0o1o5fj30rs112t9x.jpg" alt="earring" width="600" height="450"></a>
             <p><strong>肉粉色板鞋</strong></p>
             <p>百搭小能手</p>
           </div>
         </div>
         <div class="col-sm-4">
           <div class="thumbnail">
              <a href = "products/5"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffwp4c5lh2j30rs112dgt.jpg" alt="earring" width="600" height="450"></a>
             <p><strong>白色板鞋</strong></p>
             <p>简洁百搭，材质环保</p>
           </div>
         </div>
         <div class="col-sm-4">
           <div class="thumbnail">
              <a href = "products/6"><img src="http://ww3.sinaimg.cn/large/006tNc79gy1ffwp0denaij30rs112abd.jpg" alt="Ring" width="600" height="450"></a>
             <p><strong>黑色色板鞋</strong></p>
             <p>悄悄内增高</p>
           </div>
         </div>
       </div>
      </div>
