<div class="jumbotron" >
   <h1 class="title">冒险之旅</h1>
   <!-- <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
   <br>
   我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
   <br>
    凭借自己的努力和天份也会变 Winner
   </p> -->
   <p class="lead"><a class="btn btn-lg btn-danger" href="/products">马上冒险</a></p>
 </div>

<hr>
<!-- Container (What's news) -->
<div class="container bg-grey">
 <h2 class= "text-left">What's New</h2><br>
 <div class="row text-center">
   <div class="col-sm-4">
     <div class="thumbnail">
       <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffuwg7752pj30p00p078g.jpg" alt="Citybag" width="600 height="450">
       <p><strong>Paris</strong></p>
       <p>Yes, we built Paris</p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="thumbnail">
        <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffuwg7752pj30p00p078g.jpg" alt="Citybag" width="600 height="450">
       <p><strong>New York</strong></p>
       <p>We built New York</p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="thumbnail">
        <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffuwg7752pj30p00p078g.jpg" alt="Citybag" width="600 height="450">
       <p><strong>San Francisco</strong></p>
       <p>Yes, San Fran is ours</p>
     </div>
   </div>
 </div>
</div>

<hr>

<!-- Container (Game relevant) -->

<div class="container bg-grey">

 <div class="row">
   <div class="col-xs-8 col-sm-8 col-md-8">
     <div class="left">
         <h3 class="name">新品首发<small class="frontName">Warm me up, 更适合行走的雪地靴</small></h3>
     </div>
   </div>
   <div class="col-xs-4 col-sm-4 col-md-4">
     <div class="right">
         <a class="getMore" href="/all">更多新品  &gt;</a>
     </div>
   </div>
 </div>

 <div class="row text-center">
   <div class="col-sm-4">
     <div class="thumbnail">
       <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ffqzxiej7hj305204mab5.jpg" alt="Paris" width="400" height="300">
       <p><strong>Paris</strong></p>
       <p>Yes, we built Paris</p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="thumbnail">
       <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ffqzxiej7hj305204mab5.jpg" alt="New York" width="400" height="300">
       <p><strong>New York</strong></p>
       <p>We built New York</p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="thumbnail">
       <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ffqzxiej7hj305204mab5.jpg" alt="San Francisco" width="400" height="300">
       <p><strong>San Francisco</strong></p>
       <p>Yes, San Fran is ours</p>
     </div>
   </div>
 </div>
</div>
