
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">

</head>

</div>
<!-- Add this css File in head tag-->
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->


       <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

           <!-- Indicators -->
           <ol class="carousel-indicators">
               <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper For Slides -->
           <div class="carousel-inner" role="listbox">

               <!-- Third Slide -->
               <div class="item active">
                   <!-- Slide Background -->
                   <video preload="auto" autoplay="" loop="">
                              <source src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.mp4" type="video/mp4">
                              <source src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.webm" type="video/webm">

                          </video>
                   <div class="bs-slider-overlay"></div>

                   <div class="container">
                       <div class="row">
                           <!-- Slide Text Layer -->
                           <div class="slide-text slide_style_left">
                               <h1 data-animation="animated zoomInRight">野兽饮食</h1>
                               <p data-animation="animated fadeInLeft">专注无麸质饮食，为您健康注入新能量</p>
                               <a href="/products"  class="btn btn-default" data-animation="animated fadeInLeft">健康菜单</a>
                               <a href="about"  class="btn btn-primary" data-animation="animated fadeInRight">无麸质理念</a>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Second Slide -->
               <div class="item">

                   <!-- Slide Background -->
      <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/DXjpb7SFi3s?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_center">
                       <h1 data-animation="animated flipInX">Bootstrap touch slider</h1>
                       <p data-animation="animated lightSpeedIn">Make Bootstrap Better together.</p>
                       <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a>
                       <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Third Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="https://images.pexels.com/photos/144345/pexels-photo-144345.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_right">
                       <h1 data-animation="animated zoomInLeft">Beautiful Animations</h1>
                       <p data-animation="animated fadeInRight">Lots of css3 Animations to make slide beautiful .</p>
                       <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                       <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a>
                   </div>
               </div>
               <!-- End of Slide -->


           </div><!-- End of Wrapper For Slides -->

           <!-- Left Control -->
           <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
               <span class="fa fa-angle-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
           </a>

           <!-- Right Control -->
           <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
               <span class="fa fa-angle-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
           </a>

       </div> <!-- End  bootstrap-touch-slider Slider -->


      <section class="story-box">
            <div class="row">
              <div style="text-align: center;margin-top: 30px; margin-bottom:10px">
                <h2>达人故事</h2>
                <div class="short-line"></div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-1">

                    <img src="/assets/Sanna_Luoto.png" alt="Jimmy">
                  </div>
                  <div class="col-md-7">
                    <h3>Sanna——「无麸质中国」的创始人</h3>
                    <p>Sanna创建了无麸质中国的网站；在网站上，她与大家分享在中国进行无麸质饮食的方法，并收录了中国能提供无麸质饮食的餐厅和食品供应商。</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-7 col-md-offset-1">
                    <h3>木森—— 「无麸质科普」中国第一人</h3>
                    <p>如果我有能力，我一定会为我们这群人提供安全、优质的无麸质产品——而不是遍布欧美市场的，打着无麸质旗号的垃圾食品。</p>
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/museng.png" alt="Anndo">
                  </div>
                </div>
              </div>
            </div>
          </section>

        <!DOCTYPE html>
        <html lang="en">
        <head>
          <title>Bootstrap Example</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>

          <div style="text-align: center;margin-top: 30px; margin-bottom:10px">
          <h2>精选推荐</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="/2" >
                  <img src="/assets/yangpai.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <p>澳洲羊排素材沙拉</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="/assets/niupai.jpg" target="_blank">
                  <img src="/assets/niupai.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                    <p>新西兰黑椒牛排</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="/assets/sanwenyu.jpg" target="_blank">
                  <img src="/assets/sanwenyu.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                    <p>烟熏三文鱼</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        </body>
        </html>




         <div style="text-align: center;margin-top: 150px; margin-bottom:100px"> <h3>关于野兽生活 </a> </h3>  坚持传播真正健康的饮食观念，做正确的事情，愿所有麸质不耐受人士被这个世界温柔以待  </a></div>
