<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

</head>

<body>
 <div class="container"
  <div class="header header-filter">
    <section class="intro">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="intro-content">
    <!-- <div class="jumbotron"> -->
        <h1>神说，要有光。</h1>
        <p class="lead"><%= link_to products_path, class: "btn btn-danger btn-lg btn-round btn-raised" do %>
             <%= fa_icon("play", text: "开始上课") %>
           <% end %></p>

          </div>
        </div>
      </div>
    </section>
</div>

 <div class="main">
    <section class="sec-aboutus">
      <h2 class="section-title">关于我们</h2>
      <div class="short-line"></div>
      <p><strong>子曰：己欲立而立人，己欲达而达人。
        </strong></p>
      <p>作为最好用的中学生教育平台，
        <br>达人课程是星星之火，可以点燃你的人生。
        <br>我们期待与您一起改变世界。</p>

      <div class="container-fluid text-center">

        <div class="row text-center">
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg6k3c2ghuj31hc0zkwnp.jpg" >
              <p><strong>小达深夜问</strong></p>
              <p>大声说出你的故事。

            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg6k3reu49j31hc0zkk4x.jpg" >
              <p><strong>精品微课</strong></p>
              <p>随时看，随心学。

            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg6k4gq9m0j31kw11y4qt.jpg" >
              <p><strong>达人工作室</strong></p>
              <p>与名师面对面。

            </div>
          </div>
      </div>
    </div>
    </section>

    <!-- 轮播 -->
    <section class="sec-customers">
      <h2 class="section-title">达人和她的朋友们</h2>
      <div class="short-line"></div>
      <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

      	<ol class="carousel-indicators">
      		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      		<li data-target="#myCarousel" data-slide-to="1"></li>
      		<li data-target="#myCarousel" data-slide-to="2"></li>
      	</ol>

      	<div class="carousel-inner" role="listbox">
      		<div class="item active">
      		<h4>“达人，你必有一个锦绣的前程”。
            <br><img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff76b96zj3j30au09sdnv.jpg" class="img-circle">
            <br><span style="font-style:normal;">许岑，雅思名师</span></h4>
      		</div>
      		<div class="item">
      			 <h4>"One word... WOW!!"
               <br><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff2ii84erqj306p05tt8r.jpg" class="img-circle">
               <br><span style="font-style:normal;">Lufy，One Piece</span></h4>
      		</div>
      		<div class="item">
      			<h4>"Could I... BE any more happy with this ?"
              <br><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff2p7c7p2yj30i20jctja.jpg" class="img-circle">
              <br><span style="font-style:normal;">Chandler Bing, Firends</span></h4>
      		</div>
      	</div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
      </div>
    </section>

    <!-- Popular Job Categories -->
      <section class="sec-species">
          <div class="container-fluid text-center">
            <div class="row text-center">
            <div class="col-lg-12 ">
              <h2 class="section-title">必修课程</h2>
              <div class="short-line"></div>
    				</div>



            <div class="col-lg-12  clearfix" id="industries-galery">
              <div class=" col-xs-12 col-sm-3">
                <img alt="icon chinese" src="http://ww4.sinaimg.cn/large/006tKfTcgy1fg6l63oasuj31hc0wywo4.jpg">
                <h4><strong>语文</strong></h>
              </div>

              <div class="col-xs-12 col-sm-3">
                <img alt="icon study" src="http://ww3.sinaimg.cn/large/006tKfTcgy1fg6l5p08xej31hc147ni4.jpg">
                <h4><strong>化学</strong></h4>
            </div>

              <div class="col-xs-12 col-sm-3">
                <img alt="icon english" src="http://ww4.sinaimg.cn/large/006tKfTcgy1fg6l5f754vj31hc0zk100.jpg">
                <h4><strong>英语</strong></h4>
              </div>

              <div class="col-xs-12 col-sm-3">
                <img alt="icon amusement" src="http://ww3.sinaimg.cn/large/006tKfTcgy1fg6l5tphfnj31hc0zkhca.jpg">
                <h4><strong>历史</strong></h4>
              </div>

            </div>
       </div>
     </div>
     <div >
     <a class="pull-right morespan" href="/products">more &gt;</a>
   </div>
   </section>
</div>
</div>


</body>
</html>
