<!--轮播图 -->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>这是一个让你不忍心下单的购物网站</h1>
            <h3> </h3>
        </hgroup>
        <!-- <button class="btn btn-hero btn-lg" role="button">开始购物</button> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>这是一个不能随意买买买的购物网站</h1>
            <h3> </h3>
        </hgroup>
        <!-- <button class="btn btn-hero btn-lg" role="button">开始购物</button> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>这关乎你我的生存环境</h1>
            <h3> </h3>
        </hgroup>
        <!-- <button class="btn btn-hero btn-lg" role="button">开始购物</button> -->
      </div>
    </div>
  </div>
</div


<!-- middle -->

<div class="carousel-reviews broun-block">
    <div class="container">
        <div class="row">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="item active">
                	    <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a title="" href="/products">穿山甲鳞片</a>
							    <div class="mark">推荐指数： <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
						        <p>在传统中药的角度中，穿山甲的鳞片据称有活血通经等的药用之效，其肉亦有进补作用。其药效尚未得到证明，这与犀角一样只属于传统迷信，其主要成分与人类指甲成分相近，同为角质。而且在非法捕猎的过程中为方便运送等理由，会为穿山甲注射各类型的镇定剂、兴奋剂及重金属等，令进食人士的肝肾功能受损 ...</p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel">
				                <img class="rel-img" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fda5bkdcyzj306r05sglx.jpg" />
								<a title="" href="/products">点击了解详情</a>
								<i> </i>
							</div>
						</div>
            			<div class="col-md-4 col-sm-6 hidden-xs">
						    <div class="block-text rel zmin">
						        <a title="" href="/products">北部白犀牛</a>
							    <div class="mark">推荐指数： <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
        						<p>世界上仅存3只北部白犀牛：一只已进入暮年的雄犀和两只雌犀一起，生活在肯尼亚的奥佩亚塔自然保护区内。三只犀牛在2009年被从王宫镇动物园移送到肯尼亚，它们成为拯救这一亚种的最后希望。然而这一计划也落空了。而其他的尝试，包括人工繁殖，目前也均告失败。王宫镇动物园的雄犀牛的精子被保存在柏林野生动物研究中心(IZW)。犀牛纳比雷的卵细胞和其他身体组织在其死后立即被提取并送往意大利一家专门的实验室。2016年5月北部白犀牛已宣布灭绝.</p>
					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
				            </div>
							<div class="person-text rel">
				                <img class="rel-img" alt="" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fd7saebe4yj30fa0a7jsb.jpg">
						        <a title="" href="/products">点击了解详情</a>
								<i></i>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
							<div class="block-text rel zmin">
								<a title="" href="/products">苏门答腊大象</a>
								<div class="mark">推荐指数： <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
    							<p>大象发挥关键作用的生态系统工程师，维护森林矿产资源丰富的空地上许多其他物种依赖，并提供一种重要土壤养分是在整个欧洲大陆各地。作为种子传播者，他们也有助于保持最大的树种，这恰巧是固碳最​​重要的。 </p>
								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
							</div>
							<div class="person-text rel">
								<img class="rel-img" alt="" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fda5gyub7rj307r051t8s.jpg">
								<a title="" href="products">点击了解详情</a>
								<i></i>
							</div>
						</div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a title="" href="/products">棱皮龟</a>
							    <div class="mark">推荐指数： <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
						        <p>栖息地的破坏，特别是湿地的丧失，已造成许多人口将下降到不可持续的水平。恢复努力在最稀有的物种作为宠物的国际贸易复杂化。这些龟卖个好价钱，这使得它很难为农村社区成员对经济暴利通过。它们被用来换取传统医学和肉类，以及，并通过新的病原体的传播受到伤害...</p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel">
								<img class="rel-img" alt="" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fda5i86romj307a05c3ym.jpg">
								<a title="" href="/products">点击了解详情</a>
								<i> </i>
							</div>
						</div>
            			<div class="col-md-4 col-sm-6 hidden-xs">
						    <div class="block-text rel zmin">
						        <a title="" href="/products">西部低地大猩猩</a>
							    <div class="mark">推荐指数： <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
        						<p>西部低地大猩猩是草食性的，有时会吃昆虫。它们是群居的，族群中有一头雄性领袖、5-7头雌性及幼猩猩，并可能有其他的雄性。"  </p>
					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
				            </div>
							<div class="person-text rel">
								<img class="rel-img" alt="" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fda5ips5ewj307i05774m.jpg">
						        <a title="" href="/products">点击了解详情</a>
								<i></i>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
							<div class="block-text rel zmin">
								<a title="" href="/products">小头鼠海豚</a>
								<div class="mark">推荐指数： <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
    							<p>加湾鼠海豚是加利福尼亚湾北部的特有物种，估计其数量不到300头，它们很可能在2018年永远消失。由于栖地范围狭小，再加上容易被渔网困住，这些都是其致危的主要原因。 </p>
								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
							</div>
							<div class="person-text rel">
								<img class="rel-img" alt="" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fda5juq5e9j307o053q38.jpg">
								<a title="" href="/products">点击了解详情</a>
								<i></i>
							</div>
						</div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a title="" href="/products">华南虎</a>
							    <div class="mark">推荐指数： <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
						        <p>华南虎头圆，耳短，四肢粗大有力，尾较长，胸腹部杂有较多的乳白色，全身橙黄色并布满黑色横纹。毛皮上有既短又窄的条纹，条纹的间距较孟加拉虎、西伯利亚虎的大，体侧还常出现菱形纹，在亚种老虎中体型较小。</p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel">
								<img class="rel-img" alt="" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fda5kks30rj307c05bmxj.jpg">
								<a title="" href="/products">点击了解详情</a>
								<i> </i>
							</div>
						</div>
            			<div class="col-md-4 col-sm-6 hidden-xs">
						    <div class="block-text rel zmin">
						        <a title="" href="/products"> 熊猫 </a>
							    <div class="mark">推荐指数： <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
        						<p>全世界野生大熊猫不足1600只，属于中国国家一级保护动物。截止2011年10月，全国圈养大熊猫数量为333只。大熊猫最初是吃肉的，经过进化，99%的食物都是竹子了，但牙齿和消化道还保持原样，仍然划分为食肉目，发怒时危险性堪比其它熊种。野外大熊猫的寿命为18～20岁，圈养状态下可以超过30岁。  </p>
					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
				            </div>
							<div class="person-text rel">
								<img class="rel-img" alt="" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fda5l9f5oaj307n053t8o.jpg">
						        <a title="" href="/products">点击了解详情</a>
								<i> </i>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
							<div class="block-text rel zmin">
								<a title="" href="/products">灰鹦鹉</a>
								<div class="mark">推荐指数： <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
    							<p>属于大型鹦鹉，是典型的攀禽，对趾型足，两趾向前两趾向后，适合抓握，鸟喙强劲有力，可以食用硬壳果。尾巴短，头部圆，面部长毛，喜攀爬，不善飞翔。非洲灰鹦鹉是已知的几种可以和人类真正交谈的动物之一，这也使得它们成为知名度最高的宠物鸟之一。主食各类种子、坚果、水果、花蜜、浆果等。分布于非洲。 </p>
								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
							</div>
							<div class="person-text rel">
								<img class="rel-img" alt="" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fda5mg958rj307605f0sv.jpg">
								<a title="" href="/products">点击了解详情</a>
								<i></i>
							</div>
						</div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
