<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Home</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-CSS -->  <link rel="stylesheet" href="assets/bootstrap.min.css" 		 type="text/css" media="all">
<!-- Insex-Page.CSS --> <link rel="stylesheet" href="assets/style.css" 				 type="text/css" media="all">
<!-- Slider-CSS --> 	<link rel="stylesheet" href="assets/camera.css" id="camera-css" type="text/css" media="all">
<!-- Portfolio-CSS -->	<link rel="stylesheet" href="assets/swipebox.css"				 type="text/css" media="all">
<!-- //Custom-Stylesheet-Links -->

<!-- Fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"	   type="text/css" media="all">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700"			   type="text/css" media="all">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" type="text/css" media="all">
<!-- //Fonts -->

<!-- Supportive-JavaScript -->
<script src="assets/modernizr.js"></script>
<!-- //Supportive-JavaScript -->

</head>
<!-- //Head -->



<!-- Body -->
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">



	<!-- Header -->
	<div class="agileheaderw3ls" id="agilehomewthree">

		<!-- Navigation -->
		<section class="cd-section">
			<a class="cd-bouncy-nav-trigger" href="#" target="_self">MENU</a>
		</section>
		<div class="cd-bouncy-nav-modal">
			<nav>
				<ul class="cd-bouncy-nav">
					<li><a class="scroll" href="#agilehomewthree">HOME</a></li>
					<li><a class="scroll" href="#agileaboutaitsabout">ABOUT</a></li>
					<li><a class="scroll" href="#w3threespecialityw3ls">WORK</a></li>
					<li><a class="scroll" href="#skills">SKILLS</a></li>
					<li><a class="scroll" href="#portfolio">PORTFOLIO</a></li>

				</ul>
			</nav>
			<a href="" class="cd-close">Close modal</a>
		</div>
		<!-- //Navigation -->

		<!-- Slider -->
		<div class="w3slideraits">
			<div class="camera_wrap w3layouts agileits camera_magenta_skin" id="camera_wrap_2">
				<div data-src="images/slide-1.jpg" class="w3layouts agileits">
					<div class="camera_caption w3layouts agileits fadeFromBottom">
						<h3 class="w3layouts agileits">Hello, I am Alexander Li.</h3>
					</div>
				</div>
				<div class="w3layouts agileits" data-src="images/slide-2.jpg">
					<div class="camera_caption w3layouts agileits fadeFromBottom">
						<h3 class="w3layouts agileits">I am a Photographer</h3>
					</div>
				</div>
				<div data-src="images/slide-3.jpg" class="w3layouts agileits">
					<div class="camera_caption w3layouts agileits fadeFromBottom">
						<h3 class="w3layouts agileits">I Photograph Models and Nature</h3>
					</div>
				</div>
				<div class="w3layouts agileits" data-src="images/slide-4.jpg">
					<div class="camera_caption w3layouts agileits fadeFromBottom">
						<h3 class="w3layouts agileits">I Love Photography</h3>
					</div>
				</div>
				<div data-src="images/slide-5.jpg" class="w3layouts agileits">
					<div class="camera_caption w3layouts agileits fadeFromBottom">
						<h3 class="w3layouts agileits">Check Out My <a class="scroll" href="#portfolio">Portfolio</a> Below</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- //Slider -->

	</div>
	<!-- //Header -->



	<!-- About -->
	<div class="agileaboutaitsabout" id="agileaboutaitsabout">
		<div class="agileaboutaits">
			<div class="container">

				<div class="col-md-6 col-sm-6 agileaboutaits-grid agileaboutaits-info">
					<h1>About Me</h1>
					<P>I travel as often as possible making visual memories of moments in time.
            Knowing not everyone is blessed with seeing these sights in person, I decided to share my work with the world.
            I eschew fancy, expensive and cumbersome equipment, so my talent shines in spite of it, capturing images with a semi-pro camera and basic editing software.</P>

				<!-- Trigger the modal with a button -->
				<!-- <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">READ MORE<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button> -->
				</div>

				<div class="col-md-6 col-sm-6 agileaboutaits-grid agileaboutaits-image">
					<div class="agileaboutaits-image-1">
						<img src="images/about-1.jpg" alt="Couture">
					</div>
					<!-- <div class="agileaboutaits-image-2">
						<img src="images/about-2.jpg" alt="Couture">
					</div> -->
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>

				<!-- Tooltip -->
				<div class="tooltip-content">

					<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Alexander Li</h4>
								</div>
								<div class="modal-body">
									<img src="images/about-1.jpg" alt="Hitech Info">
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- //Tooltip -->

			</div>
		</div>
	</div>
	<!-- //About -->



	<!-- Speciality -->
	<div class="w3threespecialityw3ls" id="w3threespecialityw3ls">
		<div class="container">

			<h2>What I Capture</h2>
			<div class="grid cs-style-3">
				<div class="col-md-4 col-sm-4 w3threespecialityw3ls-grid grid1">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/special-1.jpg" alt="Couture">
						</div>
						<figcaption>
							<h3>FASHION</h3>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-4 w3threespecialityw3ls-grid grid2">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/special-2.jpg" alt="Couture">
						</div>
						<figcaption>
							<h3>NATURE</h3>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-4 w3threespecialityw3ls-grid grid3">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/special-3.jpg" alt="Couture">
						</div>
						<figcaption>
							<h3>WEDDING</h3>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-4 w3threespecialityw3ls-grid grid4">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/special-4.jpg" alt="Couture">
						</div>
						<figcaption>
							<h3>TILT SHIFT</h3>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-4 w3threespecialityw3ls-grid grid5">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/special-5.jpg" alt="Couture">
						</div>
						<figcaption>
							<h3>MONOCHROME</h3>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-4 w3threespecialityw3ls-grid grid6">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/special-6.jpg" alt="Couture">
						</div>
						<figcaption>
							<h3>DOUBLE EXPOSURE</h3>
						</figcaption>
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>

		</div>
	</div>
	<!-- //Speciality -->

	<!-- Progressive-Effects -->
	<div class="progressive-effects" id="skills">
		<div class="container">

			<!-- Skills -->
			<div id="about-us" class="parallax">
				<h3>Skills</h3>

				<div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
					<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
						<p class="lead">Photography</p>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="90">90%</div>
						</div>
					</div>
					<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
						<p class="lead">Editing</p>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="80">80%</div>
						</div>
					</div>
					<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
						<p class="lead">Direction</p>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="85">85%</div>
						</div>
					</div>
					<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
						<p class="lead">Quality</p>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="95">95%</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Skills -->

			<!-- Stats -->
			<div class="stats">
				<h3>Stats</h3>

				<div class="stats-info">
					<div class="col-md-3 col-sm-3 stats-grid stats-grid-1">
						<div class="stats-img">
							<img src="images/s1.png" alt="Corsa Racer">
						</div>
						<div class='numscroller counter numscroller-big-bottom' data-slno='1' data-min='0' data-max='7000' data-delay='.5' data-increment=4>7000</div>
						<p>Happy Clients</p>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid stats-grid-2">
						<div class="stats-img">
							<img src="images/s2.png" alt="Corsa Racer">
						</div>
						<div class='numscroller counter numscroller-big-bottom' data-slno='1' data-min='0' data-max='170' data-delay='8' data-increment="1">170</div>
						<p>Projects</p>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid stats-grid-3">
						<div class="stats-img">
							<img src="images/s3.png" alt="Corsa Racer">
						</div>
						<div class='numscroller counter numscroller-big-bottom' data-slno='1' data-min='0' data-max='19000' data-delay='.5' data-increment="11">19000</div>
						<p>Followers</p>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid stats-grid-4">
						<div class="stats-img">
							<img src="images/s4.png" alt="Corsa Racer">
						</div>
						<div class='numscroller counter numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='8' data-increment="1">169</div>
						<p>Awards</p>
					</div>
					<div class="clearfix"></div>
				</div>

			</div>
			<!-- //Stats -->

		</div>
	</div>
	<!-- //Progressive-Effects -->

	<!-- Portfolio -->
	<div class="portfolio" id="portfolio">
	  <h3>Portfolio</h3>

	  <div class="tabs tabs-style-bar">
	    <nav>
	      <ul>
	        <li><a href="#section-bar-1" class="icon icon-box"><span>FASHION</span></a></li>
	        <li><a href="#section-bar-2" class="icon icon-display"><span>EVENTS</span></a></li>
	        <li><a href="#section-bar-3" class="icon icon-upload"><span>NATURE</span></a></li>
	        <li><a href="#section-bar-4" class="icon icon-tools"><span>MODELS</span></a></li>
	      </ul>
	    </nav>

	    <div class="content-wrap">

	      <!-- Tab-1 -->
	      <section id="section-bar-1" class="agileits w3layouts">
	        <h4>FASHION</h4>
	        <div class="gallery-grids">
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/fashion-1.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/fashion-1.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/fashion-2.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/fashion-2.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/fashion-3.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/fashion-3.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/fashion-4.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/fashion-4.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/fashion-5.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/fashion-5.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/fashion-6.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/fashion-6.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/fashion-7.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/fashion-7.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/fashion-8.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/fashion-8.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/fashion-9.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/fashion-9.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="clearfix"></div>
	        </div>
	      </section>
	      <!-- //Tab-1 -->

	      <!-- Tab-2 -->
	      <section id="section-bar-2" class="agileits w3layouts">
	        <h4>EVENTS</h4>
	        <div class="gallery-grids">
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/event-1.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/event-1.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/event-2.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/event-2.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/event-3.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/event-3.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/event-4.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/event-4.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/event-5.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/event-5.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/event-6.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/event-6.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/event-7.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/event-7.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/event-8.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/event-8.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/event-9.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/event-9.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="clearfix"></div>
	        </div>
	      </section>
	      <!-- //Tab-2 -->

	      <!-- Tab-3 -->
	      <section id="section-bar-3" class="agileits w3layouts">
	        <h4>NATURE</h4>
	        <div class="gallery-grids">
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/nature-1.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/nature-1.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/nature-2.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/nature-2.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/nature-3.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/nature-3.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/nature-4.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/nature-4.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/nature-5.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/nature-5.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	              <a href="images/nature-6.jpg" class="swipebox">
	                <figure class="effect-bubba">
	                  <img src="images/nature-6.jpg" alt="" class="img-responsive">
	                  <figcaption>
	                    <h4>Photography</h4>
	                  </figcaption>
	                </figure>
	              </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/nature-7.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/nature-7.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/nature-8.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/nature-8.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/nature-9.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/nature-9.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="clearfix"></div>
	        </div>
	      </section>
	      <!-- //Tab-3 -->

	      <!-- Tab-4 -->
	      <section id="section-bar-4" class="agileits w3layouts">
	        <h4>MODELS</h4>
	        <div class="gallery-grids">
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/model-1.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/model-1.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/model-2.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/model-2.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/model-3.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/model-3.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/model-4.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/model-4.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/model-5.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/model-5.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/model-6.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/model-6.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/model-7.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/model-7.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/model-8.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/model-8.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="col-md-4 col-sm-4 gallery-top">
	            <a href="images/model-9.jpg" class="swipebox">
	              <figure class="effect-bubba">
	                <img src="images/model-9.jpg" alt="" class="img-responsive">
	                <figcaption>
	                  <h4>Photography</h4>
	                </figcaption>
	              </figure>
	            </a>
	          </div>
	          <div class="clearfix"></div>
	        </div>
	      </section>
	      <!-- //Tab-4 -->

	    </div><!-- //Content -->
	  </div><!-- //Tabs -->
	</div>
	<!-- //Portfolio -->

<br>


	<!-- Map -->
		<div id="map"></div>
	<!-- //Map -->



	<!-- Booking -->
	<!-- <div class="w3layoutsbooking" id="contact">
		<div class="container">

			<h3>Book Your Project</h3>

			<div class="booking-form-aits">
				<form action="#" method="post">
					<input type="text" class="margin-right" Name="Name" placeholder="NAME" required="">
					<input type="email" Name="Email" placeholder="EMAIL" required="">
					<input type="text" class="margin-right" Name="Phone Number" placeholder="PHONE NUMBER" required="">
					<input type="text" Name="Place" placeholder="PLACE" required="">
					<textarea name="Message" placeholder="PROJECT DETAILS" required=""></textarea>
					<div class="send-button agileits w3layouts">
						<button class="btn btn-primary">SEND MESSAGE<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
					</div>
				</form>
			</div>

		</div>
	</div> -->
	<!-- //Booking -->

<br>

<!-- Footer -->
<div class="footer">
	<div class="container">

		<h3>Drop Me a Line</h3>
		<h5>Cupidatat film has been criticized in the pleasure of pain in pain who wants to be cillum nostrud exercise school district work but that advantage consequateu aliquip of her escape, no pay.</h5>

		<div class="footer-grids">

			<div class="col-md-3 col-sm-3 footer-grid footer-grid-1 address">
				<h4>Address</h4>
				<address>
					<ul>
						<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Acacia Building</li>
						<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 150 Kennedy Road</li>
						<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> WAN CHAI</li>
						<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> HONGKONG</li>
					</ul>
				</address>
			</div>

			<div class="col-md-2 col-sm-2 footer-grid footer-grid-2 phone">
				<h4>Phone</h4>
				<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +0 (852) 3661 1602</p>
				<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +0 (852) 3661 1600</p>
			</div>

			<div class="col-md-2 col-sm-2 footer-grid footer-grid-3 email">
				<h4>Email</h4>
				<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:mail@example.com"> info@example.com</a></p>
				<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:mail@example.com"> info@photos.com</a></p>
			</div>

			<!-- Newsletter -->
			<div class="col-md-5 col-sm-5 footer-grid footer-grid-4 newsletter">
				<h4>Newsletter</h4>
				<form action="#" method="post">
					<input type="text" placeholder="Email" name="Email" required="">
					<input type="submit" value="SUBSCRIBE">
				</form>
			</div>
			<!-- //Newsletter -->
			<div class="clearfix"></div>

		</div>



	</div>
</div>
<!-- //Footer -->




	<!-- Custom-JavaScript-File-Links -->

		<!-- Default-JavaScript -->   <script type="text/javascript" src="assets/jquery.min.js"></script>
		<!-- Bootstrap-JavaScript --> <script type="text/javascript" src="assets/bootstrap.min.js"></script>

		<!-- Slider-JavaScript-Files -->
			<script type="text/javascript" src="assets/jquery.easing.1.3.js"></script>
			<script type="text/javascript" src="assets/jquery.mobile.customized.min.js"></script>
			<script type="text/javascript" src="assets/camera.js"></script>
			<script>
				jQuery(function(){
					jQuery('#camera_wrap_2').camera({
						loader: 'bar',
						speed: 1000,
						pagination: false,
						thumbnails: false,
					});
				});
			</script>
		<!-- //Slider-JavaScript-Files -->

		<!-- Navigation-JavaScript -->
			<script src="assets/nav.js"></script>
		<!-- //Navigation-JavaScript -->

		<!-- Progressive-Effects-Animation-JavaScript -->
			<script type="text/javascript" src="assets/jquery.inview.min.js"></script>
			<script type="text/javascript" src="assets/wow.min.js"></script>
			<script type="text/javascript" src="assets/mousescroll.js"></script>
			<script type="text/javascript" src="assets/main.js"></script>
		<!-- //Progressive-Effects-Animation-JavaScript -->

		<!-- Stats-Number-Scroller-Animation-JavaScript -->
			<script src="assets/waypoints.min.js"></script>
			<script src="assets/counterup.min.js"></script>
			<script>
				jQuery(document).ready(function( $ ) {
					$('.counter').counterUp({
						delay: 10,
						time: 1000
					});
				});
			</script>
		<!-- //Stats-Number-Scroller-Animation-JavaScript -->

		<!-- Gallery-Tab-JavaScript -->
			<script src="assets/cbpFWTabs.js"></script>
			<script>
				(function() {
					[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
						new CBPFWTabs( el );
					});
				})();
			</script>
		<!-- //Gallery-Tab-JavaScript -->



		<!-- Map-JavaScript -->
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUEXlyegO69kPksKzgOWb8u6M6a3H_DOU"></script>
			<script type="text/javascript">
				google.maps.event.addDomListener(window, 'load', init);
				function init() {
					var mapOptions = {
						zoom: 11,
						center: new google.maps.LatLng(22.2789, 114.1617),
						styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
					};
					var mapElement = document.getElementById('map');
					var map = new google.maps.Map(mapElement, mapOptions);
					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(422.2789, 114.1617),
						map: map,
					});
				}
			</script>-
		<!-- //Map-JavaScript -->

		<!-- Smooth-Scrolling-JavaScript -->
			<script type="text/javascript" src="assets/move-top.js"></script>
			<script type="text/javascript" src="assets/easing.js"></script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll, .navbar li a, .footer li a").click(function(event){
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
			</script>
		<!-- //Smooth-Scrolling-JavaScript -->

	<!-- //Custom-JavaScript-File-Links -->



</body>
<!-- //Body -->



</html>
