<div class="container-fluid bg-1">
    <div class="display-text-1">
        <h2>Google Home</h2>
    </div>
    <p class="body-text-1">让谷歌智能助手解放你的双手</p>
    <br>
    <b class="price-text">￥699.00起 </b>
    <br>
    <br>
    <div>
        <%= link_to("了解详情","#", class:"btn btn-default") %>
    </div>
    <div class="text-center">
      <img src="http://i.imgur.com/k0uqWis.png">
        <!-- <img src="http://i.imgur.com/2TQWqiX.png"> -->
    </div>
</div>
<div class="container-fluid bg-1">
    <div class="display-text-1">
        <h2>Pixel</h2>
    </div>
    <p class="body-text-1">首款内置谷歌智能助理手机</p>
    <br>
    <b class="price-text">￥1299.00起 </b>
    <br>
    <br>
    <div>
        <%= link_to("了解详情","#", class:"btn btn-default") %>
    </div>
    <div class="text-center">
        <img src="http://i.imgur.com/tco9dIb.png">
    </div>
</div>
<div class="container-fluid bg-1">
    <div class="display-text-1">
        <h2>Google Wifi</h2>
    </div>
    <p class="body-text-1">家庭路由器智能解决方案</p>
    <br>
    <b class="price-text">￥699.00起 </b>
    <br>
    <br>
    <div>
        <%= link_to("了解详情","#", class:"btn btn-default") %>
    </div>
    <div class="text-center">
        <img src="http://i.imgur.com/ls5Wqr0.png">
    </div>
</div>
