
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="#">
      <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcupdd5uzij31400miwh2.jpg" alt="First slide">


<!-- Slide Text Layer -->

<div class="slide-text slide_style_center">
                    <h1 data-animation="animated flipInX" class="">想要不一样的自己？</h1>
                    <p data-animation="animated lightSpeedIn" class="">试试这里的造型</p>
                    <a href="/products" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">造型师作品</a>
                    <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInDown">立即加入</a>
                </div>



      <div class="carousel-caption">
<p class="lead"><a class="btn btn-lg btn-danger" href="/products">点我有惊喜</a></p>
      </div>
     </a>
    </div>
    <div class="item">
     <a href="#">
      <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcyhwjcktuj31400miahg.jpg" alt="Second slide">
      <div class="carousel-caption">
        <p class="lead"><a class="btn btn-lg btn-danger" href="/products">点我有惊喜</a></p>
      </div>
     </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcyi2tuwz4j312w0kl7bd.jpg" alt="Third slide">
        <div class="carousel-caption">
          <p class="lead"><a class="btn btn-lg btn-danger" href="/products">点我有惊喜</a></p>
        </div>
      </a>
    </div>
  </div>

 <a class="carousel-control left" href="#myCarousel" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
 </a>
 <a class="carousel-control right" href="#myCarousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
 </a>

  <div>

  </div>
</div>


<section id="company">
  <div class = "navbar-default">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="card hovercard ">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fczottc02zj30em0ffmzx.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3> 衣 </h3>
          </div>
        </div>
      </div>

      <div class="col-sm-4 ">
        <div class="card hovercard">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fczottc02zj30em0ffmzx.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">

            <h3> 食 </h3>
          </div>
        </div>
      </div>

      <div class="col-sm-4 ">
        <div class="card hovercard">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fczottc02zj30em0ffmzx.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3> 住 </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section>

</section>
