<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/tjs/bootstrap.min.js"></script>
</head>
<body>

<!-- 这是导航栏 -->
<div class="navbar bg-color1">
  <div class="navbarContent">
    <div class="navbarContent-left bg-color2"></div>
    <div class="navbarContent-right bg-color3"></div>
  </div>
</div>

<!-- 这是头部 -->

<div class="header">
  <div class="headerContent">
    <div class="headerContent-item headerContent-item1 bg-color1"></div>
    <div class="headerContent-item headerContent-item2 bg-color2"></div>
    <div class="headerContent-item headerContent-item3 bg-color3"></div>
  </div>
</div>

<!-- 这是菜单 -->

<div class="menu bg-color1">
  <div class="menuList">
    <div class="menuList-item bg-color2"></div>
    <div class="menuList-item bg-color3"></div>
    <div class="menuList-item bg-color4"></div>
    <div class="menuList-item bg-color5"></div>
  </div>
</div>

<!-- 这是轮播图 -->

<div class="row">
  <div class="container-fluid">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="https://ooo.0o0.ooo/2017/06/04/59338b057452f.png" alt="Screen Shot 2017-06-04 at 12.21.04 PM.png" style="width:100%;height:500px;">
          <div class="carousel-caption">
            <h3>泰国美食，无法抗拒！</h3>
            <p>来自美食之都的味蕾享受，好吃到让你尖叫！</p>
          </div>
        </div>

        <div class="item">
          <img src="https://ooo.0o0.ooo/2017/06/04/59338b5c0ab2f.jpg" alt="picture-3.jpg" style="width:100%;height:500px">
          <div class="carousel-caption">
            <h3>泰国香薰，绕梁三日！</h3>
            <p>扑面而来的自异域奢靡，让你沉醉到无法自拔!</p>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  </body>
  </html>

</div>

<!-- 这是排序 -->
