<html>
<head>
<!-- Add this css File in head tag-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>

<body>
  <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

              <!-- Indicators -->
              <ol class="carousel-indicators">
                  <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                  <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
              </ol>
       <div class="carousel-inner" role="listbox">
         <div class="item active">

           <img src="http://oqr2tkodq.bkt.clouddn.com/header.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                      <div class="bs-slider-overlay"></div>

                      <div class="container">
                          <div class="row">
                              <!-- Slide Text Layer -->
                              <div class="slide-text slide_style_left">
                                  <h1 data-animation="animated zoomInRight">邻里信息共享 让我们互帮互助 生活幸福 </h1>
                                  <p data-animation="animated fadeInLeft">希望借由这个网站，让大家找到邻里间可靠的资源。 <br>
                                  照顾好家人，让生活幸福安心！</p>
                                  <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                                  <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->

                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="item">

                              <!-- Slide Background -->
                              <img src="http://oqr2tkodq.bkt.clouddn.com/pic-2.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                              <div class="bs-slider-overlay"></div>
                              <!-- Slide Text Layer -->
                              <div class="slide-text slide_style_center">
                                  <h1 data-animation="animated flipInX">有时候我们三头六臂</h1>
                                  <p data-animation="animated lightSpeedIn">忙得团团转<br>
                                  却还是手忙脚乱</p>
                                  <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a>
                                  <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a>
                                   -->
                              </div>
                          </div>


                          <div class="item">

                      <!-- Slide Background -->
                      <img src="http://oqr2tkodq.bkt.clouddn.com/pic-3.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                      <div class="bs-slider-overlay"></div>
                      <!-- Slide Text Layer -->
                      <div class="slide-text slide_style_right">
                          <h1 data-animation="animated zoomInLeft">希望借这个平台</h1>
                          <p data-animation="animated fadeInRight">让我们 照顾好家人</p>
                          <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                          <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a>
                           注释掉的可以添加按钮，但是目前不知道能用来干嘛，后面迭代再做。-->
                      </div>
                  </div>
                  </div>

                  <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">

                  <span class="fa fa-angle-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>

              <!-- Right Control -->
              <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                  <span class="fa fa-angle-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>

          </div> <!-- End  bootstrap-touch-slider Slider -->
</body>
<!-- Script to Activate the Carousel -->
     <script>
       $('.carousel').carousel({
           interval: 5000 //定义轮播显示的速度，可以调整
       })
       $('#bootstrap-touch-slider').bsTouchSlider();
     </script>

    <script>
       $(document).ready(function () {
       $('.material-button-toggle').click(function () {
           $(this).toggleClass('open');
           $('.option').toggleClass('scale-on');
       });
      });
   </script>
</html>
