<div class="jumbotron">
    <h1 class="title">Cellarhost</h1>
    <p class="slogan">您的個人物件管家，陪你打造專屬你個人的品味生活。
    <br>
    <!--  空白可放字 -->
    <br>
    孤單的城市，我們陪你打造一个家。<!--  空白可以放字 -->
    <br>
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">馬上開始</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>Shang & RuiRui</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>Shang & RuiRui</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>Shang & RuiRui</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
