<div class="jumbotron">
    <h1 class="title">天下酒仓</h1>
    <p class="slogan">喝完更靠谱</p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">立刻选购</a></p>
  </div>


		<h2 class="title tc f22 pb50">正在热卖的零食</h2>
		
