<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>

<div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
    <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
    <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper For Slides -->
  <div class="carousel-inner" role="listbox">

    <!-- Third Slide -->
    <div class="item active">

      <!-- Slide Background -->
      <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg3t2ysykhj31kw0zkhdu.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
      <div class="bs-slider-overlay"></div>

      <div class="container">
        <div class="row">
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_left">
            <h2 data-animation="animated zoomInRight">书被阅读之后</h2>
            <p data-animation="animated fadeInLeft">才有了生命</p>
            <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                               <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- End of Slide -->

    <!-- Second Slide -->
    <div class="item">

      <!-- Slide Background -->
      <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg3t3lap93j31kw0zk4qs.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
      <div class="bs-slider-overlay"></div>
      <!-- Slide Text Layer -->
      <div class="slide-text slide_style_center">
        <h2 data-animation="animated zoomInRight">没被翻过的书</h2>
        <p data-animation="animated fadeInLeft">如同摆在书架或床头的废纸</p>
        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a>
                       <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a> -->
      </div>
    </div>
    <!-- End of Slide -->

    <!-- Third Slide -->
    <div class="item">

      <!-- Slide Background -->
      <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg3t3zwfk1j31kw0zkkjn.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
      <div class="bs-slider-overlay"></div>
      <!-- Slide Text Layer -->
      <div class="slide-text slide_style_right">
        <h2 data-animation="animated zoomInLeft">真读</h2>
        <p data-animation="animated fadeInRight">把书真的读起来</p>
        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                       <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
      </div>
    </div>
    <!-- End of Slide -->

  </div>
  <!-- End of Wrapper For Slides -->

  <!-- Left Control -->
  <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
    <span class="fa fa-angle-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <!-- Right Control -->
  <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
    <span class="fa fa-angle-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<!-- End  bootstrap-touch-slider Slider -->

<!-- Script to Activate the Carousel -->
<!-- <script>
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })

            $('#bootstrap-touch-slider').bsTouchSlider();

            </script>

           <script>
            $(document).ready(function () {
            $('.material-button-toggle').click(function () {
                $(this).toggleClass('open');
                $('.option').toggleClass('scale-on');
            });
           });
          </script> -->
