
<form class="navbar-form navbar-right">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="小浣熊方便面">
  </div>
  <button type="submit" class="btn btn-danger">搜一下</button>
</form>
<h1>welcome</h1>
