
<div class="row">
			<!--===== welcome 第一部分=====-->
			<div class="content">
					<div class="lp-section-1">
						<div class="customed-flash" >
	    			   	<%= render "common/flashes" %>
										</div>

						<div class="content-1">
							<div class="slide-text slide_style_center">
								<h2>书买来都不看是吧</h2>
								<p>既然如此，为什么不来这里借书读呢？</p>
								<div class="cta-block">
									<a class="action-btn"   href="/products">现在加入</a>
									<!-- href="/users/sign_up" -->
								</div>
							</div>
						</div>
					</div>
				<!--===== welcome 第二部分=====-->
					<div class="lp-section-2 clearfix">
						<div class="content-2">
							<div class="group"></div>
							<p>
								热爱纸质书的你，家里一定躺着买来从来不看的书
							</p>

							<p>
								xx曾经曰过：书非借不能读也。子不闻藏书者乎？七略、四库，天子之书，然天子读书者有几？
							</p>
							<p>
								汗牛塞屋，富贵家之书，然富贵人读书者有几？
							</p>
							<p>
								今日存，明日去，吾不得而见之矣。
								<h2>看不懂？古人说的就是：为什么不逼自己一把？
								</h2>
								<img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg3isv06x7j30qp0kjdhi.jpg" alt="Brain mind">
							</div>
						</div>
					</div>

			<!--  welcome 第三部分 听听他们怎么说 -->
			<div class="lp-section-3 ">
			    <div class="row">
			      <div class="col-md-10 col-md-offset-1">
			        <h2>他们说</h2>
			        <div class="short-line"></div>

			        <div class="row">
			          <div class="col-md-3 col-md-offset-1">
				            <img src="http://i.epochtimes.com/assets/uploads/2016/06/20160603_facebook.jpg" alt="Jimmy">
			          </div>

			          <div class="col-md-7">
			            <h3>扎克伯格</h3>
			            <p>当年，我要是买编程的书看，我就永远也不会建立Facebook了，因为我永远都不会读完</p>
			          </div>
			        </div>
			        <hr>

			        <div class="row">
			          <div class="col-md-7 col-md-offset-1">
			            <h3> 比尔盖茨</h3>
			            <p>我已经准备在全世界建立图书馆了，而是书店</p>
			          </div>
			          <div class="col-md-3">
			            <img src="http://tc.sinaimg.cn/maxwidth.800/tc.service.weibo.com/static_jinrongbaguanv_com/67535dd8ad5104fad32dda01918bee0a.png" alt="Anndo">
			          </div>
			        </div>
			      </div>
			      </div>
					</div>

				<!--===== 为您推荐 =====-->
				<hr>
					<div class="lp-section-4">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h2>为您推荐</h2>
								<div class="short-line"></div>
								<div class="row">
									<div class="col-md-4">
										<div class="box">

											<img src="https://img1.doubanio.com/lpic/s4532008.jpg" alt="Item 1">
										</div>
										<div class="box">
											<img src="https://img1.doubanio.com/lpic/s2141208.jpg" alt="Item 2"></a>
										</div>
									</div>
									<div class="col-md-4">
										<div class="box">
											<img src="https://img3.doubanio.com/lpic/s29287103.jpg" alt="Item 3"></a>
										</div>
										<div class="box">
											<img src="https://img3.doubanio.com/lpic/s3254244.jpg" alt="Item 4"></a>
										</div>
									</div>
									<div class="col-md-4">
										<div class="box">
											<img src="https://img3.doubanio.com/lpic/s1093496.jpg" alt="Item 5"></a>
										</div>
										<div class="box">
											<img src="https://img3.doubanio.com/lpic/s27256934.jpg" alt="Item 6"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--===== 页脚开始借书 =====-->
			    <div class="lp-section-5 ">
						<div class="row">
			    <a class="action-btn" href="/products">开始借书</a>
			    </div>
					</div>

 	</div>

<!-- 透明导航栏 -->
