
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <a href="javascript:;">
          <img src="/image/air.png">
          <div class="carousel-caption"></div>
        </a>
        </div>
        <div class="item">
          <a href="javascript:;"></a>
          <img src="/image/floor.png">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <a href="javascript:;">
            <img src="/image/wash.jpg">
            <div class="carousel-caption"></div>
          </a>
        </div>
    </div>
  </div>

  <div class="showList row">
    <div class="showList-item col-lg-3 col-xs-6 col-sm-6">
      <div class="showList-item-content"><img src="image/iWash.jpg"></div>
    </div>
    <div class="showList-item col-lg-3 col-xs-6">
      <div class="showList-item-content"><img src="image/iDish.jpg"></div>
    </div>
    <div class="showList-item col-lg-3 col-xs-6">
      <div class="showList-item-content"><img src="image/Air.jpg"></div>
    </div>
    <div class="showList-item col-lg-3 col-xs-6">
      <div class="showList-item-content showList-item-lastContent"><img src="image/house.jpg"></div>
    </div>
  </div>
