<div class="">
  <h2 class="text-center">欢迎来到石头记</h2>
  <hr>
  <div class="all-products">
    <% @products.each do |product| %>
       <div class="each-product">
         <div class="">
            <%= link_to(image_tag(product.image_url(:thumb)),product_path(product))%>
            <br>
            <p class="text-center"><%= product.title%> Price：<%= product.price%> RMB</p>
         </div>
       </div>
    <% end %>
  </div>
</div>
