
<div class="navbar bg-color1">
  <div class="navbarContent">
    <div class="navbarContent-item bg-color1">iRobot</div>
    <div class="navbarContent-item bg-color1">iWash</div>
    <div class="navbarContent-item bg-color1">iDish</div>
    <div class="navbarContent-item bg-color1">Air</div>
    <div class="navbarContent-item bg-color1">About</div>
    <div class="navbarContent-item navbarContent-LastItem bg-color1">Account</div>
  </div>
</div>

  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <a href="javascript:;">
          <img src="/image/air.png">
          <div class="carousel-caption"></div>
        </a>
        </div>
        <div class="item">
          <a href="javascript:;"></a>
          <img src="/image/floor.png">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <a href="javascript:;">
            <img src="/image/wash.jpg">
            <div class="carousel-caption"></div>
          </a>
        </div>
    </div>
  </div>

  <div class="showList row">
      <div class="showList-item col-lg-3 col-xs-6 col-sm-6">
        <div class="showList-item-content">
        </div>
      </div>
      <div class="showList-item col-lg-3 col-xs-6">
        <div class="showList-item-content">
        </div>
      </div>
      <div class="showList-item col-lg-3 col-xs-6">
        <div class="showList-item-content">
        </div>
      </div>
      <div class="showList-item col-lg-3 col-xs-6">
        <div class="showList-item-lastContent">
        </div>
      </div>
    </div>
