<div class="banner">
  <div class="jumbotron">
    <div class="text-content">
      <h1 class="title">打造专属你的个性皮具</h1>
      <p class="slogan">
        Do it yourself , or I do for you !
      </p>
      <p class="lead"><a class="btn btn-lg b-btn" href="/products">即刻起航</a></p>
    </div>
  </div>
</div>

<!--我们只做手工皮具  -->
<section class="advantage">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="short-line"></div>
        <h2 class="section-title">我们只做手工皮具</h2>
        <p>在工业化批量化快速化生产的今天，有这样一群人，坚持用手工，
         慢慢地琢磨出皮带、钱包之类的皮具，为自己的生活注入个性化的元素。</p>
      </div>
    </div>


  </section>


<!-- 我们可以为你提供 -->
<section class="advantage">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="short-line"></div>
        <h2 class="section-title">我们可以为你提供</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="advantage-box">
              <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1ffs5058nxlj3056056aaw.jpg">
              <h3>简明易懂的手工教程</h3>
              <p>根据配套教程的引导，再发挥你的创造力，打造与众不同的皮具再也不难。</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="advantage-box">
             <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1ffs484arenj3056056gmo.jpg">
              <h3>丰富齐全的制作材料</h3>
              <p>种类多样的皮料，齐全的制作工具，满足你想要的专属定制。</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="advantage-box">
              <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1ffs4pglacvj3056056t9u.jpg">
              <h3>皮匠帮助解决疑难</h3>
              <p>皮匠们可线上解惑，或线下亲身示范指导，无论多难的制作都会踏过去。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




  <section class="advantage">
    <div class="section-content other">
      <div class="short-line"></div>
      <h2 class="section-title">听听他们怎么说</h2>
      <div class="col-3 home-people clearfix">
        <div class="item person fl">
          <div class="avata-wrapper">
            <img class="avata" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fft06okkcxj30zk0qomys.jpg">
          </div>
          <div class="intro clearfix">
            <div class="name">
              Jan
            </div>
          </div>
          <div class="words">

            <span class="fa fa-quote-left quote quote-l iconfont"></span>
            <span class="fa fa-quote-right quote quote-r iconfont"></span>
            <div class="content">我给自己的定位是要做高端的产品，珠海的世邦是高端卖场，在这里我很快找到了符合我定位的工作。</div>
          </div>
        </div>
        <div class="item person fl">
          <div class="avata-wrapper">
            <img class="avata" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fft27vf6rbj30n60n6mz9.jpg">
          </div>
          <div class="intro clearfix">
            <div class="name">
              Yary
            </div>
          </div>
          <div class="words">

            <span class="fa fa-quote-left quote quote-l iconfont"></span>
            <span class="fa fa-quote-right quote quote-r iconfont"></span>
            <div class="content">想在世邦找家居建材类的工作，有了世邦服务站我再也不用再各个招聘网站里搜这方面的工作了。</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="banner">
<div class="base-image">
  <div class="text-content">
    <p class="lead"><a class="btn btn-lg b-btn" href="/products">即刻起航</a></p>
  </div>
</div>
</div> -->
