<!---------------------------banner--------------------------->
<div class="banner">
	<ul class="banList">
		<li class="active"><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner01.jpg"/></a></li>
		<li><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner02.jpg"/></a></li>
		<li><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner03.jpg"/></a></li>
    <li><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner04.jpg"/></a></li>
    <li><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner05.jpg"/></a></li>
	</ul>
	<div class="fomW">
		<div class="jsNav">
			<a href="javascript:;" class="trigger current"></a>
			<a href="javascript:;" class="trigger"></a>
			<a href="javascript:;" class="trigger"></a>
      <a href="javascript:;" class="trigger"></a>
      <a href="javascript:;" class="trigger"></a>
		</div>
	</div>
</div>
<!---------------------------classes--------------------------->
<div class="classes">
	<div class="child">
		<button class="button button--rayen button--text-upper button--size-s" data-text="h o t"><span><i class="fa fa-fire" aria-hidden="true"></i>热 门</span></button>
	</div>
	<div class="child">
		<button class="button button--rayen button--text-upper button--size-s" data-text="common weal"><span><i class="fa fa-slideshare" aria-hidden="true"></i>公 益</span></button>
	</div>
	<div class="child">
		<button class="button button--rayen button--text-upper button--size-s" data-text="agriculture"><span><i class="fa fa-sun-o" aria-hidden="true"></i>农 业</span></button>
	</div>
	<div class="child">
		<button class="button button--rayen button--text-upper button--size-s" data-text="publish"><span><i class="fa fa-book" aria-hidden="true"></i>出 版</span></button>
	</div>
	<div class="child">
		<button class="button button--rayen button--text-upper button--size-s" data-text="art"><span><i class="fa fa-camera" aria-hidden="true"></i>艺 术</span></button>
	</div>
</div>
<!---------------------------remen-title--------------------------->
<div class="remen-title">
	<h1>- 热门推荐 -</h1>
	<p>
		<a href="/">最新</a>
		<a href="/">公益</a>
		<a href="/">农业</a>
		<a href="/">出版</a>
		<a href="/">艺术</a>
		<span>|</span>
		<a href="/">更多></a>
	</p>
</div>
<!---------------------------remen-boxlist--------------------------->
<div class="boxlist">
	<div class="boxlist-item">
		<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/101.jpg"/></a>
		<div class="boxlist-item-content">
			<div class="boxlist-item-content-text">
				<a href="/">戴上“福牌”保佑这一年平平安安的！手工·古朴·非文化遗产</a>
				<p>我们筹集的资金将用于保护传承和发展山西民间传统手工。第一部分资金将用于民间传统工艺的推广。第二部分资金将用于民间传统手工品的继续开发。</p>
			</div>
			<div class="boxlist-item-content-card">
				<div class="boxlist-item-content-card-tag">
					    <img src="http://oj8zlumqh.bkt.clouddn.com/image/tag.png">
							<a href="/">·山西</a>
							<a href="/">·太原</a>
							<a href="/">·福牌</a>
							<a href="/">·传统彩塑</a>
							<a href="/">·纯手工</a>
				</div>
				<div class="boxlist-item-content-card-radio">
					<div class="boxlist-item-content-card-radio-in">
					</div>
				</div>
				<div class="boxlist-item-content-card-datas">
					<div class="money">
						<p class="num">￥14319</p>
						<p class="text">已筹款</p>
					</div>
					<div class="count">
						<p class="num">37</p>
						<p class="text">支持数</p>
					</div>
					<div class="persent">
						<p class="num">24%</p>
						<p class="text">筹款进度</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="boxlist-item">
		<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/102.jpg"/></a>
		<div class="boxlist-item-content">
			<div class="boxlist-item-content-text">
				<a href="/">《格瑞特的梦》，在孩子们的心田上播种善良，爱不全然是梦</a>
				<p>与冰心先生的一段缘……鲁迅文学奖获奖作家黄传会等众位名家倾情推荐。一个妙趣横生的故事，一份爱的分享，众筹全部利润捐献给孤儿院的孩子们。</p>
			</div>
			<div class="boxlist-item-content-card">
				<div class="boxlist-item-content-card-tag">
					    <img src="http://oj8zlumqh.bkt.clouddn.com/image/tag.png">
							<a href="/">·北京</a>
							<a href="/">·公益</a>
				</div>
				<div class="boxlist-item-content-card-radio">
					<div class="boxlist-item-content-card-radio-in">
					</div>
				</div>
				<div class="boxlist-item-content-card-datas">
					<div class="money">
						<p class="num">￥8209</p>
						<p class="text">已筹款</p>
					</div>
					<div class="count">
						<p class="num">106</p>
						<p class="text">支持数</p>
					</div>
					<div class="persent">
						<p class="num">42%</p>
						<p class="text">筹款进度</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="boxlist-item">
		<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/103.jpg"/></a>
		<div class="boxlist-item-content">
			<div class="boxlist-item-content-text">
				<a href="/">紫泥之恋 | 一念遇见 · 一瞬千年 众筹第三季</a>
				<p>奔波劳碌一年了，让我们放下匆忙的脚步，让自己停一停、静静心、品一品茶，回望初心，向往望望最终的归宿，遇见最美好的你，一起走上漫漫的人生道路。</p>
			</div>
			<div class="boxlist-item-content-card">
				<div class="boxlist-item-content-card-tag">
					    <img src="http://oj8zlumqh.bkt.clouddn.com/image/tag.png">
							<a href="/">·江苏</a>
							<a href="/">·无锡</a>
							<a href="/">·茶器文玩</a>
				</div>
				<div class="boxlist-item-content-card-radio">
					<div class="boxlist-item-content-card-radio-in">
					</div>
				</div>
				<div class="boxlist-item-content-card-datas">
					<div class="money">
						<p class="num">￥10734</p>
						<p class="text">已筹款</p>
					</div>
					<div class="count">
						<p class="num">83</p>
						<p class="text">支持数</p>
					</div>
					<div class="persent">
						<p class="num">90%</p>
						<p class="text">筹款进度</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="boxlist-item">
		<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/201.jpg"/></a>
		<div class="boxlist-item-content">
			<div class="boxlist-item-content-text">
				<a href="/">普洱红茶，柠香四溢，茶香留底，唇齿留香</a>
				<p>在午后办公室中，这泡茶可以让我忘记了喧嚣吵闹，仿佛走进了西双版纳的热带雨林，仿佛走进了泰国青柠树林。</p>
			</div>
			<div class="boxlist-item-content-card">
				<div class="boxlist-item-content-card-tag">
					    <img src="http://oj8zlumqh.bkt.clouddn.com/image/tag.png">
							<a href="/">·农业</a>
				</div>
				<div class="boxlist-item-content-card-radio">
					<div class="boxlist-item-content-card-radio-in">
					</div>
				</div>
				<div class="boxlist-item-content-card-datas">
					<div class="money">
						<p class="num">￥2786</p>
						<p class="text">已筹款</p>
					</div>
					<div class="count">
						<p class="num">25</p>
						<p class="text">支持数</p>
					</div>
					<div class="persent">
						<p class="num">47%</p>
						<p class="text">筹款进度</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="boxlist-item">
		<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/002.jpg"/></a>
		<div class="boxlist-item-content">
			<div class="boxlist-item-content-text">
				<a href="/">几米的这些故事，孩子一定要看</a>
				<p>著名漫画家几米以孩子为主人公或特别适合儿童阅读的的经典手绘作品，其风格清新婉约，语言充满诗意，色彩极佳。</p>
			</div>
			<div class="boxlist-item-content-card">
				<div class="boxlist-item-content-card-tag">
					    <img src="http://oj8zlumqh.bkt.clouddn.com/image/tag.png">
							<a href="/">·出版</a>
				</div>
				<div class="boxlist-item-content-card-radio">
					<div class="boxlist-item-content-card-radio-in">
					</div>
				</div>
				<div class="boxlist-item-content-card-datas">
					<div class="money">
						<p class="num">￥64</p>
						<p class="text">已筹款</p>
					</div>
					<div class="count">
						<p class="num">10</p>
						<p class="text">支持数</p>
					</div>
					<div class="persent">
						<p class="num">2%</p>
						<p class="text">筹款进度</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="boxlist-item">
		<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/203.jpg"/></a>
		<div class="boxlist-item-content">
			<div class="boxlist-item-content-text">
				<a href="/">百年纯料古树茶，带你走进殿堂级普洱茶</a>
				<p>“孝字号”坚持只做纯料明前古树茶！ 让天下爱普洱之人能够喝到正真的纯料古树茶！ 每年产量不多，众筹限量发售！</p>
			</div>
			<div class="boxlist-item-content-card">
				<div class="boxlist-item-content-card-tag">
					    <img src="http://oj8zlumqh.bkt.clouddn.com/image/tag.png">
							<a href="/">·云南</a>
							<a href="/">·西双版纳</a>
							<a href="/">·普洱</a>
							<a href="/">·纯料</a>
							<a href="/">·古树茶</a>
				</div>
				<div class="boxlist-item-content-card-radio">
					<div class="boxlist-item-content-card-radio-in">
					</div>
				</div>
				<div class="boxlist-item-content-card-datas">
					<div class="money">
						<p class="num">￥472</p>
						<p class="text">已筹款</p>
					</div>
					<div class="count">
						<p class="num">13</p>
						<p class="text">支持数</p>
					</div>
					<div class="persent">
						<p class="num">1%</p>
						<p class="text">筹款进度</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!---------------------------more-box--------------------------->
<div class="more-box">
		<a href="/">浏览更多项目...</a>
</div>


<!---------------------------remen-title--------------------------->
<div class="remen-title">
	<h1>- 公益众筹 -</h1>
	<p>
		<a href="/">公益最新上线</a>
		<span>|</span>
		<a href="/">更多></a>
	</p>
</div>
<!---------------------------remen-boxlist--------------------------->
<div class="boxlist">
	<div class="boxlist-item">
		<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/001.jpg"/></a>
		<div class="boxlist-item-content">
			<div class="boxlist-item-content-text">
				<a href="/">戴上“福牌”保佑这一年平平安安的！手工·古朴·非文化遗产</a>
				<p>我们筹集的资金将用于保护传承和发展山西民间传统手工。第一部分资金将用于民间传统工艺的推广。第二部分资金将用于民间传统手工品的继续开发。</p>
			</div>
			<div class="boxlist-item-content-card">
				<div class="boxlist-item-content-card-tag">
					    <img src="http://oj8zlumqh.bkt.clouddn.com/image/tag.png">
							<a href="/">·山西</a>
							<a href="/">·太原</a>
							<a href="/">·福牌</a>
							<a href="/">·传统彩塑</a>
							<a href="/">·纯手工</a>
				</div>
				<div class="boxlist-item-content-card-radio">
					<div class="boxlist-item-content-card-radio-in">
					</div>
				</div>
				<div class="boxlist-item-content-card-datas">
					<div class="money">
						<p class="num">￥14319</p>
						<p class="text">已筹款</p>
					</div>
					<div class="count">
						<p class="num">37</p>
						<p class="text">支持数</p>
					</div>
					<div class="persent">
						<p class="num">24%</p>
						<p class="text">筹款进度</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="boxlist-item">
		<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/202.jpg"/></a>
		<div class="boxlist-item-content">
			<div class="boxlist-item-content-text">
				<a href="/">《格瑞特的梦》，在孩子们的心田上播种善良，爱不全然是梦</a>
				<p>与冰心先生的一段缘……鲁迅文学奖获奖作家黄传会等众位名家倾情推荐。一个妙趣横生的故事，一份爱的分享，众筹全部利润捐献给孤儿院的孩子们。</p>
			</div>
			<div class="boxlist-item-content-card">
				<div class="boxlist-item-content-card-tag">
					    <img src="http://oj8zlumqh.bkt.clouddn.com/image/tag.png">
							<a href="/">·北京</a>
							<a href="/">·公益</a>
				</div>
				<div class="boxlist-item-content-card-radio">
					<div class="boxlist-item-content-card-radio-in">
					</div>
				</div>
				<div class="boxlist-item-content-card-datas">
					<div class="money">
						<p class="num">￥8209</p>
						<p class="text">已筹款</p>
					</div>
					<div class="count">
						<p class="num">106</p>
						<p class="text">支持数</p>
					</div>
					<div class="persent">
						<p class="num">42%</p>
						<p class="text">筹款进度</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="boxlist-item">
		<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/003.jpg"/></a>
		<div class="boxlist-item-content">
			<div class="boxlist-item-content-text">
				<a href="/">紫泥之恋 | 一念遇见 · 一瞬千年 众筹第三季</a>
				<p>奔波劳碌一年了，让我们放下匆忙的脚步，让自己停一停、静静心、品一品茶，回望初心，向往望望最终的归宿，遇见最美好的你，一起走上漫漫的人生道路。</p>
			</div>
			<div class="boxlist-item-content-card">
				<div class="boxlist-item-content-card-tag">
					    <img src="http://oj8zlumqh.bkt.clouddn.com/image/tag.png">
							<a href="/">·江苏</a>
							<a href="/">·无锡</a>
							<a href="/">·茶器文玩</a>
				</div>
				<div class="boxlist-item-content-card-radio">
					<div class="boxlist-item-content-card-radio-in">
					</div>
				</div>
				<div class="boxlist-item-content-card-datas">
					<div class="money">
						<p class="num">￥10734</p>
						<p class="text">已筹款</p>
					</div>
					<div class="count">
						<p class="num">83</p>
						<p class="text">支持数</p>
					</div>
					<div class="persent">
						<p class="num">90%</p>
						<p class="text">筹款进度</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!---------------------------more-box--------------------------->
<div class="more-box">
		<a href="/">浏览更多项目...</a>
</div>
<!---------------------------success-box--------------------------->
<div class="success-background">
	<div class="suc-box">
		<div class="suc-title">
			<h3>
				成功案例
				<span>他们已经成功，你还在等什么...</span>
			</h3>
			<p>
				<a href="/">已筹资金</a>
				<a> | </a>
				<a href="/">支持人数</a>
			</p>
		</div>
		<div class="suc-item">
			<div class="text">
				<div class="imgbox">
					<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/suc-img1.png"></a>
				</div>
				<div class="intext">
					<h3>
						安宁Aiden
						<a href="/">奖励众筹 | "一起来开一家设计师主题咖啡馆@安的咖啡"</a>
					</h3>
					<p>
						我叫安宁，真名。一个做了10年书皮子的设计师，大象设计的联合创始人，2014年转型做了设计师品牌“安的田园”，简单来说就是做吃的。我想做一个设计师主题咖啡馆，不浮夸，不刻意追求形式感，拙朴，自然，舒适，即可。每个月组织一次设计师的相关活动，与别的咖啡馆不同的是，我们的食材大部分出自我们自己的农场。
					</p>
				</div>
			</div>
			<div class="number">
				<p>
					<a href="/">45万</a>
					<a> | </a>
					<a href="/">122人</a>
				</p>
			</div>
		</div>
		<div class="suc-item">
			<div class="text">
				<div class="imgbox">
					<a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/suc-img2.jpg"></a>
				</div>
				<div class="intext">
					<h3>
						天真蓝教育传媒
						<a href="/">奖励众筹 | “六个口袋”亲子阅读计划——1000个家庭招募中</a>
					</h3>
					<p>
						一群视阅读如信仰的年轻父母，TA们有1岁到10岁的孩子，为了自由呼吸的教育，发起成立了北京天真蓝教育文化传媒有限公司。计划征集1000个家庭，用6个月时间，以“游戏+阅读”的方式，让孩子在父母的陪伴下，在专家的指导下，爱上阅读，学会阅读。会阅读的孩子有更广阔的未来，有爱好的人精神世界更宽广。
					</p>
				</div>
			</div>
			<div class="number">
				<p>
					<a href="/">47万</a>
					<a> | </a>
					<a href="/">662人</a>
				</p>
			</div>
			</div>
		</div>
	</div>
</div>
<!---------------------------helper--------------------------->
<div class="helper">
	<div class="child">
		<button class="button-big button-big--rayen button-big--border-thin button-big--text-thick button-big--text-upper button-big--size-s" data-text="newer...">
			<span>新 手 帮 助</span>
		</button>
	</div>
	<div class="child">
		<button class="button-big button-big--rayen button-big--text-upper button-big--size-s" data-text="rule...">
			<span>众 筹 规 范</span>
		</button>
	</div>
	<div class="child">
		<button class="button-big button-big--rayen button-big--text-upper button-big--size-s" data-text="wechat...">
			<span>微 信 公 众 号</span>
		</button>
	</div>
	<div class="child">
		<button class="button-big button-big--rayen button-big--text-upper button-big--size-s" data-text="tel: 010 - 8888 8888...">
			<span>客 服</span>
		</button>
	</div>
</div>
