<!-- Add this css File in head tag-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">

 <!--
        If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
        Slide effect: slide, fade
        Text Align: slide_style_center, slide_style_left, slide_style_right
        Add Text Animation: https://daneden.github.io/animate.css/
        -->


        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Third Slide -->
                <div class="item active">

                    <!-- Slide Background -->
                    <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="工作室1"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">重新定义工作效率</h1>
                                <p data-animation="animated fadeInLeft">用科学的方法打造舒适|安静|规整的高效创作空间</p>
                                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">舒适空间</a>
                                <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">高效空间</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="工作室2"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">重新定义工作效率</h1>
                        <p data-animation="animated lightSpeedIn">用科学的方法打造舒适|安静|规整的高效创作空间</p>
                        <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">舒适空间</a>
                        <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">高效空间</a>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="工作室3"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">重新定义工作效率</h1>
                        <p data-animation="animated fadeInRight">用科学的方法打造舒适|安静|规整的高效创作空间</p>
                        <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">舒适空间</a>
                        <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">高效空间</a>
                    </div>
                </div>
                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->

        <!-- 第二个模块 -->
          <div style="text-align: center;margin-top: 150px; margin-bottom:100px">
            <h3>助力你财富自由的科学工作空间</h3>
            <p> 一段文字</p>
            <a href="http://bootsnipp.com/fullscreen/Padax"target="_blank"> 点击了解 </a>
          </div>

          <!-- 第三个模块 -->
          <div style="text-align:center">
          <h3>你不知道的慢性工作杀手</h3>
          </div>
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#">腰颈负荷</a>
              <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="桌子">
            </li>

            <li role="presentation" class="active"><a href="#">视觉疲劳</a>
              <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="桌子">
            </li>
          </ul>

          <!-- 第四个模块 -->
          <div style="text-align:center;margin-top: 80px; margin-bottom:50px">
          <h3>在这里快速找到最佳空间方案</h3>
          </div>
          <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="桌子">
              <div class="caption">
                <h3>最佳的科学指导</h3>
                <p>商品</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="桌子">
              <div class="caption">
                <h3>最In的品质保障</h3>
                <p>商品</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="桌子">
              <div class="caption">
                <h3>最少的时间成本</h3>
                <p>商品</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
          </div>

          <!-- 第五个模版 -->
          <div style="text-align: center;margin-top: 80px; margin-bottom:50px">
            <h3>他们说</h3>
            <div class="row">
            <div class="col-sm-9 col-md-6">
              <div class="thumbnail">
                <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="桌子">
                <div class="caption">
                  <h3>Xdite</h3>
                  <p>一段文字</p>
                </div>
              </div>
            </div>
            <div class="col-sm-9 col-md-6">
              <div class="thumbnail">
                <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="桌子">
                <div class="caption">
                  <h3>李笑来</h3>
                  <p>一段文字</p>
                </div>
              </div>
            </div>
          </div>

          <!-- 第六个模块 -->
          <div style="text-align: center;margin-top: 150px; margin-bottom:100px"> | <a href="https://bootstrapthemes.co/item/bootstrap-carousel-touch-slider-with-text-animation/"target="_blank"> 合作伙伴 </a> |</div>
