<div class="container-fluid">
  <h3>Who Am I?</h3>
  <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ffooxglculj31b60mee81.jpg" alt="Bird">
  <h3>I'm an adventurer</h3>
</div>

<div class="photos">
  <ul >
    <li><img src="http://media.nintendo.com/nintendo/bin/pnQltLVy8aGp5q6xq04dWUJbygjIEuZg/VBJPUsIXYslEBuSR8-YCNYmBzvWqKRpN.jpg" alt="Game photo 1"></li>
    <li><img src="http://media.nintendo.com/nintendo/bin/pnQltLVy8aGp5q6xq04dWUJbygjIEuZg/VBJPUsIXYslEBuSR8-YCNYmBzvWqKRpN.jpg" alt="Game photo 1"></li>
    <li><img src="http://media.nintendo.com/nintendo/bin/pnQltLVy8aGp5q6xq04dWUJbygjIEuZg/VBJPUsIXYslEBuSR8-YCNYmBzvWqKRpN.jpg" alt="Game photo 1"></li>
  </ul>
</div>
