<!-- 动图部分 -->

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="javascript:;">
      <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fczl4gz7e4j30zk0k0ta7.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fczl4ci3w3j30zk0vmn0r.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd17nteudbj30zk0k078i.jpg">
      <div class="carousel-caption"></div>
     </a>
    </div>
  </div>
</div>

<!-- 动图部分 -->
