
<!-- 滑动特效 -->

<!-- Add this css File in head tag-->
        <link href="font-awesome.min.css" rel="stylesheet" media="all">
        <link href="animate.min.css" rel="stylesheet" media="all">


 <!--
        If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
        Slide effect: slide, fade
        Text Align: slide_style_center, slide_style_left, slide_style_right
        Add Text Animation: https://daneden.github.io/animate.css/
        -->


        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner " role="listbox">

              <!-- first Slide -->
              <div class="item active">

                  <!-- Slide Background -->
                  <img src="images/zhuo25.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                  <div class="bs-slider-overlay"></div>
                  <!-- Slide Text Layer -->
                  <div class="slide-text slide_style_center">
                      <h1 data-animation="animated flipInX">little squirrel</h1>
                      <p data-animation="animated lightSpeedIn">社区二手交易网</p>
                      <a class="btn btn-default" href="/products">立即加入</a>

                  </div>
              </div>
              <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="images/zhuo100.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">little squirrel</h1>
                                <p data-animation="animated fadeInLeft">有温度的流动。。</p>
                                <a class="btn btn-primary" href="/products">立即加入</a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="images/zhuo26.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">little squirrel</h1>
                        <p data-animation="animated fadeInRight">有分享的乐趣。。。</p>
                        <a href="/products" class="btn btn-default" >立即加入</a>

                    </div>
                </div>

                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->




          <div style="text-align: center;margin-top: 150px; margin-bottom:100px"><h3>这里是 <a href=""target="_blank"> 生活家聚集地 </a> 有情怀的社区二手物品交换站 ;)</h3> / 趣味相投 <a  target="_blank">  有你所需 </a></div>






<script >
                    $(window).scroll(function() {
                      var scroll = $(window).scrollTop();
                    	$("header").css({
                    		opacity: 0.5 + (scroll/200)
                    	});
                    });
</script>
<!-- 以上滑动特效 -->



<div class="content-section-a">
  <div class="col-lg-10 col-sm-11 col-centered">
    <div class="col-lg-12 col-centered">
    <div style="text-align: center;margin-top: 50px; margin-bottom:100px"><h3>社区资源共享平台 </h3>  </a></div>
        <div class="col-sm-4 ">
          <div class="thumbnail">

            <img src="images/zhuo33.jpg" class="btn btn-default btn-lg" >

              <h4><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>  诚信环境
              </button></h4>
            <h5>社区圈，熟人交易</h5>
            <div class="caption">
             </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="images/zhuo57.jpg" class="btn btn-default btn-lg" >
                <h4><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>  闲置重生<h4>
              </button>
              <h5>免费区，易货区，十元店等...</h5>
              <div class="caption">
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="images/zhuo56.jpg" class="btn btn-default btn-lg" >
              <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span>  灵活交易 <h4>
              </button>
              <h5>就近看样 方便取送</h5>
              <div class="caption">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="content-section-b">
        <div class="col-lg-12 col-centered">
          <div class="row">
          </div>
        </div>
      </div>
    </div>

<!-- - -->




<!-- end -->

<div center;margin-bottom: -100px;
<div class="container" margin-bottom: -100px;>
    <div class="page-header">
        <h3></h3>
    </div>
    <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <h5>关于</h5>
        <p>little squirrel社区二手交易网，有呼吸有温度，分享交换美好之物！</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h5>社区</h5>
        <p>shopping cart</p>
        <p>blog</p>
        <p></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h5>联系</h5>
        <p>Email：zhuozhi12@gmail.com</p>
        <p>电话：</p>
        <p></p>
        <p></p>
      </div>
    </div>
    </div>
</div>
