<html>
  <head>
    <title>通向财富自由之路</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="ren3tYaN1OkG4+187C1BxALT+rO9uY6zbQuCDmKUx9O8RMCAOrpVL2gLzb8NLWv1CsDiSoS67XMx0FASFlhZ7A==" />

    <link rel="stylesheet" media="all" href="/assets/application-3ef1db66d5270b130185ef7045c4a235f041213b227799c3a493881371b81d0a.css" data-turbolinks-track="reload" />
    <script src="/assets/application-2cfc4ac4f5dd92e6e0e521b59e2b4df45978d5579e67e82845e73d59fc39ac75.js" data-turbolinks-track="reload"></script>
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!--========== HEADER ==========-->
<header class="header">
    <!-- Navbar -->

    <!-- Navbar -->
</header>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
       <h2>Log in</h2>
       <form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="4PHwbumFMFyz69g62nSazoGzbMCrwvcthdb7S6Dzfm7XUCiknjxKwgSOKJrnprd/CU5GrMIBnJ1nqb+r03PKOg==" />
         <div class="form-inputs">
           <div class="form-group email optional user_email"><label class="control-label email optional" for="user_email">Email</label><input class="form-control string email optional" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" /></div>
           <div class="form-group password optional user_password"><label class="control-label password optional" for="user_password">Password</label><input class="form-control password optional" type="password" name="user[password]" id="user_password" /></div>
           <div class="form-group boolean optional user_remember_me"><div class="checkbox"><input value="0" type="hidden" name="user[remember_me]" /><label class="boolean optional" for="user_remember_me"><input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />Remember me</label></div></div>
         </div>
         <div class="form-actions">
           <input type="submit" name="commit" value="Log in" class="btn btn-default" data-disable-with="Log in" />
         </div>
</form>    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>Sign up</h2>
        <form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="38t0HsO8+qHg/rAs1+HlQSzi6+FO8T/O9+GtiEtQBMTtbg2X8JsiKYQHEXpBCJR0cGGcuxF7UUC2bn99GA0yYg==" />

        <div class="form-inputs">
          <div class="form-group email required user_email"><label class="control-label email required" for="user_email"><abbr title="required">*</abbr> Email</label><input class="form-control string email required" autofocus="autofocus" required="required" aria-required="true" type="email" value="" name="user[email]" id="user_email" /></div>
          <div class="form-group password required user_password"><label class="control-label password required" for="user_password"><abbr title="required">*</abbr> Password</label><input class="form-control password required" required="required" aria-required="true" type="password" name="user[password]" id="user_password" /></div>
          <div class="form-group password required user_password_confirmation"><label class="control-label password required" for="user_password_confirmation"><abbr title="required">*</abbr> Password confirmation</label><input class="form-control password required" required="required" aria-required="true" type="password" name="user[password_confirmation]" id="user_password_confirmation" /></div>
        </div>
        <div class="form-actions">
            <input type="submit" name="commit" value="Sign up" class="btn btn-default" data-disable-with="Sign up" />
        </div>
</form>    </div>
  </div>
</div>

    <div class="container">

    </div>
    <div class="hero-shot">
  <div class="hero-shot-color-overlay">
    <div class="container">
      <div class="content-md">

        <div style="text-align:center;padding-top:30px;">
          <h1 style="color: #fff;text-align:center;">数钱到手软！成为下一个巴菲特！</h1>
          <h4 style="color:#fff;text-align:center;">学习理财新技能，实现财富自由</h4>
          <a class="btn btn-primary btn-lg btn-danger" style="font-size:18px;" href="/products">马上学习</a>
        </div>
    </div>
    </div>
  </div>
</div>

<!-- Features -->
<div class="container">
  <div class="section-seperator">
  <div class="content-md">
    <div class="row">
      <div style="text-align:center;padding-bottom: 50px;">
        <h2 style="color: #000;text-align:center;">亿万富翁教你理财</h2>
        <p style="font-size:16px;width:40%;margin-right:auto;margin-left:auto;">把握趋势、精准分析、投资策略省心简单</p>
      </div>
      <div class="col-sm-4 sm-margin-b-50">
        <div class="bg-color-white margin-b-20">
            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
              <a href="/products">
                <img class="img-circle img-value" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-03-05-brag-about-customer-service-training.png" alt="Prouct Image">
</a>            </div>
        </div>
        <div style="width:80%;">
          <h3 style="text-align:center;">把握趋势</h3>
          <p>有国内知名趋势专家年度报告会</p>

        </div>
      </div>
      <div class="col-sm-4 sm-margin-b-50">
        <div class="bg-color-white margin-b-20">
            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
              <a href="/products">
                <img class="img-circle img-value" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-03-05-retention-marketing-stats.png" alt="Prouct Image">
</a>            </div>
        </div>
          <div style="width:80%;">
            <h3 style="text-align:center;">精准分析</h3>
            <p>对热点公司财报全方位分析</p>

          </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-color-white margin-b-20">
            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
              <a href="/products">
                <img class="img-circle img-value" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-03-05-icon-app.png" alt="Prouct Image">
</a>            </div>
        </div>
        <div style="width:80%;">
            <h3 style="text-align:center;">策略简单</h3>
            <p>按照定投策略分散投资</p>

        </div>
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End Features -->
</div>

<!-- comments -->
<div class="bg-color-sky-light">
  <div class="container">
    <div class="content-md">
      <div style="padding-bottom:30px;text-align:center;">
        <h2 style="color: #000;">大家怎么说</h2>
      </div>
      <div class="row">
        <div class="col-sm-4 sm-margin-b-50" style="text-align:center;">
          <p style="width:70%;height:120px;　margin-left:auto;margin-right:auto;text-align:left;font-size:18px;">“以前也听说过不少投资理财的平台，好多都是骗子公司，这个资金自己控制，学习知识，我信！”</p>

          <img src="https://ww1.sinaimg.cn/large/006tNbRwly1fdfrvfa719j307y07g0sw.jpg" alt="user1" class="img-circle user">

          <h4 style="font-size:18px;">小萌</h4>
          </div>

        <div class="col-sm-4 sm-margin-b-50" style="text-align:center;">
          <p style="width:70%;height:120px;　margin-left:auto;margin-right:auto;text-align:left;font-size:18px;">“哎，以前炒股都不看公司的财报，一是看不懂，二是看也白搭，好多假账，没有火眼金睛，没用呀！现在我学会分析财报了，真假立辨”</p>
          <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fdfrxdkjfaj30b30alt91.jpg" alt="user1" class="img-circle user" style="text-align:center;">
          <h4 style="font-size:18px;">强仔 </h4>
          </div>

          <div class="col-sm-4 sm-margin-b-50" style="text-align:center;">
            <p style="width:70%;height:120px;　margin-left:auto;margin-right:auto;text-align:left;font-size:18px;">“我炒股时间耗不起，而且周围的人也大部分都赔，追涨杀跌，老受行情影响。定投策略，大杀器呀，爽！”</p>
            <img src="https://ww4.sinaimg.cn/large/006tNbRwly1fdfry9h18fj30b40b4aaf.jpg" alt="user1" class="img-circle user" style="text-align:center;">
            <h4 style="font-size:18px;">肖琦</h4>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- end comments -->

<!-- classic product -->

<div class="container">
  <div class="section-seperator">
      <div class="content-md">
        <div style="padding-bottom:30px;text-align:center;">
          <h2 style="color: #000;">优质内容推荐</h2>
          <p style="font-size:16px;width:40%;margin-right:auto;margin-left:auto;">知识太多，时间太少。我们为您精选了新时代里最优质的知识，将别人的时间转化为您的生命。</p>
        </div>

          <!--// end row -->

          <div class="row">
              <!-- product -->
              <div class="col-sm-4 sm-margin-b-50">
                  <div class="bg-color-white margin-b-20">
                      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <a href="/products">
                          <img class="img-responsive" src="https://ww2.sinaimg.cn/large/006tNbRwly1fdfrbt4mw0j318g184n5d.jpg" alt="Prouct Image">
</a>                      </div>
                  </div>
                  <h4>得到 <span class="text-uppercase margin-l-20">通向财富自由之路</span></h4>
                  <p>他是亿万富翁，著名天使投资人。仅仅是《TOEFL核心词汇 21 天突破》、《把时间当作朋友》等长销书，就已经让李笑来获得了足够多的“睡后收入”，实现财富自由。微信公众号：学习学习再学习</p>

              </div>
              <!-- End product -->

              <!-- product -->
              <div class="col-sm-4 sm-margin-b-50">
                  <div class="bg-color-white margin-b-20">
                      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <a href="/products">
                          <img class="img-responsive" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-18-mj.png" alt="Prouct Image">
</a>                      </div>
                  </div>
                  <h4>超级数字力 <span class="text-uppercase margin-l-20">只要懂中文就看得懂財報</span></h4>
                  <p>林明樟老師將完全顛覆您過去對財務報表枯燥無趣的刻板印象，透過生活常識與遊戲化引導與活潑有趣的真實案例解析！</p>

              </div>
              <!-- End product -->

              <!-- product -->
              <div class="col-sm-4 sm-margin-b-50">
                  <div class="bg-color-white margin-b-20">
                      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <a href="/products">
                          <img class="img-responsive" src="https://ww1.sinaimg.cn/large/006tNbRwly1fdfrkcjwj0j31cs1cqn7q.jpg" alt="Product Image">
</a>                      </div>
                  </div>
                  <h4>趋势分析 <span class="text-uppercase margin-l-20">徐小明教你炒股</span></h4>
                  <p>徐小明：《交易师》产品总监、知名财经博主；博客点击量33亿次全国第一；所著《盘口》、《数字化定量分析》当年证券类全国第一；2015年《交易师多屏系统》销量全国第一；2015年和讯投资学院投资者教育好评度全国第一。微 信 公 众 号：sinaxxm</p>

              </div>
              <!-- End product -->


          </div>
          <!--// end row -->
      </div>
  </div>
</div>

<!-- End product -->

<!-- call to action -->
<div class="action-bar">
  <div class="action-bar-overlay">
    <div style="text-align:center;padding-top:50px;">

      <h3 style="color:#fff;text-align:center;">学习理财新技能，实现财富自由</h3>
      <a class="btn btn-primary btn-md btn-danger" style="font-size:16px;" href="/products">马上学习</a>
    </div>
  </div>
  </div>
</div>
</body>



</html>
