<div class="jumbotron">
</div>
<section id="recommend product">
    <div class = "container-fluid">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <div class="hovereffect">
                        <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2df008de69.jpg" alt="">
                        <div class="overlay">
                            <h2>Human Made</h2>
                            <a class="info" href="#">最新系列</a>
                        </div>
                    </div>
                    <div class="caption">
                        <h3>Human Made</h3>
                        <p>立即了解</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <div class="hovereffect">
                        <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2ed47dc9bf.jpg" alt="">
                        <div class="overlay">
                            <h2>adidas Originals</h2>
                            <a class="info" href="#">最新系列</a>
                        </div>
                    </div>
                    <div class="caption">
                        <h3>adidas Originals</h3>
                        <p>立即了解</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <div class="hovereffect">
                        <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2ee18b2dae.jpg" alt="">
                        <div class="overlay">
                            <h2>情人节送礼指南</h2>
                            <a class="info" href="#">送给她</a>
                        </div>
                    </div>
                    <div class="caption">
                        <h3>情人节送礼指南</h3>
                        <p>立即了解</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="col-sm-12">
            </div>
        </div>
        <br>
        <br>
        <section id="recommend product 2">
            <div class = "container-fluid">
                <div class="row">
                    <div class="col-sm-4 ">
                        <div class="thumbnail">
                            <div class="hovereffect">
                                <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2f4b3854db.jpg" alt="">
                                <div class="overlay">
                                    <h2>运动鞋</h2>
                                    <a class="info" href="#">立即选购</a>
                                </div>
                            </div>
                            <div class="caption">
                                <h3>运动鞋</h3>
                                <p>立即了解</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="thumbnail">
                            <div class="hovereffect">
                                <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2f6f06364f.jpg" alt="">
                                <div class="overlay">
                                    <h2>Daniel Patrick</h2>
                                    <a class="info" href="#">立即选购</a>
                                </div>
                            </div>
                            <div class="caption">
                                <h3>Daniel Patrick</h3>
                                <p>立即选购</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="thumbnail">
                            <div class="hovereffect">
                                <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2f78b51843.jpg" alt="">
                                <div class="overlay">
                                    <h2>外套</h2>
                                    <a class="info" href="#">立即选购</a>
                                </div>
                            </div>
                            <div class="caption">
                                <h3>外套</h3>
                                <p>立即选购</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="phrase">
                                <img src="https://ooo.0o0.ooo/2017/02/14/58a31219479a1.png" class="img-rounded" alt="Cinque Terre" width="35" height="35">
                                <br>
                                <h4>请介绍我们给您的朋友</h4>
                                <p>每一个推荐即可赚取 20％ 的佣金。</p>
                                <a class="blue" href="#">了解更多</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="phrase">
                                <img src="https://ooo.0o0.ooo/2017/02/14/58a3188fe93a3.png" class="img-rounded" alt="Cinque Terre" width="35" height="35">
                                <br>
                                <h4>成为一位 POP VIP</h4>
                                <p>立即享受独家优惠</p>
                                <a class="blue" href="#">了解更多</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="phrase">
                                <img src="https://ooo.0o0.ooo/2017/02/14/58a3186b60c67.png" class="img-rounded" alt="Cinque Terre" width="35" height="35">
                                <br>
                                <h4>即时注册您的 EDU 电子邮件</h4>
                                <p>即时获得一整年 的10％折扣</p>
                                <a class="blue" href="#">了解更多</a>
                            </div>
                        </div>
                    </div>
                </div>
