<h1> Hello World! </h1>

<div class="jumbotron">
    <h1 class="title">把大师请回家</h1>
    <p class="slogan"> 为家
    <br>
     任何人都需要一片迷人的视野
    </p>
    <p class="lead"><a class="btn btn-lg btn-primary" href="/products">开启新世界</a></p>
  </div>
