<div class="indexbody">
<!-- part1 -->

<main class="bs-docs-masthead" id="content" tabindex="-1">
  <div class="container">
    <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline"><%= image_tag 'si-200-yuwei.png', class: 'img-responsive' %></span>
    <p class="lead">只为你提供有种、有趣、有料的思想便当</p>
    <p class="lead">
      <a href="/products" class="btn btn-outline-inverse btn-lg" onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Jumbotron actions&quot;,&quot;Download&quot;,&quot;Download 3.3.7&quot;)">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        敢 <i class="fa fa-eye" aria-hidden="true"></i> 你 就 戳
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    </p>

<!-- product lists -->
		<!-- <div class="productList-wrap w1200 bc">
    <ul class="productList clearfix pb20">
      <% @products.each_with_index do |product, index| %>
				<% if index < 10 %>
          <%= render :partial => "product_item", locals: { product: product, index: index } %>
        <% end %>
      <% end %>
    </ul>
  </div> -->
<!-- product lists -->

  </div>
</main>

<!-- product lists -->
<div class="bs-docs-featurette bg-gray">
  <!-- <div class="container"> -->
		<h2 class="bs-docs-featurette-title">思想便当热销中......</h2>
		<div class="productList-wrap w1200 bc">
    <ul class="productList clearfix pb20">
      <% @products.each_with_index do |product, index| %>
				<% if index < 10 %>
          <%= render :partial => "product_item", locals: { product: product, index: index } %>
        <% end %>
      <% end %>
    </ul>
  </div>
 <!-- </div> try hard-->
</div>

<!-- part2 -->

<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">专为渴望开启心智的人设计</h2>
    <p class="lead">思想便当让大脑升级更快更容易，男女通用，老少咸宜。</p>
    <hr class="half-rule">
      <div class="row">
        <div class="col-sm-4">
          <!-- <img alt="Sass and Less support" src="http://ww1.sinaimg.cn/large/006tNbRwgy1ffw7e97lydj30hs09w0t6.jpg" class="img-responsive"> -->
          <img alt="Sass and Less support" src="https://ww1.sinaimg.cn/large/006tKfTcgy1fg2eshn3rfj30a005kaa3.jpg" class="img-responsive">

            <h3>情感</h3>
            <p>思想便当注重理性思考，但同样关注情绪。它将教您如何避免被情绪左右，如何识别值得交往的朋友，如何选择未来的另一半，如何不和家人吵架，如何道歉，如何真正吸收别人的建议，如何把坏运气变成好运气。
            </p>
        </div>
        <div class="col-sm-4">
          <!-- <img alt="Responsive across devices" src="http://ww1.sinaimg.cn/large/006tNbRwgy1ffw7fxbstxj30hs09w0tm.jpg" class="img-responsive"> -->
          <img alt="Sass and Less support" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg2eshfp2wj30a005kwei.jpg" class="img-responsive">

            <h3>读 • 写</h3>
            <p>思想便当教您快速有效地选择一本好书，教您如何消化一本书，告诉您为什么写下来是一个好习惯，快速学习的基本原则是什么，如何做好一场分享。</p>
        </div>
        <div class="col-sm-4">
          <!-- <img alt="Components" src="http://ww3.sinaimg.cn/large/006tNbRwgy1ffw7hw6ph9j30hs09wq45.jpg" class="img-responsive"> -->
          <img alt="Sass and Less support" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fg2esh6vvaj30a005kwef.jpg" class="img-responsive">

            <h3>理财</h3>
            <p>有了思想便当，你将知道如何开始理财，理财的基本功是什么，目标和动力是什么，理财的正确姿势是怎样的，如何研究新生事物，如何投资，在早期项目投资中最重要的是什么，如何做到投资创新和未来。</p>
        </div>
      </div>
      <hr class="half-rule">
        <p class="lead">加盟思想便当，请前往思想便当总部——“新生大学”</p>
        <a href="https://b.xinshengdaxue.com/" class="btn btn-outline btn-lg">新生大学？什么鬼</a>
  </div>
</div>

<!-- part3 -->
<div class="bs-docs-featurette bg-gray">
  <div class="container">
    <h2 class="bs-docs-featurette-title">思想便当的老用户们这样说：</h2>
    <p class="lead">
      <a href="#"></a>
    </p>
    <hr class="half-rule">
      <div class="row bs-docs-featured-sites">
        <div class="col-xs-6 col-sm-3">
          <a href="https://mp.weixin.qq.com/s?__biz=MzAxNzI4MTMwMw==&mid=400793862&idx=1&sn=468e4eca4bca8a7cd5e23ca66d1c8d42&scene=4#wechat_redirect" target="_blank" title="惊喜的定义与创造惊喜的方法论">
            <img alt="似水无羁" src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffwequjwd1j30bp05adg5.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="https://mp.weixin.qq.com/s?__biz=MzAxNzI4MTMwMw==&mid=400875301&idx=1&sn=c5374f87d9676259f7f16d7b48c6ca0e&scene=4#wechat_redirect" target="_blank" title="我是如何获得财富自由的">
            <img alt="XTH" src="http://ww4.sinaimg.cn/large/006tNbRwgy1ffwey25b58j30bm04jq33.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="https://mp.weixin.qq.com/s?__biz=MzAxNzI4MTMwMw==&mid=210820294&idx=1&sn=0111904831e1081a22312121092fecbf&scene=4#wechat_redirect" target="_blank" title="阅读只有一种：精读">
            <img alt="俊佳" src="http://ww1.sinaimg.cn/large/006tNbRwgy1ffwez4b0c0j30bo05bdg3.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="https://mp.weixin.qq.com/s?__biz=MzAxNzI4MTMwMw==&mid=210962906&idx=1&sn=1626beb2830049885edfecdd422ad601&scene=4#wechat_redirect" target="_blank" title="事关理财：自由意志是否存在？">
            <img alt="Cosmo" src="http://ww4.sinaimg.cn/large/006tNbRwgy1ffweuddrruj30bq05maae.jpg" class="img-responsive">
            </a>
        </div>
      </div>
      <hr class="half-rule">
        <p class="lead">我们有成千上万个这样的用户感言......</p>
            <a href="/products" class="btn btn-outline btn-lg">这么神奇的思想便当，好想买买买！</a>
  </div>
</div>

</div>
