<div class="jumbo">
  <div class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      </div>
      <div class="item">
      </div>
      <div class="item">
      </div>
    </div>
  </div>
  <!-- Remeber to put all the content you want on top of the slider below the slider code -->
  <div class="title">
    <h1>收到鲜花一瞬的喜悦 <br>鲜花围绕时的幸福请交给我们来传递！</h1>
  </div>
</div>
<!-- main part -->
<div class="welcome_main">
  <ul class="image-grid">
    <li class="image-grid__item">
      <a href="/products/bouquet" class="grid-item">

  			<div class="grid-item__image" style="background-image: url(http://satohana.com/images/2017/06/DSC_0116.jpg)"></div>
  			<div class="grid-item__hover"></div>

  			<div class="grid-item__name">Bouquet</div>
  	 </a>
  	</li>

    <li class="image-grid__item">
  		<a href="/products/box_flower" class="grid-item">
  			<div class="grid-item__image" style="background-image: url(http://satohana.com/images/2017/03/DSC_0078-0011.jpg)"></div>
  			<div class="grid-item__hover"></div>
  			<div class="grid-item__name">Box flower</div>
  		</a>
  	</li>

    <li class="image-grid__item">
  		<a href="/products/ceremony" class="grid-item">
  			<div class="grid-item__image" style="background-image: url(http://satohana.com/images/2016/12/DSC_0094-001-427x525.jpg)"></div>
  			<div class="grid-item__hover"></div>
  			<div class="grid-item__name">Ceremony</div>
  		</a>
  	</li>

    <li class="image-grid__item">
  		<a href="/products/micro" class="grid-item">
  			<div class="grid-item__image" style="background-image: url(http://satohana.com/images/2015/02/DSC_1815.jpg)"></div>
  			<div class="grid-item__hover"></div>
  			<div class="grid-item__name">Micro</div>
  		</a>
  	</li>

    <li class="image-grid__item">
  		<a href="#" class="grid-item">
  			<div class="grid-item__image" style="background-image: url(http://satohana.com/images/2017/05/DSC_01531.jpg)"></div>
  			<div class="grid-item__hover"></div>
  			<div class="grid-item__name">Bottle flower</div>
  		</a>
  	</li>

    <li class="image-grid__item">
  		<a href="#" class="grid-item">
  			<div class="grid-item__image" style="background-image: url(http://satohana.com/images/2017/02/DSC_0320.jpg)"></div>
  			<div class="grid-item__hover"></div>
  			<div class="grid-item__name">Continuing</div>
  		</a>
  	</li>
  </ul>
</div>

<script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
$('.carousel').carousel();
</script>
