<head>
    <title>野兽饮食</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC"> -->
  </head>


<!-- 头图 -->
<section class="home-video-hero">
  <div class="video-frame">
    <div class="video-overlay"></div>
    <div class="row">
      <video autoplay="autoplay" loop="loop">
        <source class="webm" type="video/webm" src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.mp4">
        <source class="mp4" type="video/mp4" src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.webm">
      </video>
    </div>
    <!-- 头图文字 -->
    <div class="content-container col-sm-12">
      <div class="content">
        <img src="/images/icon-menu.png" class="icon">
        <h1>野兽生活</h1>
        <br>
        <h3 class="sub-cop">专注无麸质饮食，为您的健康注入新能量</h3>
        <br>
        <a href="/products" class="btn btn--gold hover--red ">来大口吃肉吧</a>
      </div>
    </div>
  </div>
</section>
<!-- 重新定义板块 -->
<div class="container2 text-center">
  <div class="row">

    <h1 class="wood"><em>我们重新定义了健康饮食，<br>新鲜的肉和蔬菜，<br>拒绝米粉面<em></h1>
    <br>
    <div class="col-sm-4">
      <p class="text-center middle">
        <strong>阿米尔汗</strong>
      </p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="/images/摔跤爸爸.jpeg" class="img-circle person" alt="museng" width="200" height="200">
      </a>
      <div id="demo" class="collapse">
        <p>食用无麸食品</p>
        <p>让我减了六十斤</p>
        <p>赶紧来试试吧</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center middle">
        <strong>原始人</strong>
      </p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="/images/man.jpeg" class="img-circle person" alt="man" width="200" height="200">
      </a>
      <div id="demo2" class="collapse">
        <p>我们原始人就不吃面</p>
        <p>搞不懂几万年后你们吃起面食了</p>
        <p>你们看我多强壮，而你们。。。</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center middle">
        <strong>Sanna</strong>
      </p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="/images/Sanna_Luoto.png" class="img-circle person" alt="Sanna" width="200" height="200">
      </a>
      <div id="demo3" class="collapse">
        <p>我把无麸质带来了中国</p>
        <p>把无麸质的方法教给了许多人</p>
        <p>收录了许多提供无麸的餐厅和供应商</p>
      </div>
    </div>
  </div>
</div>

<!-- 无麸说明 -->


<!-- Menu Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
  <div class="w3-content">

    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px" id="wufu">无麸是神马？</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Pizza');" id="myLink">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">无麸质</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Pasta');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">无麸优点</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Starter');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">为何是「野兽生活」</div>
      </a>
    </div>

    <div id="Pizza" class="w3-container menu w3-padding-32 w3-white">
      <h1><b>无麸质饮食</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">无麸质饮食（Gluten-freediet），就是完全不含麸质的食品。食用无麸质饮食，就是严格
        戒断含有麦麸的食物，如意大利面、披萨、啤酒、燕麦、起司、三明治等，甚至酱料、蛋糕、面包、饼干与蛋糕等精致食物，
        而改以马铃薯、玉米、蔬菜、肉类、豆类、坚果、乳蛋、海鲜、米类等为主，以及购买标示无麸质的食品。</p>
      <hr>

      <h1><b>起源</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">主要用于治疗乳糜泻患者，因为这些患者对麸质存在过敏。但在21世纪初，无麸质饮
        食法却掀起欧美饮食界潮流，在好莱坞明星与运动选手加持下，话题与争议性不断，甚至被贴上了可以减肥的标签，
        成为名人瘦身的秘方。</p>
      <hr>

      <h1><b>应排除的食品</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">麸质也叫做面筋，是一种通过清除小麦和其他谷物淀粉萃取获得的蛋白质。1、遵循无麸质饮食的人不能吃任何用小麦、黑麦或大麦制成的食品，如糕点等。
2、酱油和馅饼馅料等一些加工食品，如果没有特殊说明，通常都包含麸质。因此，担心食品成分的无麸质饮食者最好选择新鲜原料。3、在饮料中，啤酒是首先应该避免的。尽管用大麦和麦芽制成的产品包含麸质，但大多数酒精（啤酒含有因为小麦发酵而成，红酒没有因为葡萄酒发酵的）和非酒精饮料都不含这种成分。</p>
      <hr>

      <h1><b>谷物食品</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">荞麦，玉米，土豆粉，大米，竹芋、白薯和大豆则是一些常见的无面筋食物。
21世纪初，越来越多的谷物糕点、饼干和谷物食品不包含麸质，因此适合所有人。针对燕麦是否适合无麸质饮食者还存在很多争议。
尽管纯燕麦是无麸质的，但实际上它们大多数都与小麦存在某种联系，因此并不容易找到。</p>
      <hr>

      <h1><b>乳制品</b> </span><span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">除了一些奶酪，风味牛奶和蛋奶糊以外，大多数乳制品是无麸质的。除非使用面糊或过度加工。</p>
      <hr>

      <h1><b>肉类</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">肉类食品也是不含面筋。但肉馅饼，冷冻肉，鸡清汤通常含有某种形式的麸质，因此最好是予以避免。</p>
    </div>

    <div id="Pasta" class="w3-container menu w3-padding-32 w3-white">
      <h1><b>无麸优点</b>
        <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">麸质饮食的成分往往是无效低碳水化合物。无麸质面包通常是用糙米粉做成，
        这样精制碳水化合物（如发现是在那些标准的白面包）是有限的。因此，在非瑕疵与富含精制碳水化合物中
        无麸质饮食被赋予许多对健康有益的方面，包括：1、体重明显减轻，降低胆固醇和提高能量。
         2、无麸质的饮食不仅让腹腔疾病的人减轻痛苦，也让患有关节痛，自动免疫和神经失常的患者受益。
       </p>
      <hr>

      <h1><b>缺点</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">这种限制性饮食不仅难以坚持，而且费用较高。这种饮食将导致患者很难在外就餐，
        尤其是儿童和青少年将因此承受来自周围同龄人的压力。另外，在美国、加拿大和英国进行的研究证实，终生无麸质
        饮食的费用比正常饮食高3倍左右。</p>
      <hr>

      <h1><b>误区</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">除了确保在无麸质食物中摄取足够的碳水化合物之外，这种饮食方式并不是为那些想要减轻体重和追求健
        康生活的人而准备的。一般消费者会认为，这类饮食方式能促进健康或减轻体重，因此可能会冒险在饮食菜谱中剔除过多提供重要能量的
        食物，而这种饮食方式并不意味着减重，这只是为了避免食物过敏者受到胃肠道刺激。</p>
      <hr>

      <h1><b>运动员应用实例</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">
        诺瓦克·德约科维奇：著名网球明星诺瓦克·德约科维奇在2011年大获成功的秘诀。
        在跻身2010年美网决赛之前，德约科维奇发现自己患有乳糜泄，每一百人中会有一人得此病。这也就意味着，他对许多谷物中的麸质存在过敏。
  在营养师伊格尔·切托耶维奇的指导下，他不再进食含有小麦、大麦和黑麦成分的食物。改变饮食结构之后，他2011年赛季初取得了41胜0负的开局。直到那时，他的ATP世界巡回赛上的竞争对手们才恍然大悟，原来他的一连串成功乃至之后登上南非航空ATP排名第一宝座，并不仅仅依靠他在场上的敏捷、底线附近的攻击力和强势的发球，还有赖于个人饮食习惯的改变。
  德约科维奇在2011年4月接受采访时坦言：“当我们确定我对含有麸质这样的食物原料过敏时，他对我的饮食做出了很好的调整。这样一来，我不再吃披萨、意大利面和面包这样的食物了。改变饮食结构后我减轻了体重，移动也更加灵活，我现在感觉身体状态非常好。”</p>
    </div>


    <div id="Starter" class="w3-container menu w3-padding-32 w3-white">

      <h1><b>中国第一家保证不含麸质的外卖</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">在美国，超过30000家餐饮企业可提供无麸质食品。
                            然而，很多所谓的「无麸质食品」并不是真正的无麸质。
                            在一项调查中显示，在提供无麸质食品的餐饮企业中，只有4%的厨师真正了解无麸质的要求：
                            食物原料不含小麦。
                            所用调料需要满足无麸质标准。
                            厨房不能加工含麸质的食物 / 含麸质食物与不含麸质食物严格分离。
                            所以，在那些所谓提供无麸质披萨的披萨店里，只要店里还在卖用小麦做的披萨，那些所谓的「无麸质披萨」依然是不安全的。
                            「野兽生活」与它们不同。
                            「野兽生活」选用的食材全部不含谷物，所以不需要担心交叉污染的问题。
                            「野兽生活」的调料保证无麸质，绝对不会用含有小麦成分的酱油或醋。
                            至于勾芡，野兽生活只用木薯粉和太白粉等安全淀粉。</p>
      <hr>

      <h1><b>不仅是无麸质</b> <span class="w3-tag w3-grey w3-round">拒绝添加糖</span><span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">人类和小麦好歹相处了10000年的时间，而精炼的糖却是在工业革命后才「飞入寻常百姓家」的。
随着肥胖在世界范围内的流行 以及糖尿病、脂肪肝、心脏病等文明疾病的飙升，人们也逐渐意识到了添加糖的危害。</p>
      <hr>

      <h1><b>添加了糖的食物导致全球每年18万人的死亡。</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">添加的糖会破坏矿物元素的平衡、升高血糖、造成肠漏症、侵害人的免疫系统并会干扰人体对蛋白质的消化和吸收。
所以，作为一家有责任的餐饮企业，为了顾客的健康，定然是需要把糖排除在外的。
「野兽生活」从创立的开始，就坚持着无糖的标准。</p>
      <hr>
      <h1><b>拒绝种子植物油</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">不像传统的油脂（黄油、牛油、猪油、橄榄油、椰子油、坚果油等），工业生产的植物油（玉米油、大豆油等）是新加入「食物」世界的品种。
事实上，这种经过压榨、萃取、精炼、洗涤、过滤、除臭等复杂加工的廉价油料在20世纪之前是基本不存在的。像玉米油、棉籽油、大豆油这类植物油包含大量的亚油酸。当亚油酸被加热时——这在加工或烹饪食物中是无法避免的——被称为氧化亚油酸代谢分子（OXLAMs）的物质就会形成。
OXLAMs会造成一种叫做「氧化应激」的细胞损伤，并且和许多炎症疾病相关，其中包括：老年痴呆症、纤维肌痛、非酒精性脂肪肝。
「野兽生活」只使用动物油和冷压初榨的果实油（橄榄油、椰子油），这进一步地保证了食物的上乘品质。</p>
      <hr>
      <h1><b>拒绝人工添加剂</b> <span class="w3-right w3-tag w3-dark-grey w3-round"></span></h1>
      <p class="w3-text-grey">各种增鲜剂中往往存在麸质的污染。
再看那些甜味剂——阿斯巴甜会造成葡萄糖不耐受，糖精钠更是会破坏你的肠道菌群；至于添加的果糖，更是造成脂肪肝的重要因素。
防腐剂、保鲜剂、着色剂、漂白剂、增稠剂、乳化剂、膨松剂、消泡剂……它们究竟会对身体和肠道菌群造成怎样的影响？
人类应该吃真正的食物。
正是有这种理念，「野兽生活」拒绝所有的人工添加剂，只用葱、姜、蒜、黑胡椒、百里香等天然调料来为食物调味。</p>
    </div><br>

  </div>
</div>


<!-- 精选推荐 -->
<!-- Container (TOUR Section) -->
<div class="bg-1">
  <div class="container2">
    <h1 class="text-center">精选推荐</h1>
    <p class="text-center">这里有为你精选的午餐，只有美味的肉和新鲜的蔬菜！当然少不了咖啡~~</p>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/野兽新西兰黑椒牛排.jpg" alt="野兽新西兰黑椒牛排" width="230" height="200">
          <p>
            <strong>野兽新西兰黑椒牛排</strong>
          </p>
          <p>来自新西兰的牛肉，每日限量供应</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/野兽烟熏三文鱼.jpg" alt="野兽烟熏三文鱼" width="230" height="200">
          <p>
            <strong>野兽烟熏三文鱼</strong>
          </p>
          <p>来自挪威的大西洋鲑，每日限量供应</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/yangpai2.jpg" alt="羊排" width="230" height="200">
          <p>
            <strong>澳洲羊排素材沙拉</strong>
          </p>
          <p>澳洲羊排，香而不膻</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/liuheyi.jpg" alt="Paris" width="230" height="200">
          <p>
            <strong>野兽防弹咖啡六合一套装</strong>
          </p>
          <p>来自硅谷的超级创新饮品</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/fangdantz1.jpg" alt="Paris" width="230" height="200">
          <p>
            <strong>防弹咖啡必备套装
            </strong>
          </p>
          <p>野兽生活咖啡豆227g椰子油450ml黄油2块</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/jiaobanji.jpg" alt="野兽咖啡机" width="230" height="200">
          <p>
            <strong>防弹咖啡 搅拌机家用自动</strong>
          </p>
          <p>OSTER/奥士达</p>
          <button class="btn">点击购买</button>
        </div>
      </div>
    </div>
  </div>
</div>
