<div class="col-md-12">
  <div class="row box">
    <!-- carousel begain -->
    <div class="minHeight1000 bg-gray">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
       </ol>
       <!--图片需要替换-->
       <div class="carousel-inner">
          <div class="item active">
           <a href="/">
            <img src="https://ws4.sinaimg.cn/large/006tNc79gy1ffrq9gmgo4j31hc0exmyv.jpg">
            <div class="carousel-caption"></div>
           </a>
          </div>
          <div class="item">
           <a href="/">
            <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffuhf1owwjj31hc0ez792.jpg">
            <div class="carousel-caption"></div>
           </a>
          </div>
          <div class="item">
           <a href="/">
            <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1ffula3nsuxj31hc0exn1m.jpg">
            <div class="carousel-caption"></div>
           </a>
          </div>
        </div>
      </div>
    </div>
    <!-- carousel end -->
  </div>
</div>
