<!-- Header -->
<div class="jumbotron text-center ">
  <h1 style="text-align: center; text-shadow:5px 5px 10px grey;">九木生活</h1>
  <h3>买得起的好生活</h3>
  <br>
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="暗黑钢笔 纸胶带" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">搜索</button>
      </div>
    </div>
  </form>

</div>

<!-- Slides 轮播区-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/uploads/product/image/4/wenju-jiaodai1-lg.png" alt="New York">
      <div class="carousel-caption">
        <h3>手撕隐形胶带</h3>
        <p>隐形设计，修补美观 ￥9.9</p>
        <p><button type="button" class="btn btn-default">立即购买</button></p>
      </div>
    </div>

    <div class="item">
      <img src="chicago.jpg" alt="Chicago">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago - A night we won't forget.</p>
      </div>
    </div>

    <div class="item">
      <img src="la.jpg" alt="Los Angeles">
      <div class="carousel-caption">
        <h3>LA</h3>
        <p>Even though the traffic was a mess, we had the best time.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<!-- Section 1 (文具) -->
<div id="section1" class="container-fluid text-center">
  <h1 style="text-align: center;">文具</h1>
<br>
<br>
  <div class="row" >
    <div class="col-sm-4">
      <a href="products/1"><img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="public/product_images/wenju-jiaodai2-lg.png">
      </a>
      <h5>8个装 8色 马卡龙和纸胶带	</h5>
      <p>￥29.00</p>
    </div>

    <div class="col-sm-4">
      <a href="products/2">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>2</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="products/2">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px; " src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>3</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>4</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>5</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>6</h4>
      <p> 红高粱 8.2</p>
    </div>

  </div>
</div>


<!-- Section 2 (收纳) -->
<div id="section2" class="container-fluid text-center">
  <h1 style="text-align: center;">收纳</h1>
  <div class="row" >
    <div class="col-sm-4">
      <a href="products/3"><img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="/uploads/product/image/2/medium_Snip20170121_2.png">
      </a>
      <h4>1</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="products/3">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="/uploads/product/image/3/medium_Snip20170121_1.png">
      </a>
      <h4>2</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="products/2">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>3</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px; " src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>4</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px; " src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>5</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>6</h4>
      <p> 红高粱 8.2</p>
    </div>

  </div>
</div>

<!-- Section 3 (旅行) -->
<div id="section3" class="container-fluid text-center">
  <h1 style="text-align: center;">旅行</h1>
  <br>
  <br>
  <div class="row" >
    <div class="col-sm-4">
      <a href="products/3"><img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="/uploads/product/image/2/medium_Snip20170121_2.png">
      </a>
      <h4>1</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="products/3">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="/uploads/product/image/3/medium_Snip20170121_1.png">
      </a>
      <h4>2</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="products/2">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>3</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>4</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px; " src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>5</h4>
      <p> 红高粱 8.2</p>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <img class="img-rounded" alt="100%x200" style="height: 255px; width: 255px;" src="https://placehold.it/150x80?text=IMAGE">
      </a>
      <h4>6</h4>
      <p> 红高粱 8.2</p>
    </div>

  </div>
</div>


<!-- Section 4 (联系服务) -->
