<!-- <section id="opener" class="large" style="height: 569.7px;">
        	<video preload="auto" autoplay="" loop="">
            	<source src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.mp4" type="video/mp4">
            	<source src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.webm" type="video/webm">
        	</video>
	</section> -->

  <!-- <section id="opener" class="large" style="height: 572.85px;">
      	<article>
          	<span class="icon"></span>
          	<h1>hot brisket now</h1>
          	<p>18 years to master. Yours to savor.</p>
          	<a onclick="ga('send', 'event', 'CTA', 'click', 'See The Menu');" href="/menu" class="btn btn--gold hover--red">see the menu</a>
      	</article>
      	<div class="bg-video" style="transform: translateY(181.8px);">
          	<video preload="auto" autoplay="" loop="">
              	<source src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.mp4" type="video/mp4">
              	<source src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.webm" type="video/webm">
          	</video>
      	</div>
  	</section> -->

<html lang="en">
  <head>
    <title>野兽饮食</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <!-- 头图 -->
  <section class="home-video-hero">
    <div class="video-frame" >
    <div class="video-overlay"></div>
    <div class="row">
      <video  autoplay="autoplay" loop="loop">
        <source class="webm" type="video/webm" src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.mp4" >
        <source class="mp4" type="video/mp4" src="https://4rsmokehouse.com/wp-content/themes/4rivers/library/videos/home-loop.webm" >
      </video>
    </div>
      <!-- 头图文字 -->
    <div class="content-container col-sm-4 col-xs-12">
      <div class="content">
        <img src="/images/icon-menu.png" class="icon">
        <h1>野兽生活</h1>
        <br>
        <h3 class="sub-cop">专注无麸质饮食，为您的健康注入新能量</h3>
        <br>
        <a href="/products"  class="btn btn--gold hover--red " >来大口吃肉吧</a>

      </div>
    </div>
  </div>
  </section>

  <div class="container text-center">
    <div class="row">
    <h1 class="wood"><em>我们重新定义了健康饮食，<br>新鲜的肉和蔬菜，<br>拒绝米粉面<em></h1>
      <br>
      <div class="col-sm-4">
        <p class="text-center middle"><strong>阿米尔汗</strong></p><br>
        <a href="#demo" data-toggle="collapse">
        <img src="/images/摔跤爸爸.jpeg" class="img-circle person" alt="museng" width="200" height="200">
        </a>
      <div id="demo" class="collapse">
        <p>食用无麸食品</p>
        <p>让我减了六十斤</p>
        <p>赶紧来试试吧</p>
      </div>
    </div>
      <div class="col-sm-4">
        <p class="text-center middle"><strong>原始人</strong></p><br>
        <a href="#demo2" data-toggle="collapse">
        <img src="/images/man.jpeg" class="img-circle person" alt="man" width="200" height="200">
      </a>
      <div id="demo2" class="collapse">
        <p>我们原始人就不吃面</p>
        <p>搞不懂几万年后你们吃起面食了</p>
        <p>你们看我多强壮，而你们。。。</p>
      </div>
      </div>

      <div class="col-sm-4">
        <p class="text-center middle"><strong>Sanna</strong></p><br>
        <a href="#demo3" data-toggle="collapse">
        <img src="/images/Sanna_Luoto.png" class="img-circle person" alt="Sanna" width="200" height="200">
        </a>
        <div id="demo3" class="collapse">
          <p>我把无麸质带来了中国</p>
          <p>把无麸质的方法教给了许多人</p>
          <p>收录了许多提供无麸的餐厅和供应商</p>
         </div>
       </div>

     </div>
   </div>
 </body>
</html>
