  <!-- /main picture  -->
   <div class="jumbotron">
        <div class="container">
               <h1 class="title"></h1>
               <p class="slogan" style="height:200px;margin-top:300px;">
                    “二十年之后会让你后悔的，不是那些你曾做过的事情，而是那些你未曾尝试的事情。所以，不妨解开束缚，杨帆远离安全的港口，迎着风，去探险，去梦想，去发现。”——马克•吐温

               </p>
               <!--<p class="lead">
                 <a class="btn btn-default btn-lg" href="/products" role="button">行者基地</a>
               </p>-->
          </div>
    </div>
    <!-- /search bar  -->
    <div class="row" style="background-color: #efede3; padding-top: 1.28em;
    padding-bottom: 1.28em;">
        <div align="center">
            <div class="col-md-6 col-md-offset-3">
                <label for="" class="searchbar_label" >Find something</label>
                <div class="input-group searchbar_input" class="">
                      <input style="" type="text" class="form-control"  placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div><!-- /.row -->

<!--/. main content-->
<div class="main">
    <div class="media desPic">
        <div class="media-left picPosition2">
            <a href="#">
              <img class="media-object" src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffuhcsm7h9j30qo0i840s.jpg"
              alt="..." style="width: 270px; height: 250px;">
            </a>
        </div>
        <div class="media-body">
          <div class="desPicSub-1">
            <h4 class="media-heading" style="text-align:center">背包故事</h4>

            <p>
            你的背包里装着什么？你打算去往哪里？
            <br>
            一个背包，装满着我们的小小世界，带我们前往未知的远方。
           </p>
              <a class="btn btn-default " href="/products" role="button" style="margin-left:200px;">背包的秘密</a>
        </div>
      </div>
    </div>
<!-- middle picture start---->
<div class="category">
    <div class="row ">
          <div class="col-xs-6 col-md-3">
             <a href="/products" class="thumbnail">
               <img alt="" style="height: 180px; width: 100%; display:block"
               src="http://ww3.sinaimg.cn/large/006tNbRwgy1ffvyq0bj3aj30mu0kqwn3.jpg">
             </a>
          </div>

          <div class="col-xs-6 col-md-3">
             <a href="/products" class="thumbnail">
               <img  alt="" style="height: 180px; width: 100%; display:block"
               src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffw0829ikzj30n00l6qkl.jpg">
             </a>

          </div>

          <div class="col-xs-6 col-md-3">
             <a href="/products" class="thumbnail">
                <img alt="" style="height: 180px; width: 100%; display:block"
                src="http://ww4.sinaimg.cn/large/006tNbRwgy1ffvylaz3v0j30o00mk7ij.jpg">

             </a>

          </div>

          <div class="col-xs-6 col-md-3">
               <a href="/products" class="thumbnail">
                  <img alt="" style="height: 180px; width: 100%; display:block"
                  src="http://ww3.sinaimg.cn/large/006tNbRwgy1ffvyl0hkdkj30xe0oo7wh.jpg">

               </a>

          </div>
    </div>

    </div>
    <!-- middle picture ends---->
    <div class="media desPic">
          <div class="media-body desPicSub-2">
                <h4 class="media-heading">行走 见识</h4>

                <p>
                你去过的地方，见过的风景，都会成为你身体的一部分，记忆的一部分。
                <br>
                此刻的心情是什么？此刻你想到什么？所以有了这些小小旅行纪念品，带给远方人们你此刻想说的话。
                </p>
                <a class="btn btn-default " href="/products" role="button">旅行礼物</a>
         </div>
         <div class="media-right picPosition3">
                <a href="#">
                  <a href="/products"><img class="media-object" src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffw00bves3j30qo0hst9w.jpg"
                  alt="..." style="width: 350px; height: 250px;"></a>
                </a>
         </div>
   </div>
<!--       ./ course  included-->
   <div class="row courses-main" >
      <div class="col-xs-6 col-md-4 courses-block">
          <div class="thumbnail sub-detail">
                <a href="/products"><img  class="courses-img" src="http://ww4.sinaimg.cn/large/006tNbRwgy1fg30cv1uk6j30mo0j2n5i.jpg" alt="...">
                  </a>
                <div class="caption">

                </div>
          </div>
      </div>
      <div class="col-xs-6 col-md-4 courses-block">
          <div class="thumbnail sub-detail">
                <a href="/products"><img class="courses-img" src="http://ww1.sinaimg.cn/large/006tNbRwgy1fg30d2m5n6j30m00medp1.jpg" alt="...">
                  </a>
                <div class="caption">

                </div>
          </div>
      </div>
      <div class="col-xs-6 col-md-4 courses-block">
          <div class="thumbnail sub-detail">
                <a href="/products"><img class="courses-img" src="http://ww2.sinaimg.cn/large/006tNbRwgy1fg30cwiznoj30n00ik7m3.jpg" alt="...">
                  </a>
                <div class="caption">

                </div>
          </div>
      </div>
      <div class="col-xs-6 col-md-4 courses-block">
          <div class="thumbnail sub-detail">
                <a href="/products"><img class="courses-img" src="http://ww1.sinaimg.cn/large/006tNbRwgy1fg30dkywd2j30m80meths.jpg" alt="...">
                  </a>
                <div class="caption">

                </div>
          </div>
      </div>
      <div class="col-xs-6 col-md-4 courses-block">
          <div class="thumbnail sub-detail">
                <a href="/products"><img class="courses-img" src="http://ww2.sinaimg.cn/large/006tNbRwgy1fg30d11dwfj30lc0hitkr.jpg" alt="...">
                  </a>
                <div class="caption">

                </div>
          </div>
      </div>
      <div class="col-xs-6 col-md-4 courses-block">
          <div class="thumbnail sub-detail">
               <a href="/products"><img class="courses-img" src="http://ww1.sinaimg.cn/large/006tNbRwgy1fg30cy81vrj30li0mawp0.jpg" alt="...">
                 </a>
                <div class="caption">

                </div>
          </div>
      </div>
   </div>

   <!-- part 5 -->
         <div class="media-body bottom-intro" >
           <h2 class="media-heading">带上你的背包，我们一起去旅行吧</h2>
           <a class="btn btn-default " href="/products" role="button">背包故事</a>
         </div>


   <!-- part 6 -->
   <div class="row website-links">
        <div class="col-md-3 col-md-offset-3 website-links-sub">
              <ul class="list-group">
                  <li class="list-group-item"><a href="/products">背包故事</a></li>
                  <li class="list-group-item"><a href="/products">我的故事</a></li>
                  <li class="list-group-item"><a href="/products">他／她故事</a></li>
                  <li class="list-group-item"><a href="/products">我们的故事</a></li>
              </ul>
        </div>
        <div class="col-md-3 website-links-sub">
            <ul class="list-group">
                <li class="list-group-item">联系方式：中国 内地</li>
                <li class="list-group-item">办公地点：北京 天安门广场</li>
                <li class="list-group-item">人才招聘</li>
                <li class="list-group-item">关于我们</li>

            </ul>
        </div>
   </div>



</div><!--main parts ends-->
