<div class="jumbotron">
     <h1 class="title">野兽生活</h1>
     <p class="slogan">野兽生活是一个提供无麸质的快餐公司
     <br>
     这里只吃肉和菜
     <br>
     不含任何谷物和添加剂
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/products">菜单</a></p>
</div>
