<div class="jumbotron">
 <h1 class="title">
<p class="slogan">
 <br>
 <br>
  <br>
   <br>
    <br>
 <br>
 <br>
  <br>
   <br>
<br>

 </p>
<p class="lead"><a class="btn btn-lg btn-danger" href="/products">放掉你手中的瓶啤</a></p>


 </div>
 <hr />

<!--我们能给客户带来更好啤酒体验-->

<div class="lp-advantage pt60 pb60">
		<h2 class="title tc f22 pb50 " align="center" >我们可以给您提供什么</h2>
		<div class="container bc">
			<div class="row">
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn">
						<img class="lp-advantage-img" src=“图片链接”>
						<p class="lp-advantage-title f18 mt20">嘿店是我们的仓库</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">我们和顺丰建立了良好的合作，所有嘿店都有我们的商品。保证24小时内送货上门</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
						<img class="lp-advantage-img" src="图片链接">
						<p class="lp-advantage-title f18 mt20">高品质的精酿啤酒</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">不论是进口啤酒还是小牌精酿，我们提供特殊的啤酒体验</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<img class="lp-advantage-img" src="图片链接">
						<p class="lp-advantage-title f18 mt20">啤酒文化交流</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">定期邀请品酒师做品酒欣赏，不光教会你品尝，还能让你多学习一些装逼技巧。</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<hr />
 <div class="lp-feedback pt60 pb60 lp-bg-gray">
 		<h2 class="title tc f22 pb20" align="center">来自「little beer」的资深酒迷的评价</h2>
     <div class="home-people container">
     	<div class="row">
     		<div class="item person fl col-md-4">
 	        <div class="avata-wrapper">
 	          <img class="avata" src="图片链接">
 	        </div>
 	        <div class="intro clearfix">
 	          <div class="name">
 	            Mike
 	          </div>
 	        </div>
 	        <div class="words wow fadeIn" data-wow-duration="1s">
 	          <span class="bg"></span>
 	          <span class="fa fa-quote-left quote quote-l iconfont"></span>
 	          <span class="fa fa-quote-right quote quote-r iconfont"></span>
 	          <div class="content">「little beer」和顺丰嘿店合作实在是太方便了，白天在公司上班，下班直接去嘿店提货，方便又省时间。</div>
 	        </div>
 	      </div>
 	      <div class="item person fl col-md-4">
 	        <div class="avata-wrapper">
 	          <img class="avata" src="图片链接">
 	        </div>
 	        <div class="intro clearfix">
 	          <div class="name">
 	            某知名酒吧老板
 	          </div>
 	        </div>
 	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
 	          <span class="bg"></span>
 	          <span class="fa fa-quote-left quote quote-l iconfont"></span>
 	          <span class="fa fa-quote-right quote quote-r iconfont"></span>
 	          <div class="content">虽然我们自己店里也贩售啤酒，但时不时还是回来「little beer」逛逛，新品上线特别快，口味新颖。</div>
 	        </div>
 	      </div>
 	      <div class="item person fl col-md-4">
 	        <div class="avata-wrapper">
 	          <img class="avata" src="图片链接">
 	        </div>
 	        <div class="intro clearfix">
 	          <div class="name">
 	            Green
 	          </div>
 	        </div>
 	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
 	          <span class="bg"></span>
 	          <span class="fa fa-quote-left quote quote-l iconfont"></span>
 	          <span class="fa fa-quote-right quote quote-r iconfont"></span>
 	          <div class="content">有点词穷想不出来了都。。。</div>
 	        </div>
 	      </div>
     	</div>
     </div>
 	</div>
