<div class="jumbotron">
     <h1 class="title">随风奔跑</h1>
     <p class="slogan">
     <br>
     人生就是一场马拉松
     <br>
     每一个人都应该完成一场马拉松
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs"> 开始奔跑 </a></p>
   </div>
