<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>穿梭市集</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
<!-- 轮播1-->
        <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper For Slides -->
                    <div class="carousel-inner" role="listbox">

                        <!-- Third Slide -->
                        <div class="item active">

                            <!-- Slide Background -->
                            <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg1j808n0gg30m80go0xl.gif" alt="Bootstrap Touch Slider"  class="slide-image"/>
                            <div class="bs-slider-overlay"></div>

                            <div class="container">
                                <div class="row">
                                    <!-- Slide Text Layer -->
                                    <div class="slide-text slide_style_left">
                                        <h1 data-animation="animated zoomInRight">穿梭市集</h1>
                                        <p data-animation="animated fadeInLeft">时间是静止的，流动的是我们。</p>
                                        <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">寻好物</a>
                                        <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">找同好</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Slide -->

                        <!-- Second Slide -->
                        <div class="item">
                            <!-- Slide Background -->
                            <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fg1j9o41k6g30m80gonpf.gif" alt="Bootstrap Touch Slider"  class="slide-image"/>
                            <div class="bs-slider-overlay"></div>
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_center">
                                <h1 data-animation="animated flipInX">穿梭市集</h1>
                                <p data-animation="animated lightSpeedIn">时间是静止的，流动的是我们。</p>
                                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">寻好物</a>
                                <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">找同好</a>
                            </div>
                        </div>
                        <!-- End of Slide -->

                        <!-- Third Slide -->
                        <div class="item">

                            <!-- Slide Background -->
                            <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fg1ja2faxdg30m80go1l0.gif" alt="Bootstrap Touch Slider"  class="slide-image"/>
                            <div class="bs-slider-overlay"></div>
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_right">
                                <h1 data-animation="animated zoomInLeft">穿梭市集</h1>
                                <p data-animation="animated fadeInRight">时间是静止的，流动的是我们。</p>
                                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">寻好物</a>
                                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">找同好</a>
                            </div>
                        </div>
                        <!-- End of Slide -->


                    </div><!-- End of Wrapper For Slides -->

                    <!-- Left Control -->
                    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <!-- Right Control -->
                    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div> <!-- End  bootstrap-touch-slider Slider -->
<!-- ／轮播1-->

<!-- 市集介绍 -->
<!-- 市集介绍 文字部分-->
  <div class="container text-center">
  <br>
  <h3>穿梭市集</h3>
  <h5><em>寻好物，在穿梭市集</em></h5>
  <p>每个物品都是一个故事
		<br>在这里，我们收集好物，记录它的故事
  </p>
		<h5>“在穿梭市集，遇见未知的自己。”</h5>
    <br>
    <br>
</div>
<!-- ／區塊：市集介绍 文字部分-->

<!-- 區塊：商品部分-->
<div class="container">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fg0zu908h8j308m08m0t2.jpg" alt="商品1">
      <div class="caption">
        <h3>一把小黄伞</h3>
        <p>就算大雨落下来，跳着旋转就甩开！</p>
        <p><a href="#" class="btn btn-danger" role="button">立即购买</a>
          <a href="#" class="btn  btn-default" role="button">加入购物车</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg25a30ob6j308m08mjs8.jpg" alt="商品2">
      <div class="caption">
        <h3>睡眠香薰蜡烛</h3>
        <p>给人一种湿漉漉的雨后森林的静谧感。</p>
        <p><a href="#" class="btn btn-danger" role="button">立即购买</a>
          <a href="#" class="btn  btn-default" role="button">加入购物车</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fg25a7z8d9j308m08m3yq.jpg" alt="...">
      <div class="caption">
        <h3>夏日背包</h3>
        <p>背着夏天上路！</p>
        <p><a href="#" class="btn btn-danger" role="button">立即购买</a>
          <a href="#" class="btn  btn-default" role="button">加入购物车</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg0zucix8hj308m08mwf5.jpg" alt="...">
      <div class="caption">
        <h3>纯棉T恤</h3>
        <p>赶紧穿上好看的T恤去逛马路吧！</p>
        <p><a href="#" class="btn btn-danger" role="button">立即购买</a>
          <a href="#" class="btn  btn-default" role="button">加入购物车</a>
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<!-- ／區塊：商品部分-->

<!-- 背景图-->
<div class="container">
<div class="bg-no-overlay">
	<div class="row text-center">
		<h1>有了这些装备，不怕学不会游泳！<br><br></h1>
    <h2><em>"卤猫和泳池的故事"</em></h2>
        <h4>I love "<strong>SUMMER</strong>" cuz I love swimming<br>
        soooooooooo much!</h4>
        <br><br>
        <button type="button" class="btn btn-danger btn-lg">购买装备</button>
	</div>
</div>
</div>

<!-- 區塊：热卖商品-->
    <!-- Begin of rows -->
    <br>
    <br>
    <div class="container">
    <div class="row carousel-row">
        <div class="slide-row">
            <div id="carousel-1" class="carousel slide slide-carousel" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                    <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg74zhioiyj30hi0cbgp8.jpg" alt="Image">
                </div>
                <div class="item">
                    <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fg74zxyuukj30bf08yabq.jpg" alt="Image">
                </div>
                <div class="item">
                    <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg74smm1lpj30j60csmxj.jpg" alt="Image">
                </div>
              </div>
            </div>
            <div class="slide-content">
                <h4>一件只印上“Merci”的白T</h4>
                <p>
                  一件只印上“ Merci ”的白 T 照片昨晚在 ins 上火了，发布十小时里收获了近三万点赞。不过细心一看，这件由 Topshop 新推出的 slogan tee 跟 Gucci 那件热爆 print tee 倒有几分相似，同样是特大英文字、粗身间纹及 logo 图案，唯一不同是，此 tee 售价较后者便宜 29 倍。
                </p>
            </div>
            <div class="slide-footer">
                <span class="pull-right buttons">
                  <button class="btn btn-sm  btn-default"><i class="fa fa-fw fa-eye"></i> 看看</button>
                  <button class="btn btn-sm btn-danger"><i class="fa fa-fw fa-shopping-cart"></i>立即购买</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row carousel-row">
        <div class="slide-row">
            <div id="carousel-2" class="carousel slide slide-carousel" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                    <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg74vm3nyoj30j60cswfv.jpg" alt="Image">
                </div>
                <div class="item">
                    <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fg74vmkkigj30j60cs402.jpg" alt="Image">
                </div>
                <div class="item">
                    <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fg74vma4rfj30j60cst98.jpg" alt="Image">
                </div>
              </div>
            </div>
            <div class="slide-content">
                <h4>Supreme与Michael Jackson的联乘系列</h4>
                <p>
                  Supreme 正式完整发布与 Michael Jackson 的联乘系列[鼓掌]灵感来自这位已故流行天王在经典名曲《Billie Jean》MV 中的礼服领结造型，除了黑、白，还将红、蓝、绿、黄、粉等鲜明色调穿插在其中。该系列已于 5 月 25 日在 Supreme 纽约、洛杉矶、伦敦、巴黎门店与线上店舖发售， 27 日登陆日本。 ​​​​
                </p>
            </div>
            <div class="slide-footer">
                <span class="pull-right buttons">
                    <button class="btn btn-sm  btn-default"><i class="fa fa-fw fa-eye"></i> 看看</button>
                    <button class="btn btn-sm btn-danger"><i class="fa fa-fw fa-shopping-cart"></i>立即购买</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row carousel-row">
        <div class="slide-row">
            <div id="carousel-2" class="carousel slide slide-carousel" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                    <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg25a30ob6j308m08mjs8.jpg" alt="Image">
                </div>
                <div class="item">
                    <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fg25a7z8d9j308m08m3yq.jpg" alt="Image">
                </div>
                <div class="item">
                    <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fg25adihznj308m08mt9x.jpg" alt="Image">
                </div>
              </div>
            </div>
            <div class="slide-content">
                <h4>Long text product</h4>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="slide-footer">
                <span class="pull-right buttons">
                  <button class="btn btn-sm  btn-default"><i class="fa fa-fw fa-eye"></i> 看看</button>
                  <button class="btn btn-sm btn-danger"><i class="fa fa-fw fa-shopping-cart"></i>立即购买</button>
                </span>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 區塊：热卖商品-->
      </div>
    </div>
  </body>
</html>
