<!--
<div class="jumbotron">
  <h1 class="title">东哥的瓷器店</h1>
  <p class="slogan">东哥的瓷器店是一家售卖精致瓷艺产品的商店
  <br>
  我们希望在这里能够找到满意的瓷艺产品。
  <br>
  这些瓷艺产品满载着中华文化，希望为你增添一份惬意。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/products">马上购买</a></p>
</div>
-->
<!-- Add this css File in head tag-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->
<head>

   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">

</head>

<div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

   <!-- Indicators -->
   <ol class="carousel-indicators">
       <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
       <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
       <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
   </ol>

   <!-- Wrapper For Slides -->
   <div class="carousel-inner" role="listbox">

       <!-- Third Slide -->
       <div class="item active">

           <!-- Slide Background -->
           <img src="http://g2.hexunimg.cn/2014-05-27/165162442.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>

           <div class="container">
               <div class="row">
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_left">
                       <h1 data-animation="animated zoomInRight">青花瓷</h1>
                       <p data-animation="animated fadeInLeft">每一件青花瓷都是一件艺术品 </p>
                       <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">加入购物车</a>
                       <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">加入收藏</a>
                   </div>
               </div>
           </div>
       </div>
       <!-- End of Slide -->

       <!-- Second Slide -->
       <div class="item">

           <!-- Slide Background -->
           <img src="http://www.xincha.com/pic/1?src=http://mmbiz.qpic.cn/mmbiz_png/7sPjKhylBAoyftdiazvzHlEeQDf8IvmzqGsU0mWbJm1fe3baouhwFLeSkh9aARl1aQlXjUE75rYt8A1n4DgYhdg/0?wx_fmt=png" alt="Bootstrap Touch Slider"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>
           <!-- Slide Text Layer -->
           <div class="slide-text slide_style_center">
               <h1 data-animation="animated flipInX">紫砂壶</h1>
               <p data-animation="animated lightSpeedIn">享受一份逍遥自在 </p>
               <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">加入购物车</a>
               <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">加入收藏</a>
           </div>
       </div>
       <!-- End of Slide -->

       <!-- Third Slide -->
       <div class="item">

           <!-- Slide Background -->
           <img src="http://img.wxrw123.com/201602/23/12/j4bt5hd1vex.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>
           <!-- Slide Text Layer -->
           <div class="slide-text slide_style_right">
               <h1 data-animation="animated zoomInLeft">黄釉瓷</h1>
               <p data-animation="animated fadeInRight">一份色彩就是一份精彩 </p>
               <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">加入购物车</a>
               <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">加入收藏</a>
           </div>
       </div>
       <!-- End of Slide -->


   </div><!-- End of Wrapper For Slides -->

   <!-- Left Control -->
   <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
       <span class="fa fa-angle-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
   </a>

   <!-- Right Control -->
   <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
       <span class="fa fa-angle-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
   </a>

</div> <!-- End  bootstrap-touch-slider Slider -->


<!--

 <div style="text-align: center;margin-top: 150px; margin-bottom:100px"><h3>Check this in <a href="http://bootsnipp.com/fullscreen/Padax"target="_blank"> Full Screen Preview </a> And Drag the Slider ;)</h3> / Fade slide Also <a href="http://bootsnipp.com/snippets/OR9l8"target="_blank">  Available here </a></div>
 <div style="text-align: center;margin-top: 150px; margin-bottom:100px"> | <a href="http://bootstrapthemes.co/item/bootstrap-carousel-touch-slider-with-text-animation/"target="_blank"> Snippet By Bootstrapthemes.co </a> |</div>
-->
 <!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })

    $('#bootstrap-touch-slider').bsTouchSlider();

</script>

<script>
    $(document).ready(function () {
    $('.material-button-toggle').click(function () {
        $(this).toggleClass('open');
        $('.option').toggleClass('scale-on');
    });
   });
</script>
