<!-- Slides -->



<!-- Section 1 (文具) -->
<div id="section1" class="container-fluid">
  <div class="row" style="text-align: center; text-shadow:5px 5px 10px grey;">
    <h1>文具</h1>
  </div>
  <div class="row" >
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img class="img-rounded" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
            <h3>1</h3>
            <p> 红高粱 8.2</p>
            <p>
              <a href="#" class="btn btn-default" role="button">now</a>
              <a href="#" class="btn btn-info" role="button">later</a>
            </p>
          </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>2</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>3</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>4</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>5</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>6</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>7</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>8</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Section 2 (收纳) -->
<div id="section2" class="container">
  <div class="row" style="text-align: center; text-shadow:5px 5px 10px grey;">
    <h1>收纳</h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>1</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>2</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>3</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>4</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>5</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>6</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>7</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>8</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Section 3 (旅行) -->
<div id="section" class="container">
  <div class="row" style="text-align: center; text-shadow:5px 5px 10px grey;"><h1>旅行</h1> </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>1</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>2</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>3</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>4</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>5</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>6</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>7</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail1">
        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://placehold.it/150x80?text=IMAGE">
        <div class="caption1">
          <h3>8</h3>
          <p> 红高粱 8.2</p>
          <p>
            <a href="#" class="btn btn-default" role="button">now</a>
            <a href="#" class="btn btn-info" role="button">later</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Section 41 (更多1-雨具) -->
<div id="section41" class="container">
  <h1>雨具</h1>
</div>

<hr>

<!-- Section 42 (更多2-唱片) -->
<div ide="section42"class="container">
  <h1>唱片</h1>
</div>

<hr>

<!-- Section 5 (联系服务) -->
