<html>
  <head>

    <style>
    
      .wel-bg-img{
      background-image:url("https://ww2.sinaimg.cn/large/006tNbRwgy1fclf06qp4lj31hc0zktjj.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border-style: none;
      margin: 30px 10px 10px;
      }

      }
    </style>
  </head>

  <body class="wel-bg-img">

  </body>
</html>
