<!-- <head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head> -->

<div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
    <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
    <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper For Slides -->
  <div class="carousel-inner" role="listbox">

    <!-- Third Slide -->
    <div class="item active">

      <!-- Slide Background -->
      <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg3t2ysykhj31kw0zkhdu.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
      <div class="bs-slider-overlay"></div>

      <div class="container">
        <div class="row">
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_left">
            <h2 data-animation="animated zoomInRight">书被阅读之后</h2>
            <p data-animation="animated fadeInLeft">才有了生命</p>
            <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                               <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- End of Slide -->

    <!-- Second Slide -->
    <div class="item">

      <!-- Slide Background -->
      <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg3t3lap93j31kw0zk4qs.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
      <div class="bs-slider-overlay"></div>
      <!-- Slide Text Layer -->
      <div class="slide-text slide_style_center">
        <h2 data-animation="animated zoomInRight">没被翻过的书</h2>
        <p data-animation="animated fadeInLeft">如同摆在书架或床头的废纸</p>
        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a>
                       <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a> -->
      </div>
    </div>
    <!-- End of Slide -->

    <!-- Third Slide -->
    <div class="item">

      <!-- Slide Background -->
      <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg3t3zwfk1j31kw0zkkjn.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
      <div class="bs-slider-overlay"></div>
      <!-- Slide Text Layer -->
      <div class="slide-text slide_style_right">
        <h2 data-animation="animated zoomInLeft">真读</h2>
        <p data-animation="animated fadeInRight">把书真的读起来</p>
        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                       <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
      </div>
    </div>
    <!-- End of Slide -->

  </div>
  <!-- End of Wrapper For Slides -->

  <!-- Left Control -->
  <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
    <span class="fa fa-angle-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <!-- Right Control -->
  <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
    <span class="fa fa-angle-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-----首页真读文案 ----->
<section class="story-box">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2><%= t('真读') %></h2>
      <div class="short-line"></div>
<!-------短线的效果在浏览器中没有显示出来，为什么？------->
      <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <img src='https://ws2.sinaimg.cn/large/006tNbRwgy1fgb71xnckrj30sg0iuwi1.jpg' >
</div>
<div class="col-md-7">
  <p>
       我们致力于打造一个有温度、有态度、有思想、有灵魂的图书交流网站。在这里你不仅能找到喜欢的图书，还能结识有着共同兴趣的TA。每一本书背后都有一个美丽的故事，都传递着上一位读者特别的感悟、独到的寄语。在这里，你不仅买了一本书，更收获了“有朋自远方来，不亦乐乎”的喜悦。你不仅在与作者交流，同时也在与未曾谋面的真读者进行思维对话。每一本书所承载的情感和故事赋予TA独特的意义。真正的阅读者也因此不同。
     </p>
</div>
  </div>
</div>
</section>
<! ------真读者-真知己-真分享------>
  <section class="categories-box">
   <div class="row">
    <div class="col-md-4 category-content">
      <h3>真读者</h3>
      <p>书与人一样，都是有生命的。书的生命由读者和作者共同赋予。有些书，因为不断被阅读而青春永驻。书被翻得越破烂，它的生命力就越旺盛。真读者不仅让书籍所传播的思想理念在生活中复活，还通过结合自身的解读，赋予书新的智慧与情感，赋予书新的生命。</p>
      <div class="category-box">
      <img src='https://ws3.sinaimg.cn/large/006tNbRwgy1fgb42dh915j31kw11x4qv.jpg'>
      </div>
      </div>

    <!-----三个板块在左侧呈纵向排列，为什么？应该横向排列----->

      <div class="col-md-4 category-content">
        <h3>真知己</h3>
        <p >以书为媒，以书会友。相同的阅读兴趣，深度的愉悦交流；遇见志趣相同、振频一致的soulmate。不禁感慨：“人生得一知己足矣”。让书连接你我TA，在这个喧嚣的世界，为自己的心灵找一片宁静、祥和的天地。在快节奏的时代，用传统的方式表达和接受独特的爱❤️。</p>
          <div class="category-box">
            <img src='https://ws1.sinaimg.cn/large/006tNbRwgy1fgaphzkcwyj31kw11zb2i.jpg'>
          </div>
        </div>

          <div class="col-md-4 category-content">
          <h3>真分享</h3>
          <p>想做到有效阅读一本书？请使用以输出为目的的阅读方法。不以输出为目的的知识输入，只是在自嗨。来吧，共读一本书，传递你在宇宙间独特的能量，让你的书流动起来。如果你真的爱你的书，就给它们自由吧。让他们带着你的祝福和思想，去吸引真读者，遇见真知己。</p>
          <div class="category-box">
            <img src='https://ws1.sinaimg.cn/large/006tNbRwgy1fgapi4xvq4j31kw16qe84.jpg' >
          </div>
        </div>
        </div>
      </section>
<!-----检查了div,section的成对情况后，三个板块的排列呈现垂直方向，应该呈水平方向，不知道是什么？----->




<!-- End  bootstrap-touch-slider Slider -->

<!-- Script to Activate the Carousel -->
<!-- <script>
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })

            $('#bootstrap-touch-slider').bsTouchSlider();

            </script>

           <script>
            $(document).ready(function () {
            $('.material-button-toggle').click(function () {
                $(this).toggleClass('open');
                $('.option').toggleClass('scale-on');
            });
           });
          </script> -->
