<!DOCTYPE html>
<html class="hb-loaded">
<head>
    <title>Select.</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="INft/1iOefohOKyeuf7dmKNu3uAZX/xGhnC16QNpVl5q4/1ztguLLNF8DYU/p9YADp8b7nYvFORDPQvU6pP4xA==">

    <link rel="stylesheet" media="all" href="/assets/application-018582fcf21efc9c7b43aecbf6956e5bf3017318eaefa45ce574c862d8330e0d.css" data-turbolinks-track="reload">
    <script src="/assets/application-0b6fc0113efda641dad19af3347b25be8179e53c75af7f655866710772cd35d8.js" data-turbolinks-track="reload"></script>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
    </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">

<!-- 區塊：圖片輪播 -->
  <div class="container-carousel">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
	    <ol class="carousel-indicators"><li data-target="#mycarousel" data-slide-to="0" class="active"></li><li data-target="#mycarousel" data-slide-to="1" class=""></li><li data-target="#mycarousel" data-slide-to="2" class=""></li></ol>
<!-- 廣告輪播列表 -->
        <div class="carousel-inner" role="listbox">
          <div class="item full-screen active" style="height: 562px; background-image: url(&quot;http://ww2.sinaimg.cn/large/006tNbRwgy1ffxh6h00vnj31470k4e81.jpg&quot;); background-color: rgb(238, 238, 238);">

            <div class="carousel-caption">
                <h2 class="logo">穿梭市集</h2>
								<h5>时间是静止的，流动的是我们。</h5>
                <a href="/products" class="btn btn-primary btn-lg">寻好物</a>
            </div>
        </div>
        <div class="item full-screen" style="height: 562px; background-image: url(&quot;http://ww2.sinaimg.cn/large/006tNbRwgy1ffxh6h00vnj31470k4e81.jpg&quot;); background-color: rgb(238, 238, 238);">

            <div class="carousel-caption">
                <h3>穿梭市集</h3>
								<a href="/products" class="btn btn-primary btn-lg">寻好物</a>
            </div>
        </div>
        <div class="item full-screen" style="height: 562px; background-image: url(&quot;http://ww2.sinaimg.cn/large/006tNbRwgy1ffxh6h00vnj31470k4e81.jpg&quot;); background-color: rgb(238, 238, 238);">

            <div class="carousel-caption">
                <h3>穿梭市集</h3>
								<a href="/products" class="btn btn-primary btn-lg">寻好物</a>
            </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">

        <span class="sr-only">上一则</span>
      </a>
      <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">

        <span class="sr-only">下一则</span>
      </a>
</div>
</div>
<!-- 區塊：圖片輪播 -->

<!-- 區塊：市集介绍 -->
<!-- 區塊：市集介绍 文字部分-->
<div class="container text-center">
  <br>
  <h3 class="logo">穿梭市集</h3>
  <h5><em>寻好物</em></h5>
  <p>我们深信美好生活由生活用具而生。
		<br>提供六大品牌家具选品，为您挑选出最美好的家具。
		<br>
		<br>穿梭市集，遇见未知的自己。</p>
    <br>
    <hr>
</div>

<!-- 區塊：推荐商品-->
<section class="show-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>精選商品</h2>
        <div class="short-line"></div>
        <div class="row">
          <div class="col-md-3">
            <div class="box">
              <a href="https://j-and-a-select.herokuapp.com/products/54"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffyhfwz0z6j30ci08cjrj.jpg" alt="Item 1"></a>
            </div>
            <div class="box">
              <a href="https://j-and-a-select.herokuapp.com/products/59"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffyhfwz0z6j30ci08cjrj.jpg" alt="Item 2"></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box">
              <a href="https://j-and-a-select.herokuapp.com/products/44"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffyhfwz0z6j30ci08cjrj.jpg" alt="Item 3"></a>
            </div>
            <div class="box">
              <a href="https://j-and-a-select.herokuapp.com/products/41"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffyhfwz0z6j30ci08cjrj.jpg" alt="Item 4"></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box three">
              <a href="https://j-and-a-select.herokuapp.com/products/60"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffyhfwz0z6j30ci08cjrj.jpg" alt="Item 5"></a>
            </div>
            <div class="box three">
              <a href="https://j-and-a-select.herokuapp.com/products/62"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffyhfwz0z6j30ci08cjrj.jpg" alt="Item 6"></a>
            </div>
            <div class="box three">
              <a href="https://j-and-a-select.herokuapp.com/products/57"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffyhfwz0z6j30ci08cjrj.jpg" alt="Item 7"></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box">
              <a href="https://j-and-a-select.herokuapp.com/products/61"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffyhfwz0z6j30ci08cjrj.jpg" alt="Item 8"></a>
            </div>
            <div class="box">
              <a href="https://j-and-a-select.herokuapp.com/products/48"><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffyhfwz0z6j30ci08cjrj.jpg" alt="Item 9"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- 區塊：穿梭达人 -->
<div class="row landing-page-eva">
    <div class="container">
      <div class="col-md-12">
        <h3 class="tagline">穿梭达人</h3>

          <div class="col-xs-12 col-sm-4 col-md-4 landing-page-eva-style">
            <div class="col-xs-3">
              <img class="img-circle img-responsive img-center frontpage-img" src="http://ww3.sinaimg.cn/large/006tNbRwgy1ffy2diyfunj30rk0rg7wh.jpg" alt="Xdite">
            </div>
            <div class="col-xs-9">
              <h5>达人1号</h5>
              <p>我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 landing-page-eva-style">
            <div class="col-xs-3">
              <img class="img-circle img-responsive img-center frontpage-img" src="http://ww3.sinaimg.cn/large/006tNbRwgy1ffy2diyfunj30rk0rg7wh.jpg" alt="Xiaolai">
            </div>
            <div class="col-xs-9">
              <h5>达人1号</h5>
              <p>我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 landing-page-eva-style">
            <div class="col-xs-3">
              <img class="img-circle img-responsive img-center frontpage-img" src="http://ww3.sinaimg.cn/large/006tNbRwgy1ffy2diyfunj30rk0rg7wh.jpg" alt="Xiaolai">
            </div>
            <div class="col-xs-9">
              <h5>达人1号</h5>
              <p>我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事我和它的故事</p>
            </div>
          </div>
      </div>
    </div>
  </div>
<!-- 區塊：穿梭达人 -->

<section class="push-box">
    <a class="btn btn-push" href="/products">立即選購</a>
</section>

</body>
</html>
