<div class="landing-page">
  <div class="wrapper background-blue">
    <!-- carousel js 移动 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
    <!-- carousel js 移动 end -->

    <!--
          If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
          Slide effect: slide, fade
          Text Align: slide_style_center, slide_style_left, slide_style_right
          Add Text Animation: https://daneden.github.io/animate.css/
          -->

    <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper For Slides -->
      <div class="carousel-inner" role="listbox">

        <!-- Third Slide -->
        <div class="item active">

          <!-- Slide Background -->
          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1fg91rfiqn2j311a0i275k.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_center">
            <div class="slogan1">
              <h1>为美食为聚 为故事而留</h1>
            </div>
            <br>
            <%= link_to("发现更多开味灵感", products_path, :class => "btn btn-danger") %>
          </div>

          <!-- <p data-animation="animated fadeInLeft"><h3></h3>
                                  </p> -->
          <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                                  <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
        </div>

        <!-- End of Slide -->

        <!-- Second Slide -->
        <div class="item">

          <!-- Slide Background -->
          <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fg8futwcxyj311a0i20ue.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_center">
            <div class="slogan1">
              <h1>点缀心情 分享快乐</h1>
            </div>
            <br>
            <%= link_to("发现更多开味灵感", products_path, :class => "btn btn-danger") %>
          </div>
          <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a>
                          <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a> -->

        </div>
        <!-- End of Slide -->

        <!-- Third Slide -->
        <div class="item">

          <!-- Slide Background -->
          <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fg8h9y6jr1j311a0i278l.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_center">
            <div class="slogan1">
              <h1>设计优选 品质生活</h1>
            </div>
            <br>
            <%= link_to("发现更多开味灵感", products_path, :class => "btn btn-danger") %></div>
          <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                          <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
        </div>

        <!-- End of Slide -->

      </div>
      <!-- End of Wrapper For Slides -->

      <!-- Left Control -->
      <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <!-- Right Control -->
      <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
    <!-- End  bootstrap-touch-slider Slider -->
    <div class="mainproduct">
      <div class="row welcome-product">
        <div class="col-md-5 col-md-offset-1">
          <div class="prolist">
            <a href="products?category=饮食餐具系列" target=_blank><img class="product-intro-list-img-right img-responsive center-block" src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg5s1i1e12j30cd09fab1.jpg" title=""></a>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-1 ">
          <div class="detail">
            <a href="products?category=饮食餐具系列" target=_blank>
              <h3 class="info-title">饮食餐具系列</h3>
              <p>无论是早餐还是烛光晚餐，我们都提供了丰富的餐具选择。不仅实用，还别具一格，让您的餐桌拥有独特个性。</p>
            </a>
          </div>
        </div>
      </div>

      <div class="row welcome-product">
        <div class="col-md-4 col-md-offset-1">
          <div class="detail">
            <a href="products?category=烹饪工具系列" target=_blank>
              <h3 class="info-title">烹饪工具系列</h3>
              <p>烹饪一顿您喜爱的美食应该跟享用它一样充满乐趣。这很大程度上与烹饪用具有关，因而我们提供一系列耐用的工具，可让您煎炒、蒸煮您最爱的美食。</p>
            </a>
          </div>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <div class="prolist">
            <a href="products?category=烹饪工具系列" target=_blank><img class="product-intro-list-img-right img-responsive center-block" src="https://ws4.sinaimg.cn/large/006tNbRwgy1fg9bfkyz9fj30eb0aw3zb.jpg" title=""></a>
          </div>
        </div>
      </div>

      <div class="row welcome-product">
        <div class="col-md-5 col-md-offset-1">
          <div class="prolist">
            <a href="#" target=_blank><img class="product-intro-list-img-right img-responsive center-block" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fg9b03j1ujj30eb0at3z1.jpg" title=""></a>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-1">
          <div class="detail">
            <a href="products?category=设计师潮品" target=_blank>
              <h3 class="info-title">设计师潮品</h3>
              <p>精致有设计感的餐具，更能立刻勾起你的食欲。各种设计师合作的限量前卫图案和独特材质的餐具，让艺术与美食完美结合</p>
            </a>
          </div>
        </div>
      </div>


      <div class="welcome-buttom">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h4 class="slogan2 text-center">为你创造美味的时刻 <br><br>
              故事的灵感从这里开始</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
