<h1>  欢迎进入乳品专卖店！ </h1>
<div class="jumbotron">
  <h1 class="title"> </h1>
    <p class="slogan">只为点滴幸福
    <br>

    <br>
     健康营养每一天！
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">订购浏览</a></p>
  </div>
