<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  .bg-1 {
      background-color: #1abc9c;
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  </style>
</head>
<body>

  <div class="container-fluid bg-1 text-center">
    <br><br><br>
    <h3>到底该卖点什么呢?</h3>
    <br><br>
    <img src="dlhz.jpg" class="img-circle" alt="dlhz" width="250" height="250">
    <br><br>
    <h1>我</h1>
    <br><br><br>
  </div>

  <div class="container-fluid bg-2 text-center">
    <br>
    <h2>想不到呢...</h2>
    <br>
    <br>
  </div>

  <div class="container-fluid bg-3 text-center">
    .<br>
    .<br>
    .<br>
    .<br>
    .<br>
  </div>

</body>
</html>
