<!-- ↓↓↓ 大图滚动banner 代码块↓↓↓ -->
<div class="box">
  <div class="row">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <div class="overlay"></div>

      <!-- 默认三张图列表 -->
      <div class="banner">
        <ul class="carousel-indicators ">
          <li data-target="#bs-carousel" data-slide-to="0" class="active" > </li>
          <li data-target="#bs-carousel" data-slide-to="1" ></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ul>
      </div>

      <!-- 文案部分 -->
      <div class="carousel-inner">
        <div class="item slides active" >
          <div class="slide-1"></div>
          <div class="hero row">
            <hgroup>
                <h1>生活，充满惊喜</h1>
                <h3>有趣的东西</h3>
                <h3>总是那么令人难以忘记</h3>  <!--//h3文案部分需要调整两行间的行距 -->
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">
            <hgroup>
                <h1>这里，探索发现</h1>
                <h3>天生充满好奇的我们</h3>
                <h3>会有意想不到的收获</h3>


            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">
            <hgroup>
                <h1>来吧，志趣非凡的你</h1>
                <h3>发现生活给予我们的每一份喜悦</h3>

            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ↑↑↑ 大图滚动banner 代码块 ↑↑↑ -->





        <!-- headline -->
        <div class="row">
            <div class="row">
                <div id="lg-content">

                    <div class="lg-section-2 clearfix">
                        <div class="content-2">
                          <div class="row">

                          <div class="col-sm-7">
                            <h2>有趣的发现，每日更新</h2>
                            <p style="line-height:40px;">在这里，我们每天都会从世界各地收集各种有趣的商品，经过精细挑选，呈现在您的面前。不论大孩子玩的无人机，时尚辣妈的厨师机，还是精美的旅行好物，您
                              都会发现它们与众不同之处。因为它们的存在，生活变得逸趣横生！</p>

                          </div>
                          <div class="col-sm-5">
                            <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgfe3yvp5hj30p00uvq42.jpg" style="height:400px;width:320px;margin-top:0;border-radius:3px;"></div>

                          </div>

                        </div>
                    </div>
                    <div class="lg-section-3 clearfix">
                        <div class="content-3">
                            <div class="feature-title">
                                <h2>挑选最优礼物送达意想不到的惊喜</h2>
                                <div class="feature-block">
                                    <!-- <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd7t16orvpj308c04rt9d.jpg"><br/> -->
                                    <a href="/products"><img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgg34p4ae6j30fn0dnq57.jpg" ><br/></a>

                                    <h4>洞察对方喜好</h4>
                                    <p>
                                        你喜欢的礼物，并不一定是对方喜欢的。关注他／她的愿望清单，送出对方心仪的礼物。</p>
                                </div>
                                <div class="feature-block">
                                    <a href="/products"><img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgg34qig7gj30fj0dojsn.jpg" ><br/></a>
                                    <h4>锁定最优礼物</h4>
                                    <p>
                                        挑选礼物品类太多挑花眼，又怕对方不喜欢。我们帮你选，从此没有告别选择困难症。</p>
                                </div>
                                <div class="feature-block">
                                    <!-- <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fd7t15vg28j308c04r3z9.jpg"><br/> -->
                                  <a href="/products"><img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fgg34s2l4dj30du0c4jsc.jpg"><br/></a>
                                    <h4>物美实用价格优</h4>
                                    <p>
                                        保证高品质的同时提供最优价格，让你的心意完美表达，真正为你省时省心又省钱。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lg-section-4">


                        <div class="content-4 clearfix">
                            <h2>顾客的心声</h2>
                            <div class="client-share-left">
                                <div class="photo">
                                    <img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgf8ehc3b2j30ms0e8diq.jpg">

                                </div>

                                <p>
                                    <i class="fa fa-quote-left" id="fa-quote" aria-hidden="true"></i>
                                  我在这里发现了许多好玩的玩具，特别喜欢这里的“百变转角积木”，它给我带了许多的欢乐。我把它带出去，总是引起陌生人的好奇，曾经玩过或亲眼看过的人都被吸引住了，十分的有趣！
                                    <i class="fa fa-quote-right" id="fa-quote" aria-hidden="true"></i>
                                </p>
                                <div class="name">
                                    <span>Angelina(安洁莉娜)：一个8岁的小朋友</span>
                                </div>
                            </div>
                            <div class="client-share-right">
                                <div class="photo">
                                    <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgf8cfrvrsj30ms0e80ur.jpg">

                                </div>
                                <p>
                                    <i class="fa fa-quote-left" id="fa-quote" aria-hidden="true"></i>
                                    我经常在这里去淘一些有趣的东西，因为经常旅游的缘故，我偏爱找些有趣实用工具。我在这里发现了“皱皱城市地图（巴黎）”，这款地图不怕皱，不怕风吹日晒，不怕折痕，看完了随意塞进口袋，真的很不错。
                                    <i class="fa fa-quote-right" id="fa-quote" aria-hidden="true"></i>
                                </p>
                                <div class="name">
                                    <span>Cassiel(卡西欧)：一个喜欢旅游的女士</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lg-action clearfix">
                        <div class="action-content">
                            <h1>在这里，发现有趣</h1>
                            <div>
                                <div>
                                    <a class="btn btn-default btn-lg" id="action-btn" href="/products">马上挑选</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
