<div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">
        <!-- Third Slide -->
        <div class="item active">
            <!-- Slide Background -->
            <img src="https://ooo.0o0.ooo/2017/02/16/58a484b3ae349.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <div class="container">
                <div class="row">
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">潮流不止</h1>
                        <p data-animation="animated fadeInRight">Nike SF-AF1 限时上新</p>
                        <a target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">点此了解</a>
                        <a target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">立即选购</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Second Slide -->
        <div class="item">
            <!-- Slide Background -->
            <img src="https://ooo.0o0.ooo/2017/02/15/58a41670dfcab.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_center">
                <h1 data-animation="animated flipInX">潮童的新学期</h1>
                <p data-animation="animated lightSpeedIn">满299减50 满499减100</p>
                <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">点此了解</a>
                <a href="#" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">立即选购</a>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Third Slide -->
        <div class="item">
            <!-- Slide Background -->
            <img src="https://ooo.0o0.ooo/2017/02/15/58a4151855a9b.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_right">
                <h1 data-animation="animated zoomInLeft">质感夹克 开春优选</h1>
                <p data-animation="animated fadeInRight">VIP价全开启（2.15-3.25）</p>
                <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">点此了解</a>
                <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">立即选购</a>
            </div>
        </div>
        <!-- End of Slide -->
    </div>
    <!-- End of Wrapper For Slides -->
    <!-- Left Control -->
    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <!-- Right Control -->
    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- End  bootstrap-touch-slider Slider -->
<br>
<section id="recommend product">
    <div class = "container-fluid">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <div class="hovereffect">
                        <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2df008de69.jpg" alt="">
                        <div class="overlay">
                            <h2>Human Made</h2>
                            <a class="info" href="#">最新系列</a>
                        </div>
                    </div>
                    <div class="caption">
                        <h3>Human Made</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <div class="hovereffect">
                        <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2ed47dc9bf.jpg" alt="">
                        <div class="overlay">
                            <h2>adidas Originals</h2>
                            <a class="info" href="#">最新系列</a>
                        </div>
                    </div>
                    <div class="caption">
                        <h3>adidas Originals</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <div class="hovereffect">
                        <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2ee18b2dae.jpg" alt="">
                        <div class="overlay">
                            <h2>Gift Guide</h2>
                            <a class="info" href="#">送给她</a>
                        </div>
                    </div>
                    <div class="caption">
                        <h3>Gift Guide</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="col-sm-12">
            </div>
        </div>
        <br>
        <br>
        <section id="recommend product 2">
            <div class = "container-fluid">
                <div class="row">
                    <div class="col-sm-4 ">
                        <div class="thumbnail">
                            <div class="hovereffect">
                                <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2f4b3854db.jpg" alt="">
                                <div class="overlay">
                                    <h2>Running Shoes</h2>
                                    <a class="info" href="#">立即选购</a>
                                </div>
                            </div>
                            <div class="caption">
                                <h3>Running Shoes</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="thumbnail">
                            <div class="hovereffect">
                                <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2f6f06364f.jpg" alt="">
                                <div class="overlay">
                                    <h2>Daniel Patrick</h2>
                                    <a class="info" href="#">立即选购</a>
                                </div>
                            </div>
                            <div class="caption",style="font-family:TrashHand; font-size:24px">
                                <h3>Daniel Patrick</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="thumbnail">
                            <div class="hovereffect">
                                <img class="img-responsive" src="https://ooo.0o0.ooo/2017/02/14/58a2f78b51843.jpg" alt="">
                                <div class="overlay">
                                    <h2>Coat</h2>
                                    <a class="info" href="#">立即选购</a>
                                </div>
                            </div>
                            <div class="caption">
                                <h3>Coat</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="phrase">
                                <img src="https://ooo.0o0.ooo/2017/02/14/58a31219479a1.png" class="img-rounded" alt="Cinque Terre" width="35" height="35">
                                <br>
                                <h4>请介绍我们给您的朋友</h4>
                                <p>每一个推荐即可赚取 20％ 的佣金。</p>
                                <a class="blue" href="#">了解更多</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="phrase">
                                <img src="https://ooo.0o0.ooo/2017/02/14/58a3188fe93a3.png" class="img-rounded" alt="Cinque Terre" width="35" height="35">
                                <br>
                                <h4>成为一位 POP VIP</h4>
                                <p>立即享受独家优惠</p>
                                <a class="blue" href="#">了解更多</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="phrase">
                                <img src="https://ooo.0o0.ooo/2017/02/14/58a3186b60c67.png" class="img-rounded" alt="Cinque Terre" width="35" height="35">
                                <br>
                                <h4>即时注册您的 EDU 电子邮件</h4>
                                <p>即时获得一整年 的10％折扣</p>
                                <a class="blue" href="#">了解更多</a>
                            </div>
                        </div>
                    </div>
                </div>
