<div class="jumbotron">
  <h1 class="title">百货商店</h1>
  <p class="slogan">百货商店是一个把线下商店转为线上售卖的网站
  <br>
  我们希望藉由这个网站，能让大家省去路途的劳累
  <br>
  为多赚得的时间和精力做自己想做的事
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/products">立即浏览</a></p>
</div>
