

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="#">
      <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcupdd5uzij31400miwh2.jpg" alt="First slide">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="#">
      <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcyhwjcktuj31400miahg.jpg" alt="Second slide">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcyi2tuwz4j312w0kl7bd.jpg" alt="Third slide">
        <div class="carousel-caption"></div>
      </a>
    </div>
  </div>

 <a class="carousel-control left" href="#myCarousel" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
 </a>
 <a class="carousel-control right" href="#myCarousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
 </a>

  <div>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/products">点我有惊喜</a></p>
  </div>
</div>
