<div class="banner">
	<ul class="banList">
		<li class="active"><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner01.jpg"/></a></li>
		<li><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner02.jpg"/></a></li>
		<li><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner03.jpg"/></a></li>
    <li><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner04.jpg"/></a></li>
    <li><a href="/"><img src="http://oj8zlumqh.bkt.clouddn.com/image/banner05.jpg"/></a></li>
	</ul>
	<div class="fomW">
		<div class="jsNav">
			<a href="javascript:;" class="trigger current"></a>
			<a href="javascript:;" class="trigger"></a>
			<a href="javascript:;" class="trigger"></a>
      <a href="javascript:;" class="trigger"></a>
      <a href="javascript:;" class="trigger"></a>
		</div>
	</div>
</div>
