<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">比特世界旅遊</h1>
      <p class="slogan">比特世界旅遊，提供了最前衛的旅遊服務
        <br>
        我们希望借由這個網站，能比特幣首富們享受世界的美好
        <br>
        使用比特幣，就是做空全世界
      </p>

    </div>
  </div>
</div>
