
<div class= "search">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_cont ,class:"search-content" , placeholder:"请输入商品关键词"%>
    <%= f.submit class:"btn btn-info" %>
  <% end %>
</div>

<div class="video">  <!--加个div便于通过margin消除左右边距 -->
  <iframe width="100%" height="600px" src="https://www.youtube.com/embed/LmSH2lZqUD0?list=PLwXMmy5fUrVyGt6mtGEGf5_hv3gB1aSJG&autoplay=0" frameborder="0" allowfullscreen></iframe>
</div>


<div class="page-home store-content ng-scope">

  <section class="hot-panel">
    <div class="js-box box">
      <header class="title-header">
        <h5 class="title">自然的馈赠</h5>
      </header>

      <div id="js-hot-wrapper" class="hot-wrapper">
        <ul class="cell-list hot-cell-list ng-scope active">

          <li class="item no-border-left product">
            <div class="ng-scope">
              <img  src="https://ooo.0o0.ooo/2017/02/23/58ae9607c46f4.jpg" alt="松茸" >
              <div class="info">
                <h6 class="ng-binding">松茸</h6>
                <p class="ng-binding ng-scope">来自高海拔山地的精灵般的食物</p>
              </div>
              <p class="price">
                <i>￥</i>
                <span class="ng-binding">800.00</span>
              </p>
              <a href="/products/12" class="cover-link"></a>
            </div>
          </li>

          <li class="item no-border-left product">
            <div class="ng-scope">
              <img  src="https://ooo.0o0.ooo/2017/02/23/58aee42ac6820.jpeg" alt="冬笋" >
              <div class="info">
                <h6 class="ng-binding">冬笋</h6>
                <p class="ng-binding ng-scope">来自山林的极品美味</p>
              </div>
              <p class="price">
                <i>￥</i>
                <span class="ng-binding">800.00</span>
              </p>
              <a href="products/2" class="cover-link"></a>
            </div>
          </li>

          <li class="item no-border-left product">
            <div class="ng-scope">
              <img  src="https://ooo.0o0.ooo/2017/02/23/58aeea7177758.jpeg" alt="诺邓火腿" >
              <div class="info">
                <h6 class="ng-binding">诺邓火腿</h6>
                <p class="ng-binding ng-scope">千年盐井，三年一腿</p>
              </div>
              <p class="price">
                <i>￥</i>
                <span class="ng-binding">300.00</span>
              </p>
              <a href="products/13" class="cover-link"></a>
            </div>
          </li>

          <li class="item no-border-left product">
            <div class="ng-scope">
              <img  src="https://ooo.0o0.ooo/2017/02/23/58aeec01cdd3b.jpg" alt="查干湖胖头鱼" >
              <div class="info">
                <h6 class="ng-binding">查干湖胖头鱼</h6>
                <p class="ng-binding ng-scope">水底的整个世界都在这里</p>
              </div>
              <p class="price">
                <i>￥</i>
                <span class="ng-binding">80.00</span>
              </p>
              <a href="products/14" class="cover-link"></a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </section>


  <section class="hot-panel">
    <div class="js-box box">
      <header class="title-header">
        <h5 class="title">时间的味道</h5>
      </header>

      <div id="js-hot-wrapper" class="hot-wrapper">
        <ul class="cell-list hot-cell-list ng-scope active">

          <li class="item no-border-left product">
            <div class="ng-scope">
              <img  src="https://ooo.0o0.ooo/2017/02/24/58b03d143dd46.jpeg" alt="黄馍馍" >
              <div class="info">
                <h6 class="ng-binding">黄馍馍</h6>
                <p class="ng-binding ng-scope">金灿灿，松软甜</p>
              </div>
              <p class="price">
                <i>￥</i>
                <span class="ng-binding">30.00</span>
              </p>
              <a href="products/5" class="cover-link"></a>
            </div>
          </li>

          <li class="item no-border-left product">
            <div class="ng-scope">
              <img  src="https://ooo.0o0.ooo/2017/02/24/58b040d42ffc0.jpg" alt="奶豆腐" >
              <div class="info">
                <h6 class="ng-binding">奶豆腐</h6>
                <p class="ng-binding ng-scope">来自草原的美味</p>
              </div>
              <p class="price">
                <i>￥</i>
                <span class="ng-binding">80.00</span>
              </p>
              <a href="products/6" class="cover-link"></a>
            </div>
          </li>

          <li class="item no-border-left product">
            <div class="ng-scope">
              <img  src="https://ooo.0o0.ooo/2017/02/24/58b042b4cacc7.jpg" alt="腊肉" >
              <div class="info">
                <h6 class="ng-binding">腊肉</h6>
                <p class="ng-binding ng-scope">肥不腻口，瘦不塞牙</p>
              </div>
              <p class="price">
                <i>￥</i>
                <span class="ng-binding">120.00</span>
              </p>
              <a href="products/7" class="cover-link"></a>
            </div>
          </li>

          <li class="item no-border-left product">
            <div class="ng-scope">
              <img  src="https://ooo.0o0.ooo/2017/02/24/58b04473b3b4e.jpg" alt="乌鱼子" >
              <div class="info">
                <h6 class="ng-binding">乌鱼子</h6>
                <p class="ng-binding ng-scope">风味独特，齿颊留香</p>
              </div>
              <p class="price">
                <i>￥</i>
                <span class="ng-binding">1600.00</span>
              </p>
              <a href="products/8" class="cover-link"></a>
            </div>
          </li>
        </ul>
      </div>

      <div id="js-hot-wrapper" class="hot-wrapper">
        <ul class="cell-list hot-cell-list ng-scope active">

        <li class="item no-border-left product border-top">
          <div class="ng-scope">
            <img  src="https://ooo.0o0.ooo/2017/02/24/58b0476c4cb3b.jpg" alt="煎饼" >
            <div class="info">
              <h6 class="ng-binding">沂蒙煎饼</h6>
              <p class="ng-binding ng-scope">圆如望月，大如铜钲，薄似剡溪之纸，色似黄鹤之翎</p>
            </div>
            <p class="price">
              <i>￥</i>
              <span class="ng-binding">15.00</span>
            </p>
            <a href="products/15" class="cover-link"></a>
          </div>
        </li>

        <li class="item no-border-left product border-top">
          <div class="ng-scope">
            <img  src="https://ooo.0o0.ooo/2017/02/24/58b049d676ba6.jpg" alt="鸡" >
            <div class="info">
              <h6 class="ng-binding">盐焗鸡</h6>
              <p class="ng-binding ng-scope">皮爽肉滑，客家名菜</p>
            </div>
            <p class="price">
              <i>￥</i>
              <span class="ng-binding">90.00</span>
            </p>
            <a href="products/10" class="cover-link"></a>
          </div>
        </li>

        <li class="item no-border-left product border-top">
          <div class="ng-scope">
            <img  src="https://ooo.0o0.ooo/2017/02/24/58b04d5bd18b1.jpg" alt="挂面" >
            <div class="info">
              <h6 class="ng-binding">张世新挂面</h6>
              <p class="ng-binding ng-scope">黄土高坡，祖传技艺</p>
            </div>
            <p class="price">
              <i>￥</i>
              <span class="ng-binding">60.00</span>
            </p>
            <a href="products/16" class="cover-link"></a>
          </div>
        </li>

        <li class="item no-border-left product border-top">
          <div class="ng-scope">
            <img  src="https://ooo.0o0.ooo/2017/02/24/58b04e93e4505.jpg" alt="飞鱼" >
            <div class="info">
              <h6 class="ng-binding">飞鱼</h6>
              <p class="ng-binding ng-scope">鸟翼鱼身，头白口红</p>
            </div>
            <p class="price">
              <i>￥</i>
              <span class="ng-binding">1800.00</span>
            </p>
            <a href="products/17" class="cover-link"></a>
          </div>
        </li>
      </ul>
      </div>
    </div>
  </section>
</div>
