<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="javascript:;">
      <img src="http://i.imgur.com/zwYoT3d.jpg?1">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="http://i.imgur.com/ZECaYML.jpg?1">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <img src="http://i.imgur.com/85JqWC3.jpg?2">
      <div class="carousel-caption"></div>
     </a>
    </div>
  </div>
</div>

<div class="productList-wrap w1200 pt20 bc">
  <%= render :partial => "welcome/product_list"%>
</div>
