<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">芝樱海</h1>
       <p class="slogan">芝樱海是一个提供鲜花的网站。
         <br>
         杀啊杀啊杀杀杀说
         <br>
         在新泽西州选择
       </p>

     </div>
   </div>
 </div>
