
  <div class="jumbotron">
    
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="success">
        <th>时间</th>
        <th>节日</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>5月30号</td>
        <td>端午节</td>
      </tr>
      <tr>
        <td>6月1号</td>
        <td>儿童节</td>
      </tr>
      <tr>
        <td>6月18号</td>
        <td>父亲节</td>
      </tr>
    </tbody>
  </table>
