<h2 style="text-align: center; margin-top:50px;">Please scan this QR code with Wechat</h2>
<h3 style="text-align: center; margin-top:20px;"> ¥<%= @order.total %></h3>


<div style="margin-top: 50px;">
 <p style="text-align: center;"><img style="width: 25%" src="http://user-image.logdown.io/user/18394/blog/17929/post/775442/p1FqzY5tS4mdomknXDvA_wechat.png"></img></p>
</div>