<div class="container">
  <h1 align="center"><br/><br/>让古琴不再曲高和寡</h1>

  <hr />

  <div class="row">
    <div class="col-md-6 col-md-6">
      <div class="thumbnail">
        <img src="" />
        <div class="caption">
          <h4 align="center"></h4>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-6">
      <div class="thumbnail">
      <br/>
      <h3 align="center">学古琴，似乎甚至都开始不了</h4>
          <p>建国初，全国会奏古琴的不过几百人，另有一说，只有几十人。但之后古琴又开始复苏，但是始终比较冷门，没有蓬勃发展。
            最主要的因素就是基础设施不足，首先是买琴难，全国生产古琴的只有南通和扬州（专指较优质，值得购买的古琴），而且受木材、漆料、工序、技艺、斫琴师等的影响，优质的古琴相当低产，
            更大的问题是，如何挑选，往往初学者想挑选一张古琴，却不知道如何分辨优劣，需要依赖行家的判断。其次，古琴老师也不好找，作为一种小众乐器，会的人本来就不多，
            达到一定水准且善于教学的人少之又少。周围看似有一些师资，但往往都是半吊子；网络也有不少视频教学，但古琴指法是需要在老师指导下反复雕琢的，其中会产生大量疑问和不确定，需要老师解答，
            那免费、又缺乏反馈的教学，其质量可想而知。</p>

      </div>
    </div>

  <div class="row">
    <div class="col-md-6 col-md-6">
     <div class="thumbnail">
       <h3 align="center">我们提供一切，帮您起飞</h4>
       <p>挑琴难？我们提供质量过硬的古琴。采用经受时间考验的材质、工艺和斫琴师，所有古琴经过我们的老师检验，确保每一张琴质量合格，音色过关。省去您选够古琴的麻烦和疑虑。
         提供多种选择，从低价的普通款到价格较高的精品，根据您的需求还可以联系定制款。提供钢弦、丝线、琴桌、琴套、琴鉴等配套用品。有兴趣的朋友，也可以到我们的琴馆现场挑选。
       </p>找不到老师？我们拥有实力雄厚的教学团队，均有资深的教学经验和对古琴的深刻理解。我们提供在线课程和线下课。在线课程可以跟老师互动、提问，当场反馈，
       较目前网络上的多数视频教学更有效，但以入门为主。我们更推荐线下课，教学效果更好，效率更高，而且涵盖了很多高阶的教学内容。对于注册会员，我们将不定期请知名琴家对
       大家进行指导讲课和雅集活动。

      </div>
    </div>

    <div class="col-md-6 col-md-3">
      <div class="thumbnail">
        <img src="">
        <div class="caption">
          <h4 align="center"></h4>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/reunion-c54f75459afc21e2c267668dcc23d2047af0e813f60aa2f78656d11dafe0e300.png" alt="Reunion" />
        <div class="caption">
          <h4><a href="/jobs/human_resource?order=by_human-resource">Human Resources</a></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/design-42c7af34424d4939ac702c7d06e8a9cdcc1fa69807975ef28425884c2652dca9.png" alt="Design" />
        <div class="caption">
          <h4><a href="/jobs/design?order=by_design">Design</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
