<div class="container">
  <h1 align="center"><br/><br/>宝贵的文化遗产，需要传承和发扬</h1>

  <hr />

  <div class="row">
    <div class="col-md-6 col-md-6">
      <div class="thumbnail">
        <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcp65a0pyhj30d70i1dv0.jpg" />
        <div class="caption">
          <h4 align="center">图中的女子在给古琴上弦</h4>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-6">
      <div class="thumbnail">
      <br/>
          <p>古琴，亦称瑶琴、玉琴、七弦琴，为中国最古老的弹拨乐器之一，它在中国历史上流传了三千余年不曾中断,
            至今依然鸣响在书斋、舞台上。在中国古代社会中，“琴、棋、书、画”历来被视为修身养性的必由之径。
            古琴因其清、和、淡、雅的音乐品格寄寓了文人凌风傲骨、超凡脱俗的处世心态，而在音乐、棋术、书法、绘画中居于首位。
          </p><p>战国时期的伯牙和子期“《高山》《流水》觅知音”的故事，成为广为流传的佳话美谈；
            魏晋时期的嵇康给予古琴“众器之中，琴德最优”的至高评价，终以在刑场上弹奏《广陵散》作为生命的绝唱.
          </p><p>时至今日，古琴音乐依然作为中国音乐的灵魂与精髓，铸刻在“旅行者”号飞船的唱片里，昼夜不息地回响在茫茫的太空之中，寻觅着宇宙间的“知音”。
关于琴的起源有"昔伏羲作琴"、"神农作琴"、"舜作五弦之琴以歌南风"等说，作为传说虽不可尽信，但却可看出琴在中国有着悠久的历史。
   《诗经·关雎》有“窈窕淑女，琴瑟友之”，《诗经·小雅》亦有：“琴瑟击鼓，以御田祖”等记载。
　　</p><p>2003年11月7日，古琴联合国教科文组织列入“人类口头和非物质遗产代表作”。</p>
      </div>
    </div>

  <div class="row">
    <div class="col-md-6 col-md-6">
     <div class="thumbnail">
       <h3 align="center">古琴结构</h4>
       <p>古琴最初只有五根弦，内合五行，金、木、水、火、土；外合五音，宫、商、角、徵、羽。
         后来文王囚于羑里，思念其子伯邑考，加弦一根，是为文弦；武王伐纣，加弦一根，是为武弦。合称文武七弦琴。 </p>
         <p>由于琴没有“品”（柱）或“码子”，非常便于灵活弹奏，又具有有效琴弦特别长，琴弦震幅大，余音绵长不绝等特点，所以才有其独特的走手音。 </p>
        <p>就构造而音，琴的各部分结构十分合理。其体积不大不小，既便于携带，又方正雅致。有心品琴，其形已足以使人心怡。古琴造型优美，常见的为伏羲式、仲尼式、连珠式、落霞式、灵机式、蕉叶式、神农式等。从琴各部分的命名亦可著出琴制之受儒家思想的影响。
　　   琴前广后狭，象征尊卑之别。宫、商、角、徵、羽五根弦象征君、臣、民、事、物五种社会等级。后来增加的第六、七根弦称为文、武二弦象征君臣之合恩。
      十二徽分别象征十二月，而居中最大之徽代表君象征闰月。古琴有散音、泛音和按音三种音色，分别象征天、地、人之和合。
      这些古琴形制命名的象征意义实反映出儒家的礼乐思想及中国人所重视的和合性。</p>
      <p>古琴的收藏者常在琴身上刻章题诗。</p>
      </div>
    </div>

    <div class="col-md-6 col-md-3">
      <div class="thumbnail">
        <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fcp6wyjwdaj30d80i77kg.jpg">
        <div class="caption">
          <h4 align="center">传世古琴上往往有丰富的题刻</h4>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/reunion-c54f75459afc21e2c267668dcc23d2047af0e813f60aa2f78656d11dafe0e300.png" alt="Reunion" />
        <div class="caption">
          <h4><a href="/jobs/human_resource?order=by_human-resource">Human Resources</a></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/design-42c7af34424d4939ac702c7d06e8a9cdcc1fa69807975ef28425884c2652dca9.png" alt="Design" />
        <div class="caption">
          <h4><a href="/jobs/design?order=by_design">Design</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
