<div class="mainbody">
  <div class="tips">
    请勿在此发起疾病救助类型的项目，一经发现将立即删除！
  </div>
  <div class="admin-product-info">
    <h2>众筹项目信息(填写示范)</h2>
    <label class="string optional control-label">项目名称:</label>
    <input class="string optional form-control" type="text" value="紫泥之恋 | 一念遇见 · 一瞬千年 众筹第三季">
    <label class="string optional control-label">项目描述:</label>
    <textarea class="string optional form-control" style="resize:none">我们筹集的资金将用于保护传承和发展山西民间传统手工。第一部分资金将用于民间传统工艺的推广。第二部分资金将用于民间传统手工品的继续开发。</textarea>
    <label class="string optional control-label">需筹款数(¥):</label>
    <input class="string optional form-control" type="text" value="8888">
    <label class="string optional control-label">封面图片:(320*240)</label>
    <div class="img-show" >
      <img alt="一起来众筹" title="大家一起来众筹～" src="http://oj8zlumqh.bkt.clouddn.com/image/103.jpg">
    </div>
    <div class="create-btn">
      <input type="button" class="btn btn-success" value="创建众筹" disabled="disabled">
    </div>
  </div>
</div>
