<div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
              <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
              <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper For Slides -->
          <div class="carousel-inner" role="listbox">

              <!-- First Slide -->
              <div class="item active">

                  <!-- Slide Background -->

                    <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcp48moopoj30j608jt91.jpg" alt="Bootstrap Touch Slider" width="100%" />

                  <div class="bs-slider-overlay"></div>

                  <div class="container">
                      <div class="row">
                          <!-- Slide Text Layer -->
                          <div class="slide-text slide_style_right">
                              <h1 data-animation="animated zoomInRight"><br/>Veiw-surface</h1>
                            <!--  <p data-animation="animated fadeInLeft"></p> -->
                          <!--    <a href="/guqin" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Learn More</a>
                              <a href="/products" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">Get Start!</a> -->
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End of Slide -->

              <!-- Second Slide -->
              <div class="item">

                  <!-- Slide Background -->
                  <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcp4dfczlhj30j608jaa7.jpg" alt="Bootstrap Touch Slider"  class="slide-image" />
                  <div class="bs-slider-overlay"></div>
                  <!-- Slide Text Layer -->
                  <div class="slide-text slide_style_left">
                      <h1 data-animation="animated flipInX">Veiw-side</h1>
                    <!--  <p data-animation="animated lightSpeedIn">
                    </p> -->
                    <!--  <a href="/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">Learn More</a>
                      <a href="/products" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">Get Start!</a> -->
                  </div>
              </div>
              <!-- End of Slide -->

              <!-- Third Slide -->
              <div class="item">

                  <!-- Slide Background -->
                  <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcp4j5qrebj30hy07yq36.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>
                  <div class="bs-slider-overlay"></div>
                  <!-- Slide Text Layer -->
                  <div class="slide-text slide_style_center">
                      <h1 data-animation="animated zoomInLeft"><br/>View-inside</h1>
                    <!--  <p data-animation="animated fadeInRight"></p> -->
                    <!--  <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Learn More</a>
                      <a href="/products" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">Get Start!</a> -->
                  </div>
              </div>
              <!-- End of Slide -->


          </div><!-- End of Wrapper For Slides -->

          <!-- Left Control -->
          <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
              <span class="fa fa-angle-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>

          <!-- Right Control -->
          <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
              <span class="fa fa-angle-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>

      </div>

      <!-- End  bootstrap-touch-slider Slider -->

              <!--Introductions-->

      		<div class="container">
      			<h1 align="center"><br/>Introductions about Guqin</h1>

            <hr />
      			<div class="row">
      				<div class="col-md-6 col-md-6">
      			    <div class="thumbnail">
      			      <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcnt4qu0iyj30xc0spgt5.jpg" >
      			    </div>
      			  </div>

      			  <div class="col-md-6 col-md-6">
      			    <div class="thumbnail">
                  <h3 align="center">The most ancient instrument in China</h3>
      			        <p>The Guqin,also called the Chinese seven-stringed zither,represents the zenith of cultivated learning in ancient times, followed by go, calligraphy and painting.
                      <p>As the most ancient instrument in China, the zither has long been a favorite of the literati. The Chinese zither was more of an individual instrument for solace and personal appreciation.</p>
                      <p>Nearly every highly accomplished poet,painter,and literati,had left poems,paintings,stories,or literary works about Guqin.Guqin was also instrumental in communication between ancient scholars and artists.</p>

      			    </div>
      			  </div>

      			<div class="row">
      				<div class="col-md-7 col-md-6">
      			   <div class="thumbnail">
                 <h3 align="center">To seek the union of heaven and human.</h4>
                 <p>Ancient Chinese literati considered the zither a prerequisite for their cultivation,
                   famous stories about these literati passed downfrom generation to generation.
                   Guqin brings about beautiful melodies, and helps to maintain peace and balance of the mind.</p>
                 <p>Ambiance is an important aspect in playing Guqin.By a stream in the mountains,as you plucked the strings gently,
                   you would gradually forget where he was. The sounds mixed with the echoes from the mountains,
                   until you find yourself at one with nature.Playing Guqin in snow was a favorite pastime for ancient artists,
                   who regarded the instrument as the purest of its kind in the world. What could be more fitting than playing it midst white snow?
                   A moonlit night was also considered ideal for playing Guqin.</p>
                 <p>Wang wei(701-761), a highly accomplished poet of the Tang Dynasty,
                    liked playing the zither in a bamboo forest on moonlit nights.
                     His poem “In a Bamboo Forest” has these lines: “Leaning alone in the close bamboos，
                     /I am playing my zither and humming a song. /Too softly for anyone to hear,/ Except my comrade—— the bright moon.”</p>
      			    </div>
      			  </div>

      			  <div class="col-md-3 col-md-5">
      			    <div class="thumbnail">
      			      <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fco2h6ob9ij30930jg77f.jpg">
      			    </div>
      			  </div>
          </div>

          <div class="row">
      			  <div class="col-md-6 col-md-6">
      			    <div class="thumbnail">
      			      <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcp69mbg2aj30im0j6770.jpg" >

      			    </div>
      			  </div>

      				<div class="col-md-6 col-md-6">
      			    <div class="thumbnail">

      			      <div class="caption">
      			        <h4></h4>
      			      </div>

      			    </div>
      			  </div>
      			</div>
      		</div>
        </div>
