<html lang="en" dir="ltr" xmlns:article="http://ogp.me/ns/article#" xmlns:book="http://ogp.me/ns/book#" xmlns:product="http://ogp.me/ns/product#" xmlns:profile="http://ogp.me/ns/profile#" xmlns:video="http://ogp.me/ns/video#" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " class=" js"><head>
    <title>Jdstore</title>
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="UPhkMJUrJbmI4+FuBkL2VZtHJfom63mHvwvoMftNIzyNE7h1jHRpwGadpeDOWAsOPI7uA4b034c8um/9kU9eng==">

    <link rel="stylesheet" media="all" href="/assets/account/orders.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload">
<link rel="stylesheet" media="all" href="/assets/admin/orders.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload">
<link rel="stylesheet" media="all" href="/assets/admin/products.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload">
<link rel="stylesheet" media="all" href="/assets/cart_items.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload">
<link rel="stylesheet" media="all" href="/assets/carts.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload">
<link rel="stylesheet" media="all" href="/assets/orders.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload">
<link rel="stylesheet" media="all" href="/assets/products.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload">
<link rel="stylesheet" media="all" href="/assets/welcome.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload">
<link rel="stylesheet" media="all" href="/assets/application.self-448c879066602969da538f06cc78eb8d4729bef766ff5a574cac2dd85610ce54.css?body=1" data-turbolinks-track="reload">
    <iframe height="0" width="0" src="//2983728.fls.doubleclick.net/activityi;src=2983728;type=landi807;cat=2015-0;u1=undefined;u3=undefined;u4=undefined;u5=%2Fproducts%2F3%2F;u2=http%3A%2F%2Flocalhost%3A3000%2Fproducts%2F3%2F;ord=7176161814331;~oref=http%3A%2F%2Flocalhost%3A3000%2Fproducts%2F3%2F?" style="display: none; visibility: hidden;"></iframe><script type="text/javascript" src="https://bam.nr-data.net/1/0d4833b8b6?a=28823450&amp;v=1016.8b58850&amp;to=b1wBY0pRXERQUhJdCVYWNkVRH1tZVVQeGhZQSQ%3D%3D&amp;rst=242607&amp;ref=http://localhost:3000/products/3/&amp;ap=18&amp;be=175&amp;fe=242402&amp;dc=199&amp;perf=%7B%22timing%22:%7B%22of%22:1488517435646,%22n%22:0,%22u%22:101,%22r%22:0,%22ue%22:101,%22re%22:23,%22f%22:23,%22dn%22:23,%22dne%22:23,%22c%22:23,%22ce%22:23,%22rq%22:24,%22rp%22:99,%22rpe%22:101,%22dl%22:104,%22di%22:367,%22ds%22:367,%22de%22:381,%22dc%22:242568,%22l%22:242568,%22le%22:242585%7D,%22navigation%22:%7B%22rc%22:1%7D%7D&amp;at=QxsCFQJLT0o%3D&amp;jsonp=NREUM.setToken"></script><script src="https://js-agent.newrelic.com/nr-1016.min.js"></script><script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/api2/r20170228102020/recaptcha__en.js"></script><script async="" src="//connect.facebook.net/en_US/fbevents.js"></script><script src="//bat.bing.com/bat.js" async=""></script><script type="text/javascript" defer="" async="" src="http://www.tag4arm.com/tags4arm/tag4arm.js"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-MBP22M"></script><script src="/assets/jquery.self-660adc51e0224b731d29f575a6f1ec167ba08ad06ed5deca4f1e8654c135bf4c.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/jquery_ujs.self-e87806d0cf4489aeb1bb7288016024e8de67fd18db693fe026fe3907581e53cd.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/turbolinks.self-c5acd7a204f5f25ce7a1d8a0e4d92e28d34c9e2df2c7371cd7af88e147e4ad82.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/bootstrap.self-b38817c3e3a3049abb1fc08dd6ae448b23330f8453226efdb074710209474f75.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/account/orders.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/admin/orders.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/admin/products.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/action_cable.self-1641ec3e8ea24ed63601e86efcca7f9266e09f390e82199d56aa7e4bd50e1aa9.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/cable.self-6e0514260c1aa76eaf252412ce74e63f68819fd19bf740595f592c5ba4c36537.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/cart_items.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/carts.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/orders.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/products.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/welcome.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/application.self-0b73a96fa829f9e0aab396f4786abad1d60be37f6683af15db53364698cc63be.js?body=1" data-turbolinks-track="reload"></script>
  <script src="//dev.visualwebsiteoptimizer.com/j.php?a=4793&amp;u=http%3A%2F%2Flocalhost%3A3000%2Fproducts%2F3%2F&amp;r=0.39421110139894044" type="text/javascript"></script><script async="" defer="" src="//c.flx1.com/95-14556.js?id=14556&amp;m=95"></script><script async="" defer="" src="//go.flx1.com/px?id=14556&amp;m=95&amp;r=http%3A%2F%2Flocalhost%3A3000%2Fproducts%2F3%2F&amp;eurl=http%3A%2F%2Flocalhost%3A3000%2Fproducts%2F3%2F&amp;rndm=479263385663017.94"></script><script async="true" type="text/javascript" src="http://a.adroll.com/j/roundtrip.js"></script><script async="true" type="text/javascript" src="https://d.adroll.com/pixel/BOO3BNKPCNFQZNYL25GZAV/HVY54SXSIBEGRDABAJFXWL?pv=31599393094.689465&amp;cookie=QAT5DEQRJJAKHOYGU7MGU4%3A16%7CHVY54SXSIBEGRDABAJFXWL%3A16%7CBOO3BNKPCNFQZNYL25GZAV%3A16&amp;adroll_s_ref=http%3A//localhost%3A3000/products/3/&amp;keyw="></script><div style="width: 1px; height: 1px; display: inline; position: absolute;"><img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/aol/out"><img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/index/out"><img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/n/out"><img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/pubmatic/out"></div><div style="width: 1px; height: 1px; display: inline; position: absolute;"><img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/r/out">
<img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/f/out">
<img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/b/out">
<img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/w/out">
<img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/x/out">
<img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/l/out">
<img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/o/out">
<img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/g/out?google_nid=adroll5">
</div></head>

  <body>
    <div>




        turtle的种群现状：



<!--[if lt IE 9]><html lang="en" class="lte9 lt9"> <![endif]-->
<!--[if IE 9]><html lang="en" class="lte9 ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <!--<![endif]-->

    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MBP22M');
    </script>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8"><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function r(n){if(!t[n]){var o=t[n]={exports:{}};e[n][0].call(o.exports,function(t){var o=e[n][1][t];return r(o||t)},o,o.exports)}return t[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({1:[function(e,t,n){function r(){}function o(e,t,n){return function(){return i(e,[(new Date).getTime()].concat(u(arguments)),t?null:this,n),t?void 0:this}}var i=e("handle"),a=e(2),u=e(3),c=e("ee").get("tracer"),f=NREUM;"undefined"==typeof window.newrelic&&(newrelic=f);var s=["setPageViewName","setCustomAttribute","setErrorHandler","finished","addToTrace","inlineHit","addRelease"],l="api-",p=l+"ixn-";a(s,function(e,t){f[t]=o(l+t,!0,"api")}),f.addPageAction=o(l+"addPageAction",!0),f.setCurrentRouteName=o(l+"routeName",!0),t.exports=newrelic,f.interaction=function(){return(new r).get()};var d=r.prototype={createTracer:function(e,t){var n={},r=this,o="function"==typeof t;return i(p+"tracer",[Date.now(),e,n],r),function(){if(c.emit((o?"":"no-")+"fn-start",[Date.now(),r,o],n),o)try{return t.apply(this,arguments)}finally{c.emit("fn-end",[Date.now()],n)}}}};a("setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),function(e,t){d[t]=o(p+t)}),newrelic.noticeError=function(e){"string"==typeof e&&(e=new Error(e)),i("err",[e,(new Date).getTime()])}},{}],2:[function(e,t,n){function r(e,t){var n=[],r="",i=0;for(r in e)o.call(e,r)&&(n[i]=t(r,e[r]),i+=1);return n}var o=Object.prototype.hasOwnProperty;t.exports=r},{}],3:[function(e,t,n){function r(e,t,n){t||(t=0),"undefined"==typeof n&&(n=e?e.length:0);for(var r=-1,o=n-t||0,i=Array(o<0?0:o);++r<o;)i[r]=e[t+r];return i}t.exports=r},{}],ee:[function(e,t,n){function r(){}function o(e){function t(e){return e&&e instanceof r?e:e?c(e,u,i):i()}function n(n,r,o){if(!p.aborted){e&&e(n,r,o);for(var i=t(o),a=v(n),u=a.length,c=0;c<u;c++)a[c].apply(i,r);var f=s[w[n]];return f&&f.push([y,n,r,i]),i}}function d(e,t){b[e]=v(e).concat(t)}function v(e){return b[e]||[]}function g(e){return l[e]=l[e]||o(n)}function m(e,t){f(e,function(e,n){t=t||"feature",w[n]=t,t in s||(s[t]=[])})}var b={},w={},y={on:d,emit:n,get:g,listeners:v,context:t,buffer:m,abort:a,aborted:!1};return y}function i(){return new r}function a(){(s.api||s.feature)&&(p.aborted=!0,s=p.backlog={})}var u="nr@context",c=e("gos"),f=e(2),s={},l={},p=t.exports=o();p.backlog=s},{}],gos:[function(e,t,n){function r(e,t,n){if(o.call(e,t))return e[t];var r=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,t,{value:r,writable:!0,enumerable:!1}),r}catch(i){}return e[t]=r,r}var o=Object.prototype.hasOwnProperty;t.exports=r},{}],handle:[function(e,t,n){function r(e,t,n,r){o.buffer([e],r),o.emit(e,t,n)}var o=e("ee").get("handle");t.exports=r,r.ee=o},{}],id:[function(e,t,n){function r(e){var t=typeof e;return!e||"object"!==t&&"function"!==t?-1:e===window?0:a(e,i,function(){return o++})}var o=1,i="nr@id",a=e("gos");t.exports=r},{}],loader:[function(e,t,n){function r(){if(!h++){var e=y.info=NREUM.info,t=l.getElementsByTagName("script")[0];if(setTimeout(f.abort,3e4),!(e&&e.licenseKey&&e.applicationID&&t))return f.abort();c(b,function(t,n){e[t]||(e[t]=n)}),u("mark",["onload",a()],null,"api");var n=l.createElement("script");n.src="https://"+e.agent,t.parentNode.insertBefore(n,t)}}function o(){"complete"===l.readyState&&i()}function i(){u("mark",["domContent",a()],null,"api")}function a(){return(new Date).getTime()}var u=e("handle"),c=e(2),f=e("ee"),s=window,l=s.document,p="addEventListener",d="attachEvent",v=s.XMLHttpRequest,g=v&&v.prototype;NREUM.o={ST:setTimeout,CT:clearTimeout,XHR:v,REQ:s.Request,EV:s.Event,PR:s.Promise,MO:s.MutationObserver},e(1);var m=""+location,b={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-1016.min.js"},w=v&&g&&g[p]&&!/CriOS/.test(navigator.userAgent),y=t.exports={offset:a(),origin:m,features:{},xhrWrappable:w};l[p]?(l[p]("DOMContentLoaded",i,!1),s[p]("load",r,!1)):(l[d]("onreadystatechange",o),s[d]("onload",r)),u("mark",["firstbyte",a()],null,"api");var h=0},{}]},{},["loader"]);</script>
<script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "UA-32175-1", {"cookieDomain":"auto"});ga("set", "anonymizeIp", true);ga("send", "pageview");</script>
<meta name="referrer" content="no-referrer">
<meta name="title" content="Marine turtles | WWF">
<meta name="description" content="Marine turtles have been in our oceans for over 100 million years. They’re brilliant navigators, swimming hundreds or thousands of kilometres between feeding and nesting grounds. But they face lots of threats along the way – so we’re doing all we can to help them.">
<meta property="og:url" content="http://www.wwf.org.uk/wildlife/marine-turtles">
<meta property="og:title" content="Marine turtles">
<meta property="og:site_name" content="WWF">
<meta property="og:description" content="Marine turtles have been in our oceans for over 100 million years. They’re brilliant navigators, swimming hundreds or thousands of kilometres between feeding and nesting grounds. But they face lots of threats along the way – so we’re doing all we can to help them.
">
<meta property="twitter:card" content="summary_large_image">
<meta property="og:image" content="//www.wwf.org.uk/sites/default/files/2016-09/baby-sea-turtle.jpg">
<meta property="og:type" content="Species item">
<meta property="twitter:title" content="Marine turtles | WWF">
<meta property="twitter:description" content="Marine turtles have been in our oceans for over 100 million years. They’re brilliant navigators, swimming hundreds or thousands of kilometres between feeding and nesting grounds. But they face lots of threats along the way – so we’re doing all we can to help them.
">
<meta property="twitter:url" content="http://www.wwf.org.uk/wildlife/marine-turtles">
<meta property="twitter:image" content="https://www.wwf.org.uk/sites/default/files/2016-09/baby-sea-turtle.jpg">
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)">
<meta name="MobileOptimized" content="width">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://www.google.com/recaptcha/api.js?hl=en" async="" defer=""></script>
<link rel="shortcut icon" href="//www.wwf.org.uk/sites/default/files/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="/wildlife/marine-turtles">
<link rel="shortlink" href="/node/291">
<link rel="revision" href="/wildlife/marine-turtles">

    <title>Marine turtles | WWF</title>
    <link rel="stylesheet" href="//www.wwf.org.uk/sites/default/files/css/css_iPX216Js8_95oxVUEKtOHCKBEMetZchfRJenOwbgUpg.css?om6rc8" media="all">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,300" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" media="all">
<link rel="stylesheet" href="//www.wwf.org.uk/sites/default/files/css/css_dXqN1Rqx9QDxRIfBOttaGQyLq5-066HZLVRm-T5TJ4g.css?om6rc8" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="//www.wwf.org.uk/sites/default/files/css/css_TrVg84797bqSkfRF1UsIVPq-oisKufQukm9jCAXj5yg.css?om6rc8" media="all">


<!--[if lte IE 8]>
<script src="//www.wwf.org.uk/sites/default/files/js/js_VtafjXmRvoUgAzqzYTA3Wrjkx9wcWhjP0G4ZnnqRamA.js"></script>
<![endif]-->

    <!-- Start Visual Website Optimizer Asynchronous Code -->
    <script type="text/javascript">
    var _vwo_code=(function(){
    var account_id=4793,
    settings_tolerance=2000,
    library_tolerance=2500,
    use_existing_jquery=false,
    // DO NOT EDIT BELOW THIS LINE
    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End Visual Website Optimizer Asynchronous Code -->


    <!-- Google Tag Manager (noscript) -->
    <noscript>&lt;iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBP22M" height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a href="#main-content" class="visually-hidden focusable">
      Skip to main content
    </a>
    <section class="cookie_warning">
        <div class="content">
            <p>We use cookies to analyse how visitors use our website and to help us provide the best possible experience for users.
                View our <a href="/cookies">Cookie Policy</a> for more information</p>
            <button class="js_cookie_warning btn btn--2"> Agree </button>
        </div>
    </section>

<main class="page_wrapper">

    <span>


<div id="block-wwf-content" class="block block-system block-system-main-block">



<article data-history-node-id="291" role="article" about="/wildlife/marine-turtles" class="node node--type-species-item node--view-mode-full">





  <div class="node__content">

            <div class="field field--name-field-page-hero-slice field--type-entity-reference field--label-hidden field__item">


            <section class="banner  banner--video  ">
                <picture class="banner_image">

            <div class="field field--name-field-slice-image field--type-entity-reference field--label-hidden field__item"><article class="media media-image view-mode-hero">

            <div class="field field--name-field-image field--type-image field--label-hidden field__item">    <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="//www.wwf.org.uk/sites/default/files/styles/hero_m/public/2016-09/baby-sea-turtle.jpg?itok=vJG41Dau 1x" media="all and (min-width: 750px) and (max-width: 849px)" type="image/jpeg">
              <source srcset="//www.wwf.org.uk/sites/default/files/styles/hero_l/public/2016-09/baby-sea-turtle.jpg?itok=ZjrePEmg 1x" media="all and (min-width: 850px) and (max-width: 1149px)" type="image/jpeg">
              <source srcset="//www.wwf.org.uk/sites/default/files/styles/xlarge/public/2016-09/baby-sea-turtle.jpg?itok=9XNTRe45 1x" media="all and (min-width: 1150px)" type="image/jpeg">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="//www.wwf.org.uk/sites/default/files/styles/hero_s/public/2016-09/baby-sea-turtle.jpg?itok=qSCCpu6L" alt="Marine turtle hatchling swimming through wave swell" title="Marine turtle hatchling swimming through wave swell - © naturepl.com / Solvin Zankl / WWF" typeof="foaf:Image">

  </picture>

</div>

  </article>
</div>

                </picture>
                <div class="content">
                    <div class="callout_box">
                        <h2 class="title  title--stylised ">

            <div class="field field--name-name field--type-string field--label-hidden field__item">Marine turtles: Earth’s ancient mariners</div>

                        </h2>
                        <p>

            </p><div class="clearfix text-formatted field field--name-field-slice-text field--type-text-long field--label-hidden field__item"><p>Marine turtles have been navigating our oceans for millions of years – now some need our help to survive.</p>
</div>

                        <p></p>


                        <button class="btn btn--play js-modal-open">Play</button>
                    </div>
                </div>
            </section>

            <div class="modal">
                <div class="video_wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_xv9p66beA0?rel=0&amp;enablejsapi=1" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="modal_overlay js-modal-close">
            </div>

                <nav id="js-page-nav" class="page_nav">
        <div class="content">
                            <a class="anchor_link " href="#marine-turtles">About marine turtles</a>
                            <a class="anchor_link " href="#why-marine-turtles-are-so-important">Why they matter</a>
                            <a class="anchor_link " href="#challenges-affecting-marine-turtles">Challenges affecting marine turtles</a>
                            <a class="anchor_link " href="#how-were-helping-turtles">How we're helping</a>
                            <a class="anchor_link " href="#wwf-adoption-form">Adopt a marine turtle</a>
                                        <span class="btn share_container" onclick="">
                        <a target="_blank" href="http://www.twitter.com/share?url=http://www.wwf.org.uk/wildlife/marine-turtles&amp;text=Marine turtles" class="fa fa-twitter"></a>
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.wwf.org.uk/wildlife/marine-turtles" class="fa fa-facebook"></a>
                        <a href="mailto:?subject=http://www.wwf.org.uk/wildlife/marine-turtles" class="fa fa-envelope"></a>
                    </span>
                    </div>
    </nav>
    </div>

<section id="marine-turtles" class="text_image_background">

    <picture class="species_image">
                        <img src="//www.wwf.org.uk/sites/default/files/styles/hero_m/public/2016-09/turtle%20with%20diver.jpg?itok=6J7hSXFK">
    </picture>

    <div class="content content--padded tab_wrapper">

        <h3>Marine turtles species:</h3>

        <div class="tab_nav">
                                                                    <button class="btn btn--tab is_active" data-tab="tab_1">Hawksbill turtle</button>
                                                                                                                                                            </div>



                 <div class="tab_content">
                    <div class="is_active" data-tab-content="tab_1">
                        <div class="species_data">
                            <strong class="endangerment_level status_critically_endangered">
                                Critically endangered (Around 8000 remain)
                            </strong>
                                    <span class="scientific_name">
                                         Eretmochelys imbricata
                                    </span>
                            <p class="threats">
                                Affected by:
                                                                    Fisheries
                                    ,                                                                    Illegal wildlife trade
                                    ,                                                                    Climate change
                                                                                                </p>
                        </div>
                    </div>






            <div class="clearfix text-formatted field field--name-field-about-text field--type-text-long field--label-hidden field__item"><p>Marine turtles have been in our oceans for over 100 million years. They’re brilliant navigators, swimming hundreds or thousands of kilometres between feeding and nesting grounds. But they face lots of threats along the way – so we’re doing all we can to help them.</p>
<p>Marine turtle population estimates (including those stated above) are based on the number of egg-laying females – we can’t be sure of the numbers of elusive sea-dwelling males, or females that aren’t breeding. But we do know at least six of the seven species are at risk of extinction.</p>
</div>


        </div>
    </div>
</section>
            <div class="field field--name-field-expert-slice field--type-entity-reference field--label-hidden field__item">
<section id="marine-turtles---cath-lawson" class="quote_link">
    <img alt="Cath Lawson" src="//www.wwf.org.uk/sites/default/files/styles/hero_l/public/2016-10/Cath%20Lawson.jpg?itok=98hUS2xC">

    <div class="quote bg_brand_2">
        <blockquote>
            <cite>
                <strong>Cath Lawson</strong>
                Regional Manager East Africa
            </cite>

            <div class="clearfix text-formatted field field--name-field-slice-text field--type-text-long field--label-hidden field__item"><p>"Even under ‘natural’ conditions, relatively few young marine turtles survive their first year of life. Predators such as crabs, foxes and birds often kill the hatchlings as they make their way from the nest to the sea. And when they reach the shallows, many more small turtles are taken by fish. Life as a marine turtle is tough from day one! But the dedication and determination of the teams I work with in Kenya helps to ensure that we give every hatchling the best chance possible." </p>
</div>

        </blockquote>
                    </div>
</section></div>



</div>

            <div class="field field--name-field-why-it-matters field--type-entity-reference field--label-hidden field__item"><section id="why-marine-turtles-are-so-important" class="why_matter">
    <picture class="species_image">

            <div class="field field--name-field-slice-image field--type-entity-reference field--label-hidden field__item">  <img src="//www.wwf.org.uk/sites/default/files/styles/content_slide_image/public/2016-10/Large_WW187837.jpg?itok=T_oHx7Ai" width="1000" height="600" alt="Thumbnail" title="Hawksbill turtle " typeof="foaf:Image" class="image-style-content-slide-image">


</div>

    </picture>
    <div class="content content--padded">
        <h3>
            <div class="field field--name-name field--type-string field--label-hidden field__item">Why marine turtles are so important</div>
      </h3>

            <div class="clearfix text-formatted field field--name-field-slice-text field--type-text-long field--label-hidden field__item"><p>They might not look like voracious killers, but turtles are actually important predators that help to keep ocean food chains healthy.</p>
<p>For example, hawksbill turtles eat lots of sea sponges, which would otherwise out-compete reef-building corals. So the turtles help to protect the coral reefs, which are crucial for the survival of many other creatures.</p>
<p>The leatherback turtle is a big eater of jellyfish, which helps stops the jellyfish depleting fish stocks – which benefits other animals in the food chain, as well as people.</p>
</div>


                                        <a href="/node/856" class="btn btn--white">
                 Adopt a turtle
             </a>
                                                                          </div>
</section>
</div>

            <div class="field field--name-field-threats-slider field--type-entity-reference field--label-hidden field__item">



<section id="challenges-affecting-marine-turtles">


    <div class="component">
        <div class="js-thumbnail-carousel-wrap">
        <section class="banner banner--thumbnails js-thumbnail-carousel slick-initialized slick-slider">

                                                                                        <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 1992px;"><div class="slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 498px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                            <picture class="banner_image">
                            <img src="//www.wwf.org.uk/sites/default/files/styles/hero_l/public/2016-09/baby-turtle-on-beach.jpg?itok=KVMwU3n4">
                        </picture>
                                        <div class="content">
                        <div class="callout_header">
                            <h3>
            <div class="field field--name-name field--type-string field--label-hidden field__item">Challenges affecting marine turtles</div>
      </h3>
                            <button type="button" class="slick-prev slick-arrow js-previous-slide" aria-label="Previous" tabindex="0">Previous</button>
                            <button type="button" class="slick-next slick-arrow js-next-slide" aria-label="Next" tabindex="0">Next</button>
                        </div>
                        <div class="callout_box js-thumbnail-arrow-container">
                            <h4 class="h2">
                                Loss of living space
                            </h4>
                            <p>
                                Coastal developments can destroy turtle nesting beaches. Even if female turtles do manage to dig nests, if beaches are strewn with litter, or too well-lit, it can prevent hatchlings reaching the sea.
                            </p>
                            <a href="/node/423" tabindex="0">More about habitat loss</a>
                        </div>
                    </div>
                </div><div class="slide slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 498px; position: relative; left: -498px; top: 0px; z-index: 998; opacity: 0;">
                                            <picture class="banner_image">
                            <img src="//www.wwf.org.uk/sites/default/files/styles/hero_l/public/2016-09/turtle-in-net.jpg?itok=OCLu38aq">
                        </picture>
                                        <div class="content">
                        <div class="callout_header">
                            <h3>
            <div class="field field--name-name field--type-string field--label-hidden field__item">Challenges affecting marine turtles</div>
      </h3>
                            <button type="button" class="slick-prev slick-arrow js-previous-slide" aria-label="Previous" tabindex="-1">Previous</button>
                            <button type="button" class="slick-next slick-arrow js-next-slide" aria-label="Next" tabindex="-1">Next</button>
                        </div>
                        <div class="callout_box js-thumbnail-arrow-container">
                            <h4 class="h2">
                                Unsustainable fishing
                            </h4>
                            <p>
                                Marine turtles need to surface to breathe, but if they get tangled in fishing nets or hooks they can drown. Overfishing and unsustainable fishing also damages turtle feeding grounds like seagrass beds and coral reefs.
                            </p>
                            <a href="/node/414" tabindex="-1">Learn more about unsustainable fishing and seafood </a>
                        </div>
                    </div>
                </div><div class="slide slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 498px; position: relative; left: -996px; top: 0px; z-index: 998; opacity: 0;">
                                            <picture class="banner_image">
                            <img src="//www.wwf.org.uk/sites/default/files/styles/hero_l/public/2016-09/turtle-eggs.jpg?itok=VdReWI97">
                        </picture>
                                        <div class="content">
                        <div class="callout_header">
                            <h3>
            <div class="field field--name-name field--type-string field--label-hidden field__item">Challenges affecting marine turtles</div>
      </h3>
                            <button type="button" class="slick-prev slick-arrow js-previous-slide" aria-label="Previous" tabindex="-1">Previous</button>
                            <button type="button" class="slick-next slick-arrow js-next-slide" aria-label="Next" tabindex="-1">Next</button>
                        </div>
                        <div class="callout_box js-thumbnail-arrow-container">
                            <h4 class="h2">
                                Illegal wildlife trade
                            </h4>
                            <p>
                                Turtles are hunted for their meat and shells, and people raid their nests for eggs, which are seen as a delicacy in some cultures. In south-east Asia, stealing of hawksbill turtle eggs is near 100% in a lot of areas.
                            </p>
                            <a href="/node/412" tabindex="-1">More about the illegal wildlife trade</a>
                        </div>
                    </div>
                </div><div class="slide slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide13" style="width: 498px; position: relative; left: -1494px; top: 0px; z-index: 998; opacity: 0;">
                                            <picture class="banner_image">
                            <img src="//www.wwf.org.uk/sites/default/files/styles/hero_l/public/2016-09/Medium_WW146516_1.jpg?itok=I_yHoIoa">
                        </picture>
                                        <div class="content">
                        <div class="callout_header">
                            <h3>
            <div class="field field--name-name field--type-string field--label-hidden field__item">Challenges affecting marine turtles</div>
      </h3>
                            <button type="button" class="slick-prev slick-arrow js-previous-slide" aria-label="Previous" tabindex="-1">Previous</button>
                            <button type="button" class="slick-next slick-arrow js-next-slide" aria-label="Next" tabindex="-1">Next</button>
                        </div>
                        <div class="callout_box js-thumbnail-arrow-container">
                            <h4 class="h2">
                                Climate change
                            </h4>
                            <p>
                                The sex of turtle hatchlings is determined by the temperature in the nest – warm temperatures produce females, cool produces males. Global warming could threaten the long-term viability of some populations.

Climate change is also causing sea level rise and increasing the number and intensity of storms, which damage turtle nesting beaches.
                            </p>
                            <a href="/node/286" tabindex="-1">More about climate change</a>
                        </div>
                    </div>
                </div></div></div>







                    </section>

        <aside class="thumbnails js-thumbnail-nav slick-initialized slick-slider">




                    <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 0px; left: 0px;"><button class="slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide22" style="width: 0px;" data-slick-index="-2" aria-hidden="true">
                                                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/turtle-eggs.jpg?itok=p-zp3rpg">
                                        <span>
                                            Illegal wildlife trade
                                        </span>
                                            </button><button class="slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide23" style="width: 0px;" data-slick-index="-1" aria-hidden="true">
                                                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/Medium_WW146516_1.jpg?itok=0cGC3sDN">
                                        <span>
                                            Climate change
                                        </span>
                                            </button><button class="slick-slide slick-current slick-active" tabindex="-1" role="option" aria-describedby="slick-slide20" style="width: 0px;" data-slick-index="0" aria-hidden="false">
                                                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/baby-turtle-on-beach.jpg?itok=c6Ey5VGd">
                                        <span>
                                            Loss of living space
                                        </span>
                                            </button><button class="slick-slide slick-active" tabindex="-1" role="option" aria-describedby="slick-slide21" style="width: 0px;" data-slick-index="1" aria-hidden="false">
                                                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/turtle-in-net.jpg?itok=49EPyUkP">
                                        <span>
                                            Unsustainable fishing
                                        </span>
                                            </button><button class="slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide22" style="width: 0px;" data-slick-index="2" aria-hidden="true">
                                                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/turtle-eggs.jpg?itok=p-zp3rpg">
                                        <span>
                                            Illegal wildlife trade
                                        </span>
                                            </button><button class="slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide23" style="width: 0px;" data-slick-index="3" aria-hidden="true">
                                                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/Medium_WW146516_1.jpg?itok=0cGC3sDN">
                                        <span>
                                            Climate change
                                        </span>
                                            </button><button class="slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide20" style="width: 0px;" data-slick-index="4" aria-hidden="true">
                                                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/baby-turtle-on-beach.jpg?itok=c6Ey5VGd">
                                        <span>
                                            Loss of living space
                                        </span>
                                            </button><button class="slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide21" style="width: 0px;" data-slick-index="5" aria-hidden="true">
                                                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/turtle-in-net.jpg?itok=49EPyUkP">
                                        <span>
                                            Unsustainable fishing
                                        </span>
                                            </button></div></div></aside>
    </div>
    </div>

</section></div>

            <div class="field field--name-field-view-reference field--type-entity-reference field--label-hidden field__item"><div class="views-element-container"><section id="wwf_update_listing" class="media_panel">

<div class="view view-wwf-update-listing view-id-wwf_update_listing view-display-id-block_1 js-view-dom-id-aa536df34393c65d7c16a6140d7814c46270230ac888090cda85f87359bf4df5">


                 <form class="views-exposed-form" data-drupal-selector="views-exposed-form-wwf-update-listing-block-1" action="/wwf-update-listing" method="get" id="views-exposed-form-wwf-update-listing-block-1" accept-charset="UTF-8">
  <div class="form--inline clearfix">
  <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-update-type-term-target-id form-item-field-update-type-term-target-id">
      <label for="edit-field-update-type-term-target-id">Update type (field_update_type_term)</label>




<div class="select_wrap select_wrap--large" value="            - Any -

                                    "><select data-drupal-selector="edit-field-update-type-term-target-id" id="edit-field-update-type-term-target-id" name="field_update_type_term_target_id" class="form-select js_adoption_select js_select_large"><option value="All" selected="selected">- Any -</option><option value="7">News</option><option value="8">Blogs</option><option value="109">Reports</option><option value="43">Success stories</option><option value="110">Press release</option></select></div>
        </div>
<div class="item-list media_nav_wrapper">
    <div class="content">
      <nav class="media_nav">

          <ul class="inline_list"><ul class="inline_list" data-drupal-selector="edit-links">                                                  <li><button class="updates is_active"><span class="filter-tab"><a href="" class="active" id="All">- Any -</a></span></button></li>                                                  <li><button class="updates "><span class="filter-tab"><a href="" id="7">News</a></span></button></li>                                                  <li><button class="updates "><span class="filter-tab"><a href="" id="8">Blogs</a></span></button></li>                                                  <li><button class="updates "><span class="filter-tab"><a href="" id="109">Reports</a></span></button></li>                                                  <li><button class="updates "><span class="filter-tab"><a href="" id="43">Success stories</a></span></button></li>                                                  <li><button class="updates "><span class="filter-tab"><a href="" id="110">Press release</a></span></button></li></ul></ul>
      </nav>
    </div>

  </div><div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
<input data-drupal-selector="edit-submit-wwf-update-listing" type="submit" id="edit-submit-wwf-update-listing" value="Apply" class="button js-form-submit form-submit btn btn--1">
</div>

</div>

</form>


                <div data-drupal-views-infinite-scroll-content-wrapper="" class="views-infinite-scroll-content-wrapper clearfix"><div class="grid_wrapper">
  <div class="item-list">

    <ul>

              <div class="media_block media_block--full_image">





                        <div class="block_share">
    <div class="share_info" onclick="">
        <a target="_blank" href="http://www.twitter.com/intent/tweet?text=WWF%20Scotland%20surprises%20special%20young%20fundraiser&amp;url=https://www.wwf.org.uk%2Fupdates%2Fwwf-scotland-surprises-special-young-fundraiser" class="fa fa-twitter twitter--color"></a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.wwf.org.uk/updates/wwf-scotland-surprises-special-young-fundraiser" class="fa fa-facebook facebook--color"></a>
        <a href="mailto:?subject=www.wwf.org.uk/updates/wwf-scotland-surprises-special-young-fundraiser" class="fa fa-envelope envelope--color"></a>
    </div>
</div>

    <a href="/updates/wwf-scotland-surprises-special-young-fundraiser" class="media_block_inner">
            <div class="block_tag">

News
        </div>
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_m/public/2017-01/WWF%20Scotland%20visit%20to%20Newton%20Primary%20Dunblane%20l%20to%20r%20Isla%20Cheyne%2C%20Harvey%20Hall%2C%20Mike%20Olendo%20WWF%20Kenya%2C%20Ella%20Ritch%2C%20Anna%20Eastham%2C%20Alex%20Hesketh%20%2827%20of%2036%29.jpg?itok=ZSLgf6-J">
                                <div class="block_info">
        <p>

WWF Scotland surprises special young fundraiser

        </p>
        </div>
        </a>

        </div>
              <div class="media_block media_block--full_image">





                        <div class="block_share">
    <div class="share_info" onclick="">
        <a target="_blank" href="http://www.twitter.com/intent/tweet?text=Parliamentary%20concern%20about%20biodiversity%20loss%20should%20strengthen%20government%20plan%20to%20protect%20nature&amp;url=https://www.wwf.org.uk%2Fupdates%2Fparliamentary-concern-about-biodiversity-loss-should-strengthen-government-plan-protect" class="fa fa-twitter twitter--color"></a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.wwf.org.uk/updates/parliamentary-concern-about-biodiversity-loss-should-strengthen-government-plan-protect" class="fa fa-facebook facebook--color"></a>
        <a href="mailto:?subject=www.wwf.org.uk/updates/parliamentary-concern-about-biodiversity-loss-should-strengthen-government-plan-protect" class="fa fa-envelope envelope--color"></a>
    </div>
</div>

    <a href="/updates/parliamentary-concern-about-biodiversity-loss-should-strengthen-government-plan-protect" class="media_block_inner">
            <div class="block_tag">

Press release
        </div>
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_m/public/generic/generic-image.png?itok=b0xE8ilA">
                                <div class="block_info">
        <p>

Parliamentary concern about biodiversity loss should strengthen government plan to protect nature

        </p>
        </div>
        </a>

        </div>
              <div class="media_block media_block--full_image">





                        <div class="block_share">
    <div class="share_info" onclick="">
        <a target="_blank" href="http://www.twitter.com/intent/tweet?text=Landmark%20report%20shows%20global%20wildlife%20populations%20on%20course%20to%20decline%20by%2067%20per%20cent%20by%202020&amp;url=https://www.wwf.org.uk%2Fupdates%2Flandmark-report-shows-global-wildlife-populations-course-decline-67-cent-2020" class="fa fa-twitter twitter--color"></a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.wwf.org.uk/updates/landmark-report-shows-global-wildlife-populations-course-decline-67-cent-2020" class="fa fa-facebook facebook--color"></a>
        <a href="mailto:?subject=www.wwf.org.uk/updates/landmark-report-shows-global-wildlife-populations-course-decline-67-cent-2020" class="fa fa-envelope envelope--color"></a>
    </div>
</div>

    <a href="/updates/landmark-report-shows-global-wildlife-populations-course-decline-67-cent-2020" class="media_block_inner">
            <div class="block_tag">

Press release
        </div>
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_m/public/2016-10/Bjorn%20Holland-Getty%20Images.jpg?itok=0TzZWOnk">
                                <div class="block_info">
        <p>

Landmark report shows global wildlife populations on course to decline by 67 per cent by 2020

        </p>
        </div>
        </a>

        </div>
              <div class="media_block media_block--full_image">





                        <div class="block_share">
    <div class="share_info" onclick="">
        <a target="_blank" href="http://www.twitter.com/intent/tweet?text=Helping%20local%20people%20help%20turtles%20&amp;url=https://www.wwf.org.uk%2Fupdates%2Fhelping-local-people-help-turtles" class="fa fa-twitter twitter--color"></a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.wwf.org.uk/updates/helping-local-people-help-turtles" class="fa fa-facebook facebook--color"></a>
        <a href="mailto:?subject=www.wwf.org.uk/updates/helping-local-people-help-turtles" class="fa fa-envelope envelope--color"></a>
    </div>
</div>

    <a href="/updates/helping-local-people-help-turtles" class="media_block_inner">
            <div class="block_tag">

Success stories
        </div>
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_m/public/2016-09/turtle-in-net.jpg?itok=FWtYb2s4">
                                <div class="block_info">
        <p>

Helping local people help turtles

        </p>
        </div>
        </a>

        </div>
              <div class="media_block media_block--full_image">





                        <div class="block_share">
    <div class="share_info" onclick="">
        <a target="_blank" href="http://www.twitter.com/intent/tweet?text=Five%20Questions%20for%20British%20Wildlife%20Photography%20Awards%20winner%20George%20Stoyle&amp;url=https://www.wwf.org.uk%2Fnode%2F500" class="fa fa-twitter twitter--color"></a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.wwf.org.uk/node/500" class="fa fa-facebook facebook--color"></a>
        <a href="mailto:?subject=www.wwf.org.uk/node/500" class="fa fa-envelope envelope--color"></a>
    </div>
</div>

    <a href="/node/500" class="media_block_inner">
            <div class="block_tag">

Blogs
        </div>
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_m/public/2016-09/Jellyfish-1.jpg?itok=KQ-g__ba">
                                <div class="block_info">
        <p>

Five Questions for British Wildlife Photography Awards winner George Stoyle

        </p>
        </div>
        </a>

        </div>
              <div class="media_block media_block--full_image">





                        <div class="block_share">
    <div class="share_info" onclick="">
        <a target="_blank" href="http://www.twitter.com/intent/tweet?text=Happy%20World%20Oceans%20Day%21&amp;url=https://www.wwf.org.uk%2Fnode%2F508" class="fa fa-twitter twitter--color"></a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.wwf.org.uk/node/508" class="fa fa-facebook facebook--color"></a>
        <a href="mailto:?subject=www.wwf.org.uk/node/508" class="fa fa-envelope envelope--color"></a>
    </div>
</div>

    <a href="/node/508" class="media_block_inner">
            <div class="block_tag">

Blogs
        </div>
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_m/public/2016-08/Large_WW210494_1.jpg?itok=Y8BgGye1">
                                <div class="block_info">
        <p>

Happy World Oceans Day!

        </p>
        </div>
        </a>

        </div>

    </ul>

  </div>
  </div>

</div>



<div class="btn_center">
  <ul class="js-pager__items pager" data-drupal-views-infinite-scroll-pager="">
    <li class="pager__item">
      <a class="button btn btn--outline_black" href="/wildlife/marine-turtles?field_update_type_term_target_id=All&amp;page=1" title="Go to next page" rel="next">Load More</a>
    </li>
  </ul>
</div>


                    </div>
</section></div>
</div>

            <div class="field field--name-field-how-helping-slider field--type-entity-reference field--label-hidden field__item" role="toolbar">



<section id="how-were-helping-marine-turtles">

        <section class="square_carousel">
        <header class="message_block">
            <h2 class="h3">
            <div class="field field--name-name field--type-string field--label-hidden field__item">How we're helping marine turtles</div>
      </h2>
            <p>

            </p>
        </header>
        <nav class="grid_wrapper js-carousel-challenges slick-initialized slick-slider">




                    <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 2988px; left: -498px;"><a href="/what-we-do/projects/protecting-world-heritage-sites-investors" class="challenge slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 498px;" data-slick-index="-1" aria-hidden="true">
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-11/Large_WW129992_0.jpg?itok=dcEkqujE">

                    <div>
                        <h3>
                            Protecting World Heritage Sites with Investors
                        </h3><p>

                        </p>
                        <strong>
                            LEARN MORE
                        </strong>
                    </div>
                </a><a href="/what-we-do/projects/tackling-international-wildlife-crime" class="challenge slick-slide slick-current slick-active" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 498px;" data-slick-index="0" aria-hidden="false">
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/Large_WW180307.jpg?itok=6nzGK85A">

                    <div>
                        <h3>
                            Tackling international wildlife crime
                        </h3><p>
                            The illegal wildlife trade is the fourth largest illegal trade behind drugs, people smuggling and counterfeiting, worth an estimated £15 billion annually. Controlling it is a global priority.

                        </p>
                        <strong>
                            LEARN MORE
                        </strong>
                    </div>
                </a><a href="/what-we-do/projects/valuing-belizes-barrier-reef" class="challenge slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 498px;" data-slick-index="1" aria-hidden="true">
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/Large_WW1105923.jpg?itok=QwoQYYhF">

                    <div>
                        <h3>
                            Valuing Belize’s barrier reef
                        </h3><p>
                            The beauty and diversity of Belize’s coastal ecosystems draw tourists from around the globe. More than 40% of the country’s population lives and works along the coast and depends on these ecosystems for their livelihoods.

                        </p>
                        <strong>
                            LEARN MORE
                        </strong>
                    </div>
                </a><a href="/what-we-do/projects/recovering-community-fishing-grounds-and-turtle-populations" class="challenge slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 498px;" data-slick-index="2" aria-hidden="true">
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/Large_WW22345.jpg?itok=ng9ij6FP">

                    <div>
                        <h3>
                            Recovering community fishing grounds and turtle populations
                        </h3><p>
                            We’re empowering coastal people in east Africa to look after their fishing grounds and marine wildlife.

                        </p>
                        <strong>
                            LEARN MORE
                        </strong>
                    </div>
                </a><a href="/what-we-do/projects/protecting-world-heritage-sites-investors" class="challenge slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 498px;" data-slick-index="3" aria-hidden="true">
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-11/Large_WW129992_0.jpg?itok=dcEkqujE">

                    <div>
                        <h3>
                            Protecting World Heritage Sites with Investors
                        </h3><p>

                        </p>
                        <strong>
                            LEARN MORE
                        </strong>
                    </div>
                </a><a href="/what-we-do/projects/tackling-international-wildlife-crime" class="challenge slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 498px;" data-slick-index="4" aria-hidden="true">
                    <img src="//www.wwf.org.uk/sites/default/files/styles/square_xs/public/2016-09/Large_WW180307.jpg?itok=6nzGK85A">

                    <div>
                        <h3>
                            Tackling international wildlife crime
                        </h3><p>
                            The illegal wildlife trade is the fourth largest illegal trade behind drugs, people smuggling and counterfeiting, worth an estimated £15 billion annually. Controlling it is a global priority.

                        </p>
                        <strong>
                            LEARN MORE
                        </strong>
                    </div>
                </a></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation03" id="slick-slide03"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">4</button></li></ul></nav>
    </section>



  </section></div>

</article>

  </div>

  </span>


</main>

    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/291","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","ajaxPageState":{"libraries":"captcha\/base,classy\/base,classy\/messages,classy\/node,core\/html5shiv,core\/normalize,core\/picturefill,geolocation\/geolocation.formatter.googlemap,google_analytics\/google_analytics,poll\/drupal.poll-links,statistics\/drupal.statistics,system\/base,views\/views.ajax,views\/views.module,views_infinite_scroll\/views-infinite-scroll,wwf\/global-styling,wwf_adoption\/wwf_adoption_js,wwf_views_custom_filter\/wwf_exposed_filters_js.enable,yamlform\/yamlform.element.details.save,yamlform\/yamlform.form","theme":"wwf","theme_token":null},"ajaxTrustedUrl":{"form_action_cc611e1d":true,"\/wildlife\/marine-turtles?ajax_form=1":true,"\/wwf-update-listing":true},"google_analytics":{"trackOutbound":true,"trackMailto":true,"trackDownload":true,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip"},"wwf_earthhour_map":{"google_api_key":"AIzaSyAO3KXQiVzbyaEAgDSxSeX2krQAERxJslY","google_table_id":"1JNWLwsZBbJR7-alkbqxbJ5Y-gAc71Pftq2UdMsom","map_access_token":"pk.eyJ1Ijoid3dmdWsiLCJhIjoiQkg3VVVZNCJ9.5qAbalBKkG7s0-SsMknZNw","map_bitmaps_url_id":"wwfuk.93053a3c","use_cache":"true","cache_server_url":"\/\/d2zsxagwlyi5z5.cloudfront.net","school_google_table_id":"1PlCgnLFVXFDEdydbN12GU6dNeORixqsBz9fdIS7u","school_url":"\/school-data\/","report_server":"\/\/admin.earthhour.wwf.org.uk\/signup\/2015","signup_submission_url":"\/\/submit.earthhour.wwf.org.uk\/signup\/2015","young_scott_sourcecode":"EJY008006","young_scott_vouchercode":"M7FGDU"},"statistics":{"data":{"nid":"291"},"url":"\/core\/modules\/statistics\/statistics.php"},"ajax":{"js_adoption_select":{"callback":[{},"loadSpecies"],"event":"change","progress":{"type":"throbber"},"url":"\/wildlife\/marine-turtles?ajax_form=1","dialogType":"ajax","submit":{"_triggering_element_name":"species"}}},"views":{"ajax_path":"\/views\/ajax","ajaxViews":{"views_dom_id:aa536df34393c65d7c16a6140d7814c46270230ac888090cda85f87359bf4df5":{"view_name":"wwf_update_listing","view_display_id":"block_1","view_args":"wwf_update_listing\/291\/0","view_path":"\/wildlife\/marine-turtles","view_base_path":"wwf-update-listing","view_dom_id":"aa536df34393c65d7c16a6140d7814c46270230ac888090cda85f87359bf4df5","pager_element":0}}},"form_id":"field_update_type_term_target_id","block_ids":{"7":"block-1","8":"block-10","9":"block-11","10":"block-12","11":"block-13","12":"block-14","13":"block-15","14":"block-16","15":"block-2","16":"block-3","17":"block-4","18":"block-5","19":"block-6","20":"block-7","21":"block-8","22":"block-9"},"geolocation":{"maps":{"map-canvas-58b80694a06a8":{"id":"map-canvas-58b80694a06a8","lat":-5.767327944126,"lng":40.616283416748,"settings":{"google_map_settings":{"type":"ROADMAP","zoom":"6","mapTypeControl":1,"style":"","height":"631.04px","width":"100%","info_auto_display":1,"streetViewControl":0,"zoomControl":0,"scrollwheel":0,"disableDoubleClickZoom":0,"draggable":0},"title":"","info_text":"","set_marker":"0","use_overridden_map_settings":0}}},"google_map_api_key":"AIzaSyA8H2jfF2sYQ-LHwoAoKqwQNTcnQcZ-P24","google_map_additional_parameters":null},"field_group":{"html_element":"full"},"user":{"uid":0,"permissionsHash":"1c079e7f5dbd82d04234d4850f6181f970388840e713588b0e5dc16b91e28d7b"}}</script>
<script src="//www.wwf.org.uk/sites/default/files/js/js_QlbOsCzEmNRhIoPCuLuVqF4aPQQYn7TIckLRSPa7TNE.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js"></script>
<script src="//www.wwf.org.uk/sites/default/files/js/js_rA9dOEQ7xE7IPBzrw3vcQqPeLobgYy6qz14T3TPizXQ.js"></script>
<script src="//www.wwf.org.uk/sites/default/files/js/js_TG1gJBEzNW0XL7FDoP4DuKZg29L0dt_kDO3lop3KNps.js"></script>

  <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"0d4833b8b6","applicationID":"28823450","transactionName":"b1wBY0pRXERQUhJdCVYWNkVRH1tZVVQeGhZQSQ==","queueTime":0,"applicationTime":18,"atts":"QxsCFQJLT0o=","errorBeacon":"bam.nr-data.net","agent":""}</script><br>


    </div>









<script type="text/javascript" id="" src="//ad.doubleclick.net/adj/N5030.197812.NSO.CODESRV/B7788454;dcadv=4207273;sz=1x2;ord=1293939024?"></script>
    <script type="text/javascript" id="">var _paq=_paq||[];_paq.push(["trackPageView"]);_paq.push(["enableLinkTracking"]);(function(){var c=("https:"==document.location.protocol?"https":"http")+"://www.tag4arm.com/tags4arm/";_paq.push(["setTrackerUrl",c+"tag4arm.php"]);_paq.push(["setSiteId","71"]);var a=document,b=a.createElement("script"),a=a.getElementsByTagName("script")[0];b.type="text/javascript";b.defer=!0;b.async=!0;b.src=c+"tag4arm.js";a.parentNode.insertBefore(b,a)})();</script>
<script type="text/javascript" id="">(function(b,c,e,g,d){var f,a;b[d]=b[d]||[];f=function(){var a={ti:"5013334"};a.q=b[d];b[d]=new UET(a);b[d].push("pageLoad")};a=c.createElement(e);a.src=g;a.async=1;a.onload=a.onreadystatechange=function(){var b=this.readyState;b&&"loaded"!==b&&"complete"!==b||(f(),a.onload=a.onreadystatechange=null)};c=c.getElementsByTagName(e)[0];c.parentNode.insertBefore(a,c)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript>&lt;img src="//bat.bing.com/action/0?ti=5013334&amp;amp;Ver=2" height="0" width="0" style="display:none; visibility: hidden;"&gt;</noscript><div style="display: none; visibility: hidden;"><script type="text/javascript">adroll_adv_id="BOO3BNKPCNFQZNYL25GZAV";adroll_pix_id="HVY54SXSIBEGRDABAJFXWL";
(function(){var a=function(){if(document.readyState&&!/loaded|complete/.test(document.readyState))setTimeout(a,10);else if(window.__adroll_loaded){var b=document.createElement("script"),c="https:"==document.location.protocol?"https://s.adroll.com":"http://a.adroll.com";b.setAttribute("async","true");b.type="text/javascript";b.src=c+"/j/roundtrip.js";((document.getElementsByTagName("head")||[null])[0]||document.getElementsByTagName("script")[0].parentNode).appendChild(b)}else __adroll_loaded=!0,setTimeout(a,
50)};window.addEventListener?window.addEventListener("load",a,!1):window.attachEvent("onload",a)})();</script>
</div>
<script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","//connect.facebook.net/en_US/fbevents.js");fbq("init","1632946040318222");fbq("track","PageView");</script>
<noscript>&lt;img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1632946040318222&amp;amp;ev=PageView&amp;amp;noscript=1"&gt;</noscript>
<div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.002224121746518426"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.5057098736903893" width="0" height="0" src="http://bat.r.msn.com/action-uic/0?ti=5013334&amp;Ver=2&amp;mid=6359ee29-dbc0-bd16-673f-21d219739913&amp;evt=pageLoad&amp;lt=381&amp;pi=-1748725250&amp;lg=zh-CN&amp;sw=1440&amp;sh=900&amp;sc=24&amp;r=http%3A%2F%2Flocalhost%3A3000%2Fproducts%2F3%2F&amp;tl=Jdstore&amp;p=http%3A%2F%2Flocalhost%3A3000%2Fproducts%2F3%2F&amp;rn=683831"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.37833794093906503" width="0" height="0" src="http://bat.bing.com/action/0?ti=5013334&amp;Ver=2&amp;mid=6359ee29-dbc0-bd16-673f-21d219739913&amp;evt=pageLoad&amp;lt=381&amp;pi=-1748725250&amp;lg=zh-CN&amp;sw=1440&amp;sh=900&amp;sc=24&amp;r=http%3A%2F%2Flocalhost%3A3000%2Fproducts%2F3%2F&amp;tl=Jdstore&amp;p=http%3A%2F%2Flocalhost%3A3000%2Fproducts%2F3%2F&amp;rn=696194"></div></body></html>
