// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainbody{
  margin: 0px 20px 20px 20px;
  padding: 0 20px 0 20px;
}

.tips{
  border: 1px solid #ffbbb9;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  color: #ff6421;
}

.demo{
  margin-top: 10px;
  font-size: 16px;
}
