---
development:
  cloud_name: xxxxxxxxxxxxx
  api_key: 'xxxxxxxxxxxxx'
  api_secret: xxxxxxxxxxxxx
  enhance_image_tag: true
  static_file_support: false
production:
  cloud_name: xxxxxxxxxxxxx
  api_key: 'xxxxxxxxxxxxx'
  api_secret: xxxxxxxxxxxxx
  enhance_image_tag: true
  static_file_support: true
test:
  cloud_name: xxxxxxxxxxxxx
  api_key: 'xxxxxxxxxxxxx'
  api_secret: xxxxxxxxxxxxx
  enhance_image_tag: true
  static_file_support: false
