在做大项目的时候，我们需要与人协作。大家在 fork 或者 clone job-listing 和 jdstore 专案的时候，应该会发现一件事情，我给大家的是 database.yml.example，是因为我们不把自己真的 key（真的 key 在 database.yml 档里）给别人。所以在本地的时候就需要准备一份 database.yml.example （这是范例档，给同事知道有这个档——为了协作）。也就是说，上传到 github 上的是 database.yml.example 档。
