<div class="total clearfix">
  <%= link_to("清空购物车", clean_carts_path ,
               method: :delete , class: "pull-right",
               style: "text-decoration: underline;",
               data: { confirm: "你确定要清空整个购物车吗？"} )%>

<h2> 购物车 </h2>
     <span class="pull-right">
        <span>
         总计 <%= render_cart_total_price(current_cart) %> RMB
        </span>
     </span>
   </div>
