
<div class="w1200 clearfix bc mt20">
  <ul class="cartProducts-title clearfix bg-gray border">
    <li class="tc fl cartProducts-title-msg">商品信息</li>
    <li class="tc fl cartProducts-title-price">单价</li>
    <li class="tc fl cartProducts-title-quantity">数量</li>
    <li class="tc fl cartProducts-title-total">小计（元）</li>
    <li class="tc fl cartProducts-title-operation">操作</li>
  </ul>

  <div class="cartPage-productList">
    <%= render :partial => "product_list" %>
  </div>
</div>
