<div class="pull-right">
  <%= link_to 'New Size', new_admin_size_path, class: "btn btn-primary"%>
</div>
<h1>Sizes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">设置</th>
    </tr>
  </thead>

  <tbody>
    <% @sizes.each do |size| %>
      <tr>
        <td><%= size.name %></td>
        <td><%= link_to 'Edit', edit_admin_size_path(size) %></td>
        <td><%= link_to 'Destroy', admin_size_path(size), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
