<div class="login-in-form">
    <div class="top">
        <span>使用 JD ID 登陆官网</span>
    </div>

    <div class="bottom">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
            <div class="user-email">
                <div class="icon"><img src="/images/email.jpg" alt=""></div>
                <input class="form-control string email optional" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
            </div>
            <div class="user-password">
                <div class="icon"><img src="/images/password.jpg" alt=""></div>
                <input class="form-control password optional" type="password" name="user[password]" id="user_password">
            </div>
            <div class="user-remember-me">
                <div class="auto">
                    <div class="checkbox">
                      <label id="checkout-custome" for="user_remember_me" data-check = "1"><input class="boolean optional checkout-custome" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me"></label>
                        <span>Remember me ?</span><input value="0" type="hidden" name="user[remember_me]">
                    </div>
                </div>
            </div>
            <%#= f.input :email, label:false,required: false, autofocus: true %>
            <%#= f.input :password,label:false, required: false %>
            <%#= f.input :remember_me,label:false, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="signUp-or-findPassword pull-right">
          <%= render "devise/shared/links" %>
        </div>
        <div class="form-actions">
          <input type="submit" name="commit" value="Log in" class="btn btn-login" data-disable-with="Log in">
        </div>
        <% end %>

    </div>
</div>
<script type="text/javascript">
$(function () {
  $('#checkout-custome').click(function (e) {
    //点击label事件之后出发了两次click事件，网上搜索是冒泡机制所致，为防止LABEL冒泡，加上这一句。
    if (e.target.tagName === 'LABEL') {
      return;
    }
    if ($(this).attr('data-check') === '1') {
      console.log($(this).attr('data-check'));
      $(this).toggleClass( 'checked', true );
      $(this).attr('data-check','2');
    }else {
      console.log($(this).attr('data-check'));
      $(this).toggleClass( 'checked', false );
      $(this).attr('data-check','1')
    }
  })
})
</script>
