<div class="row">
  <div class="col-md-12">
    <h2>订单明细</h2>
    <small><%= link_to("订单链接", order_url(@order.token)) %></small>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品明细</th>
          <th>单价</th>
          <th>数量</th>
          <th>总价</th>
        </tr>
      </thead>

    <tbody>
      <tr>
        <td>
          用户取消订单
        </td>
      </tr>
    </tbody>
    </table>
