
<table class="table">
  <tr>
    <div class="row">
    <div class="col-md-4">
    <% @items.each do |item| %>


      <% if item.is_available %>


          <td>
            <% if item.attachment %>

                <%= image_tag item.attachment_url(:thumb).to_s %>

            <% else %>

              <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" class="img-thumbnail" width="200" height="200">

            <% end %>
            <br>
            <%= link_to(item.title, item_path(item)) %>
            <br>
            <%= '$' %>
            <%= item.price %>

          </td>

      <% else %>

      <% end %>
    <% end %>
  </div>
  </div>
  </tr>

</table>
