

    <% @items.each do |item| %>

      <% if item.is_available %>


          <p>
            <% if item.attachment %>
              <%= image_tag item.attachment_url(:thumb).to_s %>
            <% else %>
             <p class="No Pic"></p>
            <% end %>

          </p>

          <p>
            <%= link_to(item.title, item_path(item)) %>
          </p>

          <p>
            <%= item.price %>
          </p>

      <% else %>

      <% end %>
    <% end %>
