<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <%= image_tag(item.image.thumb.url, class: "img-rounded") if item.image? %>
        <p><%= item.title %></p>
      </div>
    <% end %>
  </div>
</div>




