<div class="container-fluid" style="margin-top: 30px;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h2><%= t("admin.edit_category") %></h2>
        </div>

        <!-- content -->
        <div class="panel-body">
          <%= simple_form_for [:admin, @category] do |f| %>
              <%= f.input :name %>
            <%= f.submit "Submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
