<div>
    <%= link_to("New Category", new_admin_category_path, class: "btn btn-primary") %>
</div>
<br>
<div>
  <% if current_user.admin? %>

      <%= link_to(content_tag(:i, 'Admin 选单', class: 'btn btn-info'), admin_products_path, method: :get) %>

  <% end %>
</div>
