<div class="col-md-3 col-lg-2">
  <div class="thumbnail">
    <div>
      <%= image_tag "avatar.jpg", {alt: "img", style: "max-width:100%;max-height:100%"}%>
    </div>
    <div style="margin: 10px 5px">
      <p>
        <span><%= product.title %></span> $ <span><%= product.price %></span>
      </p>
    </div>
  </div>
</div>
