<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">编辑商品</h2>

        <hr>
        <%= render "form" %>

      </div>
    </div>
  </div>
</div>
