<div class="container-fluid">

  <h2>Product Manage</h2>
  <div class="row text-right">
    <%= link_to("new product", new_admin_product_path, class:"btn btn-lg btn-danger admin_btn_new")%>
  </div>
  <%= render "product_list"%>
</div>
