<h2> Product List </h2>

<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品", new_admin_product_path, class: "btn btn-primary btn-sm") %>

</div>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>#</th>
      <th width="220">Product Pic</th>
      <th>Name</th>
      <th>Price</th>
      <th width="100"> Options</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>

      <tr>
        <td>
            <li> <%= link_to(product.title, admin_product_path(product)) %> </li>
        </td>

        <td>
        </td>

        <td>
        </td>

        <td>
        </td>

        <td>
          <%= link_to("Edit", edit_admin_product_path(product)) %>
          <%= link_to("Destroy", admin_product_path(product), :method => :delete, :class => "btn btn btn-danger pull-right", :data => { :confirm => "Are you sure?" }) %>
        </td>


      </tr>
    <% end %>

  </tbody>

</table>
