<h2> Product List</h2>
<div class="pull-right" style="padding-bottom: 20px;">
<%= link_to("Create Product",new_admin_product_path, class:"btn btn-primary btn-sm") %>
</div>

<table class="table table-bordered">
<thead>
	<tr>
		<th>#</th>
		<th width="220">Product Pic</th>
		<th> Name</th>
		<th>Price</th>
		<th width="100">Options</th>
	</tr>
</thead>
	<tbody>
		<%= render :partial=>"product_item", :collection=>@products,:as=>:product %>
	</tbody>
</table>