<ul>
  <% @products.each do |product| %>
  <!-- <li>  <%= product.title %> </li> -->
    <li><%= link_to(product.title, admin_product_path(product))%></li>
    <!-- <li><%= link_to(product.price, admin_products_path(product))%></li> -->
    <% end %>
</ul>
