<h2>商品列表</h2>
<% @products.each do |product| %>
   <div class="">
      <p>商品名称：<%= product.title%></p>
      <p>商品描述：<%= product.title%></p>
      <p>商品价格：<%= product.title%></p>
      <p>商品数量：<%= product.title%></p>

   </div>
<% end %>
