<% @products.each do |product| %>
  <div class="col-md-3">
    <a href="/">
      <img src="http://www.yaho.com.tw/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/e/aeron_1.jpg">
    </a>
    <p><%= product.title %> $<%= product.price%></p>
  </div>
<% end %>
