<h1><%= @product.title %></h1>

<%= @product.description %>
<hr>
<%= link_to("Edit Product", edit_admin_product_path, :class => "btn btn-warning")%>
<%= link_to("Destroy Product", admin_product_path(@product), method: :delete, :class => "btn btn-danger")%>
