      <div class="col-xs-12 col-sm-6">
        <article class="post tag-foreign-website tag-bootstrap-v3 tag-opensource-project">
          <div class="post-featured-image">
            <div class="thumbnail" href="/nemo/" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Nemo'])" target="_blank">
              <img src="http://image.youzhan.org/6/4d/e5d9c6129dbe6d4f9e2f4b32ebd09.png!thumb" width="700" height="438" alt="Nemo" onload="imgLoaded(this)">
            </div>
          </div>
            <div class="post-content">

            </div>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6">
        <article class="post tag-foreign-website tag-bootstrap-v3 tag-opensource-project">

            <div class="post-content">
              <h2><%= @product.title %></h2>
              <p><%= simple_format(@product.description) %></p>
              <font>库存量：<font color="#d9534f"><%= @product.store %></font></font>
              <font>价格：<font color="#d9534f"><%= @product.price %></font></font>
            </div>
        </article>
      </div>
