<h2>商品详情</h2>

<div class="group">
  商品名称<%= @product.title %>
</div>

<div class="group">
  商品描述<%= @product.description %>
</div>

<div class="group">
  商品数量<%= @product.quantity %>
</div>

<div class="group">
  商品单价<%= @product.price %>
</div>
