<div class="gods-main-pic">
       <% if @photos.present? %>
          <a class="magnifier-wrapper" href="#">
          <%= image_tag(@photos.first.avatar.medium.url, class: "thumbnail",size: "400x400") %>
          </a>
          <% else %>
           <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>
   </div>
