<h2><%= @product.title %></h2>

<table class="table">
  <tr>
    <td><%= @product.description %></td>
  </tr>
  <tr>
    <td><%= @product.quantity %></td>
  </tr>
  <tr>
    <td><%= @product.price %></td>
  </tr>
</table>
