<div class="">
  <h2>商品详情</h2>
  <div class="">
     <p>商品名称：<%= @product.title%></p>
     <p>商品描述：<%= @product.description%></p>
     <p>商品价格：<%= @product.price%></p>
     <p>商品数量：<%= @product.quantity%></p>
  </div>
</div>
