<table class="table table-boldered">
  <thead>
    <tr>
      <td>商品名称</td>
      <td>描述</td>
      <td>数量</td>
      <td>价格</td>
    </tr>
  </thead>
  <tr>
    <td><%= @product.title %></td>
    <td><%= @product.description %></td>
    <td><%= @product.quantity %></td>
    <td><%= @product.price %></td>
  </tr>
</table>
