<div class="col-md-10">
  <div class="col-md-4">
    <%= image_tag(@product.image.medium.url) %>
  </div>

  <div class="col-md-4 offset-8">
    <h2><%= @product.title %></h2>
    <br/>
    <br/>
    <p>数量：<%= @product.quantity %><br/>
      $<%= @product.price %>
    </p>
  </div>
<div>
