<br>
<br>

<div class="col-md-4 col-md-offset-1">
	<%= render "common/medium_product_image" %>	

</div>
<div class="col-md-4">
	<hr>
	<h2><%= simple_format(@product.title) %></h2>	
	<br>
	<h3>价格</h3><%= @product.price %>
	<h3>库存</h3><%= simple_format(@product.quantity) %>
	
</div>


