<div class="container">

  <!-- 网站简介 -->

  <div class="">
    <div class="row">
      <div class="about-title-box col-xs-10">
        <span class="about-title-e">What is Minimalism Life.</span><br>
        <h1 class="about-title-c">关于 我们</h1>
      </div>
      <div class="col-xs-2 pull-right ">
        <%= link_to("Back to Home", "/", class: "btn btn-sm btn-default") %>
      </div>
    </div>
  </div>



  <p class="about-info">
    极简生活法是一套为普通人设计的能快速提升生活品质的课程 <br>
    更是一个追求美好生活的持续行动社群 <br><br>
    藉由简单可行的方法 <br>
    通过与会员及生活达人交流收纳成果、家居布置和心得 <br>
    让所有人皆能拥有简洁高效的生活环境 <br>
    让你的生命中只留下美好的事物 <br>
    在当下条件下极大提升生活质量，重获新生
  </p>
  <hr>

  <!-- 网站设计者 -->
  <div class="col-md-12 about-info about-img row">
    <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
      <div class="col-xs-4">
        <%= image_tag("about1.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-xs-8">
        <h5>闭欣欣</h5>
        <p><strong>微信：xinxin</strong></p>
        <p>
          学环境艺术设计的资深媒体人 <br>
          马拉松越野跑爱好者 极简主义践行者 <br>
          热爱生活 热爱挑战 热爱一切美好的事物 <br>
          愿能与你一起创造更加美好的生活 <br>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
      <div class="col-xs-4">
        <%= image_tag("about2.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-xs-8">
        <h5>韵儿爸爸</h5>
        <p><strong>微信：bigdasu</strong></p>
        <p>
          行销+视觉+编程 全栈选手 <br>
          线上德州扑克玩家 爱好各种博弈游戏 <br>
          行动力者 希望每天都成为比昨天更好的自己 <br>
          愿和你一起不断去创造不平凡 <br>
        </p>
      </div>
    </div>
  </div>




</div>
