<div class="container">

  <!-- 网站简介 -->

  <div class="about-title-box">
    <span class="about-title-e">What is MINI-WU</span><br>
    <h1 class="about-title-c">关于 简屋</h1>
  </div>

  <p class="about-info">
    2017年5月之前，「简屋」还只是一个密圈社群。 <br>
    这里的原住民，是一群过着有序生活，对品质挑剔而认真的极简分子。 <br><br>
    「简屋」自始至终坚持3个基本原则。 <br>
      1．精选材质  <br>
      2．修改工序  <br>
      3．简化包装  <br>
    "从极致合理的生产工序中诞生的商品非常简洁，但就风格而言却并非极简主义。就如“空容器”一样。  <br>
    正因为其单纯、空白，所以那里才诞生了能够容纳所有人思想的终极的自由性。 <br><br>
  </p>
  <hr>

  <!-- 网站设计者 -->
  <div class="col-md-12 about-info about-img">
    <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
      <div class="col-xs-4">
        <%= image_tag("about1.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-xs-8">
        <h5>闭欣欣</h5>
        <p><strong>微信：xinxin</strong></p>
        <p>
          作为一个程序员，之前我并不关心身边的琐碎小事，是个典型的”差不多先生”。
            但是自从加入「简屋」以后，ta的生活教程令我完全沉迷。
            我开始在乎身边的小细节，开始动手改善家居，生活变得精致，心情变得舒服。
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
      <div class="col-xs-4">
        <%= image_tag("about1.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
      </div>
      <div class="col-xs-8">
        <h5>苏韵儿</h5>
        <p><strong>微信：bigdasu</strong></p>
        <p>
          作为一个程序员，之前我并不关心身边的琐碎小事，是个典型的”差不多先生”。
            但是自从加入「简屋」以后，ta的生活教程令我完全沉迷。
            我开始在乎身边的小细节，开始动手改善家居，生活变得精致，心情变得舒服。
        </p>
      </div>
    </div>
  </div>




</div>
