// 关于我们页面样式

// 标题样式
.about-title-box {
  margin-top: -20px;

}
.about-title-e {
  font-weight: lighter;
  font-size: 2.3em;
}
.about-title-c {
  font-weight: lighter;
  font-size: 3.5em;
  letter-spacing: 0.16em;
  margin: 2px auto 60px;
}

// 信息样式
.about-info {
  font-size: 1.1em;
  letter-spacing: 0.2em;
  font-weight:normal;
  line-height: 2em;
}
.about-img {
  margin-top: 50px
}
