/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome';

// 字型
 @import url('https://fonts.googleapis.com/css?family=Yesteryear');
 @import url('https://fonts.googleapis.com/css?family=Proza+Libre');
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');
 @import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
// 字型-logo"Select."
 .logo {
   font-family: 'Yesteryear', cursive;
 }


// 通用的css代码

.col-centered {
  float: none;
  margin: 0 auto; //置中
  margin-top: 50px;
}

body {
  overflow-x: hidden; //修正welcome页面右边有空白的问题
}
.minHeight1000 {
  min-height: 1000px; //页面最小高度1000px
}
a:hover {
  text-decoration: none;
}
/*字体颜色和背景颜色*/
.bg-color {
  background: #edbdb5;
}

// 通用的css代码结束

// 导航栏

// 导航栏结束

// 工作列表标题栏
.header_placeholder {
  display: none;
  height: 80px;
}
.header {
  width:1200px;
  margin: 20px auto;
}
.header_content {
  margin-left:auto !important;
  margin-right:auto !important;
  margin-top:10px;
  padding-bottom:20px;
  position:relative;
  .logo1 {
    float:left;
    display:inline;
    font-size: 36px!important;
    width: 360px;
    height: 60px;
  }
  .search_bar1 {
    float:left;
    display:inline;
    width:30%;
    margin-left:40px;
    margin-top:10px;
    position:relative;
  }
  .cart-wrap1 {
    float:right;
    display:inline;
    position:relative;
    margin-top:10px;
    height: 40px;
    line-height: 40px;
    .cart {
      background: #F5F5F5;
      font-size:12px;
      padding-left:20px;
      padding-right:20px;
      position:relative;
      border: 1px solid!important;
    }
  }
}
// 工作列表标题栏结束


//轮播图
.banner {
  text-align:center;
  padding-top:30px;
  margin-left:auto !important;
  margin-right:auto !important;
  img {
  width: 1200px;
  height: 360px;
 }
 .carousel {
   margin: 20px auto;
   width: 1200px;
   height: 400px;
 }
}
.carousel-inner > .item > a > img {
    display: block;
    height: 360px;
    max-width: 100%;
    line-height: 1;
    width: 100%;
  }
// 轮播图结束

//商品展示列表
.productList-wrap {
  width:1200px;
  padding-top:20px;
  margin-left: auto !important;
  margin-right: auto !important;
  .productList {
    padding-bottom:20px;
    .productList-item {
      float:left;
      display:inline;
      width: 228px;
      height: 350px;
      margin-right: 15px;
      margin-bottom: 15px;
      position:relative;
      .box {
        padding-left: 0px;
        padding-right: 0px;
        transition: 0.35s;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
        &:hover{
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.22);
        }
      }
      .productList-item-pic {
        width:200px;
        height:200px;
        margin-top: 15px;
        margin-left: auto !important;
        margin-right: auto !important;
      }
      .productList-item-price {
        font-weight:bold;
        color: #d32048;
        font-size:18px;
        margin-top:5px !important;
        margin-left: 10px;
      }
      .productList-item-name{
        margin-top:2px !important;
        margin-left: 10px;
      }
      .productList-item-desc {
        margin-top:2px !important;
        margin-left: 10px;
        font-size:12px;
      }
      .productList-item-sellout{
        font-size:20px;
        text-align:center;
      }
      .productList-item-cartBtn {
        position:absolute;
        left: 200px;
        font-size:18px;
      }
    }
  }
}
 // 菜单
.menu-wrap {
  background: #333333;
  color: #fff;
  margin-top: 0;
}
.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #333333;
  overflow: hidden;
  height: 42px;
  line-height: 42px;
  width: 1200px;
  font-size: 16px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.menuList-item {
  float: left;
  a {
    display: block;
    color: #FFF;
    text-decoration: none;
  }
  padding: 0 22px;
  cursor: pointer;
}
.menuList-item:hover {
  background-color: #434343;
}
.menuList-activeItem {
  background: #D32048;
}
.menuList-activeItem:hover {
  background: #D32048;
}

// 商品排序显示
.order {
  background: #333;
  height: 44px;
  line-height: 44px;
  margin-top:30px;
  margin-left:auto !important;
  margin-right:auto !important;
  color: #fff;
  margin-top: 0px;
  padding-left: 60px;
  p.title {
    float:left;
    display:inline;
    height: 44px;
    line-height: 44px;
    padding-left:20px;
    padding-right:20px;
  }
  .orderList {
    float:left;
    display:inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    // background: #333333;
    overflow: hidden;
    height: 42px;
    line-height: 42px;
    // width: 1200px;
    font-size: 14px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.orderList a {
  color: #fff;
}

.orderList-orderItem {
  float:left;
  display:inline;
  padding-left:20px;
  padding-right:20px;
  color: #fff !important;
  cursor: pointer;
}
.orderList-activeItem a {
  color: #d32048;
}

// 点赞
.like a {
  color: #DD2C00;
}
// 点赞结束

// 收藏和取消收藏
.favorite a {
  color: #DD2C00;
}
// 收藏和取消收藏结束

// 登入/注冊頁開始
.devise-view img {
  vertical-align : middle;
  margin: auto;
  background-color: #323232;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

.devise-view a:link {
  color: #fff;
}

.page-wrap {
  min-height: 100%;
  min-width: 100%;
  margin-bottom: -60px;
}

.devise-view {
  margin-bottom: -10px;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -999;
}

.devise-view .devise-sign-up {
  margin: 80px auto;
  color: #ffffff;
  width: 900px;
  height: 500px;
}

.devise-view .devise-sign-up .left {
  padding: 0 20px 20px;
  width: 580px;
  height: 500px;
  float: left;
}

.devise-view .devise-sign-up .right {
  padding: 20px 20px 0;
  margin: auto;
  width: 320px;
  height: 500px;
  float: left;
  color: #fff;
}
.devise-view .devise-sign-up .center {
  padding: 20px 20px 0;
  margin: auto;
  width: 320px;
  height: 500px;
  float: center;
  color: #fff;
}
// 登入/注冊頁結束

// 设置回到顶部按钮和点赞链接
.sidebar {
  display: none;
  position: fixed;
  z-index: 998;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: auto;
  line-height: 20px;
  * {
    box-sizing: border-box;
  }
  ul {
    padding: 0;
  }
  li {
    position: relative;
    display: block;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;
    background: #fbfbfb;
    line-height: 42px;
    &:hover {
      background: #eee;
    }
    &:first-child {
      margin-top: 0;
    }
    &.backtop i {
      font-size: 18px;
    }
    &.support {
      i {
        font-size: 20px;
      }
      .ewm {
        line-height: 22px;
        display: none;
        left: 0px;
        opacity: 0;
        position: absolute;
        z-index: 1;
        opacity: 0;
        display: none;
        left: 0;
        top: 50%;
        margin-top: -68px;
        width: 136px;
        height: 136px;
        padding-left: 20px;
        p {
          background: #eee;
          border-radius: 3px;
          padding: 12px;
        }
      }
    }
    i {
      color: #555;
    }
  }
}
// 设置回到顶部按钮和点赞链接结束

// product/show页面中商品详情和用户评价
.productDetail {
  border:1px solid #DDDDDD !important;
  margin-top:40px auto;
  text-align: center;
  line-height: 30px;
  width: 1200px;
  background-color: #fff;
  margin: 0 auto !important;
}
.productDetail-tabList {
  background: #F5F5F5;
  height: 35px;
  list-style-type: none;
  border-bottom: 1px solid #D8D8D8;
  .productDetail-tabList-tab {
    float:left;
    display:inline;
    width:175px;
    height: 35px;
    line-height: 35px;
    padding-left:50px;
    padding-right:50px;
    cursor: pointer;
    border-right: 1px solid #D8D8D8;
  }
}
// .productDetail-tabList-activeTab {
// 	background: #fff;
// }
.productDetail-contentWrap{
  width: 750px;
  height:500px;
  // margin:50px;
  margin-left:auto !important;
  margin-right:auto !important;
}
.productDetail-content {
  display: none;
  width: 750px;
  height: 500px;
  padding-top:20px;
  padding-bottom:50px;
  text-align:center;
}
.commentList {
  margin-top: 70px;
}
.comment-say {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 20px;
  text-align:center;
  font-size: 20px;
  margin-left:auto !important;
  margin-right:auto !important;
}
