/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

//-------Footer always on the bottom----
  html {
      //sposition: relative;
      min-height: 100%;
  }

  body {
      /* Margin bottom by footer height */
      overflow-x: hidden;
      overflow-y: visible;
      position: relative;
      margin: 0 auto;
     //background-color: #1e1e1e;
      font-size: 14px;
      line-height: 1.45;
      font-family: Arial,sans-serif;
  }

  .main{
      //border: 1px solid black;
      //margin: auto;
      position: relative;
      background-color: #fff;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
  }
  .sub-detail{
    margin:40px 50px 30px;
    padding-top: 20px
  }


  //----------navbar---------------
  .navbar-default {
        background-color: #FAFAFA;
        border-color: #212121;
        margin-bottom: 0;
        border-radius: 0;
    }

//--------fix navbar--------------
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 0px;
  }

  .navbar-fixed-top {
      position: fixed;
      right: 0;
      left: 0;
      z-index: 1030;
      //border: solid 1px green;
  }

  // -------- 完  ------

  .navbar-nav{
    //border: solid 1px red;
    background-color: #FAFAFA;
    font-size: 15px;
  }

  .navbar-product{
    //border: solid 1px blue;
    //background-color: #FAFAFA;
  }
  .navbar-default .navbar-brand {
      color: #EF6C00;
      padding: 10px 15px;
      line-height: 30px;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color: #FF6F00;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > li > a {
      color: #EF6C00;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
      color: #FF6F00;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      color: #FF6F00;
      background-color: #FFE0B2;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
      background-color: #FFE0B2;
      color: #212121;
  }

  //--------homePage main pic---------
  .jumbotron {
      background-image:url('http://ww4.sinaimg.cn/large/006tNc79gy1fg57r8j0thj31kw0vmu0x.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 110px;
  }


    .jumbotron p{
        margin: 0;
        padding: 0;
    }

    .jumbotron h1{
        color: #ffffff;
    }

  .container{
      margin: 0;
      padding: 0;
      height: 300px;
      margin-top: 50px;
  }

  .container-fluid .jumbotron{
      padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
      margin: 55px -15px 0px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
      border-radius: 0;//圆角为0
  }


  .title {
      font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
      text-align: center;
      //margin-top: 80px;
      //margin-bottom: 80px;
  }

  .slogan {
      width: 800px;
      height: 300px;
      margin-top: 20px;
      //margin-bottom: 50px;
      text-align: center;
      color: #FAFAFA;
      top: 12px;
  }

  .lead {
      margin-bottom: 60px;
      text-align: center;
      color: white;
  }
//--------------ourself introduction--------
  .desPic{
      //border:solid 1px red;
      padding: 45px 15px 30px;
  }

  .picPosition2 img{
      padding: 5px;
      width: 500px;
      border-radius: 50%;
  }

  img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  .picPosition3 img{
      //border-radius: 6px;
      padding: 5px;
      width: 500px;
      float: right;
      margin-right: 100px;

  }

  img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
//---------searchbar---------------
  .searchbar_label{
      text-align: right;
      float: left;
      width: 40%;
      margin-top: 9px;
      font-family: "Georgia",serif;
      font-style: italic;
      font-weight: normal;
      vertical-align: middle;
      text-align: right;
      margin-right: 1em;
  }

  .searchbar_input{
      width: 50%;
      margin-right: 150px;
  }
  //----------4 divided photoes--------------
  @media (min-width: 768px){}
  .category {
        margin-right: 0;
        margin-left: 0;
        background-color: #efede3;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
  .category {
        background-color: #efede3;
        position: relative;
        padding: 45px 15px 30px;
        margin: 0 -15px 0px;
    }

  div {
    display: block;
  }

  .desPicSub-1{
      width: 80%;
      margin-top: 50px;
      margin-left: 100px;
   }

  .desPicSub-2{
      width: 80%;
      padding-top: 40px;
      padding-left: 80px;
   }

  .thumbnail > img, .thumbnail a > img {
      display: block;
      max-width: 100%;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
    }

  .courses-img{
      width: 70%;
      height: 180px;
      display:block
  }

  .courses-block{
      padding: 0px 0px 0px;
      margin-top: 3px;
  }

  .courses-main{
      background-color: #ffffff;
  }

  .caption{
      text-align: center;
  }

//----------part 6-------
  .website-links{
      background-color: #212121;
  }

  .website-links-sub{
      //margin-top: 20px;
  }

  .list-group-item {
      background-color: #212121;
      border: 1px solid #212121;
      color: #FAFAFA;
  }

  div {
      display: block;
  }

//----------part 5-------
  .bottom-intro{
    height:160px;
    margin-bottom: 20px;
    padding-top:30px;
    background-color:#e8244f;
    text-align:center;
    color: #FAFAFA;
  }
  //----------Footer---------------
  footer {
      //position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 50px;
      background-color: #333;
  }

  .text-footer-left{
      float:left;
      color: #FAFAFA;
      margin: 10px 70px 15px;
    }

  .text-footer-right{
      float:right;
      color: #FAFAFA;
      margin: 10px 70px 15px;
   }
   //----------footer ends-----

/* Aviod The fixed navbar overlay other content
  body { padding-top: 70px; }*/
//----------product-list css------
.product-backgroud-img{
  width: 100%;
  height: 250px;
}
  .all-product-box{
    margin-bottom: 3em;
    margin-top: 55px;
    min-height: 550px;
  }

  .product-list{
    margin: 3em 0em 2em;
    color: #212121;
  }

  .product-list-img{
    width: 100%;
    margin-bottom: 0px;
  }

  a {
    color: #ffffff;

  }
  .product-list-title{
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    text-align: center;

  }

  .product-list-price{

    color: inherit;
  }

  @media (min-width: 992px){}
  .container {
    width: 970px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
   }

   @media(min-width: 992px){}


  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
