/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效


/*----- navbar -----*/
#nav-height {
  padding-top: 15px;
  height: 80px;
}

.navbar-nav .input-group {
  margin-top: 10px;
}

.navbar-default {
  font-weight: bold;
  font-size: 16px;
  background-color: #f4f0e8;
  //背景颜色
  border-color: #f4f0e8;
  //边框色
  margin-bottom: 0;
  //底部 margin 不撑开距离
}

   .navbar-default .navbar-brand {  //logo字体样式
      font-size: 20px;
      color: #444444; //字体颜色
      padding: 10px 15px; //上下10px 左右15px
      line-height: 30px; //文字行高
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default  .navbar-brand:focus {
      color: #cc0000; //鼠标放置在链接上的文字颜色
      background-color: transparent; //鼠标放置在链接上的背景颜色
  }

  .navbar-default .navbar-nav > li > a {
    color: #444444;
}

.navbar-default .navbar-nav > li > a:hover, //导航栏链接颜色样式
.navbar-default .navbar-nav > li > a:focus {
    color: #cc0000;   /* 点击样色*/
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #cc0000;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #f4f0e8;
    color: #cc0000;
}

/*----- search bar at navbar -----*/
#search-id {
  width: 250px;
}

/*----- alert setting -----*/
// 固定位置的消息通知
.alert {
  position: fixed; // 这个属性防止将内容挤下去
  top: 80px; // 让消息在导航条下面，不挡住导航，根据自己导航navbar的高度调整
  left: 0px;
  width: 100%;
  z-index: 10; // 让消息显示在最上面
  border-radius: 0px;
}



/*----- login/sign-up ------*/
.facepanel {
  background-image: image_url("login.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 50px;
  margin-top: 20px;

  .login-page,
  .sign-up-page {

    margin-top: 25px;
    margin-bottom: 80px;

    span {
      display: inline-block;
      margin-right: 15px;
    }

    form {
      max-width: 480px;
      padding: 15px 35px 45px;
      margin: 0 auto;
      background-color: #fff;
      opacity: 0.9;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 5px;
      box-shadow: inset 0 1px 1px #9daaaf, 0 0 8px #c1c5c1;

      h2 {
        margin-bottom: 15px;
      }

      .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        transition: 1s;
        @include box-sizing(border-box);

        &:focus {
          box-shadow: 1px 1px #fff;
          border-color: #red;
          z-index: 2;
        }
      }
    }
  }
}
/*----- 首页大图 -----*/
 /*-- carousel --*/


 .bs-slider{
     overflow: hidden;
     max-height: 700px;
     position: relative;
     background: #000000;
 }
 .bs-slider:hover {
     cursor: -moz-grab;
     cursor: -webkit-grab;
 }
 .bs-slider:active {
     cursor: -moz-grabbing;
     cursor: -webkit-grabbing;
 }
 .bs-slider .bs-slider-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
    //  background-color: rgba(0, 0, 0, 0.40);  /*--- 大图滤镜效果 -----*/
 }
 .bs-slider > .carousel-inner > .item > img,
 .bs-slider > .carousel-inner > .item > a > img {
     margin: auto;
     width: 100% !important;
 }

 .item img{
  width: 100%;
  height: 100%;

 }
 /********************
 *****Slide effect
 **********************/

 .fade {
     opacity: 1;
 }
 .fade .item {
     top: 0;
     z-index: 1;
     opacity: 0;
     width: 100%;
     position: absolute;
     left: 0 !important;
     display: block !important;
     -webkit-transition: opacity ease-in-out 1s;
     -moz-transition: opacity ease-in-out 1s;
     -ms-transition: opacity ease-in-out 1s;
     -o-transition: opacity ease-in-out 1s;
     transition: opacity ease-in-out 1s;
 }
 .fade .item:first-child {
     top: auto;
     position: relative;
 }
 .fade .item.active {
     opacity: 1;
     z-index: 2;
     -webkit-transition: opacity ease-in-out 1s;
     -moz-transition: opacity ease-in-out 1s;
     -ms-transition: opacity ease-in-out 1s;
     -o-transition: opacity ease-in-out 1s;
     transition: opacity ease-in-out 1s;
 }






 /*---------- LEFT/RIGHT ROUND CONTROL ----------*/
 .control-round .carousel-control {
     top: 47%;
     opacity: 0;
     width: 45px;
     height: 45px;
     z-index: 100;
     color: #ffffff;
     display: block;
     font-size: 24px;
     cursor: pointer;
     overflow: hidden;
     line-height: 43px;
     text-shadow: none;
     position: absolute;
     font-weight: normal;
     background: transparent;
     -webkit-border-radius: 100px;
     border-radius: 100px;
 }
 .control-round:hover .carousel-control{
     opacity: 1;
 }
 .control-round .carousel-control.left {
     left: 1%;
 }
 .control-round .carousel-control.right {
     right: 1%;
 }
 .control-round .carousel-control.left:hover,
 .control-round .carousel-control.right:hover{
     color: #fdfdfd;
     background: rgba(0, 0, 0, 0.5);
     border: 0px transparent;
 }
 .control-round .carousel-control.left>span:nth-child(1){
     left: 45%;
 }
 .control-round .carousel-control.right>span:nth-child(1){
     right: 45%;
 }





 /*---------- INDICATORS CONTROL ----------*/
 .indicators-line > .carousel-indicators{
     right: 45%;
     bottom: 3%;
     left: auto;
     width: 90%;
     height: 20px;
     font-size: 0;
     overflow-x: auto;
     text-align: right;
     overflow-y: hidden;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 1px;
     white-space: nowrap;
 }
 .indicators-line > .carousel-indicators li{
     padding: 0;
     width: 15px;
     height: 15px;
     border: 1px solid rgb(158, 158, 158);
     text-indent: 0;
     overflow: hidden;
     text-align: left;
     position: relative;
     letter-spacing: 1px;
     background: rgb(158, 158, 158);
     -webkit-font-smoothing: antialiased;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     margin-right: 5px;
     -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
     transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
     z-index: 10;
     cursor:pointer;
 }
 .indicators-line > .carousel-indicators li:last-child{
     margin-right: 0;
 }
 .indicators-line > .carousel-indicators .active{
     margin: 1px 5px 1px 1px;
     box-shadow: 0 0 0 2px #fff;
     background-color: transparent;
     position: relative;
     -webkit-transition: box-shadow 0.3s ease;
     -moz-transition: box-shadow 0.3s ease;
     -o-transition: box-shadow 0.3s ease;
     transition: box-shadow 0.3s ease;
     -webkit-transition: background-color 0.3s ease;
     -moz-transition: background-color 0.3s ease;
     -o-transition: background-color 0.3s ease;
     transition: background-color 0.3s ease;

 }
 .indicators-line > .carousel-indicators .active:before{
     transform: scale(0.5);
     background-color: #fff;
     content:"";
     position: absolute;
     left:-1px;
     top:-1px;
     width:15px;
     height: 15px;
     border-radius: 50%;
     -webkit-transition: background-color 0.3s ease;
     -moz-transition: background-color 0.3s ease;
     -o-transition: background-color 0.3s ease;
     transition: background-color 0.3s ease;
 }



 /*---------- SLIDE CAPTION ----------*/
 .slide_style_left {
     text-align: left !important;
 }
 .slide_style_right {
     text-align: right !important;
 }
 .slide_style_center {
     text-align: center !important;
 }

 .slide-text {
     left: 0;
     top: 25%;
     right: 0;
     margin: auto;
     padding: 10px;
     position: absolute;
     text-align: left;
     padding: 10px 85px;

 }

 .slide-text > h1 {

     padding: 0;
     color: #ffffff;
     font-size: 70px;
     font-style: normal;
     line-height: 84px;
     margin-bottom: 30px;
     letter-spacing: 1px;
     display: inline-block;
     -webkit-animation-delay: 0.7s;
     animation-delay: 0.7s;
 }
 .slide-text > p {
     padding: 0;
     color: #ffffff;
     font-size: 20px;
     line-height: 24px;
     font-weight: 300;
     margin-bottom: 40px;
     letter-spacing: 1px;
     -webkit-animation-delay: 1.1s;
     animation-delay: 1.1s;
 }
 .slide-text > a.btn-default{
     color: #000;
     font-weight: 400;
     font-size: 13px;
     line-height: 15px;
     margin-right: 10px;
     text-align: center;
     padding: 17px 30px;
     white-space: nowrap;
     letter-spacing: 1px;
     display: inline-block;
     border: none;
     text-transform: uppercase;
     -webkit-animation-delay: 2s;
     animation-delay: 2s;
     -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
     transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

 }
 .slide-text > a.btn-primary{
     color: #ffffff;
     cursor: pointer;
     font-weight: 400;
     font-size: 13px;
     line-height: 15px;
     margin-left: 10px;
     text-align: center;
     padding: 17px 30px;
     white-space: nowrap;
     letter-spacing: 1px;
     background: #00bfff;
     display: inline-block;
     text-decoration: none;
     text-transform: uppercase;
     border: none;
     -webkit-animation-delay: 2s;
     animation-delay: 2s;
     -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
     transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
 }
 .slide-text > a:hover,
 .slide-text > a:active {
     color: #ffffff;
     background: #222222;
     -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
     transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
 }






 /*------------------------------------------------------*/
 /* RESPONSIVE
 /*------------------------------------------------------*/

 @media (max-width: 991px) {
     .slide-text h1 {
         font-size: 40px;
         line-height: 50px;
         margin-bottom: 20px;
     }
     .slide-text > p {

         font-size: 18px;
     }
 }


 /*---------- MEDIA 480px ----------*/
 @media  (max-width: 768px) {
     .slide-text {
         padding: 10px 50px;
     }
     .slide-text h1 {
         font-size: 30px;
         line-height: 40px;
         margin-bottom: 10px;
     }
     .slide-text > p {
         font-size: 14px;
         line-height: 20px;
         margin-bottom: 20px;
     }
     .control-round .carousel-control{
         display: none;
     }

 }
 @media  (max-width: 480px) {
     .slide-text {
         padding: 10px 30px;
     }
     .slide-text h1 {
         font-size: 20px;
         line-height: 25px;
         margin-bottom: 5px;
     }
     .slide-text > p {
         font-size: 12px;
         line-height: 18px;
         margin-bottom: 10px;
     }
     .slide-text > a.btn-default,
     .slide-text > a.btn-primary {
         font-size: 10px;
         line-height: 10px;
         margin-right: 10px;
         text-align: center;
         padding: 10px 15px;
     }
     .indicators-line > .carousel-indicators{
         display: none;
     }

 }



/*----- Welcome page -----*/

.mainproduct {
  margin: 50px 60px 50px 60px;
}

.welcome-product {
  margin-top: 80px;
}


.prolist {
  border-width: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  }

.product-intro-list-img-right {
  width: 100%;     /*---- 照片布满prolist-----*/
  height: 100%;    /*---- 照片布满prolist-----*/
}


.detail {
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  border-radius: 1px;
}


.detail a:link {      /*-----  饮食餐具的link颜色 ------ */
    color: #444444;

  }
.detail a:hover {
      color: #cc0000;
      background-color: transparent;
      text-decoration: none;
  }



/*----- products 页面 -----*/

.product-tab {
  margin-top: 50px;
}

.product {
  display: block;
}

.product-head {
  margin-top: 16px;
  text-align: center;

}

.product-item {
  width: 270px;         /*----- 容纳图片的空间大于图片使边框留白 -----*/
  margin-right: 10px;  /*---- 产品间距 -----*/
  margin-bottom: 50px;


  .image {
    width: 250px;     /*----- 图片大小 -----*/
    height:250px;
  }
}







/*----- product/show 页面 -----*/

/*----- left card -----*/
.main1 {
  margin-top: 60px; /*----- 不被flash alert阻挡 -----*/
}

.product-preview {

}

.preview-pic img{ /*---- show图片 -----*/
  width: 350px;
  height: 350px;
  padding: 10px;   /*---- 图片的白边 -----*/
  margin-top: 20px;
  }


.wrapper {
  display: inline-block; /*----- 把图片与描述放在一个区块 -----*/
  border: 1px solid rgb(221, 221, 221);
}


/*-----show page right card ----*/


.price-service{
  // background-color: rgb(245,245,245);
  margin-top: 30px;
  margin-bottom: 30px;
 //  padding-left: 10px;
 //  padding-right: 10px;
  color: #666;
  border-top: 1px dotted #dedede;
  border-bottom: 1px dotted #dedede;
  p.price{
    span.rmb{
      color: #d7282d;

    }
    span.price{
      color: #d7282d;
      font-size: 30px;
    }
  }
  p.service{
    span.service-detail{
      margin-left: 20px;
    }
  }
}
.action {
  margin-top:30px;
  padding-left:0;padding-right:0px;
  .col-md-3{
    padding-left:0px;padding-right:0px;
  }
}


/*----- show layout bottom -----*/


.preview-pic1 {
  margin-bottom: 30px; /*------ show展示图的间距 -----*/

  img {
  padding: 12px; /*----- 图的白边 -----*/
 }
}



 /*-----show page description ----*/

 .comment {
   padding-left: 0px;
   padding-right: 0px;
 }

 .tab-content {
   overflow: hidden;
   padding-top: 15px;
 }


 .tabs {
  background-color:#fff;

  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.tabmenu .nav-tabs {
  border: none;
  margin: 0px;
}

.tabmenu .nav-tabs > li {
  margin-right: 2px;
}
.tabmenu .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #A9A9A9;
}

.tabmenu .nav-tabs > li > a:hover, //导航栏链接颜色样式
.tabmenu .nav-tabs > li > a:focus {
  background-color: transparent;
  border-bottom: 4px solid #f77f2f;
}
.tabmenu .nav-tabs > .active > a,
.tabmenu .nav-tabs > .active > a:hover,
.tabmenu .nav-tabs > .active > a:focus {
  border: 0;
  border-bottom: 4px solid #f77f2f;
}

.tabmenu .nav-tabs > .open > a,
.tabmenu .nav-tabs > .open > a:focus,
.tabmenu .nav-tabs > .open > a:hover {
  background-color: #212121;
  border-bottom: 4px solid #f77f2f;
}



/*----- show page recom -----*/


.recomitem{
  margin-bottom: 20px;
  background-color: #FFFFFF;
  width: 250px;

    span.rmb {
      margin-left: 10px;
      color: #d7282d;
      font-size: 20px;

    }
    span.price{
      color: #d7282d;
      font-size: 20px;
    }

    .btn-xs{
      float: right;
      margin-right: 10px;
    }


 }


.recomitemlist  img {
    width: 250px;
    height: 250px;
    padding: 10px;    /*----- 配合class="thumbnail" 定义使padding显示 ----*/
    border: none;
    }



/*----- recommend page -----*/


.recommend-page {
  padding-top: 60px;    /*-- recommend 照片 --*/
  padding-bottom: 60px;

}

.recom-pic {
    .thumbnail {
      padding: 10px;
      width: 350px;
      height: 350px;
      border-radius: 2%;
    }
}

.descrip a:link {
    color: #444444;
}

.descrip a:hover {
      background-color: transparent;
      text-decoration: none;
      color: #cc0000;
  }



.recom {
  text-align: center;
}


/*----- cart.checkout ------*/
.quantity {
  width: 30px;
}





/*----- admin/products 与 orders 与 category 页面 -----*/
.backend-main {
  padding-top: 80px;
  /*-----  layout.application main的padding-top值要等于或大于navbar的height值 -----*/
  padding-bottom: 120px;
  /*----- layout.appplicatin main的padding-bottom值要等于或大于footer的height值 -----*/
}
/*----- account/orders 页面 -----*/
.order-main {
  padding-top: 80px;
  /*-----  layout.application main的padding-top值要等于或大于navbar的height值 -----*/
  padding-bottom: 120px;
  /*----- layout.appplicatin main的padding-bottom值要等于或大于footer的height值 -----*/
}
/*----- footer -----*/
html {
  height: 100%;

}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f3f3f5;


}

.main {
  padding-top: 80px;
  /*-----  layout.application main的padding-top值要等于或大于navbar的height值 -----*/
  padding-bottom: 370px;
  /*----- layout.appplicatin main的padding-bottom值要等于或大于footer的height值 -----*/

  // background: #E1E8ED;

}

.footer-style {

  width: 100%;
  position: absolute;
  height: 360px;    /*----- footer 的总高度 -----*/
  bottom: 0;  /*----- footer 置底 -----*/

  .fa {
    color: #d95f59;  /*----- footer loga 颜色 -----*/
  }
}
.promise {
  padding-top: 10px;
  height: 140px;
  background: #e1e8ed;
  color:  #444444;
  // display: inline-block;
  text-align: center;
}

.footer {
  /*----- footer 下半部高度 -----*/
  padding-top: 30px;
  height: 220px;
  border-top: #f4f0e8 1px solid;
  background: #f4f0e8;
  color:  #444444;
  width: 100%;
  font-size: 15px;
  font-weight: 30px;
  text-align: center;

  a:hover {
        background-color: transparent;
        text-decoration: none;
        color: #cc0000;
      }

}

//----------button-------
  .btn-danger {
      color: #fff;//字体颜色

      background-color: #cc0000;//背景颜色

      border-color: #cc0000;//边框颜色

  }

  .btn-danger:hover {
      background-color: #f77f2f;//鼠标放置在btn上的背景颜色
      color: #fff;
      border-color: #f77f2f;//鼠标放置在btn上的边框颜色
    }

  .btn-danger:active {
      background-color: #cc0000;//鼠标放置在btn上的背景颜色
      color: #fff;
      border-color: #cc0000;//鼠标放置在btn上的边框颜色

  }

    .btn-lg, .btn-group-lg > .btn {
        padding: 8px 16px;//通过padding来决定btn的大小
        font-size: 20px;//btn文字大小
        letter-spacing: 3px;//调整文字间距
        border-radius: 3px;//btn圆角
        width: 200px;//这里用指定宽度把btn拉得更长
    }
