/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar-default {
    background-color: rgb(255,255,255);//背景颜色
    border-color: white;//边框色
}

.navbar-default .navbar-brand {
  font-size: 59px;
  font-family: "Lato HB";
  font-weight:bold;
  color:black;
  margin : 5px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: grey;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}

.navbar-default .navbar-nav > li > a{
  color: black;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(169,169,169);
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a{
  color: black;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgb(169,169,169);
  background-color: transparent;
}

.item-number {
    border-radius: 3px;
    background-color: rgb(128,128,128);
    height: 17px;
    padding: 3px 6px;
    font-weight: 400;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

  .cart-button {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
}
