/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import 'bootstrap-datetimepicker';

body {
  background-color: white;//#ffffca
  //background-image: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
}

.chefs {
  width: 950px;
  padding-top: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.chefs .introduction {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}
.chefs .introduction-sub {
  text-align: right;
}

.products {
  width: 950px;
  padding-top: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.products .introduction {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  text-align: left;
}

.navbar {
  margin-bottom: 0px;
  //background-color: #321d1f;
  //border-color: #321d1f;
  border-radius: 0px;
  //background-color: black;
  //border: 0px black;
}

.navbar-default .navbar-brand {
   color: #231f20;
   padding: 10px 15px;
   line-height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #231f20;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a{
  color: #231f20;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #231f20;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #231f20;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #231f20;
}

.navbar-brand > img {
    display: inline-block;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.jumbotron {
  background-image:url("https://ww1.sinaimg.cn/large/006tNbRwgy1fcp4nh96y1j31kw0jnb29.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  width : 100%;
  padding-bottom: 110px;
  border-radius: 0px !important;
}
.slogan {
  color: #231f20;
}
.advertisement {
  color: white;
}
.title {
  color: #231f20;
  font-size: 30px;
}
.carousel {
  width: 80%;
  height: 20%;
  margin: auto;
}
.desc {
  font-weight:bolder;
  font-size: 15px;
  font-style: italic;
  text-align: center;
}
.thumbnail {
  border: 0 none;
  //border: 1px solid red;
  box-shadow: none;
  border-radius: 0px !important;
  padding: 0px;
}

.social-icons {
  margin-top: 60px;
  width: 120px;
  margin-left: 46%;
  margin-bottom: 20px;
}

img {
    //width: 100%;
    //height: 200px;
    display: inline-block;
    vertical-align: middle;
    -moz-transition: transform 10s;
    -webkit-transition: transform 10s;
  }

  .image {
    overflow: hidden;
  }

  div.fig {
    background: #f2efef;
    padding: 5px;
    height: 65px;
    margin-bottom: 10px;
    width: 200px;
  }

  .image:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.7;
  }


  .title_1 a {
    color: #000;
    text-decoration: none;
  }

  .title_1 a:hover {
    text-decoration: none;
  }

  .actions {
    margin-bottom: 0;
  }

  .actions span, .actions .fa-thumbs-up, .actions .fa-thumbs-o-up, .actions .fa-shopping-cart {
  color: #e15336;
}

.fa-shopping-cart {
  margin-right: 15px;
}

.actions .fa-thumbs-up, .actions .fa-thumbs-o-up {
  color: #e15336;
}

.actions i.sub {
  color: #999;
  margin-top: 10px;
  margin-right: 20px;
}

.style {
  background-color: white;
  width: 50%;
  border: 1px solid #999999;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 5px;
}
.chef-follow {
  background-color: white;
  width: 80px;
  border: 1px solid #999999;
  border-radius: 2px;
  padding: 5px;
}
// .chef-follow i.sub {
//   color: #999;
//   margin-top: 10px;
//   margin-right: 20px;
// }

.style i.sub {
  color: #999;
  margin-top: 10px;
  margin-right: 20px;
}

div.fig_p {
  background: #f2efef;
  padding: 5px;
  height: 85px;
  margin-bottom: 25px;
  margin-top: -16px;
  width: 200px;
}

.product-style {
  background-color: white;
  width: 50%;
  border: 1px solid #999999;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 5px;
}

.product-price {
  background-color: white;
  width: 50%;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 5px;
}

.product-qun {
  background-color: white;
  width: 50%;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 5px;
}

// .sort {
// 	margin-bottom: 10px;
// }
.sort .btn-group {
	margin: 20px 0 20px;
}
.sort .btn-group .btn {
	transition: background-color .3s ease;

}

.footer-bottom {
	//background: #E3E3E3;
	border-top: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
// .social li:hover {
// 	transform: scale(1.15) rotate(360deg);
// 	-webkit-transform: scale(1.1) rotate(360deg);
// 	-moz-transform: scale(1.1) rotate(360deg);
// 	-ms-transform: scale(1.1) rotate(360deg);
// 	-o-transform: scale(1.1) rotate(360deg);
// }
.social {
  margin-right: 10px;
}
.social li a {
	//color: #E3E3E3;
  padding-right: 0px;
  padding-left: 2px;
}
// .social li:hover {
// 	border: 1px solid #2c3e50;
// 	background: #2c3e50;
// }
.social li a i {
	font-size: 20px;
	margin: 0 5px 0 5px;
	color: #878585 !important;
}
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}
