/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);
// @import 'bootstrap-datetimepicker';

body {
  background-color: white;//#ffffca
  //background-image: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
}
.container1 {
    border: 1px solid red;
}

.chefs {
  width: 900px;
  padding-top: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.chefs .introduction {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}
.chefs .introduction-sub {
  text-align: right;
}

.products {
  width: 950px;
  padding-top: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.products .introduction {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  text-align: left;
}

.navbar {
  margin-bottom: 0px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
   color: #555;
   padding: 10px 15px;
   line-height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a{
  color: #555;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #231f20;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a{
  color: #555;
  background-color: #f8f8f8 !important;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000 !important;
  background-color: transparent;
}

.navbar-brand > img {
    display: inline-block;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}


.carousel {
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
}
.jumbotron {
  background-image:url("https://ww1.sinaimg.cn/large/006tNbRwgy1fcp4nh96y1j31kw0jnb29.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  width : 100%;
  padding-bottom: 110px;
  border-radius: 0px !important;
}
.slogan {
  color: #231f20;
}

.top-chef{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: -10px;
}

.top-dish{
  text-align: center;
  margin-top: 50px;
  padding: -10px;
}
.title {
  color: #231f20;
  font-size: 30px;
}

section.dish {
  display: block;
}

.desc {
  //font-weight:bolder;
  //font-size: 15px;
  //font-style: italic;
  text-align: center;
  margin-bottom: 2px;
}
.position {
  text-align: center;
  margin-top: -20px;
}
.thumbnail {
  border: 0 none;
  //border: 1px solid red;
  box-shadow: none;
  border-radius: 0px !important;
  padding: 0px;
}

.social-icons {
  margin-top: 60px;
  width: 120px;
  margin-left: 46%;
  margin-bottom: 20px;
}

img {
    //width: 100%;
    //height: 200px;
    display: inline-block;
    vertical-align: middle;
    -moz-transition: transform 10s;
    -webkit-transition: transform 10s;
  }

  .image {
    overflow: hidden;
    margin-top: 10px;
    //border: 1px solid red;
  }

  div.fig {
    background: #f2efef;
    padding: 5px;
    height: 95px;
    margin-bottom: 10px;
    width: 200px;
    //border: 1px solid red;
  }

  .image:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.7;
  }

  .title_1 {
    margin-top: 5px;
  }
  .title_1 a {
    color: #000;
    text-decoration: none;
  }

  .title_1 a:hover {
    text-decoration: none;
  }

  // .actions {
  //   margin-top: 10px;
  // }

  .actions span, .actions .fa-thumbs-up, .actions .fa-thumbs-o-up, .actions .fa-shopping-cart {
  color: #e15336;
}

// .fa-shopping-cart {
//   margin-right: 15px;
// }

.actions .fa-thumbs-up, .actions .fa-thumbs-o-up {
  color: #e15336;
}

.actions i.sub {
  color: #999;
  margin-top: 10px;
  margin-right: 20px;
}

.style {
  background-color: white;
  width: 50%;
  //border: 1px solid #999999;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 5px;
}
.chef-follow {
  background-color: white;
  width: 80px;
  //border: 1px solid #999999;
  border-radius: 2px;
  padding: 5px;
}
// .chef-follow i.sub {
//   color: #999;
//   margin-top: 10px;
//   margin-right: 20px;
// }

.style i.sub {
  color: #999;
  margin-top: 10px;
  margin-right: 20px;
}

div.fig_p {
  background: #f2efef;
  padding: 5px;
  height: 95px;
  margin-bottom: 25px;
  margin-top: -20px;
  width: 200px;
}

.product-style {
  background-color: white;
  width: 50%;
  border: 1px solid #999999;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 5px;
}

.product-price {
  background-color: white;
  width: 50%;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 5px;
}

.product-qun {
  background-color: white;
  width: 50%;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 5px;
}

// .sort {
// 	margin-bottom: 10px;
// }
.sort .btn-group {
	margin: 20px 0 20px;
}
.sort .btn-group .btn {
	transition: background-color .3s ease;

}

.footer-bottom {
	//background: #E3E3E3;
	border-top: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
// .social li:hover {
// 	transform: scale(1.15) rotate(360deg);
// 	-webkit-transform: scale(1.1) rotate(360deg);
// 	-moz-transform: scale(1.1) rotate(360deg);
// 	-ms-transform: scale(1.1) rotate(360deg);
// 	-o-transform: scale(1.1) rotate(360deg);
// }
.social {
  margin-right: 10px;
}
.social li a {
	//color: #E3E3E3;
  padding-right: 0px;
  padding-left: 2px;
}
// .social li:hover {
// 	border: 1px solid #2c3e50;
// 	background: #2c3e50;
// }
.social li a i {
	font-size: 20px;
	margin: 0 5px 0 5px;
	color: #878585 !important;
}

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }
.unlike {
  background: transparent;
  padding: 1.2em 1.5em;
  border: 1px solid #ff9f1a;
  font-weight: bold;
  color: #ff9f1a;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
}

.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
