/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .navbar-default{
  // background-color: #EF6C00 ;
   //border-color: #EF6C00 ;
   margin-bottom: 0;
 }

 .navbar-default .navbar-brand {
   color: #ffffff;//字体颜色
   padding: 10px 15px;//上下10px,左右15px
   line-height: 30px;//文字行高
   background-color: #EF6C00 ;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #EF6C00;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}

.navbar-default .navbar-nav > .active > a {
  background-color: #f8f8f8;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #EF6C00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #fff;
    background-color: #EF6C00;

}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    color: #fff;
    background-color: #EF6C00;

}

.navbar-nav .open .dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}


.panelstyle {
  color: #fff;
  background-color: #EF6C00;
}
@media (min-width:768px){
  .navbar{
    border-radius:0;
  }
}

//####################首页区块css设置
.top_header{

}
.logobar{
  //height: 120px;
  background-color: #fff;

}

 .logobar .logo,
.logobar .activity ,{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    height: 100px;
}
 .logobar .searchform {
   margin-top: 30px;
   margin-bottom: 10px;
   margin-right: 50px;
   height: 100px;

 }


 .logobar  .btn-cart {
    position: relative;
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 25px;
    padding-bottom: 10px;
    margin-right: 30px;
    background-image: url('https://www.youkastation.com/themes/new/assets/images/global/icon-shopping-cart.png');
    background-repeat: no-repeat;
    background-position: left center;
    height: 41px;
    border-color: #ccc ;


}
.logobar .acart .btn-default{
      border-color: #ccc ;


}
.logobar .acart .btn {

  padding-top: 8px;
  border: 2px solid #ccc;

  //padding-bottom: 0px;
}

 .logobar .btn-cart .badge {
    position: absolute;
    top: -10px;
    right: 15px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #fd5400;
    border-radius: 21.14286px;
    font-size: 12px;
    color: #fff;
}

.searchstyle {
  display: block;
  color: #999;
}
.searchstyle div{
  display: inline-block;
  margin: 5px;

}

.searchstyle a{
  color: #999;
}
.form-inline .input-group  .form-control{
  //width: auto;
  width: 350px;
  height: 41px;
  border: 2px solid #EF6C00;
}
.form-inline .input-group .btn {

  height: 41px;
  background-color: #EF6C00;
  color: #fff;
  //border-color: #ccc ;
  //width: 80px;
  border: 2px solid  #EF6C00;
}

.lp-section-1 {
    //display: block;
  //background-color: #ffffff;
    //background-image: url('https://ww1.sinaimg.cn/large/006tNbRwgy1fch3o344x9j31hc0b415x.jpg');
    background-repeat: no-repeat;
    background-position: center 80%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
    //height: 400px;
    //position: relative;
}//banner区块

.lp-section-2 {
    display: block;
    //background-color: #ffffff;
    background-position: center 80%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  //height: 500px;
    position: relative;

}//特卖、秒杀区块 产品广告区

.lp-section-3 {

}// 热卖产品推荐区

.hotpiclink1 {
  margin-left: 35px;
  margin-right: 0px;
}

.hotpiclink2 {
  margin-left: 0px;
  margin-right: 35px;
}

.hotpic {

  ///background-image: url('https://ww1.sinaimg.cn/large/006tNbRwgy1fch3o344x9j31hc0b415x.jpg');
  //height: 300px;
  //margin-left: 25px;
  //margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.lp-section-4{
  display: block;
  background-color: #f5f5f5;
  background-position: center 80%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 100%;
  //height: 100%;
  position: relative;

}// 新品推荐

.lp-section-5 {
  display: block;
  //background-color: #ffffff;
  background-position: center 80%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
//height: 500px;
  position: relative;

}// 产品分类导图

.lp-section-6 {
  display: block;
  background-color: #f5f5f5;
  background-position: center 80%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 200px;
  position: relative;
}

.item {
    position: relative;
    overflow: hidden;
    display: block;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    margin-bottom: 5px;
    //height: 335px;
}
 .item .pic {
    overflow: hidden;
    position: relative;
    padding: 20px 10px 10px 25px;
}

.item .name {
    overflow: hidden;
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    //height: 40px;
    color: #333;
}

.item .price {
    margin-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    //height: 22px;
    text-align: left;
}

.col-md-3 {
   padding-left: 5px;
   padding-right: 5px;
}

.footnav {
  padding-top: 20px;
}


.login-wap {
  //background-image: url('https://img13.360buyimg.com/da/jfs/t2749/276/1020747574/33213/870500f1/5731485aN1134b4f0.png');

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right:120px;
  background-color: #6e18ff;
}

.login-wap .login-banner img{
  width: 100%
}

.login-banner{
//background-color: #e93854;
}

.login-user {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 15px;
  //padding-right: 15px;

padding-left: 15px;
padding-right: 15px;
padding-top: 20px;
padding-bottom: 20px;
}
.login-user .w{
  ///margin-right:10px;
  //margin-left:10px;
  //margin-top:20px;
  //margin-bottom:20px;

}

.login-user .btn-login {
width:100%;
height: 35px;
background-color: #EF6C00;
color: #fff;
margin-bottom: 15px;
}

.fontlink{
 color: #999;
}

.carousel-inner > .item > img  {
    //-webkit-filter: grayscale(90%);
    //filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
    height: 400px;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

.carousel-control.left{
      //background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0001) 100%);
          background-image: linear-gradient(to right,rgba(0,0,0,0.0) 0,rgba(0,0,0,.0001) 100%);
  }

.carousel-control.right{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0) 100%);
}
