/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';


.hero-shot {
    display: block;
    background: rgba(6,164,235,0.5);
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/time-ex/f4ab583f-portrait-2054725-1920.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
    behavior: url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
    border-style: none none none none;
    border-width: undefinedpx;
    border-color: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 450px;
    position: relative;
}
.section-seperator {
    border-bottom: 1px solid #edf0f2;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content-md {
    padding-top: 60px;
    padding-bottom: 60px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.img-circle {
    border-radius: 50%;
}
.img-value {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 70%;
    opacity: 0.7;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.sm-margin-b-50 {
    margin-bottom: 50px !important;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.img-circle {
    border-radius: 50%;
}
.user {
    border: 5px solid;
    border-color: #f1f1f1;
    width: 100px;
    height: 100px;
    opacity: 0.7;
}

.action-bar {
    display: block;
    background: rgba(6,164,235,0.5);
    background-image: url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/time-ex/f4ab583f-portrait-2054725-1920.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
    behavior: url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
    border-style: none none none none;
    border-width: undefinedpx;
    border-color: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 200px;
    position: relative;
}
.action-bar-overlay {
    position: absolute;
    background: rgba(6,164,235,0.7);
    -pie-background: rgba(6,164,235,0.7);
    behavior: url(/PIE.htc);
    height: 200px;
    width: 100%;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: left;
  margin-top: 900px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
  color: red;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: left;
  color: white;
}
