.showproduct-bg {

    // background-color:#f8f8f8;
    background: rgba(0,0,0,0.4)

  }

// .showproduct-bg p {
//       font-weight: bold;
//       color:#f8f8f8 !important;
//     }

.showproduct-font {
      color:#f8f8f8 !important

    }


.indexproduct-title{
  color: #ffda90;
// light yellow
  font-size: 18px;
  }

.indexproduct-otherfont{
    color: #fcf8e3;
  // light white
    font-size: 14px;
    }

.user_mg-font{
  color:#fcf8e3;

}
