// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainIn02Box {
    width: 1024px;
    margin: 0 auto;
    font-size: inherit;
}
.clearfix {
}
.content {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    margin: 28px 0 0 0;
}

.pb8 {
    padding-bottom: 8px;
}
.launch-tit {
    position: relative;
}
.tc {
    text-align: center;
}
.launch-infor-con {
    width: 902px;
    margin: 0 auto;
    padding: 4px 0 0 0;
}
.tcustab {border-collapse:collapse;}



.tg .tg-baqh{text-align:center;vertical-align:center}
.custab .custab-apku{text-align:center;vertical-align:center}
