// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    text-align: center;/*不仅是h4，还有a，都可以通过这个居中*/
    h4 {
        padding-top: 3%;
    }
}

.cart-items-empty {
    padding: 300px 0 0;
    background-image: url("/images/cart-empty.png");
    height: 100%;
    /* Full height */
    background-position: center;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
}

.table-panel-body{
  margin: -15px;/*用来抵消*/
}

.table-panel-body > .table-bordered > tbody > tr > td{
  border-left: 0px;
}
