// 布局定位
.club-box {
  margin: 30px auto;
  font-size: 1.2em;
}

.club-index-box-main {
  background-color: #f5f5f5;
  margin: 20px auto 0;
  padding: 15px 30px;
  // box-shadow: 0 0 10px #d3d3d3;
}

.club-index-box-side {
}


// 内容
.club-user-avatar {
  float: left;
}

.club-user-name {
  margin-left: 15px;
  float: left;
  p {
    font-size: 0.7em;
    color: #999;
    strong {
      font-size: 1.5em;
      color: #7f8c8d;
    }
  }
}

.club-title {
  margin: -20px 10px 0;
  a {
  font-size: 0.6em;
    color: #7f8c8d;
  }
}

.club-description {
  margin: auto 10px;
  line-height: 1.8em;
  text-align: justify;
  img {
    max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
    border-radius: 6px;

    }
}

// 帖子评论
.club-index-box-review {
  background-color: #E5E5E5;
  padding: 15px 30px;
}

.club-review-user-avatar {
  margin-left: 30px;
  float: left;
}
