// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-information{
  text-align: center;
  h3{
    font: 700 16px/26px "Microsoft YaHei";
    color: #333;
  }
}
