// 课程列表样式
.course-list-style {
  margin: 50px auto;
}

// 课程show页面box
.course-show-box {
  margin: 30px auto;
}

// 课程show页标题
.course-title {
  color: #7f8c8d;
}

// 课程描述样式
.course-description {
  margin: 2em auto 2em;
  line-height: 1.6em;
  img {
    max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
    }
}

// 课程作者区域
.course-author-box {
  background-color: #f5f5f5;
  height: 500px;
  margin: 10px auto 30px;
}
