// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* favorites#index */
.favorites-index {
  margin-top: 55px;
  h2 {
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .col-md-6 {
    margin-bottom: 30px !important;
  }
}
