// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Footer Default
------------------------------------*/
.footer-default .footer {
	// color: #dadada;
	// background: #695858;
	// padding: 20px 0 30px;
}

.footer.margin-top-0 {
	margin-top: 0;
}

.footer-default .footer p,
.footer-default .footer a {
	font-size: 14px;
}
.footer-default .footer p {
	// color: #dadada;
}

.footer-default .footer a {
	// color: #72c02c;
}
.footer-default .footer a:hover {
	// color: #5fb611;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.footer-default .footer h2,
.footer-default .footer h3,
.footer-default .footer h4 {
	// color: #e4e4e4;
	background: none;
	text-shadow: none;
}

/*Footer Subsribe*/
.footer-default .footer .footer-subsribe {
	width: 85%;
}

/*Footer Blog Posts*/
.footer-default .footer .blog-list {
	margin: 0;
	padding: 0;
	// color: #dadada;
	list-style: none;
}

.footer-default .footer .blog-list li {
	padding: 0 0;
	margin-bottom: 7px;
}
.footer-default .footer .blog-list li span {
	// color: #818488;
}

.footer-default .footer .dl-horizontal,
.footer-default .footer .dl-horizontal:hover {
	border: none !important;
	background: none !important;
}
.footer-default .footer .posts .dl-horizontal a {
	// color: #dadada;
}
.footer-default .footer .dl-horizontal a:hover {
	// color: #5fb611 !important;
}
.footer-default .footer .dl-horizontal img {
	// border-color: #888 !important;
}

/*Copyright*/
.footer-default .copyright {
	font-size: 12px;
	padding: 11px 0 11px; // 11px 0 7px;
	// background: #3e4753;
}

.footer-default .copyright p {
	// color: #dadada;
	margin-top: 12px;
}

.footer-default .copyright a {
	margin: 0 5px;
	// color: #72c02c;
}
.footer-default .copyright a:hover {
	// color: #5fb611;
}

.footer-default .copyright a img {
	margin-top: 5px;
}


/*Footer-v1
------------------------------------*/
.footer-v1 .footer {
	height: 200px; //add
	// margin-top: -250px; //add
	padding: 20px 0; //40px 0;
	// background: #272727;
}

.footer-v1 .footer p {
	// color: #eee;
}

.footer-v1 .footer h2 {
	// color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
.footer-v1 .link-list li {
	border-top: solid 1px #f5f5f5;
}

.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i {
	// color: #eee;
}

.footer-v1 address {
	line-height: 23px;
}

/*Dotted Map*/
.footer-v1 .footer .map-img {
	background: url(/images/map-img.png) 5px 60px no-repeat;
}

/*Copyright*/
.footer-v1 .copyright {
	// background: #222;
	border-top: none;
	padding: 10px 0 5px;
}

.footer-v1 .copyright p {
	// color: #eee;
	// margin-top: 5px;
	// margin-bottom: 5px;
  margin: 5px auto;
}

.footer-v1 .copyright a {
	margin: 0 2px;
}

.footer-v1 .footer-socials {
	margin: 5px auto;
	text-align: right;
}

.footer-v1 .footer-socials li a {
	// color: #777;
	font-size: 16px;
}

@media (max-width: 991px) {
	.footer-v1 .copyright,
	.footer-v1 .footer-socials {
		text-align: left;
	}
}


/*Other Footer Common Classes
------------------------------------*/
/*Thumb Headline*/
.thumb-headline h2 {
	// color: #eee;
	font-size: 16px;
}

/*Footer Logo*/
.footer-logo {
	margin: 0px 0 0px; //17px 0 20px;
}

/*Latest List*/
.latest-list li {
	padding: 8px 0;
	border-top: 1px solid #f5f5f5;
}

.latest-list li:first-child {
	padding-top: 0;
	border-top: none;
}

.latest-list li a {
	// color: #eee;
}

.latest-list small {
	// color: #999;
	display: block;
}

/*Link List*/
.link-list li {
	// border-top: solid 1px #353535;
}

.link-list li:first-child {
	border-top: none !important;
}

.link-list a {
	// color: #eee;
	font-size: 11px;
	padding: 6px 0px;
	display: inline-block;
	text-transform: uppercase;
}

.link-list li i {
	// color: #bbb;
	float: right;
	margin-top: 10px;
}

/*Latest Tweets*/
.latest-tweets .latest-tweets-inner p {
	// color: #555;
	font-size: 13px;
}

.latest-tweets .latest-tweets-inner a {
	/*color: #3498db;*/
	text-decoration: none;
}
.latest-tweets .latest-tweets-inner a:hover {
	text-decoration: underline;
}

.latest-tweets .latest-tweets-inner i.fa {
	top: 2px;
	float: left;
	// color: #bbb;
	// color: #55acee;
	font-size: 18px;
	margin-right: 5px;
	position: relative;
}

.latest-tweets .latest-tweets-inner small {
	// color: #777;
	display: block;
}

/*Social Icons*/
.social-icons {
	margin-top: 5px;
}

.social-icons li {
	margin: 0;
}

.social-icons li a {
	margin: 0 3px;
}


/* --------------------------------------------------------
1. Footer
-------------------------------------------------------- */
// footer{
//   padding-top:120px;
// }
// .footer-logo{
//   padding-bottom:30px;
// }
//
// .footer-widget p{
//   padding-bottom:10px;
// }
// .footer-widget ul li{
//   display:inline-block;
// }
// .footer-widget ul li a img{
//   width:80px;
// }
// .footer-widget address{
//   font-family:'Libre Baskerville', serif;
//   font-weight:400;
//   font-size:14px;
//   font-style:italic;
//   color:#303030;
//   line-height:24px;
// }
// .footer-widget a{
//   font-size:12px;
//   color:#303030;
// }
// .footer-widget h3{
//   font-family: 'Montserrat', sans-serif;
//   font-weight:700;
//   font-size:25px;
//   color:#000000;
//   line-height:30px;
//   padding-top:45px;
//   padding-bottom:35px;
// }
// .footer-widget .working-day{
//   font-size:18px;
//   font-family: 'Montserrat', sans-serif;
//   font-weight:600;
//   color:#333333;
//   line-height:24px;
// }
// .footer-widget .working-hour{
//   font-size:16px;
//   font-family:'Libre Baskerville', serif;
//   font-weight:400;
//   color:#333333;
//   line-height:24px;
// }
// .footer-widget .table>tbody>tr>td{
//   border-top:none;
//   padding-top:0px;
//   padding-bottom:16px;
// }
// .footer-copyright-content{
//   font-size:12px;
//   font-family:'Libre Baskerville', serif;
//   font-weight:400;
//   font-style:italic;
//   color:#929292;
//   line-height:24px;
// }
// .footer-copyright-content a{
//   color:#929292;
// }
