 .navbar-default {
     background-color: #fff;  //背景颜色

     border-color: #fff; //边框色
padding: 15px 0;
     margin-bottom: 0; //底部 margin 不撑开距离
 }


//去掉导航栏的圆角
 @media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
 }

//修改 Logo 字体颜色和对齐样式

 .navbar-default .navbar-brand {
   color: #222222; //字体颜色

   padding: 10px 15px; //上下10px，左右15px
   line-height: 30px; //文字行高
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
   color: #696969; //鼠标放置在链接上的文字颜色

   background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
 }

//修改导航栏链接颜色
 .navbar-default .navbar-nav > li > a{
   color: #696969;

 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: #FF6F00;

   background-color: transparent;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
   color: #FF6F00;

   background-color: #FFE0B2;

 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
   background-color: #FFE0B2;

   color: #212121;

 }
