/*下拉列表框*/
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  hr{
    margin: 0 0 0 0 ;
  }
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
// .dropdown-content a:hover {
//     background-color: #f1f1f1;
// }
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #151010;
}

.product-item {
  display: inline-block;
    width: 240px;

    .product-item-image {
      float: left;
    }

    img {
        float: left;
        width: 60px;
        height: 60px;
    }

    .product-item-title {
        float: left;
        width: 100px;
        margin: 10px 0 0 0;
    }

    .price-and-operate{
      margin: 10px 0 0 0;
      p{

      }
      float: left;
    }
}

.fl{
  float: left;
}
