// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-show{
  margin-top: 30px;
  text-align: center;
}

.create-btn{
  text-align: center;
  margin: 20px;
}
