// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*new*/
/*后台admin index*/
.admin-thumbnail {
    width: 200px;
    height: 200px;
}
/** 首页index收藏和加入购物车 **/
/* 商品大图预览模式与滑动公共代码 */
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
}

.mySlides {
    // display: none;
    img {
        border-radius: 10px;
        width: 100%;
    }
}
/* Next & previous buttons */
.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.next:hover,
.prev:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dots {
    position: absolute;
    bottom: 28px;
    left: 50%;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}
/*精品推荐包裹单个商品的div*/
.container {
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0,0,0,.14);
    box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
    margin: 0 auto;
}

.product-item {
    margin-left: -1px;
    margin-top: -1px;
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cool-application {
    position: relative;
    background-color: #ffffff;
    margin: 0 ,auto;
    padding: 15px;

    img {
        display: block;
        margin: 10px auto;
        max-width: 90%;
        max-height: 300px;
    }

    .info {
        text-align: center;
    }
}

.cool-application:hover {
    box-shadow: inset 0 0 38px rgba(0,0,0,.08);
    transition: all 0.1s ease;

    .info {
        opacity: 0;
    }
}

.product-options {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    bottom: 15%;
    width: 90%;
    margin: 0 5%;

    .button {
        font-size: 12px;
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        // vertical-align: middle;
        letter-spacing: 1px;
    }

    .button:nth-of-type(1) {
        color: #555;
        background-color: #fff;
        position: relative;
        float: left;
        // margin-right: 10%;
    }

    .button:nth-of-type(2) {
        color: #fff;
        background-color: #6c8cd4;
        position: relative;
        float: right;
        margin-right: 10%;
    }
}

.cool-application:hover .product-options {
    opacity: 1;
}

.btn-custom-color {
    color: #fff;
    background-color: #6c8cd4;
    border: 1px solid #5c81e3;
    border-radius: 4px;
}

.add-to-cart {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #606060;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

/*about us*/
.aboutUs{
  text-align: center;
  margin-bottom: 5%;
}
/*show页面*/
.product-show {
    /*菜单*/
    .menu-wrap {
        height: 42px;
        line-height: 42px;

        ul {
            display: flex;
            /*Displays an element as a block-level flex container ul本是行级元素，加上这个收藏就不会跟在它后面，而是另起一行*/
            .activeItem {
                background: #0e0b0c;
            }
        }

        li {
            float: left;
            padding: 0 22px;
        }
    }

    .no-border {
        border: none;
    }
    /*top*/
    .show-top-warp {
        background: #ffffff;
        border-radius: 8px;
        margin-top: 40px;
        padding: 40px;
    }
    /*top-left*/
    .image-medium {
        width: 400px;
        height: 400px;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
    }

    .show-top-left {
        .thumbnail-custome {
            float: left;
            display: table-cell;
            vertical-align: middle;

            ul {
                list-style: none;
            }

            li {
                width: 80px;
                height: 80px;
                margin-top: 10px;
                padding: 12px;
                border: 1px solid #f0f0f0;
                border: 1px solid rgba(0,0,0,.06);
                border-radius: 5px;
                cursor: pointer;

                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        /*选择左上方预览图*/
        /*给被选上的图加样式，边框宽度变为3px*/
        .selectd-preview-item {
            padding: 10px !important;
            border: 3px solid rgba(0,0,0,.2)!important; //与.to-preview-item一样的border语法，加上!important使红色优先级显示出来
        }
        /*待选择的图片大小*/
        .to-preview-thumnail {
            width: 54px;
            height: 54px;
        }

        .preview-photo {
            height: 400px;
            width: 400px;
        }
    }

    .minimal-photos {
        border: 1px solid;
        padding: 2px;
    }

    .menuList {
        list-style: none;
    }
    /*右上方内容*/
    .product-info {
        position: relative;

        h4 {
            font-size: 24px;
            line-height: 1.25;
            color: #000;
            margin-bottom: 13px;
        }

        h6 {
            font-size: 14px;
            line-height: 1.5;
            color: #bdbdbd;
        }
    }

    .product-price {
        position: absolute;
        right: 8px;
        bottom: -4px;

        span {
            color: red;
            font-weight: 700;
        }

        span:nth-of-type(1) {}

        span:nth-of-type(2) {
            padding-left: 2px;
            font-size: 24px;
        }
    }

    .product-shopping-options {
        border-top: 1px solid #ebebeb;
        padding: 29px 0 8px 10px;

        .quantity-label {
            float: left;
            padding-right: 20px;
            font-size: 14px;
            color: #8d8d8d;
            line-height: 48px;
        }

        .countNumber {
            padding-top: 5px;
            position: relative;

            .selecte-quantity {
                float: left;
                width: 160px;
            }

            input {
                position: relative;
                overflow: hidden;
                float: left;
                display: inline-block;
                margin: 10px 7px 7px;
                width: 56px;
                height: 18px;
                background-color: transparent;
                /*input边框消失*/
                border: none;
                /*input边框消失*/
                border-radius: 3px;
                text-align: center;
                font-size: 14px;
                line-height: 18px;
                padding: 0;
            }

            a:nth-of-type(1) {
                position: relative;
                float: left;
                padding: 20px;
                display: inline-block;
                user-select: none;
                background-image: url('/images/mouseover-down.png');
                background-size: 36px 36px;
                background-repeat: no-repeat;
                background-position: center;
            }

            a:nth-of-type(2) {
                position: relative;
                float: left;
                padding: 20px;
                display: inline-block;
                user-select: none;
                background-image: url('/images/mouseover-up.png');
                background-size: 36px 36px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .show-cart-btn {
        border-top: 1px solid #ebebeb;
        margin-top: 15px;
        padding: 30px 7px;

        .blue-large-btn {
            float: left;
            display: inline-block;
            width: 143px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border-radius: 7px;
            border: 1px solid #5c81e3;
            background-color: #5c85e5;
            background-image: -webkit-linear-gradient(#779ae9,#5078df);
            background-image: linear-gradient(#779ae9,#5078df);
            color: #fff;
            cursor: pointer;
        }

        .gray-lager-btn {
            margin-left: 30px;
            display: inline-block;
            width: 143px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            background: -webkit-linear-gradient(#fff,#fafafa);
            background: linear-gradient(#fff,#fafafa);
            border: 1px solid #e0e0e0;
            border-radius: 7px;
            color: #8c8c8c;
            cursor: pointer;
        }
    }
    /*下方内容*/
    .container:last-child {
        padding: 0;
    }

    .show-bottom-warp {
        background: #ffffff;
        margin-top: 40px;
        padding: 0 40px 0 0;
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid #dcdcdc;
        border-color: rgba(0,0,0,.14);
        box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
    }
    /*切换商品详情和商品评价菜单栏*/
    /* Style the tab */
    div.tab {
        position: relative;
        overflow: hidden;
        z-index: 10;
        height: 60px;
        padding: 0 10px 0 24px;
        border-bottom: 1px solid #d4d4d4;
        border-radius: 8px 8px 0 0;
        box-shadow: rgba(0,0,0,.06) 0 1px 7px;
        background: #f3f3f3;
        background: -webkit-linear-gradient(#fbfbfb,#ececec);
        background: linear-gradient(#fbfbfb,#ececec);
        line-height: 60px;
        font-size: 18px;
        color: #333;
        // #0e0b0c
    }
    /* Style the buttons inside the tab */
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 100%;
        font-weight: 400;
    }

    .tabcontent {
        display: none;

        img {
            width: 100%;
        }
    }
    /*评星功能*/
    .rating li {
        cursor: pointer;
        display: inline-block;
        font-size: 100px;
        list-style-type: none;
    }

    .star {
        /*
  正常情况下全黑
  normal state */
        color: black;
    }

    .selected {
        // 鼠标悬停在一个星星上，这个选中的星星以及前面的星星都变色。
        color: red;
    }
}
