// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//=============================================海报上的字体
#zi2{
  font-family: 'Clicker Script', cursive;
  font-size: 100px;
  color: #ffffff;
  margin: 50px 0 10px;
}
//=============================================海报上的字体

.decor-top3 {
  height: 6em;
  margin-top: -84px;
  fill: #F5F5F5;
}

.decor-bottom-1 {
  height: 7em;
  margin-bottom: -7em;
  fill: #634316;
}

/*===== 1.网站头贴 ====*/
.product-intro{
    height: 700px;
    background-image: url('https://ws3.sinaimg.cn/large/006tKfTcgy1ffvrqa3h6wj31kw0w012m.jpg');
    background-size: cover;

.content > h1 {
  color: #fff;
  font-size: 55px;
  letter-spacing: 2px;
  word-spacing: 6px;
  font-family: STHeiti Light;
  font-weight: bold;
}
}

/*============================= end 1.网站头贴 ============================*/


/*============================= 2.服务块 ============================*/
.fw{
  background-color: #E7E5DA;
  height: 700px;
}
.polaroid2 {
  width: 100%;
  height: 500px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.container12 {
  text-align: center;
  padding: 10px 20px;
}
.small3{
  width: 330px
}

/*=============================  end 2. 服务块  ============================*/

/*========================================= 波浪分割线 ====*/
.decor-top4 {
  height: 6em;
  margin-top: -84px;
  fill: #ffffff;
}
/*========================================= 波浪分割线 ====*/

/*==================================== 3.产品块 ======================================*/
.pr{
  // background-color: #E7E5DA;
}
.boxx {
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 10px 10px 10px;
  min-height:340px;
}

.boxx:hover {
  border:6px solid #525C7A;
}

.boxx span.boxx-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.boxx .boxx-contentx {
  padding: 5px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.boxx .boxx-contentx p {
  color:#515c66;
  text-transform:none;
}
.boxx .small{
  width: 400px;
  // cursor: pointer;
}
/*======================================= end 3.产品块 =====================================*/

/*=========================================== 分割图 =====================================*/
.middle-photo2{
    height: 16em;
    background-image: url('https://ws2.sinaimg.cn/large/006tKfTcgy1ffvpt7lggmj31kw0cfwk6.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }

  .decor-bottom-3 {
    height: 7em;
    margin-bottom: -7em;
    fill: #ffffff;
  }
  /*============波浪分割线====*/
/*=========================================== 分割图 =====================================*/

/*=========================================  4.摄影区  ========================================*/
body{
	min-height: 100%;
}
// body{
// 	background-image: radial-gradient(mintcream 0%, lightgray 100%);
// }
// h1{
// 	display: table;
// 	margin: 5% auto 0;
// 	text-transform: uppercase;
// 	font-family: 'Anaheim', sans-serif;
// 	font-size: 4em;
// 	font-weight: 400;
// 	text-shadow: 0 1px white, 0 2px black;
// }
.ph{
  background-color: #E7E5DA;
}
.container1{
	margin: 8% auto;
	width: 300px;  //图片大小&图片间隔宽度
	height: 160px;  //视角
	position: relative;
	perspective: 600px;
}
#carousel1{
	width: 100%;
	height: 200%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel1:hover{
	animation-play-state: paused;
}
#carousel1 figure{
	display: block;
	position: absolute;
	width: 90%;
	height: 50%;
	left: 10px;
	top: 10px;
	background: #ffffff;
	overflow: hidden;
	border: solid 8px #ffffff;
}
#carousel1 figure:nth-child(1) {transform: rotateY(0deg) translateZ(288px);}
#carousel1 figure:nth-child(2) { transform: rotateY(60deg) translateZ(288px);}
#carousel1 figure:nth-child(3) { transform: rotateY(120deg) translateZ(288px);}
#carousel1 figure:nth-child(4) { transform: rotateY(180deg) translateZ(288px);}
#carousel1 figure:nth-child(5) { transform: rotateY(240deg) translateZ(288px);}
#carousel1 figure:nth-child(6) { transform: rotateY(300deg) translateZ(288px);}
// #carousel1 figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
// #carousel1 figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
// #carousel1 figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
	// -webkit-filter: grayscale(1);  //会变成黑白的
	cursor: pointer;
	transition: all .5s ease;
}
// img:hover{
// 	// -webkit-filter: grayscale(0);
//   // transform: scale(1.2,1.2);        //动态效果
// }

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
/*=================================== end 4.摄影区 =====================================*/

/*=================================== 5.铁粉说 ==================================*/
.say{
  background-color: #E7E5DA;
  padding-bottom: 0px;
  .do-box{
    img{
      margin-top: 35px;
      margin-bottom: -35px;
      width: 180px;
    }
  }

  .say{
    text-align: center;
    background-color: #E7E5DA;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
  }

  .do-box p {
      color: #666;
      letter-spacing: 1px;
      line-height: 22px;
      margin: 25px 20px 40px 20px;
  }
}
/*================================= end 5.铁粉说 ==================================*/
