// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dzl-product-index {
  background-color: #ffffff;
  border: solid 1px #f1f1f1;
  margin: 10px;
  padding-top: 15px;
  width: 182px;
  height: 322px;
}

.price-index {
  color: red;
  font-size: 18px;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }


  // welcome index
    #layout ul {
    list-style: none;
    }
    #layout li {
    float: left;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
    }
    #layout a {
    text-decoration: none;
    }
    #layout a:hover {
    color: #FF0000;
    text-decoration: underline;
    display: block;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    }
    #layout img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    }
    // welcome index end
    // product show searchbar 商品显示页面的搜索栏
    .dzl-pd-show-searchbar {
      padding-top: 25px;

    }
    // product show searchbar 商品显示页面的搜索栏 finish
.dzl-product-price {
  background-color: #f5f5f5;
  padding: 10px 10px 1px 20px;
}
.rmb-price {
  font-size: 25px;
  color: #d0254b;
}

.dzl-pd-show-description {
  padding-left: 20px;
}

.dzl-pd-show-buy {
  background-color:#d0254b;
  color: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
  font-size: 25px;
  border-radius: 30px;
}
