// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 关于我们页面样式 */
// 标题样式
.about-title-box {
  margin-top: 5px;
  margin-bottom: 0px;
  background: #CFD8DC;
}
.about-title-e {
  font-weight: lighter;
  font-size: 2.3em;
}
.about-title-c {
  font-weight: lighter;
  font-size: 2.5em;
  letter-spacing: 0.16em;
  margin: 2px auto 50px;
}
// 信息样式
.about-info {
  font-size: 1.1em;
  letter-spacing: 0.2em;
  font-weight:normal;
  line-height: 2em;
}
.about-img {
  height: 20em;
  margin-top: 50px;
  margin-bottom: 0px;
}

/****** 服务页面样式 ******/
 // 中间区域介绍内容样式
  .landing-page-mid {                                   //给图片整好形
    height: 534px;
    background-size: cover;                             //确保图片完全撑开
    margin-top: -15px;
    background-position: center center;

  }
  .landing-page-mid .tagline {                          //编写标题样式
    text-align: center;
    color: #7f8c8d;
    letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
    font-size: 1.6em;
    margin-top: 3.2em;
  }
  .landing-page-mid .tagp {                             //编写内容样式
    text-align: center;
    color: #666;
    font-size: 1.2em;
    margin-top: 2.5em;
    line-height: 2.5em;                                 //行间距也要拉开大一些
    letter-spacing: 0.18em;                             //把字间距撑开，视觉感更优雅
  }
/* question */
#question {
  background-color: #EFEBE9;
  margin-bottom: 45px;
  margin-top:-20px;
  color: none;
  font-family: 300;
  .col-md-3 {
    padding: 30px;
    border-right: 10px solid #aaa;
    height: 250px;
  }
  .col-md-3:last-child {
    border: none;
  }
  .sub-question {
    margin-bottom: 10px;
    //color: rgba(0, 0, 0, 0.4);
  }
  .answer {
    //color: rgba(0, 0, 0, 0.4);
  }
}
/****** 完成服务页面样式 ******/
