// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-template{
  padding: 30px 100px 20px 100px;

/*details*/

  }
  
/* 参考代码 */
.intro-preview {
	margin-top: 15px;
	.intro-preview-item {
		padding: 1px;
		margin-right: 13px;
		overflow: hidden;
		img {
			width: 100%;
			width: 70px;
			height: 70px;
		}
	}
	.intro-preview-activeItem {
		border-color: #DB3652;
	}


