// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*====================================波浪分割线============================*/
.decor-top1 {
  height: 6em;
  margin-top: -84px;
  fill: #E7E5DA;
}

.decor-bottom-1 {
  height: 7em;
  margin-bottom: -7em;
  fill: #E7E5DA;
}

.decor-top2 {
  height: 6em;
  margin-top: -84px;
  fill: #E7E5DA;
}

.decor-bottom-2 {
  height: 7em;
  margin-bottom: -7em;
  fill: #E7E5DA;
}
/*============波浪分割线====*/

/*=========================================== 1.网站头贴 ======================================*/
.intro{
    height: 50em;
    background-image: url('http://ww2.sinaimg.cn/large/006tNbRwly1ffop4373gwj31kw0w0kjo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }

.intro-content > h1 {
    color: white;
    font-size: 65px;
    letter-spacing: 2px;
    margin-top: 120px;
    margin-bottom: 10px;
    word-spacing: 6px;
}

.intro-content > p {
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: STHeiti Light;
}

//================海报上的字体
#zi1{
  font-family: 'Clicker Script', cursive;
  font-size: 80px;
  color: #ffffff;
  margin: 200px 0 10px;
}
//==============海报上的字体


//==========按钮
.button1{
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 10px auto;
  max-width: 8em;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  color: rgba(250, 250, 250, 0.6);
  box-shadow: rgba(250, 250, 250, 0.6) 0 0px 0px 2px inset;
  // font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
.button1:hover,
.button1:focus {
  color: rgba(255, 84, 0, 1);
  box-shadow: rgba(255, 84, 0, 0.5) 0 0px 0px 4em inset;
  text-decoration: none;
}
//===================按钮


/*=========================================== end 1.网站头贴 ==========================================*/

/*=========================================== 2.服务优势 ==========================================*/
.service{
  text-align: center;
  background-color: #E7E5DA;
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;
}

.service p{
    color: #666;
    letter-spacing: 2px;

}

.service hr {
  height: 1.5px;
  background-color: #999;
}

.service .do-box{
    img{
      margin-top: 35px;
      margin-bottom: -35px;
      width: 180px;
    }
    h3{
        color: #f4511e;
        margin-top: 65px;
        margin-bottom: 8px;
        font-size: 16px;
        letter-spacing: 1px;
    }
    p {
        color: #666;
        letter-spacing: 1px;
        line-height: 22px;
        margin: 25px 20px 40px 20px;
    }
}

/*=========================================== end 2.服务优势 ==========================================*/

/*=================================== end 分割图 ====================================*/

.middle-photo{
    height: 16em;
    background-image: url('http://ww2.sinaimg.cn/large/006tNbRwly1ffop4373gwj31kw0w0kjo.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .button2{
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    color: rgba(250, 250, 250, 0.6);
    box-shadow: rgba(250, 250, 250, 0.6) 0 0px 0px 2px inset;
    // font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    padding: 5em;
  }
  .button2:hover,
  .button2:focus {
    color: rgba(255, 84, 0, 1);
    box-shadow: rgba(255, 84, 0, 0.5) 0 0px 0px 6em inset;
    text-decoration: none;
  }
/*=================================== end 分割图 ====================================*/


/*=================================== 3.关于我们====================================*/
.story-box {
  text-align: center;
  background-color: #E7E5DA;

  p {
    color: #666;
    line-height: 30px;
    text-align: justify;
  }

  img {
    width: 150px;
    border-radius: 50%;
  }

  hr {
    height: 1.5px;
    background-color: #999;
  }
}
/*=================================== end 3.关于我们====================================*/
