// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




 // 首页第一图
.lp-section-1 {
    background: url(https://ws3.sinaimg.cn/large/006tKfTcgy1fg80pba9ukj31kw11xqv6.jpg);
    background-position: center 100%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    width: 100%;
    height: 650px;
    position: relative;
    z-index: 90
}

.lp-section-1 .content-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 320px;
    height: 450px;
    position: relative;
    z-index: 91;
    text-align: center;
    padding-top: 180px
}

.lp-section-1 .content-1 h2 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 15px;
    margin: 50px 0 100px;
    letter-spacing: 0.1em
}

.lp-section-1 .content-1 p {
    font-size: 20px;
    line-height: 1.6em;
    color: #f2f2f2;
    margin: -90px 0 100px;
    letter-spacing: 0.15em
}

//首页按钮--立即开始
.action-btn {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 0 auto;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    text-align: center;
    font-size: 1.428em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 0.57em 1.9em;
    margin-top: 2.85em;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 2px;
    color: yellow;
    background: transparent;
    border: 2px solid #8BC34A;
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0)
}
// 首页第二图

.lp-section-2 {
    background-color: #75cddc;
    height: 650px;

}

.lp-section-2 .content-2 {
    padding-top: 50px;
    margin: 0 auto;
    width: 690px;
    text-align: center
}

.lp-section-2 .content-2 .group {
    padding-top: 20px
}

.lp-section-2 .content-2 h2 {
    font-size: 1.428em;
    letter-spacing: 3px
}

.lp-section-2 .content-2 p {
    line-height: 20px;
    color: #246;
    padding: 0 50px;
    text-align: center
}

.lp-section-2 .content-2 img {
    margin-top: -11px;
    width: 660px;
    height: 450px;
}



.lp-section-2 .content-2 {
    padding-top: 10px
}

// <!--=====  第三图  听听他们怎么说 =====-->

.lp-section-3 {
   text-align: center;
   padding: 25px 62.5px 50px 62.5px;

}

.lp-section-3 h3 {
   font-size: 20px;
   text-align: left
}

.lp-section-3 p {
   color: #666;
   line-height: 30px;
   text-align: justify;
}

.lp-section-3 img {
   width: 200px;
   border-radius: 20%

}

.lp-section-3 hr {
   height: 1.5px;
   background-color: #666
}


// <!--===== 为您推荐 =====-->

.lp-section-4 {
    text-align: center;
    padding: 50px 0 50px 0;
}

.lp-section-4 img {
    width: 300px;
    height: 400px;
    position: relative;
}

.lp-section-4 .box {
    margin-top: 15px;
}

.lp-section-4 .three {
    margin-top: 12px
}

.lp-section-4 .box:hover {
    opacity: 0.8
}
// <!--===== =====-->


.short-line {
    background: #9b9093;
    margin: 15px auto 35px auto;
    width: 125px;
    height: 2px;
    }

    .lp-section-4 h2 {
        font-size: 24px;
        font-weight: 600
    }


// 以下为动图//
//
// .bs-slider{
//     overflow: hidden;
//     max-height: 700px;
//     position: relative;
//     background: #000000;
// }
// .bs-slider:hover {
//     cursor: -moz-grab;
//     cursor: -webkit-grab;
// }
// .bs-slider:active {
//     cursor: -moz-grabbing;
//     cursor: -webkit-grabbing;
// }
// .bs-slider .bs-slider-overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.40);
// }
// .bs-slider > .carousel-inner > .item > img,
// .bs-slider > .carousel-inner > .item > a > img {
//     margin: auto;
//     width: 100% !important;
//       height: 50%;
// }

/********************
*****Slide effect
**********************/

.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}






/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}





/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgb(158, 158, 158);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #fff;
    background-color: transparent;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
    transform: scale(0.5);
    background-color: #fff;
    content:"";
    position: absolute;
    left:-1px;
    top:-1px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}



/*---------- SLIDE CAPTION ----------*/
// .slide_style_left {
//     text-align: left !important;
// }
// .slide_style_right {
//     text-align: right !important;
// }
// .slide_style_center {
//     text-align: center !important;
// }
//
// .slide-text {
//     left: 0;
//     top: 25%;
//     right: 0;
//     margin: auto;
//     padding: 10px;
//     position: absolute;
//     text-align: left;
//     padding: 10px 85px;
//
// }
//
// .slide-text > h1 {
//
//     padding: 0;
//     color: #ffffff;
//     font-size: 70px;
//     font-style: normal;
//     line-height: 84px;
//     margin-bottom: 30px;
//     letter-spacing: 1px;
//     display: inline-block;
//     -webkit-animation-delay: 0.7s;
//     animation-delay: 0.7s;
// }
// .slide-text > p {
//     padding: 0;
//     color: #ffffff;
//     font-size: 20px;
//     line-height: 24px;
//     font-weight: 300;
//     margin-bottom: 40px;
//     letter-spacing: 1px;
//     -webkit-animation-delay: 1.1s;
//     animation-delay: 1.1s;
// }
// .slide-text > a.btn-default{
//     color: #000;
//     font-weight: 400;
//     font-size: 13px;
//     line-height: 15px;
//     margin-right: 10px;
//     text-align: center;
//     padding: 17px 30px;
//     white-space: nowrap;
//     letter-spacing: 1px;
//     display: inline-block;
//     border: none;
//     text-transform: uppercase;
//     -webkit-animation-delay: 2s;
//     animation-delay: 2s;
//     -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
//     transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
//
// }
// .slide-text > a.btn-primary{
//     color: #ffffff;
//     cursor: pointer;
//     font-weight: 400;
//     font-size: 13px;
//     line-height: 15px;
//     margin-left: 10px;
//     text-align: center;
//     padding: 17px 30px;
//     white-space: nowrap;
//     letter-spacing: 1px;
//     background: #00bfff;
//     display: inline-block;
//     text-decoration: none;
//     text-transform: uppercase;
//     border: none;
//     -webkit-animation-delay: 2s;
//     animation-delay: 2s;
//     -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
//     transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
// }
// .slide-text > a:hover,
// .slide-text > a:active {
//     color: #ffffff;
//     background: #222222;
//     -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
//     transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
// }






/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
//
// @media (max-width: 991px) {
//     .slide-text h1 {
//         font-size: 40px;
//         line-height: 50px;
//         margin-bottom: 20px;
//     }
//     .slide-text > p {
//
//         font-size: 18px;
//     }
// }
//
//
// /*---------- MEDIA 480px ----------*/
// @media  (max-width: 768px) {
//     .slide-text {
//         padding: 10px 50px;
//     }
//     .slide-text h1 {
//         font-size: 30px;
//         line-height: 40px;
//         margin-bottom: 10px;
//     }
//     .slide-text > p {
//         font-size: 14px;
//         line-height: 20px;
//         margin-bottom: 20px;
//     }
//     .control-round .carousel-control{
//         display: none;
//     }
//
// }
// @media  (max-width: 480px) {
//     .slide-text {
//         padding: 10px 30px;
//     }
//     .slide-text h1 {
//         font-size: 20px;
//         line-height: 25px;
//         margin-bottom: 5px;
//     }
//     .slide-text > p {
//         font-size: 12px;
//         line-height: 18px;
//         margin-bottom: 10px;
//     }
//     .slide-text > a.btn-default,
//     .slide-text > a.btn-primary {
//         font-size: 10px;
//         line-height: 10px;
//         margin-right: 10px;
//         text-align: center;
//         padding: 10px 15px;
//     }
//     .indicators-line > .carousel-indicators{
//         display: none;
//     }
//
// }


//首页第五图---立即选购



.lp-section-5 {
    text-align: center;
    padding: 100px 0 0 0;
    height: 200px;
    background: url(https://ws2.sinaimg.cn/large/006tNc79gy1fg3milvdc6j31kw11z4qx.jpg) no-repeat scroll top center/cover;
   }

   .lp-section-6 {
       text-align: center;
       padding: 100px 0 0 0;
       height: 200px;
       background: url(https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_1280.jpg) no-repeat scroll top center/cover;
      }
