<!-- 活動廣告區域開始 -->
<div class="row">
  <div class="col-md-10 col-md-offset-1", style="margin-bottom: -18px;" >
    <div class="panel panel-default">
      <div class="panel-body_products_img products_img">
        <div id="ad_bar" class="tab-content", style="padding: 0px 0px 30px;">
          <div class="tab-pane fade products_ad_1_img" id="ad_content_1">
            <p style="text-align: center; font-size: 2em;"><a href="/products#products_new" class="btn btn-success btn-lg", style="margin-top: 125px;">最新到货</a></p>
          </div>
          <div class="tab-pane fade active in products_ad_2_img" id="ad_content_2">
            <p style="text-align: center; font-size: 2em;"><a href="/products#products_promotive" class="btn btn-warning btn-lg", style="margin-top: 125px;">2017初夏轻色</a></p>
          </div>
          <ul class="nav nav-tabs", style="margin-left: 5%; margin-top: 0.5%;">
            <li class=""><a href="#ad_content_1" data-toggle="tab" aria-expanded="false">The NEW</a></li>
            <li class="active"><a href="#ad_content_2" data-toggle="tab" aria-expanded="true">Summer!</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 活動廣告區域結束 -->
