<% if @product.quantity.present? && @product.quantity > 0 %>
    <%= link_to("加入购物车", add_to_cart_product_path(@product),
        :method => :post,
        :remote => true,
        :class => "addCartBtn blue-large-btn pull-left") %>
<% else %>
  <a href="javascript:;" class="btn blue-large-btn pull-left">已售完</a>
<% end %>
