<!-- ferm_living品牌图片及简介 -->
<div id="brand">
  <ul class="breadcrumb">
    <li><a href="/#brands">品牌选</a></li>
    <li class="active">品牌简介 || ferm living</li>
    <li><a href="#brand_products">品牌全品项商品</a></li>
  </ul>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body_brand_img brand_img_ferm_living">
            </div>
        </div>
    </div>
    <div class="col-md-4", style="height: 450px; margin: 0px -15px;">
        <div class="panel panel-default">
            <div class="panel-body_brand_name">
              <a href="https://www.fermliving.com/" target=_new><img src="http://i.imgur.com/K0aTtQX.png" height="45", style="display:block; margin:auto;"></a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body_brand_text">
                <p class="brand_text">
                由丹麦平面设计师 Trine Andersen
                <br />
                于2005年创立的新颖品牌。
                <br />
                专注于使用俐落简约的现代线条，
                <br />
                搭配北欧的传统设计以及经典复刻。
                <br />
                为家具市场上极具独特气质的家具品牌。
                <br />
                <br />
                <br />
                <br />

                </p>

                <p class="brand_text" style="text-align: center;"><span class="logo">Select.<span></p>

            </div>
        </div>
    </div>
  </div>
</div>

<div id="brand_products">
  <ul class="breadcrumb">
    <li><a href="#brand">ferm living</a></li>
    <li><a href="/products?brand=ferm%20living#brand_products">品牌全品项商品</a></li><br />
    <li><a href="/products?brand=ferm%20living&category=椅子#brand_products">椅子</a></li>
    <li><a href="/products?brand=ferm%20living&category=桌子#brand_products">桌子</a></li>
    <li><a href="/products?brand=ferm%20living&category=凳子#brand_products">凳子</a></li>
    <li><a href="/products?brand=ferm%20living&category=沙发#brand_products">沙发</a></li>
  </ul>
</div>
<!-- ferm_living品牌图片及简介 结束-->
