<div class="col-md-4 col-md-offset-4">
<%= simple_form_for @product do |f| %>

<div class="product">
  <%= f.input :title, input_html: { class: "form-control"} %>
  <%= f.input :description, input_html: { class: "form-control"}%>
</div>
  <br>
<div class="functions">
  <%= f.submit "Submit", class: "btn btn-default" %>
<div>
<% end %>
</div>
