<!-- GUBI品牌图片及简介 -->
<div id="brand">
  <ul class="breadcrumb">
    <li><a href="/#brands">品牌选</a></li>
    <li class="active">品牌简介 || GUBI</li>
    <li><a href="#brand_products">全品项商品</a></li>
  </ul>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body_brand_img brand_img_GUBI">
            </div>
        </div>
    </div>
    <div class="col-md-4", style="height: 450px; margin: 0px -15px;">
        <div class="panel panel-default">
            <div class="panel-body_brand_name">
              <a href="http://gubi.dk/" target=_new><img src="https://ws3.sinaimg.cn/large/006tNc79gy1ffwrdybwehj31kw0iiab6.jpg" height="45", style="display:block; margin:auto;"></a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body_brand_text">
                <p class="brand_text">
                于1967年所创立的丹麦品牌。
                <br />
                除了延续创立以来的经典设计，
                <br />
                目前于第二代接手后加入更多当代时尚元素，
                <br />
                与众多建筑师与艺术家密切合作开发产品。
                <br />
                作品不仅仅展现复古经典，
                <br />
                更与当代流行相配合宜。
                <br />
                <br />
                <br />
                </p>

                <p class="brand_text" style="text-align: center;"><span class="logo">Select.<span></p>

            </div>
        </div>
    </div>
  </div>
</div>

<div id="brand_products">
  <ul class="breadcrumb">
    <li><a href="#brand">GUBI</a></li>
    <li class="active">全品项商品</a></li>
  </ul>
</div>
<!-- GUBI品牌图片及简介 结束-->
