<!-- HAY品牌图片及简介 -->
  <div id="brand">
    <ul class="breadcrumb">
      <li><a href="/#brands">品牌选</a></li>
      <li class="active">品牌简介 || HAY</li>
      <li><a href="#brand_products">全品项商品</a></li>
    </ul>

    <div class="row">
      <div class="col-md-6 col-md-offset-1">
          <div class="panel panel-default">
              <div class="panel-body_brand_img brand_img_HAY">
              </div>
          </div>
      </div>
      <div class="col-md-4", style="height: 450px; margin: 0px -15px;">
          <div class="panel panel-default">
              <div class="panel-body_brand_name">
                <a href="http://hay.dk/ms-my" target=_new><img src="https://ws2.sinaimg.cn/large/006tNc79gy1ffwleytkf0j31kw0lr482.jpg" height="45", style="display:block; margin:auto;"></a>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-body_brand_text">
                  <p class="brand_text">
                  创立于2002年的年轻丹麦品牌。
                  <br />
                  十五年间已于世界各地的家具市场上风光打响名号。
                  <br />
                  除了延续着丹麦设计的一贯简洁俐落传统，
                  <br />
                  以「买得起的设计品」作为品牌目标，
                  <br />
                  用经典设计配以亲民价格，
                  <br />
                  已成功成为众所解知的国民品牌。
                  <br />
                  更致力于培养与推广北欧的设计新秀，
                  <br />
                  为家具市场上最引人注目的创意培养皿。
                  </p>

                  <p class="brand_text" style="text-align: center;"><span class="logo">Select.<span></p>

              </div>
          </div>
      </div>
    </div>
  </div>

  <div id="brand_products">
    <ul class="breadcrumb">
      <li><a href="#brand">HAY</a></li>
      <li class="active">全品项商品</a></li>
    </ul>
  </div>
<!-- HAY品牌图片及简介 结束-->
