<!-- MENU品牌图片及简介 -->
<div id="brand">
  <ul class="breadcrumb">
    <li><a href="/#brands">品牌选</a></li>
    <li class="active">品牌简介 || MENU</li>
    <li><a href="#brand_products">全品项商品</a></li>
  </ul>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body_brand_img brand_img_MENU">
            </div>
        </div>
    </div>
    <div class="col-md-4", style="height: 450px; margin: 0px -15px;">
        <div class="panel panel-default">
            <div class="panel-body_brand_name">
              <a href="https://menu.as/" target=_new><img src="https://ws1.sinaimg.cn/large/006tNc79gy1ffwqw5c421j316w1dxgmy.jpg" height="45", style="display:block; margin:auto;"></a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body_brand_text">
                <p class="brand_text">
                于1979年所创立的丹麦品牌，
                <br />
                作品展现冷静沉稳的现代风格。
                <br />
                其设计传统以「品质」、「实用」、「美感」并重。
                <br />
                尊重设计师的想像与实验探索，
                <br />
                网罗了老、中、青三代设计师共同激发设计创意，
                <br />
                在保持传统气质外又具有现代的新颖气息。
                <br />
                <br />
                <br />
                </p>

                <p class="brand_text" style="text-align: center;"><span class="logo">Select.<span></p>

            </div>
        </div>
    </div>
  </div>
</div>

<div id="brand_products">
  <ul class="breadcrumb">
    <li><a href="#brand">MENU</a></li>
    <li class="active">全品项商品</a></li>
  </ul>
</div>
<!-- MENU品牌图片及简介 结束-->
