<!-- muuto品牌图片及简介 -->
<div id="brand">
  <ul class="breadcrumb">
    <li><a href="/#brands">品牌选</a></li>
    <li class="active">品牌简介 || muuto</li>
    <li><a href="#brand_products">品牌全品项商品</a></li>
  </ul>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body_brand_img brand_img_muuto">
            </div>
        </div>
    </div>
    <div class="col-md-4", style="height: 450px; margin: 0px -15px;">
        <div class="panel panel-default">
            <div class="panel-body_brand_name">
              <a href="http://www.muuto.com/" target=_new><img src="http://i.imgur.com/tTf8tW0.png" height="45", style="display:block; margin:auto;"></a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body_brand_text">
                <p class="brand_text">
                创立于2006年的年轻丹麦品牌，
                <br />
                品牌名原自于芬兰文「muutos」的「创新观点」之意。
                <br />
                邀约北欧不同设计领域的浅力新秀，
                <br />
                给予他们自由的创意挥洒空间，
                <br />
                作品展现出不同于其他品牌的脱俗气质。
                <br />
                短短十一年间，
                <br />
                已然跃升为最备受瞩目的新兴品牌。
                <br />
                <br />
                </p>

                <p class="brand_text" style="text-align: center;"><span class="logo">Select.<span></p>

            </div>
        </div>
    </div>
  </div>
</div>

<div id="brand_products">
  <ul class="breadcrumb">
    <li><a href="#brand">muuto</a></li>
    <li><a href="/products?brand=muuto#brand_products">品牌全品项商品</a></li><br />
    <li><a href="/products?brand=muuto&category=椅子#brand_products">椅子</a></li>
    <li><a href="/products?brand=muuto&category=桌子#brand_products">桌子</a></li>
    <li><a href="/products?brand=muuto&category=凳子#brand_products">凳子</a></li>
    <li><a href="/products?brand=muuto&category=沙发#brand_products">沙发</a></li>
  </ul>
</div>
<!-- muuto品牌图片及简介 结束-->
