<div class="products">
    <table class="table borderless">
      <% @products.each_with_index do |product, index|%>
        <% if (index % 4) == 0 %>
          <tr>
        <% end %>
          <td>
            <div class="product_thumbnail text-center col-sm-4">
              <%= link_to(image_tag(product.image, :alt => product.title, :width => 200, :height => 200), product_path(product)) %>
              <br />
              <%= link_to(product.title, product_path(product)) %>
            </div>
          </td>
        <% if ((index+1) % 4 )== 0 || index == (@products.size-1) %>
         </tr>
         <% end %>
      <% end %>
    </table>
  </div>
