<div class="btn-group btn-group-justified", style="height: 90px; margin-top:-23px;">
  <div class="btn panel-body_brand_name">
    <a href="http://www.muuto.com/" target=_new><img src="http://i.imgur.com/tTf8tW0.png" height="45", style="display:block; margin:auto; position:relative;"></a>
    <p style="font-size: 0.9em; margin-bottom: -15px; color: #3c3d42;">前往品牌官网</p>
  </div>
  <div class="btn">
    <a href="/products?brand=muuto" target=_new>
      <p style="margin-bottom: -1em; color: #3c3d42;">
        芬兰文的「创新观点」之意，<br>
        具不同于其他品牌的脱俗气质。<br>
        <span class="logo",style="text-transform:capitalize;">Select.</span>
      </p>
    </a>
  </div>
