<div class="btn-group btn-group-justified", style="height: 90px; margin-top:-23px;">
  <div class="btn panel-body_brand_name">
    <a href="http://www.stua.com/" target=_new><img src="http://i.imgur.com/HyVj89x.png" height="auto" width="150px", style="display:block; margin:auto; position:relative;"></a>
    <p style="font-size: 0.9em; margin-bottom: -15px; color: #3c3d42;">前往品牌官网</p>
  </div>
  <div class="btn">
    <a href="/products?brand=STUA" target=_new>
      <p style="margin-bottom: -1em; color: #3c3d42;">
        融入精细的科技技术， <br>
        具机械美感的简约自然线条。<br>
        <span class="logo",style="text-transform:capitalize;">Select.</span>
      </p>
    </a>
  </div>
