<div class="btn-group btn-group-justified", style="height: 90px; margin-top:-23px;">
  <div class="btn panel-body_brand_name">
    <a href="https://www.fermliving.com/" target=_new><img src="http://i.imgur.com/K0aTtQX.png" height="45", style="display:block; margin:auto; position:relative;"></a>
    <p style="font-size: 0.9em; margin-bottom: -15px; color: #3c3d42;">前往品牌官网</p>
  </div>
  <div class="btn">
    <a href="/products?brand=ferm%20living" target=_new>
      <p style="margin-bottom: -1em; color: #3c3d42;">
        专注使用俐落的现代线条，<br>
        搭配北欧传统设计及经典复刻。<br>
        <span class="logo",style="text-transform:capitalize;">Select.</span>
      </p>
    </a>
  </div>
