<div class="btn-group btn-group-justified", style="height: 90px; margin-top:-23px;">
  <div class="btn panel-body_brand_name">
    <a href="https://menu.as/" target=_new><img src="http://i.imgur.com/QjKs4Ht.png" height="45", style="display:block; margin:auto; position:relative;"></a>
    <p style="font-size: 0.9em; margin-bottom: -15px; color: #3c3d42;">前往品牌官网</p>
  </div>
  <div class="btn">
    <a href="/products?brand=MENU" target=_new>
      <p style="margin-bottom: -1em; color: #3c3d42;">
        具传统气质及现代新颖气息，<br>
        展现冷静沉稳的独特风格。<br>
        <span class="logo",style="text-transform:capitalize;">Select.</span>
      </p>
    </a>
  </div>
