<div class="btn-group btn-group-justified", style="height: 90px; margin-top:-23px;">
  <div class="btn panel-body_brand_name">
    <a href="http://hay.dk/ms-my" target=_new><img src="http://i.imgur.com/Tuvrq5D.png" height="45", style="display:block; margin:auto; position:relative;"></a>
    <p style="font-size: 0.9em; margin-bottom: -15px; color: #3c3d42;">前往品牌官网</p>
  </div>
  <div class="btn">
    <a href="/products?brand=HAY" target=_new>
      <p style="margin-bottom: -1em; color: #3c3d42;">
        经典设计配以亲民价格，<br>
        为众所皆知的丹麦国民品牌。<br>
        <span class="logo",style="text-transform:capitalize;">Select.</span>
      </p>
    </a>
  </div>
