<!-- STUA品牌图片及简介 -->
<div id="brand">
  <ul class="breadcrumb">
    <li><a href="/#brands">品牌选</a></li>
    <li class="active">品牌简介 || STUA</li>
    <li><a href="#brand_products">全品项商品</a></li>
  </ul>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body_brand_img brand_img_STUA">
            </div>
        </div>
    </div>
    <div class="col-md-4", style="height: 450px; margin: 0px -15px;">
        <div class="panel panel-default">
            <div class="panel-body_brand_name">
              <a href="http://www.stua.com/" target=_new><img src="https://ws4.sinaimg.cn/large/006tNc79gy1ffwqkyy1fxj30vt05rgln.jpg" height="45", style="display:block; margin:auto;"></a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body_brand_text">
                <p class="brand_text">
                于1982年由具机械工程师背景的主持设计师
                <br />
                Jesus Gasca 所创立的西班牙品牌，
                <br />
                擅长融入繁复精细的科技技术于其设计中。
                <br />
                坚持品质重于数量的理念，
                <br />
                每项作品都达到其最高的品质标准才得以发表贩售。
                <br />
                优雅简约又具有机械美感的自然线条，
                <br />
                深受全球建筑师喜爱，
                <br />
                广泛使用于创新建筑空间中。
                </p>

                <p class="brand_text" style="text-align: center;"><span class="logo">Select.<span></p>

            </div>
        </div>
    </div>
  </div>
</div>

<div id="brand_products">
  <ul class="breadcrumb">
    <li><a href="#brand">STUA</a></li>
    <li class="active">全品项商品</a></li>
  </ul>
</div>
<!-- STUA品牌图片及简介 结束-->
