<div class="row ">
  <div class="col-md-6 item">
    <span class="name">材质</span> <span class="value">ABS塑料，天然磁矿石</span>
  </div>
  <div class="col-md-6 item">
    <span class="name">适用年龄</span> <span class="value">3岁以上</span>
  </div>
</div>
<div class="row ">
  <div class="col-md-12 item">
    <span class="name">规格</span> <span class="value">三角形16个，正方形18个</span>
  </div>
</div>
<div class="row ">
  <div class="col-md-12 item">
    <span class="name">注意事项</span> <span class="value">内含小零件，不适合3岁以下儿童使用；如有污渍，请及时用干布擦拭干净</span>
  </div>
</div>
