<div class="bouquet">
  <div class="container">
    <section class="bigpicture bg-bouquet">
        <div class="row">
          <img src="http://satohana.com/wp-content/themes/hanamitsu2014/images/ec_bouquet.jpg" alt="bouquet">
        </div>
    </section>

    <%= render "category_form" %>
  </div>
</div>
