<%= render :partial => 'promo_header' %>

<div class="section-content" style="text-align:center">
    <span class="eyebrow">
      机器人
    </span>
      <h1 class="heo-headline">
        清洁不一定非让双手来完成不可。
      </h1>
    <center>
      <p class="intro">
        工作之余想利用时间看书增值，没时间做家务，但希望有个干净的环境。请钟点工打扫又需要沟通成本、一定的安全隐患。但有了扫地机器人，可以远程操控扫拖，定时预约。它自动充电，并且静无止尽。
      </p>
    </center>
</div>
<div class="row">
   <div class="washer-product-profile">
     <center><img src="https://ww3.sinaimg.cn/large/006tNc79gy1fcz87elcc9j30sg0b4ad4.jpg"></img></center>
  </div>

  <div class="section-content2" style="text-align:center">
      <span class="eyebrow">
        智能化
      </span>
        <h1 class="heo-headline">
          干拖湿抹 一步到位。
        </h1>
      <center>
        <p class="intro">
          约350cm平方精密纳米巨型抹布，紧贴机身，更贴地湿拖，大至与机身同宽，拖地范围及至边角，干擦湿地两相宜。
        </p>
      </center>
  </div>
  <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fcz8mfy3wxj30sg0giahs.jpg" class="washer-product-profile2">

  <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcz8p64k80j30sg0gztcs.jpg" class="content">

  <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcz8qbe8t0j30sg09r40x.jpg" class="content">

  <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcz8s2t9l1j30sg0iwado.jpg" class="content">

  <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcz8tfttqtj30sg0j6n1p.jpg" class="content">

  <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fcz8va7nnmj30sg0hagqh.jpg" class="content">

  <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcz8zlbqnkj30sg0ghdiz.jpg" class="content">

  <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fcz8z4qt6yj30sg0hlq6x.jpg" class="content">
