<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3" style="background: #f5f5f5">
        <div style="background: #fff; margin: 15px;">
          <div style="width: 234px; height: 254px;">
            <% if product.image.present? %>
              <%= link_to image_tag(product.image.thumb.url), product_path(product), style: "margin: 0 auto;" %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/200x200&text=No Pic"), product_path(product) %>
            <% end %>
          </div>
          <%= link_to product.title, product_path(product) %>  $<%= product.price %>
        </div>
      </div>
    <% end %>
  </div>
</div>
