<div class="row">

    <% @products.each do |f| %>
    <div class="col-sm-6 col-md-4 " style="height: 430px;">
        <div class="thumbnail">
            <%=image_tag f.image.thumb %>
            <div class="caption">
                <h3><%= f.title %></h3>
                <p>
                    <%= f.description %></p>
                <p>
                    <%= link_to("产品详情", product_path(f), class: "btn btn-danger") %>
                </p>
            </div>
        </div>
    </div>
    <% end %>
</div>
</div>
