<h2 class="text-center"> 产品列表 </h2>
<br>
<table class="table list">
  <tr>
    <th>
      商品
    </th>
    <th>
      描述
    </th>
    <th>
      价格
    </th>
    <th>
      库存
    </th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, admin_product_path(product) %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
    </tr>
  <% end %>
</table>
