 <div  class= "dropdown clearfix pull-right" >
    <button  class= "btn btn-default dropdown-toggle"  type= "button"  id= "dropdownMenuDivider"  data-toggle= "dropdown"  aria-haspopup= "true"  aria -expanded= "true" >
      排序
        <span  class= "caret" ></span>
    </button>
    <ul  class= "dropdown-menu"  aria-labelledby= "dropdownMenuDivider" >
        <li>
          <%=  link_to("按價格排序：高至低", products_path(:order => "high_to_low"))  %>
        </li>
        <li>
          <%= link_to("按價格排序：低至高", products_path(:order => "low_to_high"))  %>

        </li>
        <li>
          <%=  link_to("依上架時間：新至舊" ,  products_path)  %>

        </li>
    </ul>
</div>

<div class="productList-wrap w1200 pt20 bc">
  <%= render :partial => "products/product_list"%>
</div>
