<main class="main" role="main">
  <div class="container">
    <div class="row" id="post-list">
      <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6">
        <article class="post tag-foreign-website tag-bootstrap-v3 tag-opensource-project">
          <div class="post-featured-image">
            <div class="thumbnail" href="/nemo/" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Nemo'])" target="_blank">
              <img src="<%=product.attachment%>" width="700" height="438" onload="imgLoaded(this)">
            </div>
          </div>
            <div class="post-content">
              <p><%= link_to(product.title, product_path(product), :style => "color: #ec3f42")%> | <%= product.price %>元</p>
            </div>
        </article>
      </div>
      <% end %>
    </div>
  </div>
</main>
