<div class="product-box">
  <div class="container ">
    <!--=== 轮播图 ===-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div id="hover" class="carousel-inner" role="listbox">
        <div class="item active" data-slide-to="0">
          <div class="carousel-BC1">
            <div class="container">
              <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fg7v5k07bij31kw0w0774.jpg" width="1140" alt="...">
              <div class="carousel-caption">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="item" data-slide-to="1">
          <div class="carousel-BC2">
            <div class="container">
              <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fg7v6t9ga3j31kw0re1ip.jpg" width="1140" alt="...">
              <div class="carousel-caption">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="item" data-slide-to="2">
          <div class="carousel-BC3">
            <div class="container">
              <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fg7vtssvrlj31kw0w0wkq.jpg" width="1140" alt="...">
              <div class="carousel-caption">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <ol class="breadcrumb">
        <li class="active">所有商品</li>
      </ol>
      <%= render 'common/products' %>
    </div>
    <div  align="center">
      <%= will_paginate @products %>
    </div>
  </div>
</div>
