<!-- <div class="pull-right">
  <%= link_to("Add a product", new_admin_product_path, :class => "btn btn-default") %>
</div> -->
  <table class="table table-hover">

    <tbody>
    <% @products.each do |product| %>

      <td>
        <div style="border:1px solid #eee;padding:2px;float:left;margin-right:10px"><%= image_tag product.image.thumb %></div>

        <div style="display:inline-block"><%= link_to(product.title, product_path(product)) %></div>
      </td>

    <% end %>
  </tbody>
  </table>
