<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3">
        <div style="border: 1px solid lightgrey;">
          <%= link_to image_tag(product.image.thumb.url), product_path(product) %>
        </div>
        <%= link_to product.title, product_path(product) %>  $<%= product.price %>
      </div>
    <% end %>
  </div>
</div>
