<div id="icon_catalog">
    <ul class="icon_catalog">
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44a0555ec8.png"></a>BAGS &amp; CASES</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44a2d507a4.png"></a>BRACELETS</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44a1624d6a.png"></a>BOOK &amp; MAGAZINES</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44ce5e1c41.png"></a>CANDLE</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44ae98295a.png"></a>DENIM COLLECTION</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b45cf74c.png"></a>FOOTWEAR</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b4613f56.png"></a>GAMES</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b462c526.png"></a>HATS &amp; CAPS</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b4638155.png"></a>HOODIES</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b465b852.png"></a>JACKET</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b4680112.png"></a>KEYHOLDER</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b46894a0.png"></a>KIDS WEAR</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b46acbcf.png"></a>PANTS</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b78cab60.png"></a>SPORTS WEAR</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b78e7853.png"></a>SWEATER</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b78b3cec.png"></a>SOCKS</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b46ca45a.png"></a>SHIRT</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b46e23c2.png"></a>SHORTS</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b793543f.png"></a>TOY</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b7919669.png"></a>T-SHIRTS</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b7975382.png"></a>WATCHES</li>
        <li><a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a44b7951a8e.png"></a>UMBRELLA</li>
    </ul>
</div>
