
<div class="container">

  <div class="my-settings">
    <div class="col-md-3">
      <img   alt="180x150" src="http://placehold.it/180x190">

    </div>
    <div class="col-md-9">
      <div class="my-center-head">
        <div class="my-center-left">
          <span>个人设置</span>
        </div>
        <div class="my-center-right">
          <a href="#">我的订单</a>
          <a href="#">个人中心</a>
          <a href="#">管理收货地址</a>
          <a href="#" class="hide-line">修改密码</a>
        </div>
      </div>
<style media="screen">
  .my-name span{
    line-height: 35px;
    padding: 15px
  }
  .my-name input{
    padding: 3px 12px 3px 12px;
    width: 200px;
  }
</style>
      <div class="my-info">
        <p>基本信息</p>
      </div>
<%= simple_form_for [new_account_mycenter_path, @mycenter] do |f| %>
      <div class="my-name">
        <span>账户名:</span><br>
        <span>昵　称:</span> <input type="text" value="<%= @mycenter.username %>"  name="user"><br>
        <span>性　别:</span>
        <label class="radio-inline">
          <input type="radio" name="mycenter[gender]" value="0"> 保密
        </label>
        <label class="radio-inline">
          <input type="radio" name="mycenter[gender]" value="1"> 男
        </label>
        <label class="radio-inline">
          <input type="radio" name="mycenter[gender]" value="2"> 女
        </label>
      </div>


      <div class="my-photo">
        <p>头像设置</p>
      </div>

<%= f.button :submit, '更新', class: 'button' %>
      <% end %>
    </div>
  </div>
</div>

before_action :authenticate_user!

def show
  @mycenter = current_user
end

def update
  @mycenter = current_user
  @mycenter.update(mycenter_params)
  if @mycenter.save
    flash[:notice] = '用戶資料更新成功'
  end
  redirect_to account_mycenter_index
end

private

  def mycenter_params
    params.require(:mycenter).permit(:username, :gender)
  end
