<!-- <div class="productList-wrap pt20 bc">
  <div class="row">
  <div class="container">
  <%= render :partial => "products/product_list"%>
  </div>
</div>
</div> -->

<!-- product lists -->
<div class="bs-docs-featurette bg-gray">
  <!-- <div class="container"> -->
  <h2 class="bs-docs-featurette-title">思想便当列表</h2>
		<div class="productList-wrap clearfix bc">
    <div class="productList pb20">
      <%= render :partial => "products/product_list"%>
    </div>
  </div>
 <!-- </div> -->
</div>
