
<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= link_to(image_tag(product.image.thumb.url), product_path(product)) %>
      <div class="caption">
        <p><a href="#"></a> </p>
      </div>
        <%= link_to(product.title, product_path(product)) %>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
    </div>
  </div>
  <% end %>
</div>
