<div class="container-fluid">     
  <div class="row">         
    <% @products.each do |product| %>         
      <div class="col-sm-6 col-md-4">             
        <div class="thumbnail">                 
<!-- <img src="..." alt="..."> -->                 
            <%= link_to(image_tag(product.image.thumb), product_path(product)) %>                 
            <div class="caption">                     
                <h3><%= link_to(product.title, product_path(product)) %></h3>                     
                <p>$ <%= product.price %></p>                 
            </div>             
        </div>         
      </div>         
    <% end %>     
  </div> 
</div>



 