<% @products.each do |product| %>

<div class="col-xs-4 col-md-3 col-lg-2">
    <div class="img-thumbnail">
      <%= image_tag product.image.thumb %>
  </div>

    <div class="text-left" style="padding: 10px">
      <%= link_to(product.title, product_path(product)) %>
  </div>
</div>

<% end %>
