<div class="row" id="post-list">
     <% @products.each do |product| %>
     <div class="col-xs-12 col-sm-6">
       <article class="post tag-foreign-website tag-bootstrap-v3 tag-opensource-project">
         <div class="post-featured-image">
           <a class="thumbnail" href="<%= product_path(product) %>" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Nemo'])">
             <img src="<%=product.attachment.index%>">
           </a>
         </div>
           <div class="post-content">

             <p><%= link_to(product.title, product_path(product), :style => "font-size: 30px; color: black ")%> |
                USD <%= product.price %>

       </article>
     </div>
     <% end %>
   </div>
 </div>
