<div class="product-box">
  <div class="container ">
      <ol class="breadcrumb">
        <li class="active">所有商品</li>
      </ol>
      <%= render 'common/products' %>
    </div>
    <div  align="center">
      <%= will_paginate @products %>
    </div>
  </div>
</div>
