<div class="container">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <div class="search">
      <div class="form-group has-warning">
        <%#= form_tag search_jobs_path , :method => :get, :class => "form-group" do %>
        <div class="input-group">
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="吃货请输入水果的关键词">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-search">
              &nbsp;搜索&nbsp;
            </button>
            <img src="/images/space.png" width="22" height="16">
            <img src="https:///img.alicdn.com/tfs/TB1Vx4WQFXXXXcmXFXXXXXXXXXX-492-32.png" width="246" height="16">
          </span>
        </div>
        <%# end %>
      </div>
    </div>
    <div class="search-hot">
      <ul>
        <li>
          <a href="#">樱桃</a>
        </li>
        <li>
          <a href="#">樱桃</a>
        </li>
        <li>
          <a href="#">樱桃</a>
        </li>
        <li>
          <a href="#">樱桃</a>
        </li>
        <li>
          <a href="#">樱桃</a>
        </li>
        <li>
          <a href="#">樱桃</a>
        </li>
        <li>
          <a href="#">樱桃</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="order">
        <div class="col-md-8">
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;排序</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;新品</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;销量</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;价格</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;评价数</span></a>
        </div>
        <div class="text-right">
          <span>
            共12.5万件商品
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="product-list">
    <ul>
      <li>
        <div class="product-price">
          <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
          <p class="price">￥128</p>
          <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
          <p class="evaluate">已有33条评价</p>
          <div class="cart text-center">
            <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
          </div>
          <div class="cart text-center">
            <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
          </div>
        </div>
      </li>
      <li>
        <div class="product-price">
          <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
          <p class="price">￥128</p>
          <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
          <p class="evaluate">已有33条评价</p>
          <div class="cart text-center">
            <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
          </div>
          <div class="cart text-center">
            <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
          </div>
        </div>
      </li>
      <li>
        <div class="product-price">
          <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
          <p class="price">￥128</p>
          <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
          <p class="evaluate">已有33条评价</p>
          <div class="cart text-center">
            <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
          </div>
          <div class="cart text-center">
            <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
          </div>
        </div>
      </li>
      <li>
        <div class="product-price">
          <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
          <p class="price">￥128</p>
          <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
          <p class="evaluate">已有33条评价</p>
          <div class="cart text-center">
            <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
          </div>
          <div class="cart text-center">
            <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
          </div>
        </div>
      </li>
      <li>
        <div class="product-price">
          <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
          <p class="price">￥128</p>
          <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
          <p class="evaluate">已有33条评价</p>
          <div class="cart text-center">
            <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
          </div>
          <div class="cart text-center">
            <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
          </div>
        </li>
        <li>
          <div class="product-price">
            <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
            <p class="price">￥128</p>
            <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
            <p class="evaluate">已有33条评价</p>
            <div class="cart text-center">
              <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
            </div>
            <div class="cart text-center">
              <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
            </div>
          </div>
        </li>
        <li>
          <div class="product-price">
            <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
            <p class="price">￥128</p>
            <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
            <p class="evaluate">已有33条评价</p>
            <div class="cart text-center">
              <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
            </div>
            <div class="cart text-center">
              <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
            </div>
          </div>
        </li>
        <li>
          <div class="product-price">
            <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
            <p class="price">￥128</p>
            <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
            <p class="evaluate">已有33条评价</p>
            <div class="cart text-center">
              <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
            </div>
            <div class="cart text-center">
              <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
            </div>
          </div>
        </li>
        <li>
          <div class="product-price">
            <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
            <p class="price">￥128</p>
            <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
            <p class="evaluate">已有33条评价</p>
            <div class="cart text-center">
              <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
            </div>
            <div class="cart text-center">
              <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
            </div>
          </div>
        </li>
        <li>
          <div class="product-price">
            <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
            <p class="price">￥128</p>
            <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
            <p class="evaluate">已有33条评价</p>
            <div class="cart text-center">
              <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
            </div>
            <div class="cart text-center">
              <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
            </div>
          </div>
        </li>
        <li>
          <div class="product-price">
            <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
            <p class="price">￥128</p>
            <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
            <p class="evaluate">已有33条评价</p>
            <div class="cart text-center">
              <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
            </div>
            <div class="cart text-center">
              <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
            </div>
          </li>
          <li>
            <div class="product-price">
              <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
              <p class="price">￥128</p>
              <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
              <p class="evaluate">已有33条评价</p>
              <div class="cart text-center">
                <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
              </div>
              <div class="cart text-center">
                <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
              </div>
            </div>
          </li>
          <li>
            <div class="product-price">
              <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
              <p class="price">￥128</p>
              <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
              <p class="evaluate">已有33条评价</p>
              <div class="cart text-center">
                <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
              </div>
              <div class="cart text-center">
                <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
              </div>
            </div>
          </li>
          <li>
            <div class="product-price">
              <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
              <p class="price">￥128</p>
              <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
              <p class="evaluate">已有33条评价</p>
              <div class="cart text-center">
                <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
              </div>
              <div class="cart text-center">
                <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
              </div>
            </div>
          </li>
          <li>
            <div class="product-price">
              <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
              <p class="price">￥128</p>
              <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
              <p class="evaluate">已有33条评价</p>
              <div class="cart text-center">
                <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
              </div>
              <div class="cart text-center">
                <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
              </div>
            </div>
          </li>
          <li>
            <div class="product-price">
              <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
              <p class="price">￥128</p>
              <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
              <p class="evaluate">已有33条评价</p>
              <div class="cart text-center">
                <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
              </div>
              <div class="cart text-center">
                <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
              </div>
            </div>
          </li>
          <li>
            <div class="product-price">
              <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
              <p class="price">￥128</p>
              <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
              <p class="evaluate">已有33条评价</p>
              <div class="cart text-center">
                <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
              </div>
              <div class="cart text-center">
                <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
              </div>
            </li>
            <li>
              <div class="product-price">
                <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                <p class="price">￥128</p>
                <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                <p class="evaluate">已有33条评价</p>
                <div class="cart text-center">
                  <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                </div>
                <div class="cart text-center">
                  <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                </div>
              </div>
            </li>
            <li>
              <div class="product-price">
                <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                <p class="price">￥128</p>
                <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                <p class="evaluate">已有33条评价</p>
                <div class="cart text-center">
                  <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                </div>
                <div class="cart text-center">
                  <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                </div>
              </div>
            </li>
            <li>
              <div class="product-price">
                <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                <p class="price">￥128</p>
                <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                <p class="evaluate">已有33条评价</p>
                <div class="cart text-center">
                  <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                </div>
                <div class="cart text-center">
                  <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                </div>
              </div>
            </li>
            <li>
              <div class="product-price">
                <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                <p class="price">￥128</p>
                <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                <p class="evaluate">已有33条评价</p>
                <div class="cart text-center">
                  <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                </div>
                <div class="cart text-center">
                  <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                </div>
              </div>
            </li>
            <li>
              <div class="product-price">
                <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                <p class="price">￥128</p>
                <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                <p class="evaluate">已有33条评价</p>
                <div class="cart text-center">
                  <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                </div>
                <div class="cart text-center">
                  <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                </div>
              </div>
            </li>
            <li>
              <div class="product-price">
                <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                <p class="price">￥128</p>
                <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                <p class="evaluate">已有33条评价</p>
                <div class="cart text-center">
                  <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                </div>
                <div class="cart text-center">
                  <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                </div>
              </li>
              <li>
                <div class="product-price">
                  <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                  <p class="price">￥128</p>
                  <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                  <p class="evaluate">已有33条评价</p>
                  <div class="cart text-center">
                    <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                  </div>
                  <div class="cart text-center">
                    <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-price">
                  <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                  <p class="price">￥128</p>
                  <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                  <p class="evaluate">已有33条评价</p>
                  <div class="cart text-center">
                    <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                  </div>
                  <div class="cart text-center">
                    <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-price">
                  <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                  <p class="price">￥128</p>
                  <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                  <p class="evaluate">已有33条评价</p>
                  <div class="cart text-center">
                    <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                  </div>
                  <div class="cart text-center">
                    <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-price">
                  <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                  <p class="price">￥128</p>
                  <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                  <p class="evaluate">已有33条评价</p>
                  <div class="cart text-center">
                    <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                  </div>
                  <div class="cart text-center">
                    <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-price">
                  <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                  <p class="price">￥128</p>
                  <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                  <p class="evaluate">已有33条评价</p>
                  <div class="cart text-center">
                    <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                  </div>
                  <div class="cart text-center">
                    <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-price">
                  <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                  <p class="price">￥128</p>
                  <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                  <p class="evaluate">已有33条评价</p>
                  <div class="cart text-center">
                    <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                  </div>
                  <div class="cart text-center">
                    <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                  </div>
                </li>
                <li>
                  <div class="product-price">
                    <a href="#"><img class="product-img" src="https://img.alicdn.com/imgextra/i2/1070626038/TB2kt0VdItnpuFjSZFvXXbcTpXa_!!1070626038.jpg_220x220q90.jpg" alt=""></a>
                    <p class="price">￥128</p>
                    <p class="describe">优果优选 泰国金枕头榴莲 大果 1个装</p>
                    <p class="evaluate">已有33条评价</p>
                    <div class="cart text-center">
                      <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
                    </div>
                    <div class="cart text-center">
                      <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;加入购物车</a>
                    </div>
                  </div>
                </li>
      </ul>
    </div>

  </div>
