
<div class="row">
  <% @products.each do |product| %>
  <%= link_to(product_path(product)) do %>
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail">
      <% if product.image.present? %>
      <%= image_tag(product.image.thumb.url, class: "thumbnail" ) %>
      <% else %>
      <image src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", width="200", class="thumbnail">
        <% end %>
      <div class="caption">
      <h3>  <%= product.title %></h3>
        <p>
          <%= link_to("look look", product_path(product), class: "btn btn-danger") %>
          <a href="#" class="btn btn-default" role="button">加入购物车</a>
        </p>
      </div>
    </div>

  </div>
  <% end %>
  <% end %>
</div>
