<div class="container-fluid">

  <div class="jumbotron vertical-center" style="height:100px">
    <p>商品一栏</p>
  </div>

  <div class="row">
    <%= render "common/thumb_product_images" %>
    <% if session %>
    	<%= puts "!!!!!!!!!!!!!" %>
    	<% session[:test_key] = "@@@@@@@@" %>
    	<%= puts session[:test_key] %>
    	<%= puts session[:session_id] %>
    <% end %>
  </div>

</div>


