<!-- <div class="pull-right">
  <%= link_to("Add a product", new_admin_product_path, :class => "btn btn-default") %>
</div> -->
  <table class="table table-hover">

    <tbody>
    <% @products.each do |product| %>

      <td>
        <%= image_tag product.image.thumb %>
        <br />
        <br />
      <%= link_to(product.title, product_path(product)) %></td>





    <% end %>
  </tbody>
  </table>
