
<%= render :partial => 'promo_header' %>

<div class="section-content" style="text-align:center">
    <span class="eyebrow">
      洗碗机
    </span>
      <h1 class="heo-headline">
        告别时间遭受绑架的时代。
      </h1>
    <center>
      <p class="intro">
        随着大数据和人工智能时代的到来，工业智能化、生活便利化以及信息大爆炸的年代，市场运作将以无法预估的速度加速发展。除工作以外人们不希望注意力被过多的信息所浪费，更不愿意可支配的时间被受无谓的消耗。一台省心的洗碗机将为您每天解放出至少3%的可支配时间给到您，一年约可省下91.25个小时。
      </p>
    </center>
</div>
<div class="row">
   <div class="washer-product-profile">
      <center><img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcv13k1zxoj30sg0b4aba.jpg"></img></center>
   </div>
     <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcv2014ccoj30sg0m0154.jpg" class="washer-product-kitchen"></img>


     <div class="section-content2" style="text-align:center">
         <span class="eyebrow">
           西门子
         </span>
           <h1 class="heo-headline">
             强大的智能洗涤系统。
           </h1>
         <center>
           <p class="intro">
            全自动洗碗机，轻松应对重油重垢的中式餐具，更带来前所未有的节水节电表现，及高温除菌烘干效果。只需几分钟放入碗碟，告别厨房洗碗的日子，享受用餐之后的美好时光。
           </p>
         </center>
     </div>
     <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcv23f7czzj30sg0crwfx.jpg" class="washer-product-profile2"></img>

     <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcxb6vi5b8j30sg05g0th.jpg" class="content">

        <div id="flip">适用于</div>
     <img id="range" src="https://ww3.sinaimg.cn/large/006tNc79gy1fcxe49o0zzj30sg0u1qat.jpg">

     <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcxevxylw5j30sg0u3n7t.jpg" class="content">

     <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcxukiod4lj30sg0yh79u.jpg" class="content" alt="">

     <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcxun31xbuj30sg0latkm.jpg" class="content" alt="">


</div>
</body>
<script>
$(document).ready(function(){
    $("#flip").click(function(){
        $("#range").slideToggle("slow");
    });
});

</script>
