<%= render :partial => 'promo_header' %>

<div class="section-content" style="text-align:center">
    <span class="eyebrow">
      空气净化器
    </span>
      <h1 class="heo-headline">
        别让污染的环境扼杀我们的未来
      </h1>
    <center>
      <p class="intro">
        2017初始，中国有61个城市启动空气污染预警。这些有毒物质进入人体内，会导致包括眼睛、鼻子和喉咙受到刺激、气喘、咳嗽、哮喘、学习障碍，甚至还会引发癌症和生殖障碍等。想到家里人，特别是免疫力尚差的孩子，内心一定很担忧。 
      </p>
    </center>
</div>
<div class="row">
   <div class="washer-product-profile">
     <center><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcz9x7jmhpj30sg0fsgs8.jpg"></center>
  </div>
  <div class="section-content2" style="text-align:center">
      <span class="eyebrow">
        简、美
      </span>
        <h1 class="heo-headline">
          房间空气焕然一新
        </h1>
      <center>
        <p class="intro">
          高效的净化能力，安静舒适的工作表现，小巧自然的融入家居风格中。高性能净化能力，可根据每一个房间的面积，调整至高效的净化效率。
        </p>
      </center>
  </div>

  <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fcza8y4s4vj30sg0ljgp7.jpg" class="washer-product-profile2">

  <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcza9yud2jj30sg189n7y.jpg" class="washer-product-profile2">

  <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fczabwma31j30sg0mj0z1.jpg" class="washer-product-profile2">

  <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fczaiiyel0j30sg14l46b.jpg" class="washer-product-profile2">

  <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fczaj3qvm7j30sg0xhgrk.jpg" class="washer-product-profile2">
