<div class="container">
  <div class="col-md-12 recommend-page">
    <div class="recom">
        <div class="col-md-5">
           <div class="recom-pic">
             <a href="products/11" target=_blank>
                <img class="thumbnail " src="https://ws4.sinaimg.cn/large/006tNc79gy1fg609lx6i2j30m80m8dhh.jpg" width="40%" height="60%" alt="recommend1">
              </a>
            </div>
          </div>

          <div class="col-md-7">
            <div class="descrip">
               <a href="products/3.html" target=_new>  <h2> 流金岁月餐具大礼包</h2> </a>
               <div>开味推荐：</div>
               <br>
               <div> <p>  1、设计灵感：中国山水画中的山形纹理。</p>
                     <p>  2、材质：选用细腻乳白、质感高级的镁质瓷。</p>
                     <p>  3、浮雕：采用浮雕工艺，精雕细琢山纹的深浅粗细等细节，以展现精致的延绵起伏的山形纹理。</p>
               </div>
                    <br>
               <div>商品描述</div>
                     <br>
               <div>小蓝边碗/
                    尺寸：高/59mm   直径/118mm
                    工艺：釉下青花/1330度
                    材料：传统大件泥/白釉

                    大蓝边碗/
                    尺寸：高/72mm   直径/172mm
                    工艺：釉下青花/1330度
                    材料：传统大件泥/白釉</div>

            </div>
          </div>
    </div>
  </div>




  <div class="col-md-12 recommend-page">
    <div class="recom">
        <div class="col-md-5">
           <div class="recom-pic">
             <a href="/products/3.html" target=_blank>
                <img class="thumbnail " src="https://ws4.sinaimg.cn/large/006tNc79gy1fg6l9o27mfj30cd09f0uz.jpg" width="40%" height="60%" alt="recommend1">
              </a>
            </div>
          </div>

          <div class="col-md-7">
            <div class="descrip" >
               <a href="products/3.html" target=_new>  <h2> 礼盒“福”字款</h2> </a>
               <div>开味推荐：</div>
               <br>
               <div>做生意的人，講究送碗。送飯碗，被送的人自然開心，做生意，圖吉利。
                    將日用之器作為禮物送給親人和朋友，是最貼心的關切吧。</div>
                    <br>
               <div>商品描述</div>
                     <br>
               <div>小蓝边碗/
                    尺寸：高/59mm   直径/118mm
                    工艺：釉下青花/1330度
                    材料：传统大件泥/白釉

                    大蓝边碗/
                    尺寸：高/72mm   直径/172mm
                    工艺：釉下青花/1330度
                    材料：传统大件泥/白釉</div>

            </div>
          </div>
    </div>
  </div>



  <div class="col-md-12 recommend-page">
    <div class="recom">
        <div class="col-md-5">
           <div class="recom-pic">
             <a href="/products/3.html" target=_blank>
                <img class="thumbnail " src="https://ws2.sinaimg.cn/large/006tNc79gy1fg60l00yz9j30j10j2dhd.jpg" width="40%" height="60%" alt="recommend1">
              </a>
            </div>
          </div>

          <div class="col-md-7">
            <div class="descrip" >
               <a href="products/3.html" target=_new>  <h2> 秋山系列麻叶手工木碟</h2> </a>
               <div>开味推荐：</div>
               <br>
                <div> 这款手工木碟以麻叶为灵感，采用雕刻工艺，运用刻刀完成。先是打坯刀，然后上削光刀，各种型号和样式结合才能完成一件作品，只有娴熟的雕工才可胜任。设计重在“取意”，对很多树叶的细节加以省略，只雕琢出树叶自然的曲线，保留了刻痕，随意而均匀的排列，增添了整体的朴质和亲切感。

               <br>
               <div>商品描述</div>
                    <br>
               <div>以麻叶为灵感，匠人手工雕刻，尽显秋天灵动自然之美
                    榉木材质，色调柔和，质地坚固
                    用作糕点零食盘或置物托盘，清新雅致，别有韵味 </div>
                    <br>
               <div>材质：榉木
                    工艺：手工雕刻
                    尺寸：长100mm  x  宽85mm  x  高13mm
                    叶底厚度：3-4mm；叶边厚度：1-2mm
                    （手工制作难免会有误差）
                      涂层：欧诗木木蜡油 </div>
               </div>
            </div>
         </div>
    </div>
  </div>



  <div class="col-md-12 recommend-page">
    <div class="recom">
        <div class="col-md-5">
           <div class="recom-pic">
             <a href="/products/3.html" target=_blank>
                <img class="thumbnail " src="https://ws2.sinaimg.cn/large/006tNc79gy1fg60iszk9qj30go0gotai.jpg" width="40%" height="60%" alt="recommend1">
              </a>
            </div>
          </div>

          <div class="col-md-7">
            <div class="descrip" >
               <a href="products/3.html" target=_new>  <h2> 小号万花盘</h2> </a>
               <div>开味推荐：</div>
               <br>
               <div>HAY的经营领域介于建筑和时尚之间，我们的设计结合了建筑领域的静和时尚领域的 动。在创新领域和利用尖端技术方面，我们雄心勃勃。 与HAY合作的是技艺高超、才华横溢的国际一流设计师，他们使用新材料和现代技术 创作产品，给用户带来更高价值。 坚固、简约、快乐和实用是HAY的设计风格。</div>
               <br>
               <div>商品描述</div>
                <br>
                 <div>由Clara  Von  Zweigbergk设计
                      颜色：红色/杏色/蓝色/薄荷色/黄色
                      尺寸：小号：长22cm  宽19cm
                      材质：铁，粉末图层</div>

            </div>
          </div>
    </div>
  </div>
