<div class="container yes">
  <div class="col-md-12 recommend-page">
    <div class="recom">
        <div class="col-md-5">
           <div class="recom-pic">
             <a href="/products/3.html" target=_blank>
                <img class="image " src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/354/354800.jpg" width="40%" height="60%" alt="recommend1">
              </a>
            </div>
          </div>

          <div class="col-md-7">
            <div class="descrip" >
               <a href="products/3.html" target=_new>  <h2> 礼盒“福”字款</h2> </a>
               <br>
               <div>小蓝边碗
                  尺寸：高/59mm   直径/118mm
                  工艺：釉下青花/1330度
                  材料：传统大件泥/白釉</div>
                <br>

                <div>  大蓝边碗/
                  尺寸：高/72mm   直径/172mm
                  工艺：釉下青花/1330度
                  材料：传统大件泥/白釉</div>
            </div>
          </div>
    </div>
  </div>




  <div class="col-md-12 recommend-page">
    <div class="recom">
        <div class="col-md-5">
           <div class="recom-pic">
             <a href="/products/3.html" target=_blank>
                <img class="image " src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/354/354800.jpg" width="40%" height="60%" alt="recommend1">
              </a>
            </div>
          </div>

          <div class="col-md-7">
            <div class="descrip" >
               <a href="products/3.html" target=_new>  <h2> 礼盒“福”字款</h2> </a>
               <br>
               <div>小蓝边碗
                  尺寸：高/59mm   直径/118mm
                  工艺：釉下青花/1330度
                  材料：传统大件泥/白釉</div>
                <br>

                <div>  大蓝边碗/
                  尺寸：高/72mm   直径/172mm
                  工艺：釉下青花/1330度
                  材料：传统大件泥/白釉</div>
            </div>
          </div>
    </div>
  </div>



  <div class="col-md-12 recommend-page">
    <div class="recom">
        <div class="col-md-5">
           <div class="recom-pic">
             <a href="/products/3.html" target=_blank>
                <img class="image " src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/354/354800.jpg" width="40%" height="60%" alt="recommend1">
              </a>
            </div>
          </div>

          <div class="col-md-7">
            <div class="descrip" >
               <a href="products/3.html" target=_new>  <h2> 礼盒“福”字款</h2> </a>
               <br>
               <div>小蓝边碗
                  尺寸：高/59mm   直径/118mm
                  工艺：釉下青花/1330度
                  材料：传统大件泥/白釉</div>
                <br>

                <div>  大蓝边碗/
                  尺寸：高/72mm   直径/172mm
                  工艺：釉下青花/1330度
                  材料：传统大件泥/白釉</div>
            </div>
          </div>
    </div>
  </div>



  <div class="col-md-12 recommend-page">
    <div class="recom">
        <div class="col-md-5">
           <div class="recom-pic">
             <a href="/products/3.html" target=_blank>
                <img class="image " src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/354/354800.jpg" width="40%" height="60%" alt="recommend1">
              </a>
            </div>
          </div>

          <div class="col-md-7">
            <div class="descrip" >
               <a href="products/3.html" target=_new>  <h2> 礼盒“福”字款</h2> </a>
               <br>
               <div>小蓝边碗
                  尺寸：高/59mm   直径/118mm
                  工艺：釉下青花/1330度
                  材料：传统大件泥/白釉</div>
                <br>

                <div>  大蓝边碗/
                  尺寸：高/72mm   直径/172mm
                  工艺：釉下青花/1330度
                  材料：传统大件泥/白釉</div>
            </div>
          </div>
    </div>
  </div>
</div>
