<div class="recommend-page">
      <div class="col-md-12">
          <div class="col-md-7">
            <a href="/products/3.html" target=_blank>
               <img class="image" src="https://ws3.sinaimg.cn/large/006tNc79gy1ffvdihuw03j308004vglf.jpg" width="100%" height="100%" alt="recommend1">
             </a>
          </div>

          <div class="col-md-4" >
            <div class="text-center">
             <a href="products/3.html" target=_new> Aeron </a>
           </div>
          </div>
      </div>

    </div>

    <div class="row">
          <div class="col-md-12">
            <div class="col-md-offset-1 col-md-4" >
              <div class="text-center">
               <a href="products/3.html" target=_new> Aeron </a>
             </div>
            </div>

            <div class="col-md-7">
              <a href="/products/3.html" target=_blank>
                 <img src="https://ws3.sinaimg.cn/large/006tNc79gy1ffvdihuw03j308004vglf.jpg" width="100%" height="100%" alt="recomment2">
               </a>
            </div>
          </div>
    </div>


    
