<div>
  <br>
<% if @query_string.blank? %>
    <div class="search-info-title">
      <h4>搜索内容不能为空</h4>
    </div>
    
  <% elsif @products.blank? %>
    <br>
    <h2 class="search-info-title">对不起，没有找到你的宝贝</h2>
  <% else %>
    <h2 class="search-info-title"> 有关"<%= @query_string %>"的工作信息 </h2>
    <div class="search-result">

      <div class="row jobs-show0"></div>
      <div class="job-table">
        <% @products.each do |product| %>
        <div class="row jobs-show">

          <div class="col-md-12 col-lg-9 col-lg-offset-1">

            <div class="pull-right">
              发布时间：<%= product.created_at.to_date %>
            </div>
            <p ><%= link_to(render_highlight_content(product,@query_string),product_path(product)) %></p>

          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <%= will_paginate(@products, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div>