<div class="content">
  <h3>搜索列表</h3>
  <% if @products.blank? %>
    <div class="text-center">
      <h3>没有符合搜索条件的资料哦！</h3><br><br>
      <%= link_to("查看其他商品", products_path, class: "btn btn-sm btn-success") %>
    </div>
  <% else %>
    <div class="table">
      <tbody>
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
          <% end %>
        <% end %>
      </tbody>
    </div>

  <% end %>
</div>
