<div id="products">
  <div class="wrapper1">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <div class="row hot-products">
          <% if @products.present? %>
            <%= render :partial => "product_items", :collection => @products, :as => :product %>
          <% else %>
            抱歉，没找到您要的商品。
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
