<%= render :partial => "products/search_bar" %>

<br>
<div class="search-result">

  <table class="table table-borderd">
    <% @products.each do |product| %>
      <%= link_to(render_highlight_content(product,@query_string),product_path(product)) %>
      <hr>
    <% end %>
 </table>

</div>
