<%= simple_form_for([@product, @product.reviews.build]) do |f|%>

  <div class="field">
      <%= f.text_area :body, class: "form-control" %>
  </div>


  <%= f.submit "添加评论", class: "btn btn-review btn-danger" %>
<% end %>
