<%= simple_form_for([@product, @product.reviews.build]) do |f|%>
  <div class="field">
    <div id="star-score"></div>
  </div>

  <div class="field">
      <%= f.label :"添加评论" %><br>
      <%= f.text_area :body, class: "form-control" %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "提交", class: "btn btn-default" %>
  </div>
<% end %>

<script>
  $('.star-score').raty({
              path: '/images/',
                  readOnly: true,
                  score: function() {
                return $(this).attr('data-score');
              }
  });

  $('#star-score').raty({
            path: '/images/',
            scoreName: 'review[score]'
  });
</script>
