<div class="header-box">
<div class="header">
    <div class="header-nav">
        <a class="header-logo" href="/">

        <img src="http://static.21cake.com//themes/site/img/logo.png" alt="21cake logo">
        <!-- <img src="/themes/site/img/logo.png" alt=""> -->
        </a>
        <ul class="nav-box">
            <li><a href="/">首页</a></li>
                            <li><a href="/activity-new_recommend-index.html" target="_self">推荐</a></li>
                            <li><a href="/gallery-index---0---1.html" target="_self" style="color: rgb(187, 151, 114);">蛋糕</a></li>
                            <li><a href="/gallery-index---0---2.html" target="_self">冰淇淋</a></li>
                            <li><a href="/gallery-index---0---3.html" target="_self">配饮</a></li>
                            <li><a href="/gallery-index---0---4.html" target="_self">设计师礼品</a></li>
                            <li><a href="/activity-special_goods.html" target="_self">全国配送</a></li>
                            <li><a href="/activity-business_area-index.html" target="_self">企业专区</a></li>
                    </ul>
        <div class="right-city-user">
            <a class="header-app app-download" data-id="app-list">APP下载</a>
            <div class="current-city" data-id="current-city">北京<i></i></div>
            <span class="not-login" style="display: none;"><a href="/passport-login.do">登录</a>/<a href="/passport-sign_up.do">注册</a></span>
            <a href="/member.html" class="header-user" data-id="header-user" style="display: inline;">

            <img src="http://static.21cake.com//themes/site/img/user-img.png" alt="21cake user icon">
            <!-- <img src="/themes/site/img/user-img.png" alt=""> -->
            </a>
            <a href="/cart.do" class="header-cart" id="cart-count-icon"><i></i><span>1</span></a>
            <ul class="current-city-list  header-select" id="current-city" style="display: none; height: 174px; padding-top: 12px; margin-top: 0px; padding-bottom: 12px; margin-bottom: 0px;">
                            <li><a href="javascript:void(0);" class="city-id-1" data-json="{&quot;id&quot;:&quot;1&quot;,&quot;name&quot;:&quot;\u4e0a\u6d77&quot;,&quot;region_id&quot;:&quot;22&quot;}">上海</a></li>
                            <li><a href="javascript:void(0);" class="city-id-2" data-json="{&quot;id&quot;:&quot;2&quot;,&quot;name&quot;:&quot;\u5317\u4eac&quot;,&quot;region_id&quot;:&quot;2&quot;}" style="display: none;">北京</a></li>
                            <li><a href="javascript:void(0);" class="city-id-3" data-json="{&quot;id&quot;:&quot;3&quot;,&quot;name&quot;:&quot;\u5929\u6d25&quot;,&quot;region_id&quot;:&quot;43&quot;}">天津</a></li>
                            <li><a href="javascript:void(0);" class="city-id-4" data-json="{&quot;id&quot;:&quot;4&quot;,&quot;name&quot;:&quot;\u676d\u5dde&quot;,&quot;region_id&quot;:&quot;3134&quot;}">杭州</a></li>
                            <li><a href="javascript:void(0);" class="city-id-5" data-json="{&quot;id&quot;:&quot;5&quot;,&quot;name&quot;:&quot;\u65e0\u9521&quot;,&quot;region_id&quot;:&quot;1717&quot;}">无锡</a></li>
                            <li><a href="javascript:void(0);" class="city-id-6" data-json="{&quot;id&quot;:&quot;6&quot;,&quot;name&quot;:&quot;\u82cf\u5dde&quot;,&quot;region_id&quot;:&quot;1692&quot;}">苏州</a></li>
                            <li><a href="javascript:void(0);" class="city-id-7" data-json="{&quot;id&quot;:&quot;7&quot;,&quot;name&quot;:&quot;\u5e7f\u5dde&quot;,&quot;region_id&quot;:&quot;424&quot;}">广州</a></li>
                            <li><a href="javascript:void(0);" class="city-id-8" data-json="{&quot;id&quot;:&quot;8&quot;,&quot;name&quot;:&quot;\u6df1\u5733&quot;,&quot;region_id&quot;:&quot;524&quot;}">深圳</a></li>
                        </ul>
            <ul class="header-user-list  header-select" id="header-user" style="">
                            <li><a href="/member-orders_v2.html?back_url=L21lbWJlci1vcmRlcnNfdjIuaHRtbA==" target="_blank">订单管理</a></li>
                            <li><a href="/member-coupon.html?back_url=L2NvdXBvbi5odG1s" target="_blank">优惠券</a></li>
                            <li><a href="/member-cardlist.html?back_url=L2NhcmRsaXN0Lmh0bWw=" target="_blank">代金卡</a></li>
                            <li><a href="/passport-logout.do" target="_self">退出登录</a></li>
                        </ul>
            <dl class="app-list  header-select" id="app-list" style="display: none; height: 100px; padding-top: 10px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px;">
            <dt>

            <img src="http://static.21cake.com//themes/site/img/footer-erweima.png" alt="下载APP">
            <!-- <img src="/themes/site/img/app.jpg" alt=""> -->
            </dt>
            </dl>
        </div>
    </div>
</div>
</div>
