<% if flash.any? %>
	<% flash.each do |key, value| %>
		<div class="alert alert-dismiss alert-<%= convert(key) %>">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<%= value %>
		</div>
	<% end %>
<% end %>