<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| %>
    <div class="alter alter-dismissable alert-<%= flash_class(key) %>">
      <button class="close" data-dismiss="alter">x</button>
      <%= value %>
    </div>
  <% end %>
<% end %>
