  <footer class="text-center">
        <div class="footer-below">

          <p>关于我们 <span>|</span> 帮助中心 <span>|</span> 开放平台 <span>|</span> 诚聘英才 <span>|</span> 联系我们 <span>|</span> 网站合作 <span>|</span> 友情链接</p>

          <span class="logo-text">Copyright ©Brutish Life </span>
          <span class="icp-center">Design by <a href="http://dragon-blog.logdown.com/">Smallken </a> &amp; <a href="#"> Wayson</a></span>
        </div>

        <div id="sidebar" class="sidebar" style="display: block;">
          
        </div>

    </footer>
