<footer>
  <div class="footer-style">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h5>简 屋</h5>
        <p class="footer-style-p">简屋是一个人人皆能「高效读书」并将知识有效运用的读书交流社群，
          藉由「认知心理学」为基底的科学读书笔记方法，通过和世界菁英交流读书笔
          记、心得，让所有人皆可得到极速的「多维升级」，重获新生！</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 text-right">
        <div class="col-xs-4">
          <h5>VIP会员</h5>
          <p>加入会员</p>
          <p>付款流程</p>
        </div>
        <div class="col-xs-4">
          <h5>用户指南</h5>
          <p>常见问题</p>
          <p>帮助中心</p>
        </div>
        <div class="col-xs-4">
          <h5>关于我们</h5>
          <p>公司介绍</p>
          <p>联系方式</p>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <p class="text-center">Copyright &copy;2017 | Design by
          <%= link_to("韵爸爸") %>
          <%= link_to("毕欣欣") %>
      </p>
    </div>
  </div>
</footer>
