<footer class="footer" style="margin-top: 25px;">
  <div class="container">
    <ul class="social-icon animate pull-right">
              <li><a href="#" title="facebook" target="_blank" class="highlight"><i class="fa fa-facebook"></i></a ></li> <!-- change the link to social page and edit title-->
              <li><a href="#" title="twitter" target="_blank" class="highlight"><i class="fa fa-twitter"></i></a ></li>
              <li><a href="#" title="google plus" target="_blank" class="highlight"><i class="fa fa-google-plus"></i></a ></li>
            </ul>

    <p class="text-center">Copyright ©2016 JDStore
        <br>Design by 陈扬帆 and 林嘉欣
</div>
    </p >
</footer>
