
<div class="footer">
    <div class="wrap">
        <dl class="col1">
            <dt>新手指南</dt>
            <dd>
                <p><a href="/">账户注册</a></p>
                <p><a href="/">购物流程</a></p>
                <p><a href="/">订购方式</a></p>
                <p><a href="/">悠币说明</a></p>
                            <p><a href="/">会员等级</a></p>

            </dd>
        </dl>
        <dl class="col2">
            <dt>付款方式</dt>
            <dd>
                <p><a href="/">支付方式</a>/<a href="/">发票说明</a></p>
                <p><a href="/">充值说明</a>/<a href="/">储值卡说明</a></p>
                <p><a href="/">优惠代码/礼品卡说明</a></p>
                <p><a href="/">卡券购买章程</a></p>
            </dd>
        </dl>
        <dl class="col3">
            <dt>配送方式</dt>
            <dd>
                <p><a href="/">配送运费</a></p>
                <p><a href="/">配送范围</a></p>
                <p><a href="/">配送时间</a></p>
            </dd>
        </dl>
        <dl class="col4">
            <dt>售后服务</dt>
            <dd>
                <p><a href="/">退换货政策</a></p>
                <p><a href="/">退换货流程</a></p>
                <p><a href="/">常见问题</a></p>
                <p><a href="/">极速退款</a><p>
                <p><a href="/">投诉与建议</a></p>
            </dd>
        </dl>
        <dl class="col5">
            <dt>关于我们</dt>
            <dd>
                <p><a href="/">公司介绍</a></p>
                <p><a href="/">联系我们</a></p>
                <p><a href="/">业务合作</a></p>
                <p><a href="/">诚信举报</a></p>
                <p><a href="/">人才招聘</a></p>
                <p><a href="/">友情链接</a></p>

            </dd>
        </dl>
        <div class="service"><span>客服热线 400-000-8888 企业采购或团购，请转2号键咨询</span><span>周一至周日 9:00-21:00</span></div>
        <div class="copyright">
            <p>所有图片来自网络，仅用于学习，不用于任何商业活动</p>
            <p class="text-center">Copyright ®2017 ZGstore
              <br>Desigh by Kevin & isaac

            </p>


        </div>
    </div>
</div>
