<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016
         <a href="https://github.com/xingrowth" target=_new>XinGrowth</a>
        | Modify by
          <a href="http://nfreeness.logdown.com" target=_new>nfreeness</a>
    </p>
</footer>
