

<div class="footer">
  <div class="container">
    <div class="siteinfo">
      <div class="footer-navbar">
        <ul class="nav-footer">
          <li>
            <h3>订单服务</h3>
            <ul>
              <li><a href="">购买指南</a></li>
              <li><a href="">支付方式</a></li>
              <li><a href="">送货政策</a></li>
            </ul>
          </li>
          <li>
            <h3>服务支持</h3>
            <ul>
              <li><a href="">售后服务</a></li>
              <li><a href="">零售门店</a></li>
              <li><a href="">预约购买</a></li>
            </ul>
          </li>
          <li>
            <h3>关注我们</h3>
            <ul>
              <li><a href="">新浪微博</a></li>
              <li><a href="">官方微信</a></li>
              <li><a href="">官方贴吧</a></li>
            </ul>
          </li>
          <li>
            <h3>关于公司</h3>
            <ul>
              <li><a href="">公司简介</a></li>
              <li><a href="">加入我们</a></li>
              <li><a href="">联系我们</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>


  <hr />
  <div class="copyright">
    <p class="text-center">
      Copyright &copy2017 Smartisan |
      Design by <a href="https://github.com/linfgit">林锋</a>
       &  <a href="https://github.com/waterblues">王振华</a>
    </p>
  </div>

 </div>


<div id="gotop">
  
</div>
