<footer class="cover">
    <p class="text-center">Copyright ©2017 JDStore
        <br>Design by RealAnalysis and CaiJia

    </p>

    <style>
    /* Add a dark background color to the footer */
    footer {
        background-color: #2d2d30;
        color: #f5f5f5;
        padding: 32px;
    }
    footer a {
    color: #f5f5f5;
}

    footer a:hover {
    color: #777;
    text-decoration: none;
}
    </style>

    <footer class="text-center">
      </a><br><br>
      <p>将想象变为现实</a></p>
    </footer>



</footer>
