<footer class="container-fluid text-center">
  <div class="row">
      <div class="footer-below">
          <p class="text-center">Copyright ©2017 Rails101
              <br>Design by AliceGuo_Lixiang
          </p>
      </div>
  </div>
</footer>
