<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Grief Grocery Store
        <br>Design by
        <a href="https://github.com" target=_new>Brother&Sister</a>
    </p>
</footer>
