<footer class="footer">
	<p><a href="<%= static_pages_help_path %>" target="_blank">關於我們 </a> <span>|
  </span> <a href="<%= static_pages_help_path %>" target="_blank">服務中心</a> <span>|
  </span> <a href="/" target="_blank">功能展示</a> <span>|
  </span> <a href="/" target="_blank">製作教程</a> <span>|
  </span> <a href="/" target="_blank">聯繫我們</a> <span>|
  </span> <a href="/" target="_blank">支持我們</a> <span></p>
	<p>
    <span class="logo-text">Copyright ©2019 JayDstore</span>
    <span class="icp-center">Designed By <a href="/" target="_blank">Jayyyy1011</a></span>
	</p>
</footer>
