<div class="container intro">

        <div class="col-md-12">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <i class="fa fa-globe fa-4x" aria-hidden="true"> </i>
                <p class="chinesetop">全球精品</p>
                <p class="english">Global Selections</p>
            </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
                <i class="fa fa-certificate fa-4x" aria-hidden="true"></i>
                <p class="chinesetop">正品保证</p>
                <p class="english">Authenticity Guaranteed</p>
          </div>

          <div class="ccol-xs-12 col-sm-6 col-md-3">
                <i class="fa fa-space-shuttle fa-4x" aria-hidden="true"></i>
                <p class="chinesetop">全场包邮</p>
                <p class="english">Free Delivery</p>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
                <i class="fa fa-phone-square fa-4x" aria-hidden="true"></i>
                <p class="chinesetop phonehm"> 012 345 6789</p>
                <p class="english">工作日 09:00-18:00</p>
          </div>

      </div>

  </div>
    <br>
    <div class="footer text-center"> <br ><br >
      Copyright ©2017 JD Store
          <br /> Design by
          <a href="" target=_blank> Ellen </a> &
          <a href="http://justincs.logdown.com/" target=_new> Justin Ng</a>
    </div>
