<footer class="footer">
  <div class="text-center">
    <p>
      <ul class="footer_icon">
        <li><a href="https://github.com/AlexpanXX" class="fa fa-github" aria-hidden="true" target=_new></a></li>
        <li><a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true" target=_new></a></li>
        <li><a href="https://www.linkedin.com/" class="fa fa-linkedin" aria-hidden="true" target=_new></a></li>
      </ul>
    </p>
    <p class="footer-text">Copyright ©️ 2017 JDstore Designed by <a href="http://alexpan-blog.logdown.com/" target=_new>Alex</a></p>
  </div>
</footer>
