<br />

<footer class="container" style="margin-top: 50px; margin-bottom: 100px;">

  <div class=" col-centered">

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <ul>
        <p>关于<span class="logo">Select. </span></p>
        <a href="/" target=_new>问题回报</a>
        <br />
        <a href="/" target=_new>开发记录</a>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <ul>
        <p>
        <a><%= link_to("回到首页", root_path)%></a>
        </p>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <ul>
        <p>社群媒体分享</p>
        <div class="social-share-button", style="margin-top: 0px;">
          <%= social_share_button_tag("Select. 家具选，给您最好的家具。", :allow_sites => %w(facebook twitter google_plus wechat weibo)) %>
        </div>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <ul>
        <p>©2017 <span class="logo">Select.</span> 版权所有</p>

      </ul>
    </div>
  </div>

</footer>
