<footer class="navbar-default navbar-fixed-bottom">
   <div class="container-fluid">
       <div class="row footer-below">
           <div class="col-md-offset-1 col-md-11">
             <div class="col-md-6">
               <div class="col-md-4">About Us<br>FAQ<br>Awards &amp; Trends</div>
               <div class="col-md-4">Investor<br>Subscribe<br>Privacy &amp; Cookie</div>
               <div class="col-md-4">Online Training<br>Terms of Use<br>Guidelines</div>
             </div>
             <div class="col-md-4 text-left">
               <span class="fa fa-slack fa-lg"> Slack ID: tim--2 </span><br/>
               <span class="fa fa-wechat fa-lg"> Wechat ID: yitihua1320 </span><br/>
               <span class="fa fa-github fa-lg"> : https://github.com/nn70/</span>
             </div>
             <div class="col-md-offset-1 col-md-1 text-left">
                 <%= image_tag 'https://ww4.sinaimg.cn/large/006tNbRwgy1ff83ds0fsej308c08c3zh.jpg', class: 'img-responsive' %>
             </div>

           <hr>
           </div>
           <p class="text-center">
             <%= link_to "https://fullstack.xinshengdaxue.com/works/445", target: :_blank do %>
             Copyright ©2017 JD Store
             <br/><% end %>
             Designed by Tim
           </p>


       </div>
   </div>

</footer>
