<footer class="container-fluid">
    <div class="col-md-4 aboutUs">
        <h4>客服电话</h4>
        <p class="phone">666-666-666</p>
        <p class="hours">8:00AM - 22:00PM</p>
    </div>
    <div class="col-md-4 goal">
        <h4>服务宗旨</h4>
        <p class="goal_detail">美丽家居力求帮消费者甄选到最优质的商品</p>
    </div>
    <div class="ccol-md-4 contact">
        <h4>关注我们</h4>
        <div class="dropdown">
            <img src="images/wechat.png" alt="微信" />
            <div class="dropdown-content">
                <img class="author" src="images/cheng.jpeg" alt="葛铖的微信二维码" />
                <img class="author" src="images/suji.jpeg" alt="李苏吉的微信二维码" />
            </div>
        </div>
    </div>
</footer>
