<div id="footer" class="footer-login">

    <div class="container">

        <div class="g-row">
          <ul>
            <li class="item">
              <div class="inner">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <p class="footertext">家居品质保障</p>
              </div>
            </li>
            <li class="item">
              <div class="inner">
                <i class="fa fa-car" aria-hidden="true"></i>
                <p class="footertext">满188元免邮费</p>
              </div>
            </li>
            <li class="item" >
              <div class="inner">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <p class="footertext">30天无忧退货</p>
              </div>
            </li>
          </ul>
          <hr>
          <div class="siteinfo">
            <center>
            <nav class="nav">
              <a class="text" href="/attitude">关于我们</a>
              <b class="split">|</b>
              <a class="text" href="/help">帮助中心</a>
              <b class="split">|</b>
              <a class="text" href="/help#policys">售后服务</a>
              <b class="split">|</b>
              <a class="text" href="/help#deliver">配送与验收</a>
              <b class="split">|</b>
              <a class="text" href="/help#business">商务合作</a>
              <b class="split">|</b>
              <a class="text" href="/enterprise">企业采购</a>
              <b class="split">|</b>
              <a class="text" href="/friendLink">友情链接</a>
            </nav>
            <p>Copyright ©2016 宜然家居</p>
          </center>

          </div>
        </div>
    </div>
</div>
