<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Rails101
        <br>Design by
        <a href="http://linzhewei-blog.logdown.com" target=_new>linzhewei</a>
    </p>
</footer> -->

<footer class="container-fluid text-center">
  <p class="text-center">Copyright ©2016 Rails101
      <br>Design by
      <a href="http://linzhewei-blog.logdown.com" target=_new>linzhewei</a>
  </p>  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>
