<footer class="cover">
    <p class="text-center">Copyright ©2017 JDStore
        <br>Design by RealAnalysis and CaiJia

    </p>

    <style>
    /* Add a dark background color to the footer */
    footer {
        background-color: #2d2d30;
        color: #f5f5f5;
        padding: 32px;
    }
    footer a {
    color: #f5f5f5;
}

    footer a:hover {
    color: #777;
    text-decoration: none;
}
    </style>

    <footer class="text-center">
      </a><br><br>
      <p>将想象变为现实</a></p>
    </footer>

    <body>
            <main></main>
            <footer>
              <div class="container-2">
                  <div class="row">
                      <div class="col-lg-12">
                          <ul class="list-inline">
                              <li>
                                  <a href="/">Home</a>
                              </li>
                              <li class="footer-menu-divider">&sdot;</li>
                              <li>
                                  <a href="/about/">About</a>
                              </li>
                              <li class="footer-menu-divider">&sdot;</li>
                              <li>
                                  <a href="#portfolio">Portfolio</a>
                              </li>
                              <li class="footer-menu-divider">&sdot;</li>
                              <li>
                                  <a href="#contact">Contact</a>
                              </li>
                          </ul>
                          <p class="copyright text-muted small">Luck Dog Web Made In 2017. All Rights Reserved</p>
                          <p>Welcome to view and share</p>
                      </div>
                  </div>
              </div>
            </footer>
        </body>

</footer>
