<footer  style="background-color: #222222;">

    <p class="footer text-center">
      <br>Tel：400-199-288|Mon-Fri 9:00-24:00 &nbsp;&nbsp;&nbsp;&nbsp;
        <br>Copyright ©2017 FitStore
    </p>
    <br>
    <br>

</footer>
