<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Mylawyer
          <br>Design by
              <a target=_new>sunyanfei zengzheng</a>
              </p>
 </footer>
