<!--0214pm 新增footer样式 陈扬帆-->
 <footer class="footer-bs">
        <div class="container-fluid">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2>酷跑网</h2>
                <h5>由林嘉欣与陈扬帆共同设计</h5>
                <p>© 2017 酷跑网, All rights reserved</p>
            </div>

          <div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>列表</h4>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">线下门店</a></li>
                        <li><a href="#">个性定制</a></li>
                        <li><a href="#">品牌历史</a></li>
                        <li><a href="#">常见问题</a></li>
                        <li><a href="#">投诉建议</a></li>
                    </ul>
                </div>

              <div class="col-md-6">
                <ul class="list">
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">期制与规定</a></li>
                    <li><a href="#">隐私政策</a></li>
                </ul>
              </div>
            </div>

          <div class="col-md-3 footer-social animated fadeInDown">
            <h4>联系我们</h4>
            <p><i class="fa fa-map-pin"></i> 中国 厦门 思明区</p>
            <p><i class="fa fa-phone"></i> Phone (China) : +86 999999</p>
            <p><i class="fa fa-envelope"></i> E-mail : info@kupao.com</p>
          </div>

          <div class="col-md-2 footer-ns animated fadeInRight">
            <ul class="social-icon animate pull-right">
              <h4>关注我们</h4>
              <li><a href="#" title="facebook" target="_blank" class="highlight"><i class="fa fa-facebook"></i></a ></li>
              <li><a href="#" title="twitter" target="_blank" class="highlight"><i class="fa fa-twitter"></i></a ></li>
              <li><a href="#" title="google plus" target="_blank" class="highlight"><i class="fa fa-google-plus"></i></a ></li>
              </ul>
            </div>


        </div>


    </footer>
