<div class="footer-style">
    <div class="promise">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-gift fa-4x" aria-hidden="true"></i>
        <p class="chinesetop">全球精品</p>
        <p class="english">Global Selections</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-certificate fa-4x" aria-hidden="true"></i>
        <p class="chinesetop">正品保证</p>
        <p class="english">Authenticity Guaranteed</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-space-shuttle fa-4x" aria-hidden="true"></i>
        <p class="chinesetop">全场包邮</p>
        <p class="english">Free Delivery</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-phone-square fa-4x" aria-hidden="true"></i>
        <p class="chinesetop phonehm">
          012 345 6789</p>
        <p class="english">工作日 09:00-18:00</p>
      </div>
    </div>


  <div class="footer">
    <div class="container">
      <div class="col-md-4">
        <p>VIP会员</p>
        <p>加入会员</p>
        <p>付款流程</p>
      </div>
      <div class="col-md-4">
        <p>用户指南</p>
        <p>常见问题</p>
        <p>帮助中心</p>
      </div>
      <div class="col-md-4">
        <p>关于我们</p>
        <p>公司介绍</p>
        <p>联系方式</p>
      </div>
    </div>
    <hr>
    Copyright ©2017 JD Store
    <br/>
    Design by
    <a href="" target=_blank>
      Ellen Yu
    </a>
    &
    <a href="http://justincs.logdown.com/" target=_new>
      Justin Ng</a>
  </div>

</div>
