<footer class="container-fluid footer" >
  <p class="text-center">Copyright ©2017 一宏工作室
    <br>Design by
      <a href="http://freedomsky.logdown.com" target=_new>freedomsky</a>
      and <a href="http://kuangbenzhuzhu-blog.logdown.com/" target=_new>kuangbenzhuzhu</a>
    </p>
</footer>
