<footer class="container-fluid" style="margin-top: 100px;">

  <div class="row footer-labels">
    <ul class="list-style list-inline text-center">
      <li><a href="https://github.com/braid-git/jdstore"> Github仓库 </a></h4>
      <li>关于我们</h4>
      <li>联系我们</h4>
    </ul>
  </div>

  <div class="row footer-labels">
    <p class="text-center">Copyright ©2017 小精选 由Braid & Rachel共同打造</p>
  </div>
</footer>
