<!--<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 JDStore
        <br>Design by ksalsqzhbl

    </p>
</footer>-->

<footer >
  <div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">

                <ul class="social-icon">
                    <li><a href="https://www.facebook.com/" class="fa fa-facebook wow fadeInUp" data-wow-delay="0.2s"></a></li>
                    <li><a href="http://twitter.com" class="fa fa-twitter wow fadeInUp" data-wow-delay="0.4s"></a></li>
                    <li><a href="http://cz.linkedin.com" class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.6s"></a></li>
                    <li><a href="http://github.com/ksalsqzhbl" class="fa fa-github wow fadeInUp" data-wow-delay="0.8s"></a></li>
                    <li><a href="mailto:example@mail.com" class="fa fa-envelope wow fadeInUp" data-wow-delay="1.0s"></a></li>
                </ul>

				<p class="wow fadeInUp"  data-wow-delay="1s" >Copyright &copy; 2017 Easy GuQin | Designed by ksalsqzhbl

			</div>

		</div>
  </div>

</footer>
