<footer class="text-center">
  <div id="service" class="container-fluid text-center">
    <h1>我们的服务</h1>
    <h4>What we offer</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-shield logo-small" aria-hidden="true"></i>
        <h4>30天无忧退货</h4>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-truck logo-small" aria-hidden="true"></i>
        <h4>满88元免邮费</h4>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-lock logo-small"></span>
        <h4>九木品质保证</h4>
      </div>
      </div>
      <br><br>
  </div>

  <div class="footer-copyright">
    <a class="up-arrow" href="/" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <br><br>

    <p class="text-center">Copyright ©2017 九木生活
        <br>Design by
        <a href="https://github.com/anattaguo"> @MengjunGuo</a>
        and
        <a href="https://github.com/shijunfeng841013">@ShiJunFeng</a>
    </p>
  </div>

</footer>
