<footer class="footer-2 bg-color-2">

    <!-- sub footer begin -->
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                  <div class="social-icons-2 clearfix">
                    Copyright © 2017 Designed by Lichen & Antarts. All rights reserved.
                  </div>
                </div>
                <div class="col-md-2 text-center pull-right">
                  <div class="social-icons-2 clearfix">
                      <a href="mailto:blackchain@sever.com" title="联系我们" class="email"><i title="联系我们" class="fa fa-envelope-o"></i></a>
                      <a href="https://github.com/lichen19844/jdstore" title="查看源码" class="github"><i title="查看源码" class="fa fa-github"></i></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sub footer close -->

</footer>
