<footer class="text-center">
  <a class="up-arrow" href="/" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <br><br>

  <p class="text-center">Copyright ©2017 九木生活
      <br>Design by
      <a href="https://github.com/anattaguo"> @MengjunGuo</a>
      and
      <a href="https://github.com/shijunfeng841013">@ShiJunFeng</a>
  </p>
</footer>
