
  <div class="footer">
      <div class="container">
        <span>
              <a href='https://slack.com/'><i class="fa fa-slack fa-3x fa-fw"></i></a>
              <a href='https://www.facebook.com/'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
              <a href='https://www.skype.com'><i class="fa fa-skype fa-3x fa-fw"></i></a>
              <a href='https://wx.qq.com/'><i class="fa fa-weixin fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-envelope-o fa-3x fa-fw"></i></a>
              <a href='https://fullstack.xinshengdaxue.com'><i class="fa fa-envira fa-3x fa-fw"></i></a>
            </span>

      </div>

      <p> Copyright by @2017 iRobot
        <br>Design by johnson & caroline
      </p>
    </div>
