<!-- Footer -->


<div class="footer">
  <div class="copyright">
    <div class="design">
      <span><a href="https://github.com/guoyuhui/jdstore--lixiang_guobaibai.git" target="_blank">Github仓库</a></span>  <span><%= link_to '关于我们', "#" %></span>  <span><%= link_to '联系我们', "#" %></span>
      <p>@Copyright 2017 品味伴客 由<span>郭玉慧</span> 和 <span>李祥</span></p>
      <p>再次感谢您的光临</p>
    </div>
  </div>
</div>
