<div id="page_bottom">
	<div id="sub_page_bottom">
		<div class="sub_inner">
			<footer role="contentinfo" class="cf">
				<div id="fm_1" class="fm">
					<section>
						<h1 class="icon-laptop"><font><font>站点菜单</font></font></h1>
						<ul>
							<li><a href="http://satohana.com/style/"><font><font>对于花店花果茶佐藤</font></font></a></li>
							<li><a href="http://satohana.com/gallery/"><font><font>画廊</font></font></a></li>
							<li><a href="http://satohana.com/forest/"><font><font>森林的指导（宫森店）</font></font></a></li>
							<li><a href="http://satohana.com/category/information/"><font><font>通知</font></font></a></li>
							<li><a href="http://satohana.com/category/blog/"><font><font>花蜜博客</font></font></a></li>
							<li><a href="http://satohana.com/category/blog2/"><font><font>员工博客</font></font></a><span><font><font>NEW</font></font></span></li>
							<li><a href="http://satohana.com/category/blog-forest/"><font><font>森林博客</font></font></a></li>
							<li><a href="http://satohana.com/staff/"><font><font>在工作花蜜</font></font></a></li>
							<li><a href="http://satohana.com/access"><font><font>商店指南访问</font></font></a></li>
							<li><a href="http://satohana.com/category/customer/"><font><font>客户意见</font></font></a></li>
							<li><a href="http://satohana.com/contact/"><font><font>查询</font></font></a></li>
							<li><a href="http://satohana.com"><font><font>家</font></font></a></li>
						</ul>
					</section>
				</div>
				<div id="fm_2" class="fm">
					<section>
						<h1 class="icon-basket-2"><font><font>STORE MENU</font></font></h1>
						<ul id="bnrctgfooter">
							<li><a href="//satohana.com/fathers/"><font><font>花2017年父亲节</font></font></a><span><font><font>NEW</font></font></span></li>
							<li><a href="//satohana.com/gel-bouquet/"><font><font>凝胶花束</font></font></a></li>
							<li><a href="//satohana.com/balloonflower/"><font><font>幽默花</font></font></a><span><font><font>NEW</font></font></span></li>
							<li><a href="//satohana.com/bottle/"><font><font>瓶</font></font></a><span><font><font>NEW</font></font></span></li>
							<li><a href="//satohana.com/original/"><font><font>Yokore</font></font></a></li>
							<li><a href="//satohana.com/glassline/"><font><font>玻璃生产线</font></font></a><span><font><font>NEW</font></font></span></li>
							<li><a href="//satohana.com/bouquet/"><font><font>花束</font></font></a></li>
							<li><a href="//satohana.com/arrange/"><font><font>安排</font></font></a></li>
							<li><a href="//satohana.com/box-flower/"><font><font>BOX花</font></font></a></li>
							<li><a href="//satohana.com/category/preserved/"><font><font>罐头</font></font></a></li>
							<li><a href="//satohana.com/original2/"><font><font>Gurare</font></font></a></li>
							<li><a href="//satohana.com/stand/"><font><font>庆典站在花</font></font></a></li>
							<li><a href="//satohana.com/category/kyoka/"><font><font>葬礼为Kuge</font></font></a></li>
							<li><a href="//satohana.com/category/kochoran/"><font><font>蝴蝶兰</font></font></a></li></ul>
					</section>
				</div>
				<div id="fm_3" class="fm">
					<section>
						<h1 class="icon-doc-text"><font><font>准则</font></font></h1>
						<ul>
							<li><a href="http://satohana.com/guideline/"><font><font>用户指南</font></font></a></li>
							<li><a href="http://satohana.com/carriage/"><font><font>交付及交付面积，交付和交付费交付面积，交付和出售的物品</font></font></a></li>
							<li><a href="http://satohana.com/guideline/pay/"><font><font>多种付款方式</font></font></a></li>
							<li><a href="http://satohana.com/guideline/service/"><font><font>照片邮件，点，各种服务</font></font></a></li>
							<li><a href="https://www.shopmaker.jp/basic/user/login.cgi?user=pr092913" target="_blank"><font><font>会员信息更改</font></font></a><span><font><font>NEW</font></font></span></li>
							<li><a href="http://satohana.com/guideline/privacy/regulations/"><font><font>使用条款</font></font></a></li>
							<li><a href="http://satohana.com/guideline/privacy/"><font><font>隐私政策</font></font></a></li>
							<li><a href="http://satohana.com/guideline/legal/"><font><font>退回或取消，符号基于特定交易</font></font></a></li>
							<li><a href="http://satohana.com/guideline/other/"><font><font>版权与免责声明，链接策略等。</font></font></a></li>
						</ul>
					</section>
				</div>
				<div id="fm_4" class="fm">
					<p><img src="http://satohana.com/wp-content/themes/hanamitsu2014/images/contact.png"></p>
					<p><font><font>2017年©佐藤花店花蜜保留所有权利。</font></font></p>
				</div>
			</footer>
		</div>
	</div>
</div>
