<footer class="navbar footer-default">
    <p class="footer-text" "pull-left">Copyright ©2016 DZ's JD Store</p>
		<p class="footer-text" "pull-right">Design by
        <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>dyz2102</a>
    </p>
</footer>
