<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <div class="row">
            <footer class="container-fluid text-center bg-lightgray">

                <div class="footer-info">
                    <div class="copyrights">
                        <p>Copyright © 2017 LOVE&GIFT
                            <br>
                            <span>Design by
                                <a class="logdown" href="http://junoliang007-blog.logdown.com/" target="_blank">JunoLiang007</a>
                                <a class="logdown" href="http://junoliang007-blog.logdown.com/" target="_blank">Tianmi</a>
                            </span>
                        </p>
                    </div>

                    <div class="text-center center-block">
                        <a href="https://github.com/junoliang007" target="_blank">
                            <i id="social-gh" class="fa fa-github-square fa-2x social"></i>
                        </a>
                        <a href="mailto:junoliang007@gmail.com">
                            <i id="social-em" class="fa fa-envelope-square fa-2x social"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
