<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-2 col-xs-4">
            <h4>神裝資訊</h4>
            <ul class="list-unstyled">
              <li><a href="#">最新神裝</a></li>
              <li><a href="#">獨家推薦</a></li>
              <li><a href="#">品牌分類</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>購物須知</h4>
            <ul class="list-unstyled">
              <li><a href="#">運送規則</a></li>
              <li><a href="#">退貨方式</a></li>
              <li><a href="#">常見問題</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>關於我們</h4>
            <ul class="list-unstyled">
              <li><a href="#">品牌故事</a></li>
              <li><a href="#">媒體報導</a></li>
              <li><a href="#">人物簡介</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <br/>
            <h4><i class="#"></i>黑市</h4>
            <ul class="list-unstyled">
              <p>Designed By
                <a href="https://www.facebook.com/yehfactory/" target="_blank">Yeh</a> &
                <a href="#" target="_blank">Pirre</a>
              <br/>
              Copyright ©2017 JDStore</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
