<footer class="container" style="margin-top: 100px;">


      <div class="panel-heading">
        <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcydz0ycvtj30e80e8dge.jpg">
        <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcydyxoonlj30e80e8weq.jpg">
        <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcydyrsnqdj30e80e8jrj.jpg">
        <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcydygd075j30e80e874p.jpg">
        <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcydyia4o0j30e80e8q34.jpg">
        <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcydy7mz6lj30e80e874i.jpg">
        <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcydyc73llj30e80e8t8u.jpg">
      </div>
      </div>



            <ul class="list-inline text-center">


                                      <li>
                                          <a href="/">
                                              <span class="fa-stack fa-lg">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                              </span>
                                          </a>
                                      </li>


                                      <!-- add Weibo, Zhihu by Hux, add target = "_blank" to <a> by Hux -->


                                      <li>
                                          <a target="_blank" href="/">
                                              <span class="fa-stack fa-lg">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                              </span>
                                          </a>
                                      </li>





                                      <li>
                                          <a target="_blank" href="https://github.com/wiltonwung">
                                              <span class="fa-stack fa-lg">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                              </span>
                                          </a>
                                      </li>

                                  </ul>
    <p class="text-center">Copyright 2017 Shopping Inc.
        <br> Designed by Nirvana
    </p>
</footer>
