<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Rails101
        <br>Design by
        <a href="http://guang-blog.logdown.com" target=_new>杨光</a>
    </p>
</footer>
