<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 EPIC
        <br/>Design by
        <a href="http://fengkaiwater-blog.logdown.com/" target=_new>Fengkai</a>
    </p>
</footer>
