<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="list-style">
                      <h3 class="ftitle">所有产品</h3>
                        <li> <a href="#"> 扫地机器人 </a> </li>
                        <li> <a href="#"> 洗碗机 </a> </li>
                        <li> <a href="#"> 吸尘器 </a> </li>

                    </ul>
                </div>
                <div class="col-sm-3">

                    <ul class="list-style">
                      <h3 class="ftitle"> 有关网站 </h3>
                        <li> <a href="#">  为我们投票 </a> </li>
                        <li> <a href="#"> 网站介绍 </a> </li>

                        <li> <a href="#"> 网页建议  </a> </li>
                    </ul>
                </div>
                <div class="col-sm-3">

                    <ul class="list-style">
                      <h3 class="ftitle">外部链接</h3>
                        <li> <a href="https://slack.com/"> Slack </a> </li>
                        <li> <a href="https://github.com/"> Github </a> </li>
                        <li> <a href="https://logdown.com/"> Logdown </a> </li>
                    </ul>
                </div>
                <div class="col-sm-3">

                    <ul class="list-style">
                      <h3 class="ftitle">联系我们</h3>
                      <li> 地址：广东广州 </li>
                        <li> 邮箱：admin@gmail.com </li>

                        <li> 电话：400-220-8822 </li>
                    </ul>
                </div>

            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <hr>
            <p class="pull-left"> Copyright @2017 iRobot | Design by johnson & caroline</p>

        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
