<div class="foot">
  <ul>
    <li><a href="#">关于我们</a></li>
    <li><a href="#">帮助中心</a></li>
    <li><a href="#">网站合作</a></li>
    <li><a href="#">联系我们</a></li>
    <li><a href="#">友情链接</a></li>
</div>
<footer class="container" style="margin-top: 10px">
    <p class="text-center">Copyright @2017 JDStore
        <br>Design by qingpingguo and lucas

    </p>

    <div id="gotop"><img src="https://ooo.0o0.ooo/2017/02/24/58afc2ea8e8fd.png" alt="顶部.png" title="顶部.png" /></div>
</footer>
