<footer>
   <div class="footer-below">
       <div class="text-footer-left">Copyright ©2017 JDStore
       </div>
       <span class="text-footer-right">
         <a href="#">about us</a> |
         <a href="#">details</a>
       </span>
    </div>
  </footer>
