<!--=== Footer Version 1 ===-->
<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-30">
          <a href="index.html"><img id="logo-footer" class="footer-logo" src="/images/logo.png" alt=""></a>
          <br><br>
          <p>全程品质监控</p>
          <p>每一件商品都是一个承诺</p>
        </div><!--/col-md-3-->
        <!-- End About -->

        <!-- Latest -->
        <div class="col-md-3 md-margin-bottom-30">
          <div class="posts">
            <div class="headline"><h2>商品资讯</h2></div>
            <ul class="list-unstyled latest-list">
              <li>
                <a href="#">最新商品</a>
                <small>May 22, 2017</small>
              </li>
              <li>
                <a href="#">热销商品</a>
                <small>June 22, 2017</small>
              </li>
              <li>
                <a href="#">特价促销</a>
                <small>September 22, 2017</small>
              </li>
            </ul>
          </div>
        </div><!--/col-md-3-->
        <!-- End Latest -->

        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-30">
          <div class="headline"><h2>其他链接</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">交流论坛</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">常见问题</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">关于我们</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">联系我们</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">招商加盟</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div><!--/col-md-3-->
        <!-- End Link List -->

        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-30">
          <div class="headline"><h2>联系我们</h2></div>
          <address class="md-margin-bottom-40">
            888 Street, Gruang Zhou <br />
            Guang Dong, China <br />
            Phone: 400 123345678 <br />
            Fax: 400 12345678 <br />
            Email: <a href="mailto:service@dalvse.com" class="">service@dalvse.com</a>
          </address>
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2017 &copy; All Rights Reserved.
            <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                <i class="fa fa-skype"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->
