<footer class="text-center ">
  <div class="footer-below">
      <p class="text-center">Copyright ©2017 幸福小站
          <br>Design by 王兴&马静
      </p>
  </div>
  <div id="gotop">
    <i class="fa fa-arrow-up"></i>
  </div>
</footer>
