

<footer class="footer-style">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h5>BIG KID</h5>
        <p class="footer-style-p">生活总是趣味无穷的，希望在这里，我们能和您一起度过一段美好的时光，探索一切有趣的东西。</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 text-right">
        <div class="col-xs-4">
          <h5>VIP会员</h5>
          <p>加入会员</p>
          <p>付款流程</p>
        </div>
        <div class="col-xs-4">
          <h5>用户指南</h5>
          <p>常见问题</p>
          <p>帮助中心</p>
        </div>
        <div class="col-xs-4">
          <h5>关于我们</h5>
          <p>公司介绍</p>
          <p>联系方式</p>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <p class="text-center">Copyright &copy;2017 BIG KID - Design by yoona&lihui

      </p>
    </div>
  </div>
</footer>
