<footer class="navbar-fixed-bottom" >
    <p class="text-center"> Copyright ©2017 JD Store
                          <br /> Design by <a href:"http://justincs.logdown.com/" target=_new> Justin Ng</a>
    </p>
</footer>
