<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2017 JDStore
    <br>Design by
    <a href="http://alan003-blog.logdown.com/" target=_new>Alan Yu</a>
  </p>
</footer>
