

<div id="gotop"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
<div class="row">
<footer class="text-muted well" id="last-footer">
    <section>
    <div class="row" style="font-size:11px;">
    <div class="container">
    <h3 class="subhead" style="text-align:center;">Welcome to iRobot</h3>
       <div class="col-md-9">
        <div class="row" >
      <div class="col-md-3">
      <div class="row footlinks">
      <div class="col-xs-12">
      <h5>All Products</h5>
      <ul class="noBullets">
      <li><i class="fa fa-angle-right"></i><a href="/products/1">iWasher</a></li>
      <li><i class="fa fa-angle-right"></i><a href="/products/2">iLife</a></li>
      <li><i class="fa fa-angle-right"></i><a href="/products/3">Mi</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">More</a></li>
      </ul>
      </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="row footlinks">
      <div class="col-xs-12">
      <h5>About Us</h5>
      <ul class="noBullets">
      <li><i class="fa fa-angle-right"></i><a href="#">Company Address</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">Telephone Number</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">E-Mail</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">More</a></li>
      </ul>
      </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="row footlinks">
      <div class="col-xs-12">
      <h5>Contact us</h5>
      <ul class="noBullets">
      <li><i class="fa fa-angle-right"></i><a href="https://fullstack.xinshengdaxue.com/">FullStack</a></li>
      <li><i class="fa fa-angle-right"></i><a href="https://slack.com/">Slack</a></li>
      <li><i class="fa fa-angle-right"></i><a href="https://logdown.com/">Logdown</a></li>
      <li><i class="fa fa-angle-right"></i><a href="https://wx.qq.com/">Wechat</a></li>
      </ul>
      </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="row footlinks">
      <div class="col-xs-12">
      <h5>External Links</h5>
      <ul class="noBullets">
      <li><i class="fa fa-angle-right"></i><a href="https://www.facebook.com/">Facebook</a></li>
      <li><i class="fa fa-angle-right"></i><a href="https://twitter.com/">Twitter</a></li>
      <li><i class="fa fa-angle-right"></i><a href="https://www.youtube.com/">Youtube</a></li>
      <li><i class="fa fa-angle-right"></i><a href="https://www.linkedin.com/">Linkedin</a></li>
      </ul>
      </div>
      </div>
      </div>
      <hr/>
        </div><!--/.row inner-->
    </div>
     <div class="col-md-3 subscribe">
     <div class="row">
     <div class="col-xs-12">
     <form class="form-inline" role="form">
     <ul class="noBullets">
    <h5>Subscribe Newsletters!</h5>
     <li>
     <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
    </div>
          </li>
          <li class="text-center">
          <button type="submit" class="btn btn-success btn-sm">Subscribe Now!</button>
          </li>
          </ul>
        </form>
    </div></div>
     </div>


    <footer>	<div class="row">
      <div class="container text-center">
        <h5>Copyright © 2017 iRobot | Design by Johnson & Caroline </h5>
      </div>
      </div>
    </footer>
       </div><!--/.container-->
       </div><!--/.row outer-->
    </section>
</footer>
</div>
