<footer class="text-center">
    <div class="footer-below">
      <p class="text-center">
          <a href="https://twitter.com/wuzhao97" class="fa fa-twitter fa-2x logo" style="margin-right:30px" target="_blank"></a>
          <a href="http://weibo.com/2530499072/profile?topnav=1&wvr=6" class="fa fa-weibo fa-2x logo" style="margin-right:30px" target="_blank"></a>
          <a href="https://www.instagram.com/liwuzhao97/" class="fa fa-instagram fa-2x" target="_blank"></a>
      </p>
      <p>Wuzhao & RISA</p>
    </div>

</footer>
