<footer class="container" style="margin-top: 100px;">

  <p class="text-center">
    Copyright ©2017 JDStore
    <br/>
   Design by
   <a href="http://xyy601-blog.logdown.com" target=_new>xyy</a>
  </br/>
  </p>
</footer>
