<footer class="container-fluid footer">
  <div align="center">
    <img class="wetch" src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffvp3gzquxj305k05kq2u.jpg" alt="llogo">
  </div>
    <p class="text2-center">
    <br>
        Design by sai
    </p>
</footer>
