<footer class="container navbar-fixed-bottom" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 新生大学-全栈营 JD Store<br />
        Design by 曲政 JohnQuicker@163.com
    </p>
</footer>
