
<footer class="footer navbar-fixed-bottom">
	<p></span> 關於我們 <span>|</span> 實體店面 <span>|</span> 聯絡我們</p>
	<p>
    <span class="logo-text">Copyright ©2017 JDStore</span>
    <span class="icp-center">Design by Tim & Olive</span>
	</p>
</footer>
