<footer class="navbar-default ">
   <div class="container-fluid">
       <div class="row footer-below text-center">
         <%= link_to "/about" do %>About Us<% end %> | Tart-Story |
         <%= link_to "/how#delivery" do %>Delivery<% end %> | Contact Us | Cooperate Farms | Links <br>
         Copyright ©2017 JDStore
         Designed by Tim &amp; Who <br><br>
         <%= link_to "https://github.com/nn70/jdstore", target: :_blank do %>
         <span class="fa fa-github-alt fa-2x"></span><% end %>
          | <%= link_to "https://fullstack.xinshengdaxue.com/works/445", target: :_blank do %>
          <span class="fa fa-caret-square-o-right fa-2x"></span><% end %> <br><br>
          .
       </div>
   </div>

</footer>
