<footer class="footer" style="margin-top: 0px;">
  <p>关于我们 <span>|</span> 帮助中心 <span>|</span> 捐赠 <span>|</span> 联系我们 <span>|</span> 网站合作 </p>
  	<p>
      <span class="logo-text">Copyright ©2017 疯狂动物园</span>
    <span class="icp-center">Design by 高娜 & 苏楠 & 天使投资人：peter</span>
  </P>

  <div id="gotop"></div>
</footer>
