<footer class="container" style="margin-top: 100px;">
  <p class="text-center"> Copyright ©2017 iFuture
    <br> Design by <a href="http://michelle-blog.logdown.com">Michelle</a> and <a href="http://hukui-blog.logdown.com">Hukui</a>
  </p>
</footer>
