<footer class="container" style="margin-top: 100px;">
    <p class="text-center">
        <a href="https://fullstack.xinshengdaxue.com/works/614">关于我们</a>
    </p>

    <hr>
    <p class="text-center">Copyright ©2017
      <a href="/">真读</a>
      Design by
      <a href="https://fullstack.xinshengdaxue.com/works/614">1+1</a>
    </p>
</footer>
