<footer class="container" style="margin-top: 100px;">

    <div class="table-default footer-wrap">
      1212121
    </div>
    <div class="footer-wrap">
      <h1 class="title"> # </h1>
    </div>
    <div>


      <p class="text-center ">Copyright ©2017 JDStore
        <br>Design by skyflyme

    </p>
    </div>
</footer>
