<style>
.footer-bottom {
  position: relative;;
  bottom:   0;
  left: 0;
  right: 0;
}
</style>

<div class="container">
<footer  class="footer-bottom"  >
  <p class="text-center">Copyright ©️2017 JD Store
    <br> Design by Caven
  </p>
</footer>
</div>
