<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--footer-->
<footer class="footer1">
<hr>
<div class="container">
  <div class="row"><!-- row -->
    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
      <ul class="list-unstyled clear-margins"><!-- widgets -->
      	<li class="widget-container widget_nav_menu"><!-- widgets list -->
          <h5>订单服务</h5>
          <ul>
          	<li><a  href="#">购买指南</a></li>
            <li><a  href="#">支付方式</a></li>
            <li><a  href="#">送货政策</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- widgets column left end -->
      <div class="col-lg-3 col-md-3"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
            <h5>服务支持</h5>
            <ul>
              <li><a  href="#">售后服务</a></li>
              <li><a  href="#">维修门店</a></li>
              <li><a  href="#">零售门店</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- widgets column left end -->
      <div class="col-lg-3 col-md-3"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
          <li class="widget-container widget_nav_menu"><!-- widgets list -->
            <h5>自助服务</h5>
            <ul>
              <li><a href="#">热点咨询</a></li>
              <li><a href="#">预约购买</a></li>
              <li><a href="#">分期购买</a></li>
            </ul>
		      </li>
        </ul>
      </div><!-- widgets column left end -->
      <div class="col-lg-3 col-md-3"><!-- widgets column center -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
          <li class="widget-container widget_recent_news"><!-- widgets list -->
            <h5>关于公司 </h5>
            <div class="footerp">
              <h5 class="title-median">新生大学全栈营</h5>
              <p><b>公司邮箱:</b> test@gmail.com</p>
              <p><b>客服电话 </b>
                 <b>(08：00 ~ 22：00):</b>  010-8130890090, 010-8130190010  </p>
                 <p><b>公司地址 : 北京市大兴区黄村</b></p>
                 <p><b>公司电话 : </b> 010-27568832</p>
            </div>
            <div class="social-icons">
              <ul class="nomargin">
                <a href="https://weixin.qq.com"><i class="fa fa-weixin fa-3x social-wx" aria-hidden="true" id="social"></i></a>
                <a href="https://weibo.com"><i class="fa fa-weibo fa-3x social-wb" aria-hidden="true" id="social"></i></a>
                <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                <a href="mailto:test@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					© 2017 情非得已（北京）科技有限公司
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="design">
					<a href="#">法律声明 </a> |  <a target="_blank" href="#">Web Design & Development by Xiaohui Wu and Eric Wu
          </a>
				</div>
			</div>
		</div>
	</div>
</div>
