<footer class="mt-30">
  <!-- <div class="container-fluid"> -->
    <div class="row">
      <div class="col-md-12 nav-bgc">
        <div class="site-wrapper">
          <div class="col-md-12">
            <div class="carousel slide media-carousel" id="media">
              <div class="carousel-inner">

                <div class="item  active">
                  <div class="row mtb-10">
                    <div class="col-md-3">
                      <a class="" href="#"><img alt="" src="/images/partner-1.png"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="" href="#"><img alt="" src="/images/partner-2.png"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="" href="#"><img alt="" src="/images/partner-3.png"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="" href="#"><img alt="" src="/images/partner-4.png"></a>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="row mtb-10">
                    <div class="col-md-3">
                      <a class="" href="#"><img alt="" src="/images/partner-1a.png"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="" href="#"><img alt="" src="/images/partner-2a.png"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="" href="#"><img alt="" src="/images/partner-3a.png"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="" href="#"><img alt="" src="/images/partner-4a.png"></a>
                    </div>
                  </div>
                </div>

              </div>
              <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
              <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->

  <div class="site-wrapper">
  <div class="row mt-20">
      <div class="col-md-3">
        <div class="footer-logo">
          <a href="/"><img id="logo-footer" class="footer-logo" src="/images/logo.png" alt=""></a>
        </div>
        <div class="mt-10">
          <h5>全程品质监控</h5>
          <h5>每一件商品都是一个承诺</h5>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xd-12">
        <div class="">
          <h4>商品资讯</h4>
          <br>
          <h5><a href="">最新商品</a></h5>
          <h5><a href="">热销商品</a></h5>
          <h5><a href="">特价促销</a></h5>
          <h5><a href="">交流论坛</a></h5>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xd-12">
        <div class="">
          <h4>其他链接</h4>
          <br>
          <h5><a href="">关于我们</a></h5>
          <h5><a href="">联系我们</a></h5>
          <h5><a href="">招商加盟</a></h5>
          <h5><a href="">常见问题</a></h5>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xd-12">
        <div class="">
          <h4>联系我们</h4>
          <br>
          <h5>888 Street, Gruang Zhou </h5>
          <h5>Guang Dong, China </h5>
          <h5>Phone: 400 123345678 </h5>
          <h5>Fax: 400 12345678 </h5>
          <h5>Email: <a href="mailto:service@dalvse.com" class="">service@dalvse.com</a></h5>
        </div>
      </div>
      <br>
      <hr/>
    </div>

    <div class="row mtb-10">
      <div class="col-md-6 col-sm-12 col-xd-12" style="text-align:center">
        <p>
          Copyright &copy;2017 dalvse.com, All Rights Reserved.
          Design by: <a href="https://fullstack.xinshengdaxue.com/works/570" style="color:#690;">LYY & NickYi</a>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 col-xd-12" style="text-align:center">
        <ul class="list-inline">
          <li>
            <a href='https://www.facebook.com/liangyunyu'><i class="fa fa-facebook fa-fw"></i></a>
          </li>
          <li>
            <a href='https://twitter.com/liangyunyu'><i class="fa fa-twitter fa-fw"></i></a>
          </li>
          <li>
            <a href='https://www.youtube.com'><i class="fa fa-youtube-play fa-fw"></i></a>
          </li>
          <li>
            <a href='https://www.rss.com'><i class="fa fa-rss fa-fw"></i></a>
          </li>
          <li>
            <a href='https://vine.co'><i class="fa fa-vine fa-fw"></i></a>
          </li>
          <li>
            <a href='https://www.flickr.com/photos/liangyunyu'><i class="fa fa-flickr fa-fw"></i></a>
          </li>
          <li>
            <a href='https://www.linkedin.com'><i class="fa fa-linkedin fa-fw"></i></a>
          </li>
          <li>
            <a href='https://github.com/liangyunyu'><i class="fa fa-github-alt fa-fw"></i></a>
          </li>
          <li>
            <a href='https://fullstack.xinshengdaxue.com/works/570'><i class="fa fa-thumbs-o-up fa-fw" style="color:orange;"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end row -->

  </div>
   <!--end site-wrapper -->
</footer>
<!-- end footer -->

<script type="text/javascript">
$(document).ready(function () {
  $('#media').carousel({pause: true, interval: 5000});
});
</script>
