<footer class="container" id="zhongchou-foot">
    <p>
      <a href="javascript:">关于众筹</a>
      <a href="javascript:">隐私政策</a>
      <a href="javascript:">官方博客</a>
      <a href="javascript:">App下载</a>
      <span>|</span>
      <span>&nbsp;&nbsp;一起众筹公司版权所有 © 2017</span>
    </p>
    <p>Design by&nbsp;&nbsp;<a href="http://oj8zlumqh.bkt.clouddn.com/image/whynotwangwei.jpeg" target=_new>喵小哥 & budi</a></p>
</footer>
