<footer class="footer">


  <hr>

  <p>
    常见问题 <span>|</span> 关于我们 <span>|</span> 隐私条款 <span>|</span> 服务条款
  </p>

  <hr>

  <p class="text-center"> ©2017 红酒庄园 <br>
    Design by niushuangmeng
  </p>



<!-- 侧边栏 -->
<div id="sidebar" class="sidebar" >
  <ul>
    <p >
      未成年请勿饮酒 禁止酒驾

      <i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i>
      <a href="https://fullstack.xinshengdaxue.com/works/606" target="_blank"><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i></a>
    </p>
  </ul>
</div>

</footer>
