<!--作业页脚-->
<footer class="container" style="margin-top: 100px;">
    <p class="text-center">copyright ©2016 JDStore
        <br>Design by linbingjie
    </p>
 </footer>
<!--end-->
<!--模仿的页脚-->
<!--footer class="g-ft">
    <div class="m-ft2">
        <div class="g-row">
            <ul class="footer_siteEnsure clearfix">
                <li class="item">
                    <div class="inner"><i class="icon icon-normal-ft1"></i>
                        <p class="text">30天无忧退货</p>
                    </div>
                </li>
                <li class="item">
                    <div class="inner"><i class="icon icon-normal-ft2"></i>
                        <p class="text">满88元免邮费</p>
                    </div>
                </li>
                <li class="item">
                    <div class="inner"><i class="icon icon-normal-ft3"></i>
                        <p class="text">CGG品质保证</p>
                    </div>
                </li>
            </ul>
            <hr>
            <div class="footer_info">
                <nav class="nav">
                    <a class="text" href="/">关于我们</a>
                    <b class="split">&nbsp</b>
                    <a class="text" href="/">品牌故事</a>
                    <b class="split">&nbsp</b>
                    <a class="text" href="/">帮助中心</a>
                    <b class="split">&nbsp</b>
                    <a class="text" href="/">售后服务</a>
                    <b class="split">&nbsp</b>
                    <a class="text">客服热线: 4000-199-177 | 周一至周日 9:00~24:00</a>
                </nav>
                <p class="copyright">
                    © 雨佳&宇飞小组 情非得已(北京)科技有限公司
        </p>
            </div>
        </div>
    </div>
 </footer-->
<!--end-->
