<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright @2017 JDStore
    Design by niushuangmeng
  </p>

  <!-- 侧边栏 -->
  <div id="sidebar" class="sidebar" >
    <ul>
      <p>
        未成年请勿饮酒 禁止酒驾
        <i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i>
        <a href="https://fullstack.xinshengdaxue.com/works/606" target="_blank"><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i></a>
      </p>
    </ul>
  </div>

</footer>
