

<footer class="footer" >


  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-2 col-xs-4">
            <h4>书籍咨询</h4>
            <ul class="list-unstyled">
              <li><a href="#s">最新商品</a></li>
              <li><a href="#s">推荐书籍</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>常见问题</h4>
            <ul class="list-unstyled">
              <li><a href="#s">关于运送</a></li>
              <li><a href="#s">退货方式</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>关于我们</h4>
            <ul class="list-unstyled">
              <li><a href="#s">我们的成长</a></li>
              <li><a href="#s">联络我们吧</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <br>
            <h4><i class="fa fa-empire" aria-hidden="true"></i> <alt="Logo">非读不可</h4>
              <p>Designed By linhai+AnnaWang</p>
              <p>Copyright ©2017  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
