<footer class="text-center">
    <div class="footer-below">
        <p class="text-center">Copyright ©2017 禅食体验馆
          桂ICP备05031770号</a>
            <br>Design by Jensen & Ning
        </p>
    </div>
  </footer>
