
<footer class="footer" style="margin-top: 100px;">

  <div>
    <hr >
  </div>


	<p>关于我们 <span>|</span> 帮助中心 <span>|</span> 捐赠 <span>|</span> 联系我们 <span>|</span> 网站合作 </p>
	<p>
    <span class="logo-text">Copyright ©2017 购物商店</span>
    <span class="icp-center">Design by skyflyme</span>
	</p>



</footer>
