<div id="footer">

    <div class="footer1">
        <div class="item">
          <h4>客服电话</h4>
          <p class="phone">666-666-666</p>
          <p class="hours">8:00 - 22:00</p>
          <a class="btn">用户反馈</a>
          <a class="btn">在线客服</a>
        </div>
        <div class="item">
          <h4>服务宗旨</h4>
          <p class="phone">美丽家居力求帮消费者甄选到最优质的商品</p>
        </div>
        <div class="item">
          <h4>关注我们</h4>
          <div class="dropdown">
              <img src="images/wechat.png" alt="微信" />
              <div class="dropdown-content">
                  <img class="author" src="images/cheng.jpeg" alt="葛铖的微信二维码" />
                  <img class="author" src="images/suji.jpeg" alt="李苏吉的微信二维码" />
              </div>
          </div>
        </div>
    </div>

    <div class="container">

        <div class="g-row">
          <ul>
            <li class="item">
              <div class="inner">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <p class="footertext">家居品质保障</p>
              </div>
            </li>
            <li class="item">
              <div class="inner">
                <i class="fa fa-car" aria-hidden="true"></i>
                <p class="footertext">满188元免邮费</p>
              </div>
            </li>
            <li class="item" >
              <div class="inner">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <p class="footertext">30天无忧退货</p>
              </div>
            </li>
          </ul>
          <hr>
          <div class="siteinfo">
            <center>
            <nav class="nav">
              <a class="text" href="/attitude">关于我们</a>
              <b class="split">|</b>
              <a class="text" href="/help">帮助中心</a>
              <b class="split">|</b>
              <a class="text" href="/help#policys">售后服务</a>
              <b class="split">|</b>
              <a class="text" href="/help#deliver">配送与验收</a>
              <b class="split">|</b>
              <a class="text" href="/help#business">商务合作</a>
              <b class="split">|</b>
              <a class="text" href="/enterprise">企业采购</a>
              <b class="split">|</b>
              <a class="text" href="/friendLink">友情链接</a>
            </nav>
            <p>Copyright ©2016 宜然家居</p>
          </center>

          </div>
        </div>
    </div>
</div>
