<footer class="text-center" style="margin-top: 50px;">
  <!-- Footer -->

    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p class="text-center">Copyright ©2017
      <br> SHHY Design by <a href="http://qiaoyu-blog.logdown.com" data-toggle="tooltip" title="遇见巧遇">qiaoyu</a> And <a href="http://gaiyue-blog.logdown.com/" data-toggle="tooltip" title="盖悦">gaiyue</a>
    </p>



</footer>
