<footer class="container" style="margin-top: 100px;">
  <p class="text-center"> Copyright ©2017 jdstore
<!-- 加入标题-->
    <br>Design by wz_liugan
<!-- 下划线-->
    <a href="http://www.163.com" >wz_liugan</a>
<!-- 超链接-->
 </p>
</footer>
