<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016
         <a herf="https://github.com/xingrowth" target_new>XinGrowth</a>
        <br>Design by
          <a herf="http://nfreeness.logdown.com" target_new>nfreeness</a>
    </p>
</footer>
