<br />

<footer class="footer container">
<div class="row">
  <div class="col-md-12 col-centered">
    <div class="col-md-4", style="margin-bottom: 60px;">
      <ul>
        <p style="text-align: center; color: #ffffff">关于<span class="logo">Select. </span></p>
        <hr style="margin-top: -5px; margin-bottom: 15px;">
        <p style="text-align: center;"><a href="https://fullstack.xinshengdaxue.com/works/579" target=_new>开发记录&问题回报</a></p>
      </ul>
    </div>
    <div class="col-md-4", style="margin-bottom: 60px;">
      <ul>
        <p style="text-align: center; color: #ffffff">社群媒体分享</p>
        <hr style="margin-top: -5px; margin-bottom: 15px;">
        <div class="social-share-button", style="text-align: center;">
          <%= social_share_button_tag("Select. 家具选，给您最好的家具。", :allow_sites => %w(facebook twitter google_plus wechat weibo)) %>
        </div>
      </ul>
    </div>
    <div class="col-md-4", style="margin-bottom: 60px;">
      <ul>
        <h5 class="logo" style="text-align: center; margin-bottom: 3px; margin-top: 0px;">Select.</h5>
        <p style="text-align: center; color: #ffffff">Copyright ©2017 <span class="logo">Select.</span>家具选
        <br />Designed by <a href="https://fullstack.xinshengdaxue.com/users/2751" target=_new>张伟1989</a> ＆ <a href="https://fullstack.xinshengdaxue.com/users/2121" target=_new>rswong</a></p>
      </ul>
    </div>
  </div>
</div>

</footer>
