<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!--Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="narbaer-brand" href="/">JDStore</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collaper-1">
			<ul class="nav navbar-nab navbar-right">
				<li><%= link_to("登入",'') %></li>
			</ul>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</div>
