<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/"> JDstrore</a>
    </div>

    <div class="collapse navbar-collalpse" id="bs-example-navbar-collapse-1">
      <ul class="navbar navbar-nav navbar-right">
        <li>
          <%= link_to("登入", '#') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
