<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- brand and toggle get grouped for better mobile display 品牌和切换被分组以获得更好的移动显示-->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">JD Store </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling 导航链接，表单和其他内容切换的集合 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to("登入", '#') %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
