
<div class="navbar bg-color1">
  <div class="navbarContent">
    <div class="navbarContent-item bg-color1"><a href="/">iRobot</a></div>
    <div class="navbarContent-item bg-color1">iWasher</div>
    <div class="navbarContent-item bg-color1">iLife</div>
    <div class="navbarContent-item bg-color1">Mi</div>
    <div class="navbarContent-item bg-color1"><a href="/users/sign_up">Signup</a></div>
    <div class="navbarContent-item navbarContent-LastItem bg-color1"><a href="/users/sign_in">Login</a>
  </div>
</div>
</div>

