<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">JD Store</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li>
             <%= link_to("LOG IN",'/')%>
          </li>
      </ul>
    </div>
  </div>
</nav>
