<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button class="navbar-toggle" data-toggle="navbar" data-target="#navbar-1">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/" class="navbar-brand">JD Store</a>
	</div>
	<div class="collapse navbar-collapse pull-right" id="navbar-1">
		<ul class="nav navbar-nav"> 
			<li><%= link_to("注册", "#") %></li>
			<li><%= link_to("登入", "#") %></li>
		</ul>
	</div>
</nav>