<nav class="navbar bg-color1">
  <div class="navbarContent">
    <div class="navbarContent-item bg-color1">iRobot</div>
    <div class="navbarContent-item bg-color1">iWash</div>
    <div class="navbarContent-item bg-color1">iDish</div>
    <div class="navbarContent-item bg-color1">Air</div>
    <div class="navbarContent-item bg-color1">Signup</div>
    <div class="navbarContent-item navbarContent-LastItem bg-color1">Account
  </div>
</div>
</nav>
