<nav class="nav navbar-default" role="navigation">
  <div class="navbar-header">
    <a href="/">JDStore</a>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to("登入", '#')%></li>
    </ul>
  </div>
</nav>
