<table class="table">
  <thead>
    <tr>
      <td>#</td>
      <td>Email</td>
      <td>Created At</td>
      <td>Manager Operation</td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "user_item", collection: @users, as: "user" %>
  </tbody>
</table>
