// Place all the styles related to the devise/regitrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-header {
  text-align: center;
  .brand {
    font-size: 2.5em;
    margin-top: 40px;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .slogan {
    color: #555;
    margin-top: 30px;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
}

.signup-block {
  margin: 40px 20px 0;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  padding: 20px 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  .signup-title {
    font-weight: 200;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .signup-form {
    margin: 40px 10px 0;
  }
  .btn-signup {
    width: 100%;
    font-weight: 200;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .btn-login {
    text-align: center;
    margin: 40px 0 20px;
    a {
      text-decoration: none;
      color: #555;
    }
    a.hover,
    a.focus {
      color: #000;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
