<!DOCTYPE html>
<html>
    <head>
        <title>绘生活 - 漫空间</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">

                <div class="container-fluid index-background">
                    <%= yield %>
                </div>
            </div>
        </div>

    </body>
</html>
