



<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset=UTF-8>
  <!-- modernizr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title>Messenger Bags & Laptop Bags | Footwear & Apparel | Chrome Industries</title>

  <link href="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/default/dwa554e42c/images/favicon.ico" rel="shortcut icon" />
  <meta name="description" content="Messenger Bags, Backpacks, Laptop Bags, Footwear and Apparel"/>
  <meta name="keywords" content=""/>
  <!--[if lte IE 8]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js" type="text/javascript"></script>
  <script src="https://cdn.rawgit.com/chuckcarpenter/REM-unit-polyfill/master/js/rem.min.js" type="text/javascript"></script>
  <![endif]-->

  <!-- HTML head device: desktop -->


  <link href="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/en_US/v1487020524998/css/chrome.desktop.min.css" type="text/css" rel="stylesheet" />
  <!--[if lt IE 9]>
  <script src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/en_US/v1487020524998/js/lib/html5.js"></script>
  <![endif]-->
	<script type="text/javascript" src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na_catalog/en_US/v1487020524998/pwr/engine/js/full.js"></script>
	<script type="text/javascript">
		var powerreview = function(element){
			var prDiv = document.getElementById(element),
				pwr;

			if (prDiv){
				pwr = {
						write : function(content){
							var prDiv = document.getElementById(element);
							prDiv.innerHTML =  prDiv.innerHTML + content;
						}
				};
			} else {
				pwr = null;
			}

			return pwr;
		}

		var pr_site_id = "1";

			var pr_locale = "en_US";


			var pr_zip_location = "http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na_catalog/en_US/v1487020524998";

		var pr_style_sheet = "";
	</script>

  <script type="text/javascript">//<!--
  /* <![CDATA[ (head-active_data.js) */
  var dw = (window.dw || {});
  dw.ac = {
    _analytics: null,
    _events: [],
    _category: "",
    _capture: function(configs) {
        if (Object.prototype.toString.call(configs) === "[object Array]") {
            configs.forEach(captureObject);
            return;
        }
        dw.ac._events.push(configs);
    },
    capture: function() { dw.ac._capture(arguments); },
    EV_PRD_SEARCHHIT: "searchhit",
    EV_PRD_DETAIL: "detail",
    EV_PRD_RECOMMENDATION: "recommendation",
    EV_PRD_SETPRODUCT: "setproduct",
    applyContext: function(context) {
        if (typeof context === "object" && context.hasOwnProperty("category")) {
        	dw.ac._category = context.category;
        }
    },
    setDWAnalytics: function(analytics) {
        dw.ac._analytics = analytics;
    }
  };
  /* ]]> */
  // -->
  </script><script type="text/javascript">//<!--
  /* <![CDATA[ (head-cquotient.js) */
  var CQuotient = window.CQuotient = {};
  CQuotient.clientId = 'bbcf-chrome_na';
  CQuotient.activities = [];
  CQuotient.cqcid='';
  CQuotient.cquid='';
  CQuotient.initFromCookies = function () {
	   var ca = document.cookie.split(';');
	    for(var i=0;i < ca.length;i++) {
	       var c = ca[i];
	        while (c.charAt(0)==' ') c = c.substring(1,c.length);
	         if (c.indexOf('cqcid=') == 0) {
		           CQuotient.cqcid=c.substring('cqcid='.length,c.length);
	            } else if (c.indexOf('cquid=') == 0) {
		              CQuotient.cquid=c.substring('cquid='.length,c.length);
		  break;
	   }
	  }
  }
  CQuotient.getCQCookieId = function () {
	   if(window.CQuotient.cqcid == '')
		   window.CQuotient.initFromCookies();
	  return window.CQuotient.cqcid;
  };
  CQuotient.getCQUserId = function () {
	   if(window.CQuotient.cquid == '')
		   window.CQuotient.initFromCookies();
	  return window.CQuotient.cquid;
  };
  /* ]]> */
  // -->
  </script>
  <link rel="canonical" href="http://www.chromeindustries.com/"/>
</head>


<body>
  <div id="google-tag-manager" data-currency-code="USD" data-group-id=""></div>

    <script language="javascript">
	   window.dataLayer = window.dataLayer || []
	    dataLayer.push({'currencyCode': 'USD', 'visitorType': 'Unregistered', 'groupId': '', 'uid': 'OZA7HuAkdyEjYjC988LtcoNz4RviiWEFKPs=', 'sourceCode': ''});

	   if (false){
		     dataLayer.push();
	      }

	    if (false){
		      dataLayer.push();
	       }
    </script>

    <!-- Google Tag Manager -->
    <noscript><iframe src='//www.googletagmanager.com/ns.html?id='GTM-KW5Z68'' width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
	   (
		     function(w,d,s,l,i){
			    w[l]=w[l]||[];
			    w[l].push({
				'gtm.start': new Date().getTime(),
				event:'gtm.js'});
			var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),
				dl=l!='dataLayer'?'&l='+l:'';
			j.async=true;
			j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
			f.parentNode.insertBefore(j,f);
		  }
	   )
	    (window,document,'script','dataLayer', 'GTM-KW5Z68');
    </script>
    <!-- End Google Tag Manager -->
    <div id="preloader">
    <div class="preloader-content">
    <img src="https://d1incs6u78vmtc.cloudfront.net/logos/Chrome_Logo_Header.svg" class="svg" alt="logo">
    <div class="pulsing-dot"></div>
    </div>
  </div>
  <main id="main" class="pt_storefront">
<!-- Header device: desktop -->
<header id="mobile-header" class="mobile-header">
  <div class="menu-btn-wrapper tablet-content">
    <a href="javascript:;" class="toggle--mobile-nav">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
        <rect x="11" y="12" width="18" height="2" fill="#fff"/>
        <rect x="11" y="19" width="18" height="2" fill="#fff"/>
        <rect x="11" y="26" width="18" height="2" fill="#fff"/>
      </svg>
    </a>
  </div>
  <a href="/" class="logo-header mobile-logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="115" height="38" baseProfile="tiny">
      <path fill="#CC092F" d="M0-.07h114.69V38H0z"/>
      <path fill="#FFF" d="M90.2 10.4l-3.59 8.33-3.63-8.57V7.37h-3.63v22.97h3.63V19.77l2.29 5.49 2.68.01 2.25-5.4v10.47h3.65V7.37H90.2v3.03zM28.44 30.35h10.6v-5.31H35.4v1.55h-3.32V11.17h3.32v1.84h3.64V7.37h-10.6v22.98zm78.59-17.34V7.37H96.4v9.43h-1.22v3.81h1.22v9.73l10.6.01v-5.3h-3.63v1.55h-3.32v-6h5.89v-3.8h-5.89v-5.63h3.35v1.84h3.63zM66.76 30.34h10.6V7.37h-10.6v22.97zm3.65-19.17h3.32v15.42h-3.32V11.17zM47.89 16.8h-3.23V7.37h-3.63v9.43h-1.22v3.81h1.22v9.73h3.63v-9.75h3.23v9.75h3.63V7.37h-3.63v9.43zm14.51 3.43l2.19-2.43V7.37h-10.6v9.43H52.8v3.81h1.22v9.73h3.64v-9.7h1.33l3.26 9.69h2.87v-2.16l-2.72-7.94zm-1.46-3.39h-3.32v-5.68h3.32v5.68zm-36.8 11.41h-1.49l-.26-7.46.8-2.07.03-.06v-.06l.03-2.06v-.29l-.28-.07-2.79-.7-.71-1.58.49-.9.33-.12.45.19.36.46.2.26.27-.19.55-.36.41-.26.78-.38.07-.03.04-.06.19-.22.14-.16-.07-.2-.17-.48-.06-.52-.01-.07-.03-.06-.46-.88v-.58l-.1-.1L21.63 8l-.12-.12-.17.01-1.3.11.09-.28.07-.23-.17-.16-.54-.48-.15-.13-.19.04-2.35.6-.51.13.04.06-.22.22-1.16 1.17-.04.04-.03-.03-.08.15-.1.1.03.03-.09.15-.59 1.13-.13.25.07.07-.06.2-.29.97-.06-.03-.06.58-.06.61-.03-.01.01.23-.03.23.04.01v.12l.01.25-.62-3.32-.01-.09-.1-.09-1.71-2.03L9.3 5.33l-.45-.82-.22.91-1.22 5.13-.01.07-.2-.06.17.61.81 2.97-.13-.02.16.61.75 2.85.01.07-.04.01.07.1.03.12h.04l.16.23 1.09 1.55.01.03-.09.04.45.35.87.67-1.74 1.91-.06.07-.03.09-.83 3.35-.01.06v.06l.3 4.08.03.33h.33l5.56.04h3.31v-2.31h-3.05l.81-1.35.03-.06.01-.06.39-1.88.09.01.1-.04 2.1-.81.59.64 1.01 5.42.06.3h3.89v-2.31h-.35v-.04z"/>
      <path d="M22.3 28.62l-.27-7.89.81-2.13.03-2.06-2.97-.74-.85-1.91.65-1.17.59-.2.67.28.42.54.55-.36-.69-.59.49-.3.48.7.96-.45.19-.22-.19-.52-.06-.56-.51-.96v-.56l-1.22-1.25-1.86.13.27-.8-.54-.48-2.35.6 1.07 1.59-.35.2-1.25-1.49-1.15 1.18 1.25 1.32-.23.29-1.26-1.26-.62 1.13 1.19 1.1-.17.3-1.1-.96-.3 1 1.03.71-.14.35-.97-.61-.09.8.85.36-.13.32-.71-.33.03.67 1.59.2 2.16.29 1.4 1.07-.22 1.71-.84.29-.25-.32.75-.27.09-1.26-1.11-.81-2.06-.29-1.69-.19-.54-.55-.67-3.55-1.72-2.06L8.99 5.5l-1.22 5.13 2.39.75-.12.33-2.33-.64.81 3 2.03.64.12.48-2.11-.58.75 2.85 1.69-.25.22.33-1.66.36 1.09 1.55 1.55-.72.27.23-1.52.83 1.16.88 1.19-.97.33.22-1.06.94 1.29.4.68-.77.33.14-.61.83.8.27 1.11-1.2.29.17-1.33 1.39-3.24-1.12-1.75 1.91-.83 3.34.3 4.08 5.56.04h1.75v-.9h.35v.9h.25v-.9h.35v.9h.28v-1.59H15.2l-.35-.04 1.1-1.85.38-1.86-1.06-.22-.68.13-.09-.32.77-.14 1.46.26 2.33-.91.84.88 1.03 5.53h2.09v-.69h.35v.69h.25v-.69h.35v.69h.2v-1.59H22.3zm-.58-18.5c.19 0 .35.16.35.35 0 .19-.16.35-.35.35-.19 0-.35-.16-.35-.35 0-.2.16-.35.35-.35z"/>
    </svg>
  </a>
  <a href="/" class="logo-header tablet-logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="151" height="50" baseProfile="tiny">
      <path fill="#CC092F" d="M0 0h151.165v50.18H0V0z"/>
      <path fill="#FFF" d="M118.887 13.8l-4.732 10.98-4.782-11.296V9.806h-4.786V40.08h4.786V26.148l3.018 7.236 3.54.014 2.97-7.117v13.8h4.81V9.81h-4.81v3.99zM37.485 40.094h13.97v-6.998H46.66v2.043h-4.377V14.81h4.376v2.425h4.79v-7.43H37.48v30.288zM141.068 17.24V9.806H127.06v12.43h-1.61v5.02h1.61V40.08l13.97.014v-6.986h-4.783v2.044h-4.377v-7.908h7.764v-5.008h-7.764v-7.42h4.417v2.425h4.78zM87.99 40.08h13.973V9.806H87.99V40.08zm4.814-25.266h4.376v20.324h-4.376V14.814zm-29.683 7.42h-4.25V9.807h-4.79v12.43h-1.61v5.02h1.61V40.08h4.79V27.23h4.26v12.85h4.79V9.806h-4.79v12.43zm19.13 4.522l2.89-3.203V9.806H71.17v12.43H69.6v5.02h1.61V40.08H76V27.297h1.753l4.296 12.77h3.78V37.22l-3.58-10.464zm-1.92-4.468h-4.38v-7.486h4.38v7.486zm-48.51 15.04h-1.96l-.34-9.834 1.06-2.728.04-.08v-.08l.04-2.714v-.382l-.37-.092-3.676-.923-.937-2.083.647-1.186.44-.158.593.25.475.606.266.343.356-.25.725-.476.54-.34 1.025-.5.09-.04.058-.08.25-.29.19-.21-.09-.26-.225-.63-.08-.68-.012-.09-.04-.08-.607-1.16v-.77l-.13-.13-1.61-1.632-.16-.16-.22.015-1.713.146.12-.37.093-.304-.23-.21-.71-.632-.2-.17-.25.054-3.096.79-.672.173.055.08-.29.29-1.53 1.54-.054.053-.04-.04-.105.2-.13.13.04.04-.12.194-.778 1.49-.17.33.092.09-.08.264-.383 1.27-.08-.04-.08.765-.08.806-.036-.012.01.3-.037.307.05.01v.16l.01.33-.817-4.378-.01-.12-.134-.12-2.253-2.675-2.275-4.13-.594-1.08-.29 1.2-1.606 6.76-.01.094L9.5 14l.225.802 1.068 3.913-.17-.027.21.804.99 3.752.013.093-.053.014.094.13.04.16h.054l.21.3L13.62 26l.015.038-.12.056.593.46 1.146.883-2.295 2.517-.08.094-.04.12-1.1 4.414-.02.08v.078l.394 5.378.04.437h.435l7.33.052h4.36v-3.05h-4.02l1.07-1.777.04-.082.013-.075.514-2.48.12.015.13-.055 2.77-1.065.775.844 1.33 7.142.08.396h5.13v-3.04h-.46v-.053h.05z"/>
      <path d="M29.392 37.814l-.355-10.4 1.067-2.806.04-2.715-3.914-.976-1.12-2.518.856-1.55.777-.27.883.37.554.71.725-.478-.91-.777.647-.394.633.924 1.265-.59.25-.29-.25-.69-.08-.737-.67-1.266v-.74l-1.61-1.65-2.45.17.355-1.05-.712-.633-3.097.796 1.41 2.093-.46.26-1.647-1.964-1.52 1.556 1.65 1.74-.31.38-1.66-1.66-.82 1.49 1.56 1.45-.225.394-1.45-1.263-.396 1.32 1.36.936-.184.46-1.28-.805-.12 1.06 1.12.476-.17.42-.934-.434.04.88 2.095.264 2.85.383 1.845 1.41-.29 2.253-1.106.38-.33-.42.99-.355.12-1.66-1.465-1.07-2.72-.382-2.23-.25-.71-.724-.882-4.68-2.27-2.717-2.3-4.15-1.607 6.762 3.15.99-.156.434-3.07-.846 1.068 3.96 2.675.84.16.63-2.78-.766.987 3.76 2.23-.33.29.44-2.19.473 1.44 2.046 2.047-.95.358.304-2.004 1.094 1.53 1.16 1.564-1.28.436.29-1.396 1.24 1.7.524.898-1.017.437.187-.806 1.094 1.053.357 1.46-1.58.38.227-1.75 1.83-4.27-1.477-2.31 2.514-1.094 4.4.396 5.377 7.33.053h2.306v-1.19h.46v1.185h.33v-1.17h.46v1.185h.37v-2.09h-3.89l-.46-.053 1.45-2.44.5-2.45-1.397-.29-.895.17-.12-.42 1.016-.186 1.928.35 3.07-1.2 1.107 1.16 1.36 7.28h2.754V39h.46v.91h.33V39h.46v.91h.26v-2.096H29.4zm-.764-24.383c.25 0 .46.21.46.47 0 .25-.21.46-.46.46s-.46-.21-.46-.46c0-.26.21-.46.46-.46z"/>
    </svg>
  </a>
  <!-- tablet header nav -->
  <ul class="auxiliary-nav">
    <li>
      <a href="javascript:;" class="toggle--search" title="Search"></a>
    </li>
    <li>
      <div class="mini-cart display-inline">

<!-- Report any requested source code -->

<!-- Report the active source code -->

        <a href="https://www.chromeindustries.com/cart/" class="toggle--shopping-cart">
          <span class="mini-cart-label">Cart</span>
          <span class="product-count empty-cart">0</span>
        </a>
      </div>
    </li>
    <li>
      <a href="javascript:;" class="toggle--mobile-nav">
        Menu
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <rect x="11" y="12" width="18" height="2" fill="#fff"/>
          <rect x="11" y="19" width="18" height="2" fill="#fff"/>
          <rect x="11" y="26" width="18" height="2" fill="#fff"/>
        </svg>
      </a>
    </li>
  </ul>
  <nav class="sticky-scroll-accordion scroll-container">
    <ul class="main-nav sticky-scroll">
      <li>

        <a href="javascript:;" class="toggle-accordion">
          <span>Bags</span>
        </a>

        <ul class="sub-nav accordion-content">
          <div class="content-asset"><!-- dwMarker="content" dwContentID="b5dd4e68cfd9ea270a04fff57a" -->

            <li>
              <a href="http://www.chromeindustries.com/new-arrivals/">New Arrivals</a>
            </li>

            <li>
              <a href="http://www.chromeindustries.com/bags/backpacks/">Backpacks</a>
            </li>

            <li>
              <a href="http://www.chromeindustries.com/bags/messenger-bags/">Messenger Bags</a>
            </li>

            <li>
              <a href="http://www.chromeindustries.com/bags/travel-bags/">Travel Bags</a>
            </li>

            <li>
              <a href="http://www.chromeindustries.com/bags/sling-bags/">Sling Bags</a>
            </li>

            <li>
              <a href="http://www.chromeindustries.com/bags/camera-bags/">Camera Bags</a>
            </li>

            <li>
              <a href="http://www.chromeindustries.com/accessories/">Accessories</a>
            </li>

            <li>
              <a href="http://www.chromeindustries.com/bags/limited-edition-bags/">Limited Edition Bags</a>
            </li>

            <li>
              <a href="http://www.chromeindustries.com/sale/">Sale</a>
            </li>

            <li>
              <a href="http://www.chromeindustries.com/bags/all/">View All Bags</a>
            </li>

          </div> <!-- End content-asset -->
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="toggle-accordion">
          <span>Clothing</span>
        </a>
        <ul class="sub-nav accordion-content">
          <div class="content-asset"><!-- dwMarker="content" dwContentID="7c1f9e8c487bec7d0553ef501d" -->
            <li><a href="http://www.chromeindustries.com/new-arrivals/">New Arrivals</a></li>
            <li><a href="http://www.chromeindustries.com/clothing/woven-shirts/">Woven Shirts</a></li>
            <li><a href="http://www.chromeindustries.com/clothing/pants-and-shorts/">Pants & Shorts</a></li>
            <li><a href="http://www.chromeindustries.com/clothing/outerwear-and-jackets/">Outerwear & Jackets</a></li>
            <li><a href="http://www.chromeindustries.com/clothing/tees/">Tees</a></li>
            <li><a href="http://www.chromeindustries.com/clothing/sweatshirts/">Sweatshirts</a></li>
            <li><a href="http://www.chromeindustries.com/accessories/">Accessories</a></li>
            <li><a href="http://www.chromeindustries.com/sale/">Sale</a></li>
            <li><a href="http://www.chromeindustries.com/clothing/all/">View All</a></li>
          </div> <!-- End content-asset -->
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="toggle-accordion">
          <span>Footwear</span>
        </a>
        <ul class="sub-nav accordion-content">
          <div class="content-asset"><!-- dwMarker="content" dwContentID="4fadc4e682b524d4333868519c" -->
            <li><a href="http://www.chromeindustries.com/new-arrivals/">New Arrivals</a></li>
            <li><a href="http://www.chromeindustries.com/footwear/sneakers/">Sneakers</a></li>
            <li><a href="http://www.chromeindustries.com/footwear/boots/">Boots</a></li>
            <li><a href="http://www.chromeindustries.com/footwear/bike-shoes/">Bike Shoes</a></li>
            <li><a href="http://www.chromeindustries.com/footwear/socks/">Socks</a></li>
            <li><a href="http://www.chromeindustries.com/accessories/">Accessories</a></li>
            <li><a href="http://www.chromeindustries.com/sale/">Sale</a></li>
            <li><a href="http://www.chromeindustries.com/footwear/all/">View All</a></li>
          </div> <!-- End content-asset -->
        </uL>
      </li>
      <li>
        <a href="javascript:;" class="toggle-accordion">
          <span>Our Cities</span>
        </a>
        <ul class="sub-nav accordion-content">
          <div class="content-asset"><!-- dwMarker="content" dwContentID="81c884ccabe20b8e2e75c184f1" -->
            <li><a href="http://www.chromeindustries.com/city-detail-san-francisco.html">San Francisco</a></li>
            <li><a href="http://www.chromeindustries.com/city-detail-portland.html">Portland</a></li>
            <li><a href="http://www.chromeindustries.com/city-detail-seattle.html">Seattle</a></li>
            <li><a href="http://www.chromeindustries.com/city-detail-denver.html">Denver</a></li>
            <li><a href="http://www.chromeindustries.com/city-detail-chicago.html">Chicago</a></li>
            <li><a href="http://www.chromeindustries.com/city-detail-washington-dc.html">Washington DC</a></li>
            <li><a href="http://www.chromeindustries.com/city-detail-new-york.html">New York</a></li>
          </div> <!-- End content-asset -->
        </uL>
      </li>
      <li>
        <a href="javascript:;" class="toggle-accordion">
          <span>Inside Chrome</span>
        </a>
        <ul class="sub-nav accordion-content">
        <div class="content-asset"><!-- dwMarker="content" dwContentID="749ce7537e648a7b568ae6dddc" -->
          <li><a href="http://www.chromeindustries.com/our-story.html">Our Story</a></li>
          <li><a href="http://www.chromeindustries.com/blog/">Chrome Blog</a></li>
          <li><a href="http://www.chromeindustries.com/familia.html">Chrome Familia</a></li>
          <li><a href="http://www.chromeindustries.com/collections/">Collections</a></li>
          <li><a href="http://www.chromeindustries.com/team-cinelli.html">Team Cinelli Chrome</a></li>
        </div> <!-- End content-asset -->
      </uL>
    </li>
  </ul>
  <ul class="meta-nav">
    <li><a href="https://www.chromeindustries.com/login/">Sign in</a></li>
    <li><a href="/help/">Support</a></li>
    <li><a href="https://www.chromeindustries.com/stores/" title="Locate Stores">Store Location</a></li>
    <li><a href="javascript:;" class="toggle--regions">USA +</a></li>
  </ul>
  <ul class="meta-nav information">
    <li><a href="tel:866-226-2470" class="phone">866-226-2470</a></li>
    <li><span class="hours">M - F 8AM-5PM PST</span></li>
  </ul>
  </nav>

  <div class="search-overlay">
    <form class="suppress" action="/search/" method="get">
      <div class="prefetch">
        <input type="text" placeholder="Search for products" id="site-search-input" name="q">
      </div>
      <a href="javascript:;" class="close-search icon-close">X</a>
    </form>
    <div class="search-results">
      <div class="container">
        <!-- ajax search results here -->
      </div>
    </div>
  </div>
</header>

<header id="header" class="scroll-hide">
  <div class="header-background2" data-skrollex data-sk-direction-y='-200' data-sk-duration="1" data-animate data-sk-no-opacity>&nbsp;</div>
  <a href="/" title="Chrome Industries Home" class="logo-header" data-skrollex data-animate data-delay="0.6" data-sk-direction-y="-300">
    <img src="https://d1incs6u78vmtc.cloudfront.net/logos/mobile-logo-header.svg" alt="Chrome Industries" class="logo-header--small">
    <img src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/default/dw7fe7fe39/images/logos/logo-header.svg" alt="Chrome Industries" class="logo-header--big">
    <span class="visually-hidden">Chrome Industries</span>
  </a>
  <div class="primary-wrapper">
    <div class="search-overlay">
      <form class="suppress" action="/search/" method="get">
        <span class="icon-search"></span>
        <div class="prefetch">
          <input type="text" placeholder="Search for products" id="site-search-input" name="q">
        </div>
        <a href="javascript:;" class="close-search icon-close">X</a>
      </form>
      <div class="search-results">
        <div class="container">
          <!-- ajax search results here -->
        </div>
      </div>
    </div>
    <div class="header-inner">
      <nav id="utility-nav" data-skrollex data-animate data-delay="0.1">
        <span class="h10">
          <div class="html-slot-container">
            FREE GROUND SHIPPING ON ALL ORDERS
            <style>.mini-cart-content { display: none; }
            /* fix for guest checkout link */
            .checkoutlogin {margin-top: 50px }
            </style>
          </div>
	       </span>
         <!-- utility user menu -->
         <ul>
           <li>
             <a href="javascript:;" class="toggle--regions">+ USA</a>
           </li>
           <li>
             <a href="http://www.chromeindustries.com/stores/" title="Locate Stores">
               <span>Store Locator</span>
             </a>
           </li>
           <li>
             <a href="/help/">Support</a>
           </li>
           <li>
             <a href="https://www.chromeindustries.com/login/">Sign in</a>
           </li>
         </ul>
       </nav>
       <nav id="main-nav">
         <ul>
           <li>
             <a class="link-tracking" href="/bags/" data-skrollex data-animate data-delay="0.4" data-sk-direction-y="20" data-gtm-page="Global" data-gtm-module="Main Nav" data-gtm-link="Bags">
               Bags
             </a>
             <ul class="submenu megamenu">
               <li class="container text-align-center">
                 <div class="content-asset"><!-- dwMarker="content" dwContentID="7b0614cb86b3c8e5034115790c" -->
                   <div class="row no-gutter sub-cat-menu">
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/bags/backpacks/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="sub categories" data-gtm-link="bags | backpacks">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw02d6783c/assets/global/navigation/homepage_header_bags_icon_backpacks.jpg" alt="Backpacks">
                         <span class="h9">Backpacks</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/bags/messenger-bags/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="sub categories" data-gtm-link="bags | messenger bags">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw0a1a7529/assets/global/navigation/homepage_header_bags_icon_messenger.jpg" alt="Messenger Bags">
                         <span class="h9">Messenger Bags</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/bags/travel-bags/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="sub categories" data-gtm-link="bags | travel bags">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw5e00036b/assets/global/navigation/homepage_header_bags_icon_travel.jpg" alt="Travel Bags">
                         <span class="h9">Travel Bags</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/bags/sling-bags/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="sub categories" data-gtm-link="bags | sling bags">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw1ac99ac8/assets/global/navigation/homepage_header_bags_icon_sling.jpg" alt="Sling Bags">
                         <span class="h9">Sling Bags</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/bags/camera-bags/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="sub categories" data-gtm-link="bags | camera bags">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw410debfe/assets/global/navigation/homepage_header_bags_icon_camera.jpg" alt="Camera Bags">
                         <span class="h9">Camera Bags</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/accessories/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="sub categories" data-gtm-link="bags | accessories">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw85f0a778/assets/global/navigation/homepage_header_bags_icon_pouches.jpg" alt="Accessories">
                         <span class="h9">Accessories</span>
                       </a>
                     </div>
                   </div>

                   <div class="row menu-wildcards">
                     <div class="columns-4 menu-wildcard-item">
                       <a href="http://www.chromeindustries.com/bags/limited-edition-bags/" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="featured" data-gtm-link="bags | limited edition bags">
                         <span class="h8">Limited Edition Bags</span>
                         <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw0d22c431/assets/global/navigation/homepage_header_bags_promo_box_sale.jpg"></figure>
                       </a>
                     </div>
                     <div class="columns-4 menu-wildcard-item">
                       <a href="http://www.chromeindustries.com/collections/weatherproof-collection/" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="featured" data-gtm-link="bags | weatherproof collection">
                         <span class="h8">Weatherproof Collection</span>
                         <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw7bac9e25/assets/global/navigation/homepage_header_bags_promo_box_weatherproof.jpg"></figure>
                       </a>
                     </div>
                     <div class="columns-4 menu-wildcard-item">
                       <a href="http://www.chromeindustries.com/sale/" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="featured" data-gtm-link="bags | sale">
                         <span class="h8">Shop Sale</span>
                         <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw0d22c431/assets/global/navigation/homepage_header_bags_promo_box_sale.jpg"></figure>
                       </a>
                     </div>
                     <div class="columns-4 menu-wildcard-item">
                       <a href="http://www.chromeindustries.com/bags/all/" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="bags" data-gtm-module="featured" data-gtm-link="bags | view all bags">
                         <span class="h8">View All Bags</span>
                         <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw1f09d417/assets/global/navigation/homepage_header_bags_promo_box_all.jpg"></figure>
                       </a>
                     </div>
                   </div>
                 </div> <!-- End content-asset -->
               </li>
             </ul>
           </li>
           <li>
             <a class="link-tracking" href="/clothing/" data-skrollex data-animate data-delay="0.4" data-sk-direction-y="20" data-gtm-page="Global" data-gtm-module="Main Nav" data-gtm-link="Clothing">
               Clothing
             </a>
             <ul class="submenu megamenu">
               <li class="container text-align-center">
                 <div class="content-asset"><!-- dwMarker="content" dwContentID="b28368a4f424e611a5b01a6b65" -->
                   <div class="row no-gutter sub-cat-menu">
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/clothing/woven-shirts/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="clothing" data-gtm-module="sub categories" data-gtm-link="clothing | woven_shirts">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw4a9bc117/assets/global/navigation/homepage_header_clothing_icons_woven_shirts.jpg" alt="Woven Shirts">
                         <span class="h9">Woven Shirts</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/clothing/pants-and-shorts/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="clothing" data-gtm-module="sub categories" data-gtm-link="clothing | pants_shorts">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwbe8237ba/assets/global/navigation/homepage_header_clothing_icons_pants_and_shorts.jpg" alt="Pants & Shorts">
                         <span class="h9">Pants & Shorts</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/clothing/tees/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="clothing" data-gtm-module="sub categories" data-gtm-link="clothing | tees">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwa55bc26e/assets/global/navigation/homepage_header_clothing_icons_tees.jpg" alt="Tees">
                         <span class="h9">Tees</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/clothing/outerwear-and-jackets/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="clothing" data-gtm-module="sub categories" data-gtm-link="clothing | outerwear_jackets">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw418794b4/assets/global/navigation/homepage_header_clothing_icons_outerwear.jpg" alt="Outerwear & Jackets">
                         <span class="h9">Outerwear & Jackets</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/clothing/sweatshirts/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="clothing" data-gtm-module="sub categories" data-gtm-link="clothing | sweatshirts">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwabb5cceb/assets/global/navigation/homepage_header_clothing_icons_sweatshirts.jpg" alt="Sweatshirts">
                         <span class="h9">Sweatshirts</span>
                       </a>
                     </div>
                     <div class="columns-6 sub-cat-menu-item">
                       <a href="http://www.chromeindustries.com/accessories/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="accessories" data-gtm-module="sub categories" data-gtm-link="clothing | accessories">
                         <img data-lazy-load-img-src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw92c2e73a/assets/global/navigation/homepage_header_clothing_icons_hats.jpg" alt="Accessories">
                         <span class="h9">Accessories</span>
                       </a>
                     </div>
                   </div>

                   <div class="row menu-wildcards">
                     <div class="columns-4 menu-wildcard-item">
                       <a href="http://www.chromeindustries.com/new-arrivals/" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="clothing" data-gtm-module="featured" data-gtm-link="clothing | new_arrivals">
                         <span class="h8">New Arrivals</span>
                         <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwd6ca5470/assets/global/navigation/homepage_header_clothing_promo_box_new.jpg"></figure>
                       </a>
                     </div>

                     <div class="columns-4 menu-wildcard-item">
                       <a href="http://www.chromeindustries.com/collections/weatherproof-collection/" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="clothing" data-gtm-module="featured" data-gtm-link="clothing | weatherproof collection">
                         <span class="h8">Weatherproof Collection</span>
                         <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw7bac9e25/assets/global/navigation/homepage_header_bags_promo_box_weatherproof.jpg"></figure>
                       </a>
                     </div>

                     <div class="columns-4 menu-wildcard-item">
                       <a href="http://www.chromeindustries.com/sale/" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="clothing" data-gtm-module="featured" data-gtm-link="clothing | sale">
                         <span class="h8">Shop Sale</span>
                         <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw1a7ece4c/assets/global/navigation/homepage_header_clothing_promo_box_sale.jpg"></figure>
                       </a>
                     </div>

                     <div class="columns-4 menu-wildcard-item">
                       <a href="http://www.chromeindustries.com/clothing/all/" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="clothing" data-gtm-module="featured" data-gtm-link="clothing | view_all_clothing">
                         <span class="h8">View All Clothing</span>
                         <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw5bf0e909/assets/global/navigation/homepage_header_clothing_promo_box_all.jpg"></figure>
                       </a>
                     </div>
                   </div>
                 </div> <!-- End content-asset -->
               </li>
             </ul>
           </li>

           <li>
             <a class="link-tracking" href="/city-detail-san-francisco.html" data-skrollex data-animate data-delay="0.4" data-sk-direction-y="20" data-gtm-page="Global" data-gtm-module="Main Nav" data-gtm-link="Our Cities">
               线下门店
             </a>
             <ul class="submenu megamenu sm--our-cities">
               <li class="container">
                 <div class="content-asset"><!-- dwMarker="content" dwContentID="6e599e629fd936c5f2044858c0" -->
                 <style>
                 #main-nav>ul>li>.submenu.megamenu>li.container .megamenu-buckets .megamenu-bucket-item {
                   white-space:nowrap;
                 }
                 </style>

                 <div class="row no-pm">
                   <div class="megamenu-bucket-header">
                     <h6>Explore the <span class="highlight">cities of chrome</span></h6>
                     <p>Each of our Chrome Hubs embodies the spirit of their city. From our custom sewers to local events, our Hubs are the center of our commitment to Living the City.</p>
                     <a href="http://www.chromeindustries.com/city-detail-san-francisco.html" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="our cities" data-gtm-module="featured" data-gtm-link="view all cities">View All Cities</a>
                   </div>

                   <div class="megamenu-buckets">
                     <div class="megamenu-bucket-item">
                       <a href="http://www.chromeindustries.com/city-detail-san-francisco.html" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="our cities" data-gtm-module="featured" data-gtm-link="our cities | san_francisco">
                         <span class="h8">北京</span>
                         <figure class="bg-cover bg-no-repeat bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwf4830d72/assets/global/navigation/homepage_header_Cities_Box_Links_SF.jpg"></figure>
                       </a>
                     </div>
                     <div class="megamenu-bucket-item">
                       <a href="http://www.chromeindustries.com/city-detail-new-york.html" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="our cities" data-gtm-module="featured" data-gtm-link="our cities | new_york">
                         <span class="h8">上海</span>
                         <figure class="bg-cover bg-no-repeat bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwdff608fb/assets/global/navigation/homepage_header_Cities_Box_Links_NY.jpg"></figure>
                       </a>
                     </div>
                     <div class="megamenu-bucket-item">
                       <a href="http://www.chromeindustries.com/city-detail-denver.html" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="our cities" data-gtm-module="featured" data-gtm-link="our cities | denver">
                         <span class="h8">深圳</span>
                         <figure class="bg-cover bg-no-repeat bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw120034f4/assets/global/navigation/homepage_header_Cities_Box_Links_denver.jpg"></figure>
                       </a>
                     </div>
                     <div class="megamenu-bucket-item">
                       <a href="http://www.chromeindustries.com/city-detail-seattle.html" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="our cities" data-gtm-module="featured" data-gtm-link="our cities | seattle">
                         <span class="h8">广州</span>
                         <figure class="bg-cover bg-no-repeat bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw4ee93631/assets/global/navigation/homepage_header_Cities_Box_Links_seattle.jpg"></figure>
                       </a>
                     </div>
                     <div class="megamenu-bucket-item">
                       <a href="http://www.chromeindustries.com/city-detail-portland.html" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="our cities" data-gtm-module="featured" data-gtm-link="our cities | san_francisco">
                         <span class="h8">厦门</span>
                         <figure class="bg-cover bg-no-repeat bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw977e8640/assets/global/navigation/homepage_header_Cities_Box_Links_PDX.jpg"></figure>
                       </a>
                     </div>
                     <div class="megamenu-bucket-item">
                       <a href="http://www.chromeindustries.com/city-detail-chicago.html" class="link-overlay slide link-tracking" data-gtm-category="top navigation click" data-gtm-page="our cities" data-gtm-module="featured" data-gtm-link="our cities | chicago">
                         <span class="h8">杭州</span>
                         <figure class="bg-cover bg-no-repeat bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw44548e8d/assets/global/navigation/homepage_header_Cities_Box_Links_chicago.jpg"></figure>
                       </a>
                     </div>
                   </div>
                 </div>
               </div> <!-- End content-asset -->
             </li>
           </ul>
         </li>

         <li>
           <a class="link-tracking" href="/our-story.html" data-skrollex data-animate data-delay="0.4" data-sk-direction-y="20" data-gtm-page="Global" data-gtm-module="Main Nav" data-gtm-link="Inside Chrome">
             关于我们
           </a>
           <ul class="submenu megamenu sm--inside-chrome">
             <li class="container">







               <div class="content-asset"><!-- dwMarker="content" dwContentID="c2c7ed96315945370501194134" -->
                 <ul class="row">
                   <li class="columns-2 our-story-item">
                     <a href="http://www.chromeindustries.com/our-story.html" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="inside_chrome" data-gtm-module="sub categories" data-gtm-link="our story | inside_chrome">
                       <h6 class="brand-slogan">
                         专业 <br>
                         激情 <br>
                         多元 <br>
                         <span class="highlight">始于 2017</span>
                       </h6>
                       <figure data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw18ae0541/assets/global/navigation/homepage_header_inside_chrome_boxes_story.jpg">
                       </figure>
                       <span class="figure-caption">
                         <span class="h9">我们的故事</span>
                         <p class="small">超过20年的技术沉淀</p>
                       </span class="caption">
                     </a>
                   </li>

                   <li class="columns-2">
                     <div class="megamenu-buckets">
                       <div class="megamenu-bucket-item">
                         <a href="http://www.chromeindustries.com/blog/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="inside_chrome" data-gtm-module="sub categories" data-gtm-link="inside chrome | chrome_blog">
                           <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw27ea3024/assets/global/navigation/homepage_header_inside_chrome_boxes_blog.jpg">
                           </figure>

                           <figcaption>
                             <span class="h9">酷跑大事记</span>
                             <p class="small">成长与成就，我们一直在路上</p>
                           </figcaption>

                         </a>
                       </div>
                       <div class="megamenu-bucket-item">
                         <a href="http://www.chromeindustries.com/familia.html" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="inside_chrome" data-gtm-module="sub categories" data-gtm-link="our story | chrome_familia">
                           <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwb9b49b01/assets/global/navigation/homepage_header_inside_chrome_boxes_familia.jpg">
                           </figure>

                           <figcaption>
                             <span class="h9">团队成员</span>
                             <p class="small">前所未有的技术支持和顾问，来自酷跑</p>
                           </figcaption>

                         </a>
                       </div>
                       <div class="megamenu-bucket-item">
                         <a href="http://www.chromeindustries.com/collections/" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="inside_chrome" data-gtm-module="sub categories" data-gtm-link="our story | collections">
                           <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwfbf0a3a0/assets/global/navigation/homepage_header_inside_chrome_boxes_collections.jpg">
                           </figure>

                           <figcaption>
                             <span class="h9">关于酷跑</span>
                             <p class="small">一个为爱车人打造的专业电商平台</p>
                           </figcaption>

                         </a>
                       </div>
                       <div class="megamenu-bucket-item">
                         <a href="http://www.chromeindustries.com/team-cinelli.html" class="link-tracking" data-gtm-category="top navigation click" data-gtm-page="inside_chrome" data-gtm-module="sub categories" data-gtm-link="our story | team_cinelli">
                           <figure class="bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwddc6fed7/assets/global/navigation/homepage_header_inside_chrome_boxes_cinelli.jpg">
                           </figure>

                           <figcaption>
                             <span class="h9">加入我们</span>
                             <p class="small">关于酷跑网的人才计划</p>
                           </figcaption>

                         </a>
                       </div>
                     </div>
                   </li>
                 </ul>
               </div> <!-- End content-asset -->
             </li>
           </ul>
         </li>
       </ul>
       <figure class="submenu-bg" style="opacity: 0; height: 466px;"></figure>
       <figure class="submenu-bg"></figure>
       <div class="auxiliary-nav" data-skrollex data-animate data-delay="0.4">
         <a href="javascript:;" class="toggle--search"></a>
         <div class="mini-cart display-inline">

<!-- Report any requested source code -->

<!-- Report the active source code -->



          <a href="https://www.chromeindustries.com/cart/" class="toggle--shopping-cart">
            <span class="mini-cart-label">Cart</span>

            <span class="product-count empty-cart">0</span>

          </a>

          </div>
        </div>
      </nav>
    </div><!-- .header-inner -->
  </div><!-- .primary-wrapper -->
</header>



<div class="main-inner-wrapper">





<div id="oc"></div>
<section class=" snippet bg-cover banner hero featured dark content-mod" data-skrollex="" data-sk-group="" data-animate-fade=""  style="background-image: url(https://ww4.sinaimg.cn/large/006tKfTcgy1fcsm5mo71xj31hc0xck5o.jpg);">
	<div class="valign">
		<div class="container">
			<div class="row">
				<div class="callout ">

					<span class="tagline" data-skrollex="" data-sk-group="">
						一个专为热爱改装跑车人士打造的专业电商平台
					</span>

					<h1 class="callout-headline" data-skrollex="" data-sk-group="">

						<span data-skrollex="" data-sk-group="" data-delay=".5">酷</span><br/>
          </h1>

          <h3 class="callout-headline" data-skrollex="" data-sk-group="">
            <span data-skrollex="" data-sk-group="" data-delay=".7">不仅仅是一辆车</span><br/>
					</h3>

					<a data-skrollex="" data-sk-group="" href="http://www.chromeindustries.com/collections/weatherproof-collection/" class="btn btn--light link-tracking" data-gtm-page="Homepage" data-gtm-module="Make It Rain" data-gtm-link="Shop Weatherproof">
						点击查看详情
					     <span class="btn-line"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="snippet intro-buckets dark dark-texture">
  <div class="container">
    <div class="intro-buckets-inner">
      <span class="tagline" data-skrollex="" data-sk-group="" data-animate-fade="" data-delay=".2">Building indestructible gear since 1995</span>
      <h5 data-skrollex="" data-sk-group="" data-delay=".25">
        For over 20 years Chrome has created street tested
        <a href="http://www.chromeindustries.com/bags/" class="link link-tracking" data-gtm-page="Homepage" data-gtm-module="Manifesto" data-gtm-link="Bags">Bags,</a>
        <a href="http://www.chromeindustries.com/footwear/" class="link link-tracking" data-gtm-page="Homepage" data-gtm-module="Manifesto" data-gtm-link="Footwear">Footwear</a> &amp;
        <a href="http://www.chromeindustries.com/clothing/" class="link link-tracking" data-gtm-page="Homepage" data-gtm-module="Manifesto" data-gtm-link="Clothing">Clothing</a> made for living in the city.
      </h5>
    </div>
  </div>
</section>












<div data-lazy-load-url="/on/demandware.store/Sites-chrome_na-Site/en_US/Page-LazyLoad?cid=lifestyle-product-b-storm-cobra"></div>





<div data-lazy-load-url="/on/demandware.store/Sites-chrome_na-Site/en_US/Page-LazyLoad?cid=customs-callout-yalta"></div>





<div data-lazy-load-url="/on/demandware.store/Sites-chrome_na-Site/en_US/Page-LazyLoad?cid=lifestyle-product-a-storm-truk"></div>








<div id="browser-check">
<noscript>
<div class="browser-compatibility-alert">
<i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
<p class="browser-error">Your browser's Javascript functionality is turned off. Please turn it on so that you can experience the full capabilities of this site.</p>
</div>
</noscript>
</div>

















































<!-- Footer device: desktop -->


<footer id="footer">
<div class="footer-buckets">
<div class="row no-gutter">











<div class="footer-bucket-item">
  <a href="http://www.chromeindustries.com/bags/" class="link-overlay link-tracking" data-gtm-category="footer" data-gtm-page="category bucket" data-gtm-module="bags">
  <span class="h7">Bags</span>
  <figure class="bg-cover bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw223bb674/assets/global/navigation/footer-buckets-bags_v2.jpg"></figure>
  </a>
</div>





<div class="footer-bucket-item">
  <a href="http://www.chromeindustries.com/clothing/" class="link-overlay link-tracking" data-gtm-category="footer" data-gtm-page="category bucket" data-gtm-module="clothing">
  <span class="h7">Clothing</span>
  <figure class="bg-cover bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dwf2b8128f/assets/global/navigation/footer-buckets-clothing_v2.jpg"></figure>
  </a>
</div>





<div class="footer-bucket-item">
  <a href="http://www.chromeindustries.com/footwear/" class="link-overlay link-tracking" data-gtm-category="footer" data-gtm-page="category bucket" data-gtm-module="footwear">
  <span class="h7">Footwear</span>
  <figure class="bg-cover bg-center" data-lazy-load-bg-img="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw206e24ea/assets/global/navigation/footer-buckets-footwear_v2.jpg"></figure>
  </a>
</div>







</div>
</div>
<div class="footer-connect">
<div class="container">
<div class="footer-connect--inner">
<div class="footer-connect--column">
<span class="h8 footer-connect--headline">Join the Chrome Newsletter</span>
</div>
<div class="footer-connect--column">
<form method="post" action="https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/Account-NewsletterSubscribe" id="dwfrm_signup" class="footer-newsletter">
<span class="emailInputFix">


<div class="form-row  required">




<div class="field-wrapper">
<input class="input-text  object required" type="email"  id="dwfrm_signup_email" name="dwfrm_signup_email" value="" />
</div>



<span class="h10 mt1"><div class="form-caption"></div></span>

</div>

</span>
<button type="submit" name="dwfrm_signup_confirm" value=Subscribe>Subscribe</button>
<input type="hidden" name="dwfrm_signup_securekey" value="1548009058"/>
</form>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="container">
<div class="row">







<div class="content-asset"><!-- dwMarker="content" dwContentID="186285d496c642dd46e07e424d" -->
<div class="footer-nav-wrapper">
	<div class="footer-nav-wrapper--inner">
		<div class="footer-nav">
			<h6>Shop</h6>
			<ul>
				<li><a href="http://www.chromeindustries.com/bags/">Bags</a></li>
				<li><a href="http://www.chromeindustries.com/footwear/">Footwear</a></li>
				<li><a href="http://www.chromeindustries.com/clothing/">Clothing</a></li>
				<li><a href="http://www.chromeindustries.com/collections/">Collections</a></li>
                                <li><a href="http://www.chromeindustries.com/sale/">Sale</a></li>
				<li><a href="http://www.chromeindustries.com/city-detail-san-francisco.html">Our Cities</a></li>
                                <li><a href="https://www.chromeindustries.com/giftcards/">Gift Cards</a></li>
			</ul>
		</div>
		<div class="footer-nav">
			<h6>Company</h6>
			<ul>
				<li><a href="http://www.chromeindustries.com/our-story.html">Inside Chrome</a></li>
				<li><a href="http://www.chromeindustries.com/blog/">Chrome Stories</a></li>
				<li><a href="https://www.chromeindustries.com/stores/">Store Locator</a></li>
				<li><a href="http://www.chromeindustries.com/contact-us/">Become a dealer</a></li>
				<li><a href="https://app.nuorder.com/chromeindustries" target="_blank">Dealer Login</a></li>
                                <li><a href="https://www.chromeindustries.com/pro/apply/">Pro Deal Application</a></li>
				<li><a href="http://www.chromeindustries.com/jobs.html">Careers</a></li>
				<li><a href="#" data-dialog="http://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/Page-IncludeContent?cid=checkout-privacy-policy-modal&amp;format=ajax" class="inline-popup">Privacy &amp; Terms</a></li>
				<li><a href="#" data-dialog="http://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/Page-IncludeContent?cid=modal-intellectual-property&amp;format=ajax" class="inline-popup">Intellectual Property</a></li>
			</ul>
		</div>
		<div class="footer-nav">
			<h6>Support</h6>
			<ul>
				<li><a href="http://www.chromeindustries.com/help/">Help Center</a></li>
				<li><a href="http://www.chromeindustries.com/contact-us/">Contact Us</a></li>
				<li><a href="http://www.chromeindustries.com/warranty/">Warranty</a></li>
				<li><a href="http://www.chromeindustries.com/customer-service/faq/faqq1.html">FAQ's</a></li>
				<li><a href="http://www.chromeindustries.com/login/">Order Status</a></li>
				<li><a href="#shipping-returns" class="inline-popup">Shipping &amp; Returns</a></li>
				<li><a href="http://www.chromeindustries.com/customer-service/shippinginfo/shippinginfoq1.html">Shipping</a></li>
			</ul>
		</div>
		<div class="footer-nav">
			<h6>Connect</h6>
			<ul class="footer-social">
				<li><a href="https://www.facebook.com/chromebags.sf/" target="_chrome"><i class="icon">1</i></a></li>
        		<li><a href="https://www.instagram.com/chrome_industries/" target="_chrome"><i class="icon">5</i></a></li>
       	    	<li><a href="https://www.twitter.com/chrome_ind/" target="_chrome"><i class="icon">2</i></a></li>
      		    <li><a href="https://vimeo.com/chromeindustries" target="_chrome"><i class="icon">7</i></a></li>
			</ul>
			<div class="footer-contact-info h9">
				<span><a href="tel:+18662262470">866-226-2470</a></span>
				<span>m-f 8am-5pm pst</span>
			</div>
		</div>
	</div>
</div>
</div> <!-- End content-asset -->






</div>
<div class="text-align-center">
<ul class="footer-social">
<li><a href="https://www.facebook.com/chromebags.sf/" target="_chrome"><i class="icon">1</i></a></li>
<li><a href="https://www.instagram.com/chrome_industries/" target="_chrome"><i class="icon">5</i></a></li>
<li><a href="https://www.twitter.com/chrome_ind/" target="_chrome"><i class="icon">2</i></a></li>
<li><a href="https://vimeo.com/chromeindustries" target="_chrome"><i class="icon">7</i></a></li>
</ul>
</div>
</div>
</div>










<script>
window.onload = function(){
	function getCookie(name) {
		var value = "; " + document.cookie;
		var parts = value.split("; " + name + "=");
		if (parts.length == 2) return parts.pop().split(";").shift();
	}
	function setCookie(cname, cvalue, exdays) {
		var d = new Date();
		d.setTime(d.getTime() + (exdays*24*60*60*1000));
		var expires = "expires="+d.toUTCString();
		document.cookie = cname + "=" + cvalue + "; " + expires;
	}
	function cookie(){
		var x = getCookie("internationalmodal");

		if (x == "" || x == null) {
			$.magnificPopup.open({
				items: {
					src: '#intl_sites_modal', // can be a HTML string, jQuery object, or CSS selector
					type: 'inline'
				}
			});
			$('.mfp-bg, .mfp-wrap').addClass('mfp-fade-in-up');
			setCookie("internationalmodal", "internationalmodal", 365);
		}
	}
	cookie();
};
</script>

<div id="intl_sites_modal" class="modal modal-768 mfp-with-anim mfp-hide text-align-center">
	<!-- this is in the footer-copyright content slot -->
	<div class="modal-header sk-showing sk-viewport-enter">
		<h6>Come on in!</h6>
	</div>

	<div class="modal-body">
		<p>It looks like you're coming from outside the US. Good news for you, our entire stock is now available worldwide from one central location. Check out our international shipping details to find out more:</p>
               <a href="#" style="width: auto;" data-dialog-hub="http://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/Page-IncludeContent?cid=checkout-shipping-modal&amp;format=ajax" class="close-mfp btn btn--flip btn--invert btn--light btn--continue-as-guest link-tracking" data-gtm-page="country selector" data-gtm-module="onload country selector" data-gtm-link="Close Button">
      <span data-text="International Shipping Details">International Shipping Details</span>
                </a>

</div>

	<div class="modal-footer">
		<p style="font-size: 10px;">Cookie Disclaimer: This website uses cookies, including for advertising, social media and analytics purposes. To see what cookies we use and how to change your cookie settings, <a href="#" data-dialog-hub="http://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/Page-IncludeContent?cid=checkout-privacy-policy-modal&amp;format=ajax" class="">click here</a>. By continuing to browse this website, you accept our use of cookies.</p>
	</div>
</div>





<div class="footer-copyright">
	<span class="h9">2016 © Chrome Industries, Inc.</span>
	<a href="javascript:;" data-scroll-to="top" class="free-rides link-tracking"  data-gtm-category="footer" data-gtm-page="footer" data-gtm-module="free rides">
	  <span>Free Rides <i class="ion ion-android-arrow-dropup"></i></span>
	  <span>Free Rides <i class="ion ion-android-arrow-dropup"></i></span>
	</a>
</div>






</footer>









<script type="text/javascript" src="//p.bm23.com/bta.js"></script>
<script type="text/javascript">
	var bta = new __bta("ItdchJBZu06M2KawxA5tGQ");
	bta.setHost("app.bronto.com");
</script>


<div id="bronto-cart-recovery-shadow" style="display: none;">


		<div id="bronto-cart-recovery-cart-url">http://www.chromeindustries.com/cart/</div>


		<div id="bronto-cart-recovery-cart-id">767805fa12ee7c1be7ce959ac9</div>

	<div id="bronto-cart-recovery-line-items">

	</div>
	<div id="bronto-cart-recovery-discount-amount">0.0</div>
	<div id="bronto-cart-recovery-shipping-amount">0.0</div>
	<div id="bronto-cart-recovery-shipping-details"></div>
	<div id="bronto-cart-recovery-shipping-date"></div>
	<div id="bronto-cart-recovery-subtotal">0.0</div>
	<div id="bronto-cart-recovery-tax-amount">0.0</div>
	<div id="bronto-cart-recovery-grand-total">0.0</div>
	<div id="bronto-cart-recovery-currency">USD</div>

</div>

<script data-name="__br_tm" type="text/javascript">
  var _bsw = _bsw || [];
  _bsw.push(['_bswId', '6109747da7542d7ca1888c59445e3eaf990815b54302f6c12b498b1969313e6e']);
  (function() {
    var bsw = document.createElement('script'); bsw.type = 'text/javascript'; bsw.async = true;
    bsw.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'js.bronto.com/c/9x10sjqe7vuosabqg27nzvn3htflfw81fl465p9d9y0vlqr4jq/6109747da7542d7ca1888c59445e3eaf990815b54302f6c12b498b1969313e6e/s/b.min.js';
    var t = document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(bsw, t);
  })();
</script>

<script bronto-popup-id="9edbb27b-7b43-47d2-ab08-d9762db0a03d" src="https://cdn.bronto.com/popup/delivery.js"></script>










<div id="dialog-container" class="modal text-align-center mfp-with-anim mfp-hide"></div>
<div id="thanks" class="modal text-align-center mfp-hide">
<img src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/default/dwb5ecbf3e/images/logos/Chrome_Logo_Newsletter.svg" alt="">
<h6>Thanks</h6>
<span class="short-divider"></span>
<p>


	</p>
<a href="javascript:;" class="close-mfp h10">Continue Shopping</a>
</div>
<div id="shipping-returns" class="modal modal-768 mfp-with-anim mfp-hide">
<div class="modal-header sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" data-delay="3">
<h6>Shipping and Returns</h6>
</div>
<div class="tabs">
<ul>
<li data-id="shipping" class="is-active">
<a href="javascript:;"><span>Shipping</span></a>
</li>
<li data-id="returns" class="">
<a href="javascript:;"><span>Returns &amp; Exchanges</span></a>
</li>
</ul>
</div>
<!-- shipping content -->
<div class="tab-content-shipping is-active">







<div class="content-asset"><!-- dwMarker="content" dwContentID="e6042cd88a98406849728b8d10" -->
<p><span class="caps">Our fulfillment center is open Monday-Friday 8AM - 5PM Pacific time<br>
		a summary of shipping options appears below:</span></p>

		<!-- shipping table -->
		<div class="compare-chart">

			<div class="row titles">
				<div class="col">Service</div>
				<div class="col">To US</div>
				<div class="col">To Canada</div>
				<div class="col">To Europe</div>
				<div class="col">To Asia / Aus / NZ</div>
				<div class="col">To Central & South America</div>
			</div>

			<div class="row">
				<div class="col">Home Delivery</div>
				<div class="col">Free Ground</div>
				<div class="col">usps / canadian post (CA $25)</div>
				<div class="col">N/A</div>
				<div class="col">N/A</div>
				<div class="col">N/A</div>
			</div>

			<div class="row">
				<div class="col">2nd Day</div>
				<div class="col">UPS ($25)</div>
				<div class="col">N/A</div>
				<div class="col">N/A</div>
				<div class="col">N/A</div>
				<div class="col">N/A</div>
			</div>

			<div class="row">
				<div class="col">Overnight Delivery</div>
				<div class="col">UPS ($45)</div>
				<div class="col">N/A</div>
				<div class="col">N/A</div>
				<div class="col">N/A</div>
				<div class="col">N/A</div>
			</div>

			<div class="row">
				<div class="col">INTL</div>
				<div class="col">N/A</div>
				<div class="col">N/A</div>
				<div class="col">UPS ($65)</div>
				<div class="col">UPS ($75)</div>
				<div class="col">UPS ($55)</div>
			</div>

		</div>

		<!-- end shipping table -->

		<p>Most in stock items ship within 24 hours of ordering during business days, however some orders may take up to 48 hours to process. Should an item be back ordered, or an unforeseen delay occur, you will be notified as soon as possible.</p>

		<hr class="underline">

		<div class="modal-aside-layout sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" style="transform: translate3d(0px, 0px, 0px); transition: opacity 0.4s cubic-bezier(0.15, 0.41, 0.035, 0.985) 0s, transform 0.75s cubic-bezier(0.19, 1, 0.22, 1); opacity: 1;">

			<div class="aside-column">
				<span class="h9">Home Delivery</span>
			</div>

			<div class="main-column">
				<p><span class="caps">Free</span> ground on domestic U.S. orders<br>
				4 to 7 business days *weekends not included</p>
			</div>
		</div>

		<div class="modal-aside-layout sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" style="transform: translate3d(0px, 0px, 0px); transition: opacity 0.4s cubic-bezier(0.15, 0.41, 0.035, 0.985) 0s, transform 0.75s cubic-bezier(0.19, 1, 0.22, 1); opacity: 1;">

			<div class="aside-column">
				<span class="h9">Express 2-Day</span>
			</div>

			<div class="main-column">
				<p>2 business days *weekends not included<br>
				Orders must be placed before noon Pacific Time.<br>
				Orders placed after this time will ship the following business day.</p>
			</div>
		</div>

		<div class="modal-aside-layout sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" style="transform: translate3d(0px, 0px, 0px); transition: opacity 0.4s cubic-bezier(0.15, 0.41, 0.035, 0.985) 0s, transform 0.75s cubic-bezier(0.19, 1, 0.22, 1); opacity: 1;">

			<div class="aside-column">
				<span class="h9">Standard Overnight</span>
			</div>

			<div class="main-column">
				<p>Arriving next business day *weekends not included<br>
				Orders must be placed before noon Pacific Time<br>
				Orders placed after this time will ship the following business day.</p>

				<p>Please note:</p>
				<ul class="list">
					<li>We cannot deliver to PO Boxes</li>
					<li>All orders are subject to local sales tax</li>
					<li>Saturday delivery is not available</li>
					<li>APO Addresses can only be sent on a standard US Postal mail service and transit times may take longer than shown above</li>
				</ul>
			</div>
		</div>

		<div class="modal-aside-layout sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" style="transform: translate3d(0px, 0px, 0px); transition: opacity 0.4s cubic-bezier(0.15, 0.41, 0.035, 0.985) 0s, transform 0.75s cubic-bezier(0.19, 1, 0.22, 1); opacity: 1;">

			<div class="aside-column">
				<span class="h9">International</span>
			</div>

			<div class="main-column">
				<p>Chrome does not ship to all countries, but a vast majority of them including Canada and the following.</p>

				<p>Countries we consider in the Central & South America Region, we ship to for $55 USD. These countries are Argentina, Bolivia, Chile, Colombia, Costa Rica, Cuba, Dominican Republic, Ecuador, Falkland Islands, French Guiana, Guadeloupe, Guatemala, Guyana, Honduras, Haiti, Martinique, Mexico, Nicaragua, Panama, Peru, Paraguay, Suriname, El Salvador, Uruguay, and Venezuela.</p>

                                <p>Countries we consider in the European Region, we ship to for $65 USD. These countries are Albania, Austria, Belgium, Switzerland, Germany, Denmark, Spain, Finland, France, United Kingdom, Greece, Hungary, Ireland, Israel, Isle of Man ($75), Italy, Netherlands, Norway, Poland, Portugal, and Sweden.</p>

				<p>Countries we consider in the Asia/Australia Region, we ship to for $75 USD. These countries are Australia, China, Guam, Hong Kong SAR China, Japan, New Zealand, South Korea, Philippines, Singapore, and Taiwan.</p>
			</div>
		</div>

		<div class="modal-aside-layout sk-showing sk-viewport-enter" data-skrollex="" data-sk-group="" style="transform: translate3d(0px, 0px, 0px); transition: opacity 0.4s cubic-bezier(0.15, 0.41, 0.035, 0.985) 0s, transform 0.75s cubic-bezier(0.19, 1, 0.22, 1); opacity: 1;">

			<div class="aside-column">
				<span class="h9">Holidays and Closures</span>
			</div>

			<div class="main-column">
				<p><span class="caps">No shipping</span> On the following dates for 2016:</p>

				<p>
                                New Year’s Day 2016 – Tuesday, January 1<br>
				President's Day – Monday, February 18<br>
				Memorial Day – Monday, May 27<br>
				July 4th – Thursday, July 4<br>
				Labor Day – Monday, September 2<br>
				Thanksgiving – Thursday, November 24th
                                Day after Christmas – Monday, December 26th
                                Day after New Year’s Day 2017 – Friday, January 2nd
</p>
			</div>
		</div>
</div> <!-- End content-asset -->






</div>
<!-- returns content -->
<div class="tab-content-returns">







<div class="content-asset"><!-- dwMarker="content" dwContentID="eb5dfe4cd92adddcd34e99a4d6" -->
<style>
	.pt_content .shipping-returns-returns-tab {
		max-width: 768px;
		padding: 0 4rem;
		margin: 0 auto;
	}
	.pt_content .shipping-returns-returns-tab .returns-exchanges-hdr {
		visibility: visible!important;
		display: block!important;
		opacity: 1!important;
	}
	.pt_content .shipping-returns-returns-tab ol li+li, .pt_content .shipping-returns-returns-tab ol+*, .pt_content .shipping-returns-returns-tab p+*, .pt_content .shipping-returns-returns-tab ul+* {
		margin-top: 2.5rem;
	}
	@media (min-width: 1025px) {
		.pt_content .shipping-returns-returns-tab {
			padding-top: 12rem;
			padding-bottom: 25rem;
		}
		.pt_content .shipping-returns-returns-tab .aside-column {
			width: 128px;
		}
		.pt_content .shipping-returns-returns-tab .main-column {
		    width: calc(100% - 150px);
		}
	}
	@media (min-width: 641px) and (max-width: 1025px) {
		.pt_content .shipping-returns-returns-tab {
			padding-top: 8rem;
			padding-bottom: 12rem;
		}
	}
</style>
<div class="shipping-returns-returns-tab">

	<h4 class="returns-exchanges-hdr h5 pv4 hidden">Returns and Exchanges</h4>

	<p>We get it. Returns happen. You can return your purchase for a refund, provided it is within 30 days of purchase and the item is as new* and in original packaging.</p>

	<div class="modal-aside-layout">

		<div class="aside-column">
			<span class="h9">How to make a return</span>
		</div>

		<div class="main-column">

			<ol class="list">
				<li>Request a Return Merchandise Authorization (RMA) number below.</li>
				<li>Once your RMA is generated and you receive your RMA number via email, follow the steps below to return your package.</li>
			</ol>

      <p class="h7 mb2">For orders shipped within US:</p>

      <ol class="list">
        <li>Please write your RMA number on the outside of the shipping box or print the email you receive and include it with your return.</li>
        <li>Pack your item/s in the original packaging or a similar sturdy box.</li>
        <li>Find the US Postal Service pre-paid shipping label (it was included with your order) and fill out your address.</li>
        <li>Slap the shipping label on the box</li>
        <li>Mail the box at a post office, drop it in a collection box or schedule a free pickup at <a href="https://tools.usps.com/go/ScheduleAPickupAction!input.action" target="_blank" class="link-tracking" data-gtm-page="Returns Policy" data-gtm-module="Returns Policy US Orders" data-gtm-link="USPS.com">USPS.com</a></li>
      </ol>

      <p class="h7 mb2">For orders shipped outside the US:</p>

      <ol class="list">
        <li>Please write the RMA number on the outside of the shipping box or print the email you receive and include it with your return.</li>
        <li>Pack your item/s in the original packaging or a similar sturdy box.</li>
        <li>Find the US Postal Service pre-paid shipping label (it was included with your order) and fill out your address.</li>
        <li>Use a shipping method that provides package tracking and note the tracking number. Chrome is not responsible for lost or misdirected packages.</li>
        <li>Ship to:
            <address>
              <br>Chrome c/o North Bay
              <br>Attn: Returns Dept.
              <br>2050 Cessna Dr
              <br>Vacaville, CA 95688
              <br>United States
            </address></li>
      </ol>

      <p>*"As new" condition for Chrome is unwashed and unworn. We strongly recommend you store your item in its original packaging while you make a decision about the product.</p>

			<a href="#return" class="btn btn--light  trigger-return-modal">Request a Return</a>
		</div>
	</div>

	<hr class="underline">

	<div class="modal-aside-layout sk-showing" data-skrollex="" data-sk-group="" style="transform: translate3d(0px, 0px, 0px); transition: opacity 0.4s cubic-bezier(0.15, 0.41, 0.035, 0.985) 0s, transform 0.75s cubic-bezier(0.19, 1, 0.22, 1); opacity: 1;">

		<div class="aside-column">
			<span class="h9">Returns Policy</span>
		</div>

		<div class="main-column">

			<p>If you are not 100% satisfied with your purchase you can return it for a refund, provided it is within 30 days of receipt of your order and the item is as new* and in the original packaging. Online returns are only accepted for items purchased directly from chromeindustries.com. If you purchased your item from our HUBs or one of Chrome's retail partners please contact them directly to arrange for an exchange or refund.</p>

			<p>Gifts can be refunded to the original purchaser only.</p>

			<p>Chrome is unable to refund postage on expedited or international shipping. Any return delivery disputes must be accompanied by proof of delivery. Chrome is not responsible for lost or misdirected packages.</p>

			<p>An approved RMA number must accompany your return.</p>

			<p>When Chrome receives your return, we will aim to process it within 10-12 business days or less. </p>

			<p>For international returns: Chrome will not accept customs charges incurred when returning items. All packages must be marked, "Goods Returned Under Warranty."</p>

			<p>Still have questions? Email <a href="mailto:support@chromeindustries.com" class="link-tracking" data-gtm-page="Returns Policy" data-gtm-module="Returns Email Us" data-gtm-link="support@chromeindustries.com">support@chromeindustries.com</a></p>

			<p>* "As new" condition for Chrome items is unwashed and unworn. Chrome strongly recommends you store your item in its original packaging while you make a decision about the product.</p>
		</div>
	</div>

</div>
</div> <!-- End content-asset -->






</div>
</div>
<div id="return" class="modal modal-690 return-modal mfp-hide" data-return-steps="">
<div class="return-container"></div>
</div>
<div id="returnMetaData" data-step1-url="/on/demandware.store/Sites-chrome_na-Site/en_US/Return-Start" data-return-lookup-url="/on/demandware.store/Sites-chrome_na-Site/en_US/Return-LookupOrder" data-warranty-url="/on/demandware.store/Sites-chrome_na-Site/en_US/Return-Warranty"/>







<div class="content-asset"><!-- dwMarker="content" dwContentID="01686fb892fc42a004a9fd4c43" -->
<div class="overlay--regions" data-selected-region="0" data-selected-language="0">

<!-- list of region for background animations pos abs -->
<div class="overlay--regions-outer">
<img src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/-/Sites-chrome_na-Library/default/dw3870f37b/assets/global/navigation/footer-country-selector-bg.jpg" data-region="0" alt="">
</div>

<div class="overlay--regions-inner">

<span class="icon-close toggle--regions">×</span>

<div class="regions">

  <h4>Select a Country</h4>
  <!-- <span class="tagline">Please Select a Country</span> -->
  <hr class="short">

  <!-- <ul class="float-left three-columns">
    <li><a href="http://www.chromeindustries.com" class="link is-active">United States</a></li>
    <li><a href="http://www.chromeindustries.at" class="link">Austria</a></li>
    <li><a href="http://www.chromeindustries.be" class="link">Belgium</a></li>
    <li><a href="http://www.chromeindustries.fr" class="link">France</a></li>
  </ul>
  <ul class="float-left three-columns">
    <li><a href="http://www.chromeindustries.de" class="link">Germany</a></li>
    <li><a href="http://www.chromeindustries.ie" class="link">Ireland</a></li>
    <li><a href="http://www.chromeindustries.it" class="link">Italy</a></li>
    <li><a href="http://www.chromeindustries.lu" class="link"">Luxembourg</a></li>
  </ul>
  <ul class="float-left three-columns">
    <li><a href="http://www.chromeindustries.nl" class="link"">Netherlands</a></li>
    <li><a href="http://www.chromeindustries.es" class="link"">Spain</a></li>
    <li><a href="http://www.chromeindustries.co.uk" class="link"">United Kingdom</a></li>
  </ul> -->

  <ul>
    <li><a href="http://www.chromeindustries.com" class="link is-active link-tracking" data-gtm-page="country selector" data-gtm-module="country selector" data-gtm-link="US">United States</a></li>
    <li><a href="http://www.chromeindustries.eu" class="link link-tracking" data-gtm-page="country selector" data-gtm-module="country selector" data-gtm-link="EU">Europe</a></li>
    <li><a href="http://www.chromeindustries.co.uk" class="link link-tracking" data-gtm-page="country selector" data-gtm-module="country selector" data-gtm-link="UK">United Kingdom</a></li>
    <li><a href="http://www.chromeindustries.jp" class="link link-tracking" data-gtm-page="country selector" data-gtm-module="country selector" data-gtm-link="JP">Japan</a></li>
  </ul>

</div>

<!-- <div class="languages">

  <h4>Choose Your Language</h4>
  <span class="tagline">Please Select a Language</span>
  <hr class="short">

  <ul>
    <li><a href="javascript:;" class="link" data-language="0">English</a></li>
    <li><a href="javascript:;" class="link" data-language="1">Deutsch</a></li>
    <li><a href="javascript:;" class="link" data-language="2">ESPAÑOL</a></li>
    <li><a href="javascript:;" class="link" data-language="3">FRANÇAIS</a></li>
    <li><a href="javascript:;" class="link" data-language="4">ITALIANO</a></li>
  </ul>
</div> -->

</div>

</div>
</div> <!-- End content-asset -->












<!--[if lte IE 8]>
<script src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/en_US/v1487020524998/lib/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.rawgit.com/weblinc/media-match/master/media.match.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
<![endif]-->
<!--[if IE 9]>
<script src="//cdn.rawgit.com/paulirish/matchMedia.js/master/matchMedia.js" type="text/javascript"></script>
<script src="//cdn.rawgit.com/paulirish/matchMedia.js/master/matchMedia.addListener.js" type="text/javascript"></script>
<![endif]-->
<!-- gmaps on store-locator, content-detail, and toolkits -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKKIK1vckSeHz9c53Nfbik-W8mDwrh1jI&libraries=places" type="text/javascript"></script>
<!-- fonts -->
<script src="https://use.typekit.net/bxh1ako.js"></script>
<script type="text/javascript">

(function(){
window.Constants = {"AVAIL_STATUS_IN_STOCK":"IN_STOCK","AVAIL_STATUS_PREORDER":"PREORDER","AVAIL_STATUS_BACKORDER":"BACKORDER","AVAIL_STATUS_NOT_AVAILABLE":"NOT_AVAILABLE"};
window.Resources = {"I_AGREE":"I Agree","CLOSE":"Close","NO_THANKS":"No, thanks","OK":"OK","ARE_YOU_HUMAN":"Are you a Human Being?","OH_SNAP_BEFORE":"Oh Snap! Your form contains","OH_SNAP_AFTER":"errors, see details below.","SHIP_QualifiesFor":"This shipment qualifies for","CC_LOAD_ERROR":"Couldn't load credit card!","REG_ADDR_ERROR":"Could Not Load Address","BONUS_PRODUCT":"Bonus Product","BONUS_PRODUCTS":"Bonus Products","SELECT_BONUS_PRODUCTS":"Select Bonus Products","SELECT_BONUS_PRODUCT":"product.selectbonusproduct","BONUS_PRODUCT_MAX":"The maximum number of bonus products has been selected. Please remove one in order to add additional bonus products.","BONUS_PRODUCT_TOOMANY":"You have selected too many bonus products. Please change the quantity.","SIMPLE_SEARCH":"Enter Keyword or Item No.","SUBSCRIBE_EMAIL_DEFAULT":"Email Address","CURRENCY_SYMBOL":"$","MISSINGVAL":"Please enter {0}","SERVER_ERROR":"Server connection failed!","MISSING_LIB":"jQuery is undefined.","BAD_RESPONSE":"Bad response - parser error!","INVALID_PHONE":"Please specify a valid phone number.","REMOVE":"Remove","QTY":"Qty","EMPTY_IMG_ALT":"Remove","COMPARE_BUTTON_LABEL":"Compare Items","COMPARE_CONFIRMATION":"This will remove the first product added for comparison. Is that OK?","COMPARE_REMOVE_FAIL":"Unable to remove item from list","COMPARE_ADD_FAIL":"Unable to add item to list","ADD_TO_CART_FAIL":"Unable to add item '{0}' to cart","ADDED_TO_CART":"Added to cart","REGISTRY_SEARCH_ADVANCED_CLOSE":"Close Advanced Search","GIFT_CERT_INVALID":"Invalid gift certificate code.","GIFT_CERT_BALANCE":"Your current gift certificate balance is","GIFT_CERT_AMOUNT_INVALID":"Gift Certificate can only be purchased with a minimum of 5 and maximum of 5000","GIFT_CERT_MISSING":"Please enter a gift certificate code.","INVALID_OWNER":"This appears to be a credit card number. Please enter the name of the card holder.","COUPON_CODE_MISSING":"Please enter a promo code.","COOKIES_DISABLED":"Your browser is currently not set to accept cookies. Please turn this functionality on or check if you have another program set to block cookies.","BML_AGREE_TO_TERMS":"You must agree to the terms and conditions","CHAR_LIMIT_MSG":"{0} characters remaining","CONFIRM_DELETE":"Do you want to remove this {0}?","TITLE_GIFTREGISTRY":"gift registry","TITLE_ADDRESS":"address","TITLE_CREDITCARD":"credit card","SERVER_CONNECTION_ERROR":"Server connection failed!","IN_STOCK_DATE":"The expected in-stock date is {0}.","ITEM_STATUS_NOTAVAILABLE":"This item is currently not available.","INIFINITESCROLL":"Show All","STORE_NEAR_YOU":"What's available at a store near you","SELECT_STORE":"Select Store","SELECTED_STORE":"Selected Store","PREFERRED_STORE":"Preferred Store","SET_PREFERRED_STORE":"Set Preferred Store","ENTER_ZIP":"Enter ZIP Code","INVALID_ZIP":"Please enter a valid ZIP Code","SEARCH":"Search","CHANGE_LOCATION":"Change Location","CONTINUE_WITH_STORE":"Continue with preferred store","CONTINUE":"Continue","SEE_MORE":"See More Stores","SEE_LESS":"See Fewer Stores","QUICK_VIEW":"Quick View","QUICK_VIEW_POPUP":"Product Quick View","TLS_WARNING":"We value your security!<br/>We detected that you are using an outdated browser.<br/>Update you browser to continue a secure shopping experience.","VALIDATE_REQUIRED":"This field is required.","VALIDATE_PASSWORD":"Password needs 6 characters & one number.","VALIDATE_PASSWORD_CONFIRM":"Confirmation password does not match.","VALIDATE_REMOTE":"Please fix this field.","VALIDATE_EMAIL":"Please enter a valid email address.","VALIDATE_EMAIL_CONFIRM":"Confirmation email does not match.","VALIDATE_URL":"Please enter a valid URL.","VALIDATE_DATE":"Please enter a valid date.","VALIDATE_DATEISO":"Please enter a valid date ( ISO ).","VALIDATE_NUMBER":"Please enter a valid number.","VALIDATE_DIGITS":"Please enter only digits.","VALIDATE_CREDITCARD":"Please enter a valid credit card number.","VALIDATE_EQUALTO":"Please enter the same value again.","VALIDATE_MAXLENGTH":"Please enter no more than {0} characters.","VALIDATE_MINLENGTH":"Please enter at least {0} characters.","VALIDATE_RANGELENGTH":"Please enter a value between {0} and {1} characters long.","VALIDATE_RANGE":"Please enter a value between {0} and {1}.","VALIDATE_MAX":"Please enter a value less than or equal to {0}.","VALIDATE_MIN":"Please enter a value greater than or equal to {0}.","VALIDATE_APOFPOCITY":"For Armed Forces shipments, the city must contain APO or FPO only","EXPLORE_STORE":"Explore Store","GET_DIRECTIONS":"Get Directions","PLEASE_WAIT":"Please wait...","IN_STOCK":"In Stock","QTY_IN_STOCK":"{0} Item(s) in Stock","PREORDER":"Pre-Order","QTY_PREORDER":"{0} item(s) are available for pre-order.","REMAIN_PREORDER":"The remaining items are available for pre-order.","BACKORDER":"Back Order","QTY_BACKORDER":"Back order {0} item(s)","REMAIN_BACKORDER":"The remaining items are available on back order.","NOT_AVAILABLE":"This item is currently not available.","REMAIN_NOT_AVAILABLE":"The remaining items are currently not available. Please adjust the quantity."};
window.Urls = {"appResources":"/on/demandware.store/Sites-chrome_na-Site/en_US/Resources-Load","pageInclude":"/on/demandware.store/Sites-chrome_na-Site/en_US/Page-Include","continueUrl":"http://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/Page-IncludeFooter","staticPath":"http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/en_US/v1487020524998/","addGiftCert":"/giftcards/","minicartGC":"/on/demandware.store/Sites-chrome_na-Site/en_US/GiftCert-ShowMiniCart","addProduct":"/on/demandware.store/Sites-chrome_na-Site/en_US/Cart-AddProduct","minicart":"/on/demandware.store/Sites-chrome_na-Site/en_US/Cart-MiniAddProduct","cartShow":"/cart/","giftRegAdd":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/Address-GetAddressDetails?addressID=","paymentsList":"https://www.chromeindustries.com/wallet/","addressesList":"https://www.chromeindustries.com/address-book/","wishlistAddress":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/Wishlist-SetShippingAddress","deleteAddress":"/on/demandware.store/Sites-chrome_na-Site/en_US/Address-Delete","getProductUrl":"/on/demandware.store/Sites-chrome_na-Site/en_US/Product-Show","getBonusProducts":"/on/demandware.store/Sites-chrome_na-Site/en_US/Product-GetBonusProducts","addBonusProduct":"/on/demandware.store/Sites-chrome_na-Site/en_US/Cart-AddBonusProduct","getSetItem":"/on/demandware.store/Sites-chrome_na-Site/en_US/Product-GetSetItem","productDetail":"/on/demandware.store/Sites-chrome_na-Site/en_US/Product-Detail","getAvailability":"/on/demandware.store/Sites-chrome_na-Site/en_US/Product-GetAvailability","removeImg":"http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/default/dwc8e53f09/images/icon_remove.gif","searchsuggest":"/on/demandware.store/Sites-chrome_na-Site/en_US/Search-GetSuggestions","productNav":"/on/demandware.store/Sites-chrome_na-Site/en_US/Product-Productnav","summaryRefreshURL":"/on/demandware.store/Sites-chrome_na-Site/en_US/COBilling-UpdateSummary","billingSelectCC":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/COBilling-SelectCreditCard","updateAddressDetails":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/COShipping-UpdateAddressDetails","updateAddressDetailsBilling":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/COBilling-UpdateAddressDetails","shippingMethodsJSON":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/COShipping-GetApplicableShippingMethodsJSON","shippingMethodsList":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/COShipping-UpdateShippingMethodList","selectShippingMethodsList":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/COShipping-SelectShippingMethod","resetPaymentForms":"/on/demandware.store/Sites-chrome_na-Site/en_US/COBilling-ResetPaymentForms","compareShow":"/compare/","compareAdd":"/on/demandware.store/Sites-chrome_na-Site/en_US/Compare-AddProduct","compareRemove":"/on/demandware.store/Sites-chrome_na-Site/en_US/Compare-RemoveProduct","compareEmptyImage":"http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/default/dw4f8f8347/images/comparewidgetempty.png","giftCardCheckBalance":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/COBilling-GetGiftCertificateBalance","redeemGiftCert":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/COBilling-RedeemGiftCertificateJson","addCoupon":"https://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/Cart-AddCouponJson","storesInventory":"/on/demandware.store/Sites-chrome_na-Site/en_US/StoreInventory-Inventory","setPreferredStore":"/on/demandware.store/Sites-chrome_na-Site/en_US/StoreInventory-SetPreferredStore","getPreferredStore":"/on/demandware.store/Sites-chrome_na-Site/en_US/StoreInventory-GetPreferredStore","setStorePickup":"/on/demandware.store/Sites-chrome_na-Site/en_US/StoreInventory-SetStore","setZipCode":"/on/demandware.store/Sites-chrome_na-Site/en_US/StoreInventory-SetZipCode","getZipCode":"/on/demandware.store/Sites-chrome_na-Site/en_US/StoreInventory-GetZipCode","billing":"/billing/","setSessionCurrency":"/on/demandware.store/Sites-chrome_na-Site/en_US/Currency-SetSessionCurrency","addEditAddress":"/on/demandware.store/Sites-chrome_na-Site/en_US/COShippingMultiple-AddEditAddressJSON","cookieHint":"/on/demandware.store/Sites-chrome_na-Site/en_US/Page-Include?cid=cookie_hint","rateLimiterReset":"/on/demandware.store/Sites-chrome_na-Site/en_US/RateLimiter-HideCaptcha","PLPProductSizes":"/on/demandware.store/Sites-chrome_na-Site/en_US/Product-PLPProductSizes","billingCouponCode":"/on/demandware.store/Sites-chrome_na-Site/en_US/COBilling-BillingCouponCode","removeGiftCertJSON":"/on/demandware.store/Sites-chrome_na-Site/en_US/COBilling-RemoveGiftCertificateJson","griffinMapImage":"http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/default/dw9398069c/images/vectors/griffin-map-marker.svg","freeRideImage":"http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/default/dw1ea5fc8f/images/global/free-rides.png","minicartModal":"/on/demandware.store/Sites-chrome_na-Site/en_US/Cart-MiniCartModal"};
window.SitePreferences = {"LISTING_INFINITE_SCROLL":true,"LISTING_REFINE_SORT":true,"LISTING_SEARCHSUGGEST_LEGACY":false,"STORE_PICKUP":false,"COOKIE_HINT":false,"CHECK_TLS":false,"CURALATE_REEL_ID":"chromeindustries","CURALATE_USER_ID":null};
}());
</script>
<script type="text/javascript">

(function(){
window.SessionAttributes = {"SHOW_CAPTCHA":null};
window.User = {"zip":null,"storeId":null};
}());
</script>
<script src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/en_US/v1487020524998/js/chrome.desktop.min.js"></script>
<script src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/en_US/v1487020524998/lib/jquery/jquery.compiled.min.js" type="text/javascript"></script>

<script src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/en_US/v1487020524998/js/powerreviews.js"></script>


<script>pageContext = {"title":"Storefront","type":"storefront","ns":"storefront"};</script>
<script>
var meta = "";
var keywords = "";
</script>



</div>


</main>
<!-- Demandware Analytics code 1.0 (body_end-analytics-tracking-asynch.js) -->
<script type="text/javascript">//<!--
/* <![CDATA[ */
function trackPage() {
    try{
        var trackingUrl = "http://www.chromeindustries.com/on/demandware.store/Sites-chrome_na-Site/en_US/__Analytics-Tracking";
        var dwAnalytics = dw.__dwAnalytics.getTracker(trackingUrl);
        if (typeof dw.ac == "undefined") {
            dwAnalytics.trackPageView();
        } else {
            dw.ac.setDWAnalytics(dwAnalytics);
        }
    }catch(err) {};
}
/* ]]> */
// -->
</script>
<script type="text/javascript" src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/en_US/v1487020524998/internal/jscript/dwanalytics-16.9.js" async="async" onload="trackPage()"></script>
<!-- Demandware Active Data (body_end-active_data.js) -->
<script src="http://demandware.edgesuite.net/bbcf_prd/on/demandware.static/Sites-chrome_na-Site/-/en_US/v1487020524998/internal/jscript/dwac-16.9.js" type="text/javascript" async="async"></script><!-- CQuotient Activity Tracking (body_end-cquotient.js) -->
<script src="https://cdn.cquotient.com/js/v2/gretel.min.js" type="text/javascript" async="async"></script>
</body>
</html>
